<error-spinner [isActive]="!banSummary" spinnerMessage="Looking for bans"></error-spinner>
<span *ngIf="hasBans"
    [matTooltip]="banCount.toString() + ' bans found'">
  <span *ngIf="banSummary">{{ banSummary?.banCount }}</span>
  <span
    class="ban-count">
    <fa-icon
      [icon]="bannedIcon"
    ></fa-icon>
  </span>
<!-- 
  <span
    class="ban-count"
    [matTooltip]="'Ban Areas: ' + banSummary?.bannedAreas?.join(', ')">
    <fa-icon
      class="remove-player-icon"
      [icon]="bannedIcon"
    ></fa-icon>
    <span *ngIf="banSummary">{{ banSummary?.bannedAreas?.length }}</span>
  </span> -->
</span>