# Trying out MERGE DRIVER = union in hopes to stop merge conflicts: https://stackoverflow.com/questions/52182834/custom-git-merge-union-strategy-for-a-changelog
.\CHANGELOG.component.html merge=union
.\environments\app-data\changelog\2022-LATEST-Q4.changelog.ts merge=union