<!-- This is the HTML file template for the changelog component. /shared/views/changelog -->
<mat-expansion-panel *ngIf="!isProduction">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h3>Unreleased</h3>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <h4>Bug Fixes</h4>
  <ul>
    <li>Fix credit update tables not displaying data after route changes.</li>
  </ul>

  <h4>Features</h4>
  <ul></ul>

  <h4>General</h4>
  <ul>
    <li>Add all game titles to Kusto management tool.</li>
    <li>All info note to user banning when All Requests is selected.</li>
  </ul>
</mat-expansion-panel>

<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h3>11/01/2021</h3>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <h4>Bug Fixes</h4>
  <ul>
    <li>Fix icon color for entitlement flags.</li>
    <li>Spinner demo page; spinner tweaks.</li>
  </ul>

  <h4>Features</h4>
  <ul>
    <li><b>[ FH4 Player Details ]</b> Add Hidden UGC tab.</li>
  </ul>

  <h4>General</h4>
  <ul>
    <li>Add global scss for info tables within mat tables.</li>
    <li>Add studio endpoints for Live Ops Admins.</li>
  </ul>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h3>10/28/2021</h3>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <h4>Bug Fixes</h4>
  <ul>
    <li>Tunes can now be featured.</li>
    <li>Re-restrict wristband gifting in FH4/FH5, only allowed on profile restores.</li>
    <li>Switch to better understood naming conventions for device types.</li>
    <li>Properly display acquisition date for Woodstock inventory items.</li>
  </ul>

  <h4>Features</h4>
  <ul>
    <li>Disable 'Set Feature' button for private UGC content.</li>
    <li>Add Auction Log to FH4 Player Details page.</li>
    <li>Add entitlements to player details. (only from Oct 2020 and above)</li>
    <li>Auction Log loads 250 items at a time; Button to load all remaining items.</li>
    <li>Auction Log supports querying on seller xuid.</li>
  </ul>

  <h4>General</h4>
  <ul>
    <li>Add edit and delete tooling for group notifications.</li>
    <li>Update naming convention for title sub-routes.</li>
    <li>Consolidate notification management and community messaging into single page.</li>
  </ul>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h3>10/20/2021</h3>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <h4>Bug Fixes</h4>
  <ul>
    <li>Fix content type error in Woodstock UGC search.</li>
  </ul>

  <h4>Features</h4>
  <ul>
    <li>Add Woodstock to auction blocklist.</li>
  </ul>

  <h4>General</h4>
  <ul>
    <li>Move Kusto pages to shared pages directory.</li>
    <li>Move Obligation page to shared pages directory.</li>
    <li>Move tool title defaults back to FH4.</li>
    <li>Convert E2E tests to use unified tools app.</li>
    <li>Add bulk ban history e2e tests.</li>
  </ul>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h3>10/13/2021</h3>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <h4>Bug Fixes</h4>
  <ul></ul>

  <h4>Features</h4>
  <ul>
    <li>Allow Community Managers access to player details tool.</li>
    <li>Activate Woodstock messaging.</li>
    <li>Activate Woodstock player details.</li>
    <li>Activate Woodstock gift history.</li>
    <li>Activate Woodstock banning.</li>
    <li>Activate Woodstock gifting.</li>
    <li>Activate Woodstock UGC search and featuring.</li>
    <li>Activate Woodstock endpoints in bulk ban history lookup.</li>
    <li>Activate Woodstock profile notes.</li>
    <li>Add device type as filter when sending messages to LSP groups.</li>
  </ul>

  <h4>General</h4>
  <ul>
    <li>Use human readible names for FH5 inventory items.</li>
    <li>Update master inventory queries for FH5.</li>
    <li>Disable FH5 backstage pass views and APIs until they go live.</li>
    <li>Restrict console banning to support agents only.</li>
    <li>Restrict setting user flags to support agents only.</li>
    <li>Add E2E tests for gifting tool.</li>
    <li>Update angular packages.</li>
    <li>Speed up local tests.</li>
    <li>Make player pickers display account information for Retail titles.</li>
    <li>Fix various build warnings.</li>
    <li>Increase number of user groups returned by API lookup.</li>
  </ul>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h3>09/23/2021</h3>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <h4>Bug Fixes</h4>
  <ul>
    <li>Resolve MSAL auth issues.</li>
    <li>Fix searching private UGC content.</li>
    <li>Shared gamertag links now use relative paths so user stays within their current app.</li>
    <li>XUID lookups below 100 now throw 400 errors.</li>
    <li>Invalid identities are filtered out when switching identity lookup type.</li>
  </ul>

  <h4>Features</h4>
  <ul>
    <li><b>[ All ]</b> Added changelog popup notification.</li>
    <li>
      <b>[ All ]</b> New contact us icon is added to the top navbar for chatting through Teams or
      email.
    </li>
    <li>Add Tunes as a UGC search content type.</li>
    <li>Allow Community Managers access to gift history tool.</li>
  </ul>

  <h4>General</h4>
  <ul>
    <li>Add E2E tests for gifting tool.</li>
    <li>Upgrade to ForzaClient v2.1.</li>
    <li>Add retail endpoint for Woodstock and update development endpoint for Steelhead.</li>
    <li>Endpoint selection now determined by call to Steward API.</li>
    <li>Upgrade to Angular 12 and MSAL 2.0.</li>
    <li>
      Changelog popup notifications can be turned off/on from the popup or within the settings
      sidebar.
    </li>
    <li>Shared gamertags switched to use Action Monitor when processing request.</li>
    <li>Added eslint-plugin-rxjs package to support RXJS lint rules.</li>
    <li>Switched catchErrors to return EMPTY instead of NEVER.</li>
    <li>Disabled auction house blocklist Cypress tests until they can run against Studio.</li>
    <li>
      Backend refactoring to address compile time warnings and consolidate hard-coded strings.
    </li>
    <li>Add back staging rewrite interceptor.</li>
  </ul>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h3>08/30/2021</h3>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <h4>Bug Fixes</h4>
  <ul>
    <li>Fixed player credit history now gets all events.</li>
    <li>Console bans from Player Details now work as expected (previously 500 errors).</li>
    <li>Upgrade package parse-url from version 1.5.1 to 1.5.3 to fix vulnerability.</li>
    <li>
      Fixed ExpressionChangedAfterItHasBeenCheckedError console error when using single player
      selection tool.
    </li>
    <li>Removed lowercase transform following camelCase transform.</li>
    <li>Fixed 400 error when banning players for 1 week.</li>
  </ul>

  <h4>Features</h4>
  <ul>
    <li>
      <b>[ Support ]</b> Added user flag needsStatisticsRepaired to add/remove players to
      RepairStats user group in Sunrise.
    </li>
    <li><b>[ Support, Community ]</b> New bulk ban history lookup tool is active.</li>
    <li><b>[ Support ]</b> Enable Salus tool.</li>
    <li><b>[ All ]</b> Add User Selected Tools app containing all available apps.</li>
  </ul>

  <h4>General</h4>
  <ul>
    <li>Added virtual scrolling to player credit history.</li>
    <li>Add additional LiveOpsAdmin-only ban duration for testing in game client.</li>
    <li>Added endpoint selection functionality.</li>
    <li>E2E Testing for Player Details Page.</li>
    <li>Removed studio appsettings file.</li>
    <li>No longer show allowed roles list on tools app homepage cards.</li>
    <li>E2E Testing for Messaging Page</li>
  </ul>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h3>08/17/2021</h3>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <h4>Bug Fixes</h4>
  <ul>
    <li><b>[ Data Pipeline ]</b> Propagate changes from timepicker popup.</li>
  </ul>

  <h4>Features</h4>
  <ul>
    <li><b>[ Support ]</b> Add notes about effect to Player Flags.</li>
    <li><b>[ Support ]</b> Drop Is Community Manager player flag.</li>
    <li><b>[ Support ]</b> Added auction blockist feature.</li>
    <li><b>[ Support ]</b> Auction house tab is live in Player Details section.</li>
    <li><b>[ Community ]</b> Added searching and featuring of UGC content.</li>
  </ul>

  <h4>General</h4>
  <ul>
    <li>Retargeted to new Steelhead LSP deployment.</li>
    <li>Allow cypress testing in staging.</li>
  </ul>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h3>08/04/2021</h3>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <h4>Bug Fixes</h4>
  <ul>
    <li>
      <b>[ All ]</b> Removed null-check workaround in Identity lookup now that LSP fix is in Prod.
    </li>
    <li><b>[ All ]</b> Aligned role access icons in Steward App List.</li>
    <li>
      <b>[ Support ]</b> Banning player selection now orders correctly based on total number of user
      bans.
    </li>
  </ul>

  <h4>Features</h4>
  <ul>
    <li>
      <b>[ Support ]</b> Reformatted JSON table numbers when downloading so Excel floating point
      limitation no longer cuts out digits.
    </li>
  </ul>

  <h4>General</h4>
  <ul>
    <li>Retargeted to new Woodstock LSP deployment.</li>
    <li>Fixed VS Code tsconfig.json conflict causing confusion between jasmine and chai types.</li>
  </ul>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h3>07/07/21</h3>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <h4>Bug Fixes</h4>
  <ul>
    <li>[ Support App ] Clear Backstage Pass transaction cache after gifting backstage passes.</li>
    <li><b>[ All ]</b> Make Luxon DateTime auto-conversion more reliable.</li>
    <li><b>[ Data Pipelines ]</b> Correctly convert Restate-O-Matic durations.</li>
  </ul>

  <h4>Features</h4>
  <ul>
    <li><b>[ Data Pipelines ]</b> Allow setting Creation Behavior for new pipelines.</li>
    <li>
      <b>[ Support ]</b>
      Studio auction house and unit tests are complete. Currently not available on Production and
      will be hidden until it is.
    </li>
    <li>
      <b>[ Support ]</b>
      External Tools list is added to top navbar with link to Salus enforcement tool. Currently not
      available on Production.
    </li>
  </ul>

  <h4>General</h4>
  <ul>
    <li>Standardization pass on XML comments, they now are similarly indented and conjugated.</li>
    <li>Refactored SignalR events to use string constants instead of hardcoded strings.</li>
    <li><b>[ Data Pipelines ]</b> Note min/max values for buckets</li>
    <li>E2E Testing Options for Verifying Prod</li>
    <li>Integrated new LSP Bulk identity lookup APIs, reducing player lookup LSP calls.</li>
    <li>E2E Testing Options for Verifying Prod.</li>
    <li>Require changelog entries be written at time of merge.</li>
  </ul>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h3>06/07/21</h3>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <h4>Bug Fixes</h4>
  <ul>
    <li>Optional Value components now correctly initialize with API data</li>
    <li>Optional Bucket number value in Obligations now correctly initializes with API data</li>
  </ul>

  <h4>Features</h4>
  <ul>
    <li><b>[ Support App, Community App ]</b> Woodstock Notifications and Community Messaging</li>
    <li><b>[ Support App, Community App ]</b> Steelhead Notifications and Community Messaging</li>
    <li><b>[ Support App ]</b> Woodstock Credit Updates</li>
    <li><b>[ Support App ]</b> Woodstock Profile Summary</li>
    <li>
      <b>[ Support App, Community App ]</b> Show Current Inventory at the top of relevant lists
    </li>
    <li><b>[ All Apps ]</b> Cypress-powered end-to-end testing</li>
  </ul>

  <h4>General</h4>
  <ul>
    <li>Retarget Steward to use branch agnostic ForzaClient nuget packages.</li>
    <li>Refactor StewardErrors to be more specific.</li>
    <li>Use Luxon instead of Moment for date/duration handling</li>
    <li>Date/Duration conversion helpers</li>
    <li>
      Refactor "friendly" exception handling of API in preparation for more friendly error popups
    </li>
    <li>Cleanup "using" statements in API</li>
    <li>Consolidate Profile Summary components</li>
    <li>Consolidate Credit Update History components</li>
    <li>Consolidate Notifications components</li>
    <li>Testing Obligations form</li>
  </ul>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h3>05/27/21</h3>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <h4>Bug Fixes</h4>
  <ul>
    <li>
      Action monitor directive observables in Obligation no longer break UI when error is found.
      (5/25/21)
    </li>
    <li>
      Gifting no longer adds items of quanity zero when setting gift basket to match profile
      inventory. (5/21/21)
    </li>
    <li>Fixed NGXS immutability errors occuring on Steward Dev. (5/20/21)</li>
    <li>Fixed Obligation timepicker. (5/18/21)</li>
  </ul>

  <h4>Features</h4>
  <ul>
    <li>
      <b>[ All Apps ]</b> SignalR requests can now manage reauth/retry requests that come back as
      401s. (5/25/212)
    </li>
    <li>
      <b>[ Support App ]</b> Apollo ticket sidebar now shows ban history and player flags. (5/26/21)
    </li>
    <li>
      <b>[ Support App ]</b> History of background jobs and their results are now accessible through
      notifications tab. (5/20/21)
    </li>
    <li>
      <b>[ Support App ]</b> Compact view of ban history now shows agent alias instead of AAD object
      id. (5/19/21)
    </li>
    <li><b>[ Data Pipelines App ]</b> Get pipelines now autocompletes. (5/18/21)</li>
  </ul>

  <h4>General</h4>
  <ul>
    <li>API has been updated to utilize Services new shared title service. (5/27/21)</li>
    <li>Consolodated ban history components into a single base. (5/26/21)</li>
    <li>Restructured Obligation and non-title specific models on the API. (5/26/21)</li>
    <li>All mat cards are now using correct mat header elements instead of h2s. (5/26/21)</li>
    <li>Cleaned up Player flags to use reactive form. (5/26/21)</li>
    <li>Removed depricated FAKER methods from tests/interceptors. (5/25/21)</li>
    <li>Restate-O-Matic UI cleanup. (5/18/21)</li>
    <li>Obligations UI cleanup. (5/18/21)</li>
  </ul>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h3>05/18/21 Release</h3>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <h4>Bug Fixes</h4>
  <ul>
    <li>Fixed a couple bugs related to date/time picker in obligation. (5/18/21)</li>
    <li>Credit updates no longer skipping events after the 2nd load more button. (5/13/21)</li>
    <li>Automatic refresh token now working for obligation. (4/28/21)</li>
  </ul>

  <h4>Features</h4>
  <ul>
    <li><b>[ All Apps ]</b> Added date aquired to player inventory items. (5/13/21)</li>
    <li><b>[ All Apps ]</b> Add easy auth to Swagger UI page. (4/28/21)</li>
    <li>
      <b>[ Support App ]</b> Added Woodstock to tooling. Currently hidden in production. (5/10/21)
    </li>
    <li>
      <b>[ Support App ]</b> Added Steelhead to tooling. Currently hidden in production. (4/28/21)
    </li>
    <li><b>[ Data Pipeline App ]</b> Added Restate-O-Matic to obligation UI. (5/18/21)</li>
    <li><b>[ Data Pipeline App ]</b> Added several features to obligation UI. (5/3/21)></li>
    <li><b>[ Data Pipeline App ]</b> Added obligation UI. (4/27/21)</li>
  </ul>

  <h4>General</h4>
  <ul>
    <li>Changed requestingAgent to requesterObjectId. (5/13/21)</li>
    <li>Reusing ForzaClient for each title in the API. (5/12/21)</li>
    <li>Postpend '$' to all observables. (5/12/21)</li>
    <li>Added universal role guard. (5/11/21)</li>
    <li>Cleaned out old player inventory models from UI and API. (5/5/21)</li>
  </ul>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h3>04/27/21 Release</h3>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <h4>Bug Fixes</h4>
  <ul>
    <li>Fix for community managers role access to title endpoints. (4/27/21)</li>
    <li>Fix for Sunrise user flags in ticket sidebar infinitly spinning. (4/21/21)</li>
  </ul>

  <h4>Features</h4>
  <ul>
    <li>
      <b>[ All Apps ]</b> Added Steelhead to existing tools in the UI. Hidden from production until
      Service hookups are finalized. (4/21/21)
    </li>
    <li>
      <b>[ All Apps ]</b> Converted all font awesome icons to use angular material icons by
      registering them in the Mat Registry. (4/20/21)
    </li>
    <li>
      <b>[ Support App ]</b> New profile rollbacks info in Sunrise User Details. Currently hidden in
      production until Service hookups are finalized. (4/21/21)
    </li>
  </ul>

  <h4>General</h4>
  <ul>
    <li></li>
  </ul>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h3>04/20/2021 Release</h3>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <h4>Bug Fixes</h4>
  <ul>
    <li>Kusto query results no longer fails when retreiving DBNull values. (4/20/21)</li>
    <li>
      Gift history now uses the same view as player inventory. Large quantities are no longer cut
      off. (4/14/21)
    </li>
    <li>
      Converted BigInt usage to BigNumber, allowing decimals to be parsed correctly. (4/13/21)
    </li>
    <li>Opus identity lookup with Xuid now correctly shows if player is non-existant. (4/13/21)</li>
  </ul>

  <h4>Features</h4>
  <ul>
    <li><b>[ All Apps ]</b> Theme change to use light-blue as accent color. (4/13/21)</li>
    <li>
      <b>[ All Apps ]</b> Steward user emails are no longer stored in Kusto, now using AAD object id
      stored in a Cosmos Table DB. (4/12/21)
    </li>
    <li>
      <b>[ All Apps ]</b> Changelog added. Developers will keep track of bug fixes, features, and
      general maintenance for users to view. (04/08/21)
    </li>
    <li><b>[ Community App ]</b> Community messaging tool is now available. (4/13/21)</li>
    <li><b>[ Community App ]</b> Gifting tool is now available. (4/12/21)</li>
    <li>
      <b>[ Support App ]</b> V1 of background job notifications is active. See top navbar for new
      icon. (04/09/21)
    </li>
    <li>
      <b>[ Support App ]</b> Apollo user details now include user flags, ban history, associated
      gamertags, and shared consoles. (04/07/21)
    </li>
  </ul>

  <h4>General</h4>
  <ul>
    <li>Converted all FontAwesome icon usages to utilize mat-icon element. (04/19/21)</li>
    <li>
      Clean up code to use private access on all constructor variables whenever possible. (4/12/21)
    </li>
  </ul>
</mat-expansion-panel>

<mat-expansion-panel [expanded]="false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h3>04/06/2021 Release</h3>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <p>Bug Fixes</p>
  <ul>
    <li>Route reuse no longer breaks navigation in the toolbar. (04/01/21)</li>
  </ul>

  <p>App Features</p>
  <ul>
    <li>[Support App] Kusto querying is activated. (04/05/21)</li>
    <li>[Support App] Apollo ban history is visible in the user details page. (04/05/21)</li>
    <li>
      [Support App] Server-side caching of player identities for quicker lookup times. (03/30/21)
    </li>
    <li>
      [Support App] SupportAgentAdmins can now gift credits above the 500 million limit when sending
      as a 'Lost Save'. (03/30/21)
    </li>
    <li>
      [Support App] Banning, bulk lookup of users is now sorted based on number of previous bans.
      (03/24/21)
    </li>
    <li>[Community App] Draft of new Community Messaging endpoints is live. (04/01/21)</li>
    <li>
      [Live Ops App] New Kusto tool to manage Support's predefined kusto functions. (03/29/21)
    </li>
  </ul>

  <p>General</p>
  <ul>
    <li>Upgraded System.Text.Encoding.Web to become compliant with MS security. (04/02/21)</li>
    <li>Upgraded to Angular version 11.2.8. (04/02/21)</li>
  </ul>
</mat-expansion-panel>
