@import "variables.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.success-text {
  color: #378d43;
}
.error-text {
  color: #cf3d3d;
}

.game-title-header {
  color: $primaryBlue;
  font-size: 24px;
  float: right;
  margin-right: 50px;
  margin-top: 20px;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #337ab7;
}
