// TODO: These seem to still work implicitly despite not being explicitly imported?
// TODO: Importing this causes any scss file including it to be horribly large (despite the files only containing variables and mixins)
// TODO: Verify that compilation works when we standardize the colors to be based on the theme.
// @import '../autocomplete-patch.scss';

$primaryBlue: #337ab7;

$developerRed: #ff0000;


$table-tr-hover: #f5f5f5;
$table-tr-active: #efefef;

$gap-side-gutter: 16px;
$gap-vertical-layout: 8px;
$gap-inner-container: 10px;
$gap-table: 5px;

$width-mediaquery-sidebar-break: 250px;
