$border-thin: 0.5px;
$border-standard: 1px;
$border-thick: 2px;

$border-radius-button: 5px;
$border-radius-image: 5px;

$border-faded: #00000022;

// use to make the boundaries of images clear
@mixin standard-image-border {
  border: $border-standard solid $border-faded;
  border-radius: $border-radius-image;
}
