// file of standardized color aliases
@use '@angular/material' as mat;
@import './theme/';

$table-tr-hover: app-color-darker($app-background, 0.5);
$table-tr-active: app-color-darker($app-background, 0.75);
$table-row-separator: app-color-darker($app-background);
$sidebar-background: app-color-default($app-background);
