// file of standardized color aliases
@import './theme.scss';

$table-tr-hover: mat-color($app-background, 100);
$table-tr-active: mat-color($app-background, 200);

$sidebar-background: rgb(247 247 247 / 87%);
