$intro-card-width: 500px;

$gap-micro: 5px;
$gap-small: 10px;
$gap-medium: 20px;
$gap-large: 30px;

$font-size-navbar: 16px;
$font-size-subnavbar: 14px;
$font-weight-navbar: 500;
$text-area-medium-height: 50px;
$text-area-max-height: 35vh;

$border-thin: 0.5px;
$border-standard: 1px;
$border-thick: 2px;
$border-radius-button: 5px;

$gap-side-gutter: 16px;
$gap-vertical-layout: 8px;
$gap-inner-container: 10px;
$gap-table: 5px;

$width-mediaquery-sidebar-break: 250px;
