$full-screen-height-calc: calc(
  100vh - 64px /*navbar*/ - 64px /*navbar*/ - 20px /*tasteful margin*/ - 32px
    /*standard card padding*/
);
$full-screen-height-calc-basic: calc(
  100vh - 64px /*navbar*/ - 64px /*navbar*/ - 20px /*tasteful margin*/
);

$button-min-size: 150px;

$auction-row-height: 120px;
$ugc-row-height-thumbnails: 170px;
$max-table-image-width: 150px;

$single-input-max-width: 300px;

/** NGX-CHART matches container size, required to set height of container. */
$ngx-chart-height: 500px;
