$full-screen-height-calc: calc(
  100vh - 64px /*navbar*/ - 64px /*navbar*/ - 20px /*tasteful margin*/ - 32px
    /*standard card padding*/
);
$full-screen-height-calc-basic: calc(
  100vh - 64px /*navbar*/ - 64px /*navbar*/ - 20px /*tasteful margin*/
);

$button-min-size: 150px;

$auction-row-height: 120px;
$ugc-row-height-thumbnails: 200px;
$max-table-image-width: 150px;

$single-input-max-width: 300px;

/** NGX-CHART matches container size, required to set height of container. */
$ngx-chart-height: 500px;

$container-width-small: 250px;
$container-width-medium: 500px;
$container-width-large: 750px;
$container-width-jumbo: 1000px;

$container-height-micro: 25px;
$container-height-small: 50px;
$container-height-medium: 100px;
$container-height-large: 250px;
$container-height-xlarge: 500px;
