$colors-5: rgb(205, 110, 171), rgb(179, 99, 56), rgb(111, 66, 140), rgb(46, 153, 195),
  rgb(106, 147, 71);
$colors-6: rgb(166, 76, 50), rgb(190, 152, 69), rgb(79, 141, 75), rgb(55, 154, 200),
  rgb(110, 69, 146), rgb(207, 114, 174);
$colors-7: rgb(199, 143, 70), rgb(169, 69, 56), rgb(107, 176, 101), rgb(73, 101, 38),
  rgb(50, 150, 197), rgb(112, 68, 146), rgb(206, 118, 182);
$colors-8: rgb(203, 138, 72), rgb(163, 65, 51), rgb(126, 175, 84), rgb(77, 101, 34),
  rgb(0, 164, 167), rgb(109, 132, 205), rgb(114, 60, 138), rgb(212, 111, 170);
$colors-9: rgb(139, 70, 27), rgb(220, 109, 94), rgb(157, 54, 104), rgb(92, 78, 162),
  rgb(199, 125, 198), rgb(34, 157, 198), rgb(101, 178, 103), rgb(63, 105, 45), rgb(189, 151, 65);
$colors-10: rgb(219, 107, 93), rgb(138, 71, 25), rgb(156, 53, 95), rgb(95, 71, 153),
  rgb(102, 143, 211), rgb(0, 165, 165), rgb(118, 176, 86), rgb(68, 103, 40), rgb(195, 150, 67),
  rgb(204, 118, 192);
$colors-11: rgb(218, 116, 87), rgb(148, 53, 51), rgb(199, 76, 137), rgb(195, 134, 208),
  rgb(84, 133, 202), rgb(0, 172, 174), rgb(115, 176, 86), rgb(195, 157, 68), rgb(124, 87, 13),
  rgb(52, 106, 51), rgb(101, 64, 145);
$colors-12: rgb(188, 159, 67), rgb(216, 122, 79), rgb(111, 177, 88), rgb(53, 106, 50),
  rgb(121, 86, 12), rgb(155, 57, 49), rgb(143, 53, 122), rgb(82, 76, 158), rgb(86, 147, 211),
  rgb(0, 169, 167), rgb(188, 127, 210), rgb(219, 101, 137);
$colors-13: rgb(215, 120, 78), rgb(216, 94, 123), rgb(204, 121, 202), rgb(124, 138, 216),
  rgb(81, 74, 156), rgb(143, 53, 120), rgb(149, 57, 42), rgb(116, 91, 12), rgb(44, 107, 54),
  rgb(125, 171, 69), rgb(54, 182, 144), rgb(0, 157, 189), rgb(198, 158, 70);
$colors-14: rgb(216, 117, 77), rgb(220, 103, 132), rgb(200, 134, 211), rgb(165, 63, 142),
  rgb(84, 55, 133), rgb(101, 109, 192), rgb(91, 168, 215), rgb(48, 178, 146), rgb(124, 175, 73),
  rgb(194, 156, 69), rgb(127, 82, 14), rgb(150, 53, 53), rgb(68, 105, 39), rgb(0, 117, 135);
$colors-15: rgb(215, 127, 78), rgb(191, 160, 68), rgb(119, 175, 75), rgb(43, 179, 150),
  rgb(90, 169, 215), rgb(105, 114, 197), rgb(85, 60, 142), rgb(139, 49, 88), rgb(188, 77, 175),
  rgb(204, 145, 209), rgb(218, 97, 116), rgb(153, 61, 38), rgb(119, 89, 12), rgb(62, 106, 45),
  rgb(0, 116, 138);
$colors-16: rgb(211, 81, 74), rgb(221, 117, 150), rgb(190, 145, 218), rgb(183, 76, 176),
  rgb(144, 51, 87), rgb(87, 56, 137), rgb(92, 107, 189), rgb(89, 168, 214), rgb(43, 179, 151),
  rgb(115, 176, 77), rgb(186, 162, 67), rgb(213, 135, 79), rgb(117, 92, 12), rgb(60, 106, 46),
  rgb(0, 117, 138), rgb(139, 61, 30);
$colors-17: rgb(211, 155, 72), rgb(215, 119, 80), rgb(160, 161, 67), rgb(100, 181, 80),
  rgb(47, 177, 151), rgb(86, 167, 213), rgb(86, 105, 185), rgb(87, 56, 139), rgb(135, 49, 88),
  rgb(184, 77, 177), rgb(223, 131, 172), rgb(175, 144, 219), rgb(209, 75, 96), rgb(145, 59, 33),
  rgb(121, 90, 13), rgb(61, 105, 43), rgb(0, 117, 136);
$colors-18: rgb(222, 137, 140), rgb(205, 72, 68), rgb(215, 83, 150), rgb(159, 75, 176),
  rgb(80, 55, 134), rgb(90, 107, 187), rgb(95, 166, 217), rgb(30, 179, 159), rgb(122, 192, 90),
  rgb(97, 141, 62), rgb(43, 97, 46), rgb(113, 93, 8), rgb(136, 62, 27), rgb(137, 49, 84),
  rgb(193, 142, 215), rgb(209, 129, 69), rgb(191, 164, 69), rgb(0, 118, 143);
$colors-19: rgb(212, 146, 77), rgb(208, 96, 60), rgb(180, 166, 66), rgb(114, 192, 92),
  rgb(93, 139, 63), rgb(49, 94, 38), rgb(120, 91, 13), rgb(136, 56, 32), rgb(198, 67, 94),
  rgb(130, 48, 92), rgb(153, 77, 177), rgb(218, 88, 175), rgb(185, 146, 217), rgb(222, 137, 146),
  rgb(88, 109, 189), rgb(75, 57, 137), rgb(91, 167, 216), rgb(27, 179, 158), rgb(0, 117, 139);
$colors-20: rgb(202, 82, 52), rgb(222, 133, 125), rgb(205, 73, 118), rgb(222, 129, 194),
  rgb(166, 147, 218), rgb(171, 81, 186), rgb(127, 50, 106), rgb(77, 60, 143), rgb(85, 109, 188),
  rgb(85, 168, 213), rgb(30, 185, 164), rgb(114, 185, 85), rgb(60, 133, 78), rgb(58, 86, 18),
  rgb(131, 125, 46), rgb(191, 174, 71), rgb(212, 142, 72), rgb(126, 76, 9), rgb(138, 50, 49),
  rgb(0, 115, 137);
$colors-21: rgb(221, 135, 131), rgb(206, 86, 55), rgb(210, 76, 124), rgb(170, 81, 185),
  rgb(217, 135, 202), rgb(154, 143, 217), rgb(75, 100, 175), rgb(83, 54, 140), rgb(131, 51, 100),
  rgb(144, 51, 51), rgb(125, 69, 5), rgb(143, 117, 47), rgb(184, 173, 69), rgb(113, 193, 94),
  rgb(92, 143, 64), rgb(0, 115, 89), rgb(67, 87, 9), rgb(27, 184, 165), rgb(82, 164, 210),
  rgb(0, 116, 175), rgb(218, 147, 75);
$colors-22: rgb(203, 90, 52), rgb(223, 137, 130), rgb(206, 76, 105), rgb(217, 77, 175),
  rgb(212, 143, 201), rgb(151, 144, 218), rgb(149, 86, 185), rgb(81, 52, 137), rgb(135, 51, 101),
  rgb(140, 51, 45), rgb(123, 71, 2), rgb(144, 120, 49), rgb(182, 174, 69), rgb(110, 193, 96),
  rgb(91, 143, 65), rgb(0, 115, 90), rgb(67, 88, 11), rgb(25, 184, 165), rgb(81, 164, 210),
  rgb(69, 100, 173), rgb(0, 116, 176), rgb(218, 150, 74);
$colors-23: rgb(200, 74, 52), rgb(135, 49, 49), rgb(134, 50, 103), rgb(145, 82, 181),
  rgb(217, 83, 191), rgb(216, 144, 191), rgb(160, 143, 218), rgb(72, 102, 176), rgb(77, 53, 136),
  rgb(205, 78, 115), rgb(223, 136, 125), rgb(206, 122, 60), rgb(214, 164, 76), rgb(166, 177, 68),
  rgb(98, 194, 107), rgb(86, 142, 66), rgb(0, 115, 90), rgb(66, 87, 10), rgb(140, 121, 47),
  rgb(124, 71, 6), rgb(87, 162, 213), rgb(15, 183, 171), rgb(0, 115, 177);
$colors-24: rgb(203, 76, 53), rgb(205, 122, 61), rgb(214, 164, 76), rgb(167, 176, 69),
  rgb(101, 194, 102), rgb(86, 142, 66), rgb(0, 115, 91), rgb(65, 87, 11), rgb(138, 119, 45),
  rgb(124, 71, 5), rgb(137, 49, 47), rgb(132, 54, 98), rgb(118, 39, 155), rgb(64, 67, 135),
  rgb(75, 113, 189), rgb(143, 99, 190), rgb(211, 72, 181), rgb(216, 140, 195), rgb(165, 152, 222),
  rgb(84, 168, 212), rgb(15, 184, 167), rgb(0, 115, 176), rgb(223, 139, 128), rgb(208, 80, 113);
$colors-25: rgb(220, 131, 124), rgb(203, 80, 52), rgb(216, 135, 74), rgb(211, 168, 72),
  rgb(160, 177, 67), rgb(95, 195, 110), rgb(86, 143, 67), rgb(28, 104, 69), rgb(76, 88, 0),
  rgb(146, 122, 52), rgb(126, 71, 6), rgb(140, 52, 48), rgb(122, 43, 87), rgb(149, 50, 167),
  rgb(153, 97, 138), rgb(214, 88, 203), rgb(222, 145, 190), rgb(169, 149, 220), rgb(106, 106, 200),
  rgb(34, 112, 158), rgb(93, 169, 222), rgb(17, 179, 167), rgb(0, 117, 157), rgb(71, 59, 136),
  rgb(215, 64, 113);
$colors-26: rgb(205, 76, 53), rgb(138, 51, 45), rgb(124, 47, 85), rgb(165, 66, 150),
  rgb(136, 102, 198), rgb(180, 154, 222), rgb(215, 138, 174), rgb(222, 91, 201), rgb(207, 74, 110),
  rgb(222, 137, 123), rgb(206, 121, 59), rgb(217, 165, 76), rgb(171, 176, 71), rgb(103, 193, 86),
  rgb(87, 141, 64), rgb(25, 95, 52), rgb(79, 88, 0), rgb(145, 123, 52), rgb(126, 72, 7),
  rgb(0, 134, 124), rgb(52, 191, 158), rgb(73, 181, 211), rgb(91, 138, 210), rgb(59, 85, 153),
  rgb(90, 48, 140), rgb(0, 112, 172);
$colors-27: rgb(212, 82, 64), rgb(227, 141, 93), rgb(169, 108, 50), rgb(134, 59, 22),
  rgb(147, 49, 60), rgb(115, 44, 91), rgb(156, 49, 167), rgb(155, 96, 136), rgb(219, 61, 118),
  rgb(222, 136, 152), rgb(193, 151, 217), rgb(218, 91, 202), rgb(121, 104, 199), rgb(44, 106, 166),
  rgb(114, 154, 225), rgb(64, 175, 202), rgb(33, 187, 159), rgb(105, 196, 96), rgb(84, 147, 65),
  rgb(134, 128, 52), rgb(171, 179, 72), rgb(212, 163, 69), rgb(104, 77, 0), rgb(59, 89, 20),
  rgb(20, 120, 94), rgb(0, 116, 158), rgb(71, 59, 140);
$colors-28: rgb(184, 106, 51), rgb(216, 74, 58), rgb(222, 139, 119), rgb(225, 86, 130),
  rgb(177, 54, 85), rgb(113, 44, 83), rgb(153, 45, 163), rgb(153, 97, 141), rgb(213, 88, 204),
  rgb(221, 148, 191), rgb(171, 147, 219), rgb(103, 153, 223), rgb(63, 179, 202), rgb(2, 198, 165),
  rgb(56, 145, 116), rgb(91, 142, 51), rgb(112, 192, 91), rgb(180, 177, 71), rgb(145, 125, 54),
  rgb(221, 157, 73), rgb(117, 72, 0), rgb(135, 54, 36), rgb(71, 57, 136), rgb(108, 100, 197),
  rgb(34, 107, 156), rgb(0, 117, 155), rgb(33, 97, 56), rgb(77, 88, 0);
$colors-29: rgb(218, 75, 54), rgb(219, 136, 125), rgb(222, 139, 72), rgb(211, 168, 72),
  rgb(165, 178, 70), rgb(100, 194, 96), rgb(84, 143, 68), rgb(142, 126, 52), rgb(73, 90, 0),
  rgb(0, 98, 59), rgb(13, 136, 131), rgb(28, 192, 166), rgb(83, 179, 217), rgb(86, 131, 205),
  rgb(133, 98, 207), rgb(150, 99, 141), rgb(171, 42, 155), rgb(113, 45, 82), rgb(175, 57, 82),
  rgb(227, 80, 129), rgb(218, 93, 206), rgb(221, 148, 191), rgb(171, 153, 221), rgb(59, 83, 148),
  rgb(87, 48, 142), rgb(132, 51, 33), rgb(165, 99, 49), rgb(110, 70, 0), rgb(0, 113, 174);
$colors-30: rgb(165, 97, 49), rgb(219, 74, 55), rgb(221, 137, 71), rgb(213, 167, 72),
  rgb(168, 177, 75), rgb(97, 192, 70), rgb(80, 188, 143), rgb(0, 190, 197), rgb(6, 134, 124),
  rgb(5, 95, 55), rgb(74, 89, 0), rgb(85, 140, 63), rgb(144, 125, 52), rgb(111, 70, 0),
  rgb(131, 51, 33), rgb(174, 59, 81), rgb(226, 82, 129), rgb(219, 95, 208), rgb(220, 149, 193),
  rgb(166, 150, 220), rgb(136, 94, 208), rgb(149, 100, 142), rgb(179, 43, 152), rgb(113, 45, 83),
  rgb(99, 42, 153), rgb(62, 70, 132), rgb(74, 113, 186), rgb(91, 165, 219), rgb(0, 112, 173),
  rgb(219, 137, 126);
$colors-31: rgb(164, 97, 51), rgb(217, 74, 49), rgb(112, 69, 0), rgb(131, 51, 35), rgb(176, 53, 83),
  rgb(217, 98, 113), rgb(228, 69, 156), rgb(209, 108, 220), rgb(221, 148, 188), rgb(167, 154, 220),
  rgb(82, 123, 199), rgb(129, 95, 206), rgb(169, 45, 159), rgb(149, 100, 142), rgb(112, 46, 84),
  rgb(91, 43, 150), rgb(60, 75, 138), rgb(47, 129, 138), rgb(91, 176, 222), rgb(0, 195, 181),
  rgb(73, 155, 113), rgb(87, 137, 44), rgb(163, 178, 72), rgb(96, 196, 99), rgb(145, 125, 53),
  rgb(211, 169, 74), rgb(220, 135, 57), rgb(221, 145, 122), rgb(73, 87, 0), rgb(0, 100, 61),
  rgb(0, 116, 172);
$colors-32: rgb(221, 73, 62), rgb(165, 82, 41), rgb(127, 47, 38), rgb(175, 59, 85),
  rgb(227, 83, 133), rgb(218, 96, 209), rgb(221, 149, 193), rgb(167, 151, 221), rgb(136, 94, 208),
  rgb(80, 117, 194), rgb(61, 73, 136), rgb(96, 42, 154), rgb(178, 44, 154), rgb(150, 101, 143),
  rgb(112, 46, 87), rgb(109, 68, 0), rgb(152, 118, 51), rgb(132, 144, 62), rgb(183, 182, 72),
  rgb(216, 164, 77), rgb(221, 126, 62), rgb(218, 139, 127), rgb(92, 170, 221), rgb(0, 192, 191),
  rgb(93, 187, 140), rgb(100, 190, 66), rgb(69, 137, 69), rgb(51, 88, 47), rgb(82, 96, 0),
  rgb(49, 128, 129), rgb(0, 119, 88), rgb(0, 114, 189);
$colors-33: rgb(211, 74, 83), rgb(224, 99, 56), rgb(174, 48, 93), rgb(107, 48, 93),
  rgb(167, 49, 164), rgb(154, 102, 142), rgb(230, 76, 149), rgb(208, 101, 217), rgb(221, 150, 198),
  rgb(167, 154, 221), rgb(85, 129, 206), rgb(125, 99, 202), rgb(58, 79, 142), rgb(87, 45, 153),
  rgb(124, 47, 45), rgb(165, 67, 33), rgb(167, 112, 53), rgb(225, 152, 88), rgb(206, 168, 64),
  rgb(162, 180, 77), rgb(86, 195, 90), rgb(81, 147, 106), rgb(77, 138, 35), rgb(136, 127, 54),
  rgb(72, 86, 0), rgb(0, 98, 60), rgb(46, 128, 140), rgb(90, 180, 221), rgb(95, 190, 169),
  rgb(0, 185, 168), rgb(0, 111, 174), rgb(112, 70, 0), rgb(219, 136, 133);
$colors-34: rgb(224, 84, 57), rgb(167, 63, 34), rgb(119, 47, 42), rgb(178, 52, 85),
  rgb(221, 91, 114), rgb(227, 67, 163), rgb(204, 110, 222), rgb(221, 148, 191), rgb(165, 154, 220),
  rgb(81, 124, 201), rgb(123, 97, 203), rgb(166, 49, 163), rgb(152, 100, 141), rgb(112, 46, 91),
  rgb(89, 43, 153), rgb(59, 75, 136), rgb(45, 126, 137), rgb(90, 177, 222), rgb(88, 189, 172),
  rgb(68, 144, 101), rgb(85, 135, 36), rgb(142, 126, 53), rgb(168, 107, 54), rgb(226, 142, 74),
  rgb(210, 167, 72), rgb(164, 180, 44), rgb(152, 177, 121), rgb(78, 194, 84), rgb(0, 185, 169),
  rgb(0, 111, 173), rgb(6, 96, 56), rgb(75, 86, 0), rgb(114, 69, 0), rgb(220, 142, 129);
$colors-35: rgb(225, 88, 53), rgb(170, 62, 37), rgb(119, 48, 43), rgb(176, 49, 88),
  rgb(216, 90, 104), rgb(229, 69, 157), rgb(210, 109, 220), rgb(222, 146, 184), rgb(171, 155, 221),
  rgb(89, 123, 203), rgb(131, 96, 206), rgb(168, 47, 162), rgb(152, 101, 142), rgb(109, 48, 92),
  rgb(89, 43, 154), rgb(61, 76, 140), rgb(43, 122, 141), rgb(94, 173, 225), rgb(11, 187, 191),
  rgb(0, 198, 146), rgb(94, 191, 64), rgb(149, 177, 123), rgb(171, 178, 47), rgb(210, 165, 75),
  rgb(226, 138, 62), rgb(164, 107, 54), rgb(114, 67, 0), rgb(77, 86, 0), rgb(51, 92, 51),
  rgb(79, 137, 40), rgb(70, 142, 109), rgb(0, 119, 87), rgb(0, 114, 189), rgb(137, 125, 52),
  rgb(220, 146, 127);
$colors-36: rgb(223, 98, 51), rgb(220, 143, 126), rgb(229, 82, 99), rgb(168, 98, 119),
  rgb(183, 33, 89), rgb(122, 47, 45), rgb(181, 65, 46), rgb(126, 62, 2), rgb(163, 109, 51),
  rgb(223, 150, 76), rgb(206, 171, 65), rgb(165, 184, 80), rgb(87, 154, 36), rgb(75, 141, 93),
  rgb(95, 187, 164), rgb(86, 198, 99), rgb(143, 134, 60), rgb(73, 103, 0), rgb(8, 91, 52),
  rgb(46, 127, 133), rgb(86, 182, 217), rgb(95, 141, 214), rgb(61, 97, 170), rgb(63, 62, 117),
  rgb(93, 46, 166), rgb(170, 50, 165), rgb(133, 102, 154), rgb(136, 103, 221), rgb(211, 109, 218),
  rgb(230, 70, 158), rgb(222, 146, 183), rgb(176, 157, 221), rgb(113, 46, 93), rgb(97, 79, 0),
  rgb(0, 111, 171), rgb(0, 184, 166);
$colors-37: rgb(159, 98, 71), rgb(225, 102, 52), rgb(179, 52, 25), rgb(119, 47, 41),
  rgb(176, 45, 85), rgb(172, 104, 134), rgb(235, 71, 150), rgb(207, 101, 214), rgb(221, 151, 201),
  rgb(165, 152, 220), rgb(83, 122, 200), rgb(126, 91, 217), rgb(125, 97, 150), rgb(173, 47, 159),
  rgb(110, 47, 89), rgb(92, 41, 152), rgb(55, 73, 138), rgb(44, 124, 138), rgb(93, 174, 223),
  rgb(0, 190, 188), rgb(97, 196, 143), rgb(95, 186, 62), rgb(177, 185, 76), rgb(143, 143, 66),
  rgb(73, 132, 38), rgb(73, 145, 109), rgb(48, 90, 50), rgb(100, 92, 36), rgb(66, 86, 0),
  rgb(119, 64, 0), rgb(165, 117, 43), rgb(223, 152, 94), rgb(213, 167, 61), rgb(224, 140, 137),
  rgb(224, 74, 85), rgb(0, 119, 86), rgb(0, 114, 189);
$colors-38: rgb(162, 98, 78), rgb(225, 98, 52), rgb(187, 48, 37), rgb(118, 47, 41), rgb(174, 47, 89),
  rgb(109, 47, 89), rgb(169, 47, 161), rgb(124, 97, 151), rgb(115, 88, 214), rgb(86, 123, 202),
  rgb(163, 153, 220), rgb(220, 151, 208), rgb(197, 104, 219), rgb(234, 69, 164), rgb(172, 105, 139),
  rgb(225, 138, 146), rgb(227, 75, 96), rgb(219, 153, 119), rgb(229, 147, 53), rgb(204, 170, 70),
  rgb(165, 181, 77), rgb(90, 195, 70), rgb(92, 192, 144), rgb(70, 138, 109), rgb(74, 144, 48),
  rgb(132, 131, 59), rgb(165, 117, 48), rgb(102, 79, 14), rgb(140, 63, 0), rgb(67, 94, 0),
  rgb(53, 91, 47), rgb(0, 120, 87), rgb(43, 122, 142), rgb(93, 174, 224), rgb(0, 189, 189),
  rgb(0, 114, 188), rgb(54, 73, 135), rgb(90, 41, 150);
$colors-39: rgb(220, 87, 46), rgb(221, 147, 120), rgb(222, 139, 55), rgb(212, 170, 76),
  rgb(148, 134, 58), rgb(166, 181, 49), rgb(146, 181, 128), rgb(83, 191, 69), rgb(0, 199, 155),
  rgb(69, 143, 109), rgb(84, 135, 43), rgb(50, 91, 49), rgb(99, 87, 33), rgb(64, 89, 0),
  rgb(122, 60, 0), rgb(122, 59, 26), rgb(178, 45, 41), rgb(167, 97, 93), rgb(232, 77, 97),
  rgb(220, 137, 156), rgb(217, 153, 212), rgb(205, 102, 220), rgb(229, 75, 160), rgb(183, 49, 103),
  rgb(122, 42, 57), rgb(105, 50, 100), rgb(167, 46, 164), rgb(149, 103, 148), rgb(126, 93, 207),
  rgb(83, 118, 197), rgb(59, 74, 135), rgb(86, 43, 159), rgb(43, 122, 138), rgb(0, 114, 189),
  rgb(0, 119, 87), rgb(39, 186, 195), rgb(94, 169, 225), rgb(161, 151, 220), rgb(161, 104, 48);
$colors-40: rgb(223, 91, 51), rgb(223, 144, 124), rgb(216, 131, 154), rgb(218, 154, 211),
  rgb(202, 105, 221), rgb(229, 71, 164), rgb(180, 48, 103), rgb(126, 40, 52), rgb(179, 51, 32),
  rgb(166, 94, 92), rgb(231, 71, 96), rgb(145, 102, 149), rgb(165, 47, 165), rgb(107, 48, 96),
  rgb(86, 43, 156), rgb(58, 75, 136), rgb(122, 93, 210), rgb(83, 121, 199), rgb(161, 152, 220),
  rgb(93, 172, 225), rgb(8, 187, 192), rgb(5, 199, 151), rgb(84, 189, 66), rgb(147, 177, 123),
  rgb(166, 181, 49), rgb(214, 168, 42), rgb(199, 164, 112), rgb(227, 138, 56), rgb(163, 106, 49),
  rgb(117, 61, 28), rgb(123, 59, 0), rgb(98, 87, 33), rgb(62, 88, 0), rgb(49, 90, 49),
  rgb(81, 134, 41), rgb(70, 142, 109), rgb(43, 122, 138), rgb(0, 114, 189), rgb(0, 120, 87),
  rgb(143, 131, 51);
$colors-41: rgb(172, 104, 90), rgb(230, 99, 58), rgb(189, 51, 34), rgb(120, 51, 37),
  rgb(177, 39, 82), rgb(116, 42, 80), rgb(89, 61, 113), rgb(85, 39, 158), rgb(120, 88, 214),
  rgb(136, 111, 168), rgb(164, 95, 130), rgb(231, 70, 161), rgb(202, 102, 220), rgb(218, 149, 205),
  rgb(168, 157, 226), rgb(89, 126, 208), rgb(93, 176, 227), rgb(82, 185, 185), rgb(0, 189, 183),
  rgb(85, 200, 146), rgb(91, 189, 61), rgb(158, 173, 115), rgb(166, 177, 39), rgb(211, 169, 68),
  rgb(212, 133, 47), rgb(219, 155, 120), rgb(225, 139, 149), rgb(230, 73, 98), rgb(166, 47, 158),
  rgb(52, 80, 146), rgb(47, 127, 148), rgb(48, 109, 82), rgb(62, 84, 34), rgb(66, 88, 0),
  rgb(84, 134, 41), rgb(73, 152, 111), rgb(140, 122, 52), rgb(158, 89, 32), rgb(107, 69, 0),
  rgb(0, 112, 77), rgb(0, 112, 188);
$colors-42: rgb(218, 153, 119), rgb(227, 97, 57), rgb(225, 139, 49), rgb(215, 173, 71),
  rgb(161, 133, 57), rgb(124, 140, 64), rgb(58, 141, 49), rgb(64, 136, 111), rgb(105, 189, 144),
  rgb(90, 193, 70), rgb(171, 183, 73), rgb(102, 89, 34), rgb(65, 92, 0), rgb(51, 90, 46),
  rgb(0, 111, 79), rgb(0, 113, 189), rgb(43, 121, 146), rgb(92, 124, 206), rgb(135, 95, 217),
  rgb(126, 94, 146), rgb(172, 48, 164), rgb(181, 50, 100), rgb(115, 43, 91), rgb(70, 56, 108),
  rgb(93, 42, 164), rgb(56, 82, 155), rgb(176, 111, 150), rgb(235, 70, 159), rgb(209, 103, 219),
  rgb(223, 154, 209), rgb(166, 153, 220), rgb(96, 171, 228), rgb(78, 184, 192), rgb(0, 191, 176),
  rgb(164, 101, 46), rgb(117, 60, 26), rgb(182, 51, 31), rgb(167, 96, 90), rgb(230, 69, 93),
  rgb(226, 138, 146), rgb(127, 41, 49), rgb(121, 60, 0);
$colors-43: rgb(223, 96, 46), rgb(163, 98, 79), rgb(185, 47, 39), rgb(115, 53, 32), rgb(128, 45, 62),
  rgb(190, 46, 99), rgb(171, 104, 137), rgb(236, 71, 159), rgb(207, 103, 217), rgb(220, 153, 209),
  rgb(166, 153, 220), rgb(92, 127, 208), rgb(134, 95, 220), rgb(126, 98, 152), rgb(173, 49, 164),
  rgb(114, 45, 98), rgb(65, 58, 111), rgb(92, 43, 165), rgb(56, 87, 160), rgb(47, 127, 149),
  rgb(97, 173, 229), rgb(81, 185, 193), rgb(85, 200, 153), rgb(75, 152, 117), rgb(73, 138, 42),
  rgb(129, 126, 52), rgb(168, 119, 52), rgb(230, 149, 58), rgb(221, 150, 120), rgb(224, 140, 152),
  rgb(229, 82, 94), rgb(148, 64, 0), rgb(106, 80, 12), rgb(62, 88, 0), rgb(57, 85, 34),
  rgb(49, 110, 84), rgb(0, 112, 78), rgb(0, 189, 182), rgb(84, 192, 70), rgb(156, 176, 118),
  rgb(160, 180, 39), rgb(203, 169, 71), rgb(0, 112, 188);
$colors-44: rgb(227, 100, 57), rgb(168, 97, 88), rgb(185, 52, 30), rgb(119, 61, 27),
  rgb(127, 42, 49), rgb(189, 38, 95), rgb(143, 80, 117), rgb(114, 34, 87), rgb(83, 61, 113),
  rgb(87, 40, 161), rgb(53, 80, 149), rgb(123, 90, 216), rgb(136, 111, 167), rgb(204, 106, 222),
  rgb(235, 66, 163), rgb(188, 113, 147), rgb(223, 153, 207), rgb(168, 157, 225), rgb(90, 125, 207),
  rgb(95, 172, 227), rgb(80, 184, 193), rgb(88, 193, 151), rgb(92, 201, 80), rgb(74, 156, 53),
  rgb(82, 120, 44), rgb(46, 85, 47), rgb(100, 86, 32), rgb(63, 87, 0), rgb(147, 132, 53),
  rgb(211, 172, 68), rgb(223, 141, 46), rgb(216, 154, 117), rgb(228, 140, 143), rgb(232, 72, 94),
  rgb(168, 50, 166), rgb(43, 122, 144), rgb(0, 113, 188), rgb(0, 112, 77), rgb(65, 137, 110),
  rgb(155, 174, 118), rgb(164, 181, 41), rgb(163, 105, 47), rgb(123, 58, 0), rgb(0, 190, 180);
$colors-45: rgb(222, 144, 119), rgb(224, 91, 48), rgb(227, 140, 55), rgb(197, 163, 110),
  rgb(214, 169, 40), rgb(168, 181, 48), rgb(149, 174, 120), rgb(95, 201, 75), rgb(74, 156, 49),
  rgb(79, 119, 44), rgb(45, 85, 47), rgb(99, 85, 32), rgb(62, 86, 0), rgb(141, 131, 49),
  rgb(163, 107, 47), rgb(120, 62, 26), rgb(182, 49, 32), rgb(166, 96, 87), rgb(231, 76, 96),
  rgb(183, 45, 96), rgb(125, 43, 49), rgb(113, 38, 89), rgb(125, 82, 132), rgb(174, 47, 165),
  rgb(127, 91, 216), rgb(143, 120, 178), rgb(168, 160, 229), rgb(219, 153, 212), rgb(207, 103, 221),
  rgb(236, 68, 161), rgb(177, 106, 142), rgb(226, 141, 157), rgb(89, 127, 209), rgb(58, 86, 157),
  rgb(65, 57, 110), rgb(91, 41, 162), rgb(43, 122, 142), rgb(92, 173, 226), rgb(81, 184, 190),
  rgb(79, 195, 149), rgb(66, 138, 110), rgb(0, 112, 78), rgb(0, 189, 183), rgb(0, 112, 188),
  rgb(122, 59, 0);
$colors-46: rgb(229, 73, 62), rgb(166, 98, 88), rgb(183, 35, 64), rgb(120, 47, 36), rgb(171, 64, 19),
  rgb(109, 73, 31), rgb(122, 57, 0), rgb(166, 115, 49), rgb(227, 152, 48), rgb(215, 158, 119),
  rgb(223, 113, 56), rgb(226, 140, 138), rgb(231, 77, 118), rgb(234, 72, 179), rgb(198, 115, 225),
  rgb(166, 155, 221), rgb(226, 154, 204), rgb(180, 115, 151), rgb(177, 60, 118), rgb(119, 46, 74),
  rgb(84, 54, 103), rgb(138, 29, 136), rgb(175, 62, 185), rgb(127, 98, 151), rgb(118, 94, 217),
  rgb(90, 125, 205), rgb(48, 128, 153), rgb(97, 173, 229), rgb(79, 186, 193), rgb(115, 194, 151),
  rgb(70, 201, 84), rgb(82, 157, 47), rgb(73, 120, 47), rgb(52, 78, 33), rgb(44, 109, 90),
  rgb(76, 151, 117), rgb(148, 145, 70), rgb(162, 188, 70), rgb(204, 175, 66), rgb(115, 105, 37),
  rgb(61, 87, 0), rgb(0, 112, 78), rgb(0, 192, 177), rgb(0, 113, 188), rgb(51, 80, 143),
  rgb(79, 46, 164);
$colors-47: rgb(175, 105, 91), rgb(234, 85, 67), rgb(194, 47, 70), rgb(124, 40, 48),
  rgb(149, 80, 106), rgb(190, 27, 119), rgb(161, 54, 170), rgb(123, 99, 153), rgb(102, 85, 211),
  rgb(48, 90, 153), rgb(64, 60, 115), rgb(88, 38, 158), rgb(109, 42, 92), rgb(180, 115, 157),
  rgb(229, 76, 193), rgb(174, 111, 224), rgb(169, 159, 221), rgb(225, 152, 214), rgb(227, 142, 151),
  rgb(232, 78, 125), rgb(174, 57, 22), rgb(111, 62, 31), rgb(157, 100, 42), rgb(168, 135, 63),
  rgb(225, 166, 66), rgb(221, 155, 120), rgb(221, 119, 45), rgb(122, 57, 0), rgb(106, 93, 34),
  rgb(62, 87, 0), rgb(48, 78, 35), rgb(71, 118, 50), rgb(126, 138, 46), rgb(61, 158, 53),
  rgb(114, 196, 59), rgb(161, 178, 121), rgb(186, 180, 49), rgb(79, 200, 143), rgb(79, 152, 119),
  rgb(42, 112, 97), rgb(0, 112, 78), rgb(0, 189, 182), rgb(83, 187, 190), rgb(96, 177, 231),
  rgb(52, 134, 161), rgb(99, 129, 212), rgb(0, 112, 187);
$colors-48: rgb(167, 96, 91), rgb(226, 81, 50), rgb(191, 35, 61), rgb(120, 43, 49), rgb(162, 55, 19),
  rgb(107, 64, 30), rgb(123, 58, 0), rgb(109, 96, 37), rgb(163, 130, 49), rgb(130, 141, 54),
  rgb(62, 157, 50), rgb(114, 196, 57), rgb(154, 182, 127), rgb(58, 201, 136), rgb(78, 150, 116),
  rgb(43, 109, 91), rgb(71, 118, 46), rgb(49, 77, 33), rgb(62, 87, 0), rgb(165, 103, 50),
  rgb(227, 131, 53), rgb(205, 165, 116), rgb(225, 167, 44), rgb(183, 180, 53), rgb(85, 187, 183),
  rgb(0, 189, 184), rgb(50, 132, 154), rgb(92, 136, 216), rgb(142, 122, 200), rgb(172, 164, 227),
  rgb(220, 151, 215), rgb(226, 143, 163), rgb(174, 111, 150), rgb(234, 68, 166), rgb(204, 100, 222),
  rgb(169, 49, 168), rgb(121, 87, 138), rgb(109, 41, 90), rgb(174, 54, 107), rgb(231, 80, 109),
  rgb(223, 141, 120), rgb(111, 84, 212), rgb(58, 96, 164), rgb(58, 61, 118), rgb(91, 37, 156),
  rgb(92, 181, 227), rgb(0, 112, 188), rgb(0, 112, 78);
$colors-49: rgb(173, 107, 89), rgb(227, 84, 47), rgb(231, 92, 103), rgb(196, 43, 69),
  rgb(154, 81, 100), rgb(177, 23, 113), rgb(172, 57, 178), rgb(121, 80, 134), rgb(105, 41, 86),
  rgb(97, 34, 155), rgb(59, 59, 119), rgb(51, 93, 155), rgb(99, 83, 207), rgb(131, 116, 172),
  rgb(168, 113, 229), rgb(228, 89, 207), rgb(231, 66, 141), rgb(177, 112, 154), rgb(226, 144, 163),
  rgb(218, 153, 217), rgb(167, 163, 226), rgb(92, 131, 215), rgb(94, 179, 229), rgb(51, 134, 158),
  rgb(84, 188, 187), rgb(80, 151, 118), rgb(60, 158, 53), rgb(113, 197, 60), rgb(162, 178, 121),
  rgb(183, 180, 45), rgb(223, 169, 73), rgb(166, 134, 62), rgb(126, 139, 46), rgb(70, 118, 49),
  rgb(49, 78, 34), rgb(43, 111, 95), rgb(0, 112, 78), rgb(0, 190, 181), rgb(82, 200, 142),
  rgb(108, 95, 36), rgb(61, 87, 0), rgb(121, 56, 0), rgb(108, 63, 31), rgb(166, 55, 23),
  rgb(123, 40, 46), rgb(160, 98, 36), rgb(223, 130, 51), rgb(224, 152, 123), rgb(0, 113, 187);
$colors-50: rgb(225, 86, 48), rgb(223, 143, 120), rgb(226, 134, 54), rgb(203, 166, 115),
  rgb(223, 168, 44), rgb(161, 130, 47), rgb(127, 140, 54), rgb(62, 157, 51), rgb(108, 197, 61),
  rgb(154, 181, 126), rgb(64, 201, 143), rgb(77, 151, 119), rgb(43, 111, 94), rgb(70, 118, 48),
  rgb(48, 77, 34), rgb(107, 94, 36), rgb(62, 87, 0), rgb(121, 58, 0), rgb(107, 65, 31),
  rgb(162, 57, 15), rgb(191, 43, 55), rgb(168, 98, 92), rgb(232, 82, 101), rgb(235, 71, 150),
  rgb(179, 116, 156), rgb(227, 144, 162), rgb(218, 157, 217), rgb(227, 101, 216), rgb(164, 115, 226),
  rgb(124, 104, 159), rgb(106, 84, 210), rgb(71, 43, 158), rgb(80, 58, 109), rgb(139, 38, 151),
  rgb(188, 61, 179), rgb(145, 80, 116), rgb(189, 34, 100), rgb(112, 37, 80), rgb(123, 44, 46),
  rgb(164, 104, 50), rgb(179, 181, 50), rgb(83, 187, 189), rgb(94, 176, 229), rgb(90, 127, 209),
  rgb(50, 131, 157), rgb(48, 83, 144), rgb(164, 160, 222), rgb(0, 188, 184), rgb(0, 112, 78),
  rgb(0, 112, 187);

$color-sets: (
  colors-1: $colors-5,
  colors-2: $colors-5,
  colors-3: $colors-5,
  colors-4: $colors-5,
  colors-5: $colors-5,
  colors-6: $colors-6,
  colors-7: $colors-7,
  colors-8: $colors-8,
  colors-9: $colors-9,
  colors-10: $colors-10,
  colors-11: $colors-11,
  colors-12: $colors-12,
  colors-13: $colors-13,
  colors-14: $colors-14,
  colors-15: $colors-15,
  colors-16: $colors-16,
  colors-17: $colors-17,
  colors-18: $colors-18,
  colors-19: $colors-19,
  colors-20: $colors-20,
  colors-21: $colors-21,
  colors-22: $colors-22,
  colors-23: $colors-23,
  colors-24: $colors-24,
  colors-25: $colors-25,
  colors-26: $colors-26,
  colors-27: $colors-27,
  colors-28: $colors-28,
  colors-29: $colors-29,
  colors-30: $colors-30,
  colors-31: $colors-31,
  colors-32: $colors-32,
  colors-33: $colors-33,
  colors-34: $colors-34,
  colors-35: $colors-35,
  colors-36: $colors-36,
  colors-37: $colors-37,
  colors-38: $colors-38,
  colors-39: $colors-39,
  colors-40: $colors-40,
  colors-41: $colors-41,
  colors-42: $colors-42,
  colors-43: $colors-43,
  colors-44: $colors-44,
  colors-45: $colors-45,
  colors-46: $colors-46,
  colors-47: $colors-47,
  colors-48: $colors-48,
  colors-49: $colors-49,
  colors-50: $colors-50,
);
