:host ::ng-deep button {
  max-width: 150px;
  width: 100%;
}

section {
  padding: 0px 20px;

  mat-card {
    margin-top: 20px;
  }

  textarea {
    width: 100%;
    min-height: 50px;
    max-height: 30vh;
  }

  div.query-selection-actions {
    overflow: hidden;

    kusto-query-selection {
      display: inline-block;
      max-width: 575px;
      width: 100%;
    }

    button.run-query {
      margin-top: 20px;
    }
  }
}
