<mat-accordion *ngIf="whatToShow">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon
          color="warn"
          *ngIf="errors?.length > 0"
          [matTooltip]="errors?.length + ' errors found.'"
          >warning</mat-icon
        >
        {{ whatToShow.title }}
      </mat-panel-title>
      <mat-panel-description>{{ whatToShow.description }}</mat-panel-description>
    </mat-expansion-panel-header>
    <table mat-table [dataSource]="whatToShow.items">
      <ng-container matColumnDef="quantity">
        <td mat-cell *matCellDef="let item">{{ item.quantity }}</td>
      </ng-container>
      <ng-container matColumnDef="description">
        <td mat-cell *matCellDef="let item">
          <mat-icon
            class="item-warning"
            *ngFor="let warning of entry(item).warnings"
            [color]="warning.color"
            [matTooltip]="warning.text"
          >
            {{ warning.icon }}</mat-icon
          >
          {{ item.description }}
          <span class="item-id-text" *ngIf="item.id >= 0">[{{ item.id }}]</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="dateAquired">
        <td mat-cell *matCellDef="let item">
          <span *ngIf="item.acquiredUtc">{{ item.acquiredUtc | date: 'shortDate' }}</span>
          <span *ngIf="!item.acquiredUtc">N/A</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="errors">
        <td mat-cell *matCellDef="let item">
          <pre *ngIf="item.error">{{ item.error | json }}</pre>
        </td>
      </ng-container>
      <tr
        mat-row
        *matRowDef="let row; columns: inventoryColumns; let entry"
        [class.giftError]="!!entry.error"
      ></tr>
    </table>
  </mat-expansion-panel>
</mat-accordion>
