@import '/src/styles/mixins';

mat-card {
  max-height: unset;

  table {
    width: 100%;

    tr {
      height: $auction-row-height !important;
    }

    span {
      display: block;
    }

    img {
      max-width: $max-auction-image-width;
      cursor: pointer;
    }

    .auction-flagged {
      color: app-color-default($app-warn);
    }
  }

  mat-progress-spinner {
    margin: auto;
    margin-top: $gap-small;
  }
}
