@import '/src/styles/mixins';

mat-form-field {
  max-width: 95%; // TODO: This is a hack to avoid the negative margin hiding in here from generating horizontal scroll bars.
  &:not(.display-in-single-line) {
    display: block;
  }
}

.player-chip-list-constraint {
  max-height: 10em;
  overflow-x: hidden;
  overflow-y: auto;
}

.fill-button-toggle-group {
  width: 100%;
  margin-bottom: 20px;

  > * {
    width: 100%;
  }
}

// the chip is clickable
mat-chip {
  cursor: pointer;
}

.identity-valid {
  background-color: app-color-lighter($app-primary);
}

.identity-invalid {
  background-color: app-color-lighter($app-warn);
}

:host ::ng-deep .display-in-single-line.has-result .mat-form-field-label-wrapper {
  display: none;
}
