@import '/src/variables.scss';

mat-form-field {
  display: block;
  max-width: 95%; // TODO: This is a hack to avoid the negative margin hiding in here from generating horizontal scroll bars.
}

// the chip is clickable
mat-chip {
  cursor: pointer;
}

.identity-valid {
  background-color: mat-color($app-primary, 'lighter');
}

.identity-invalid {
  background-color: mat-color($app-warn, 'lighter');
}
