@import '/src/styles/mixins';

button {
  @include standard-button-medium;
}

section {
  padding: 0 $gap-medium;

  mat-card {
    margin-top: $gap-medium;
  }

  textarea {
    width: 100%;
    min-height: $text-area-medium-height;
    max-height: 30vh;
  }

  div.query-selection-actions {
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-top: $gap-medium;

    kusto-query-selection {
      display: block;
      flex-grow: 1;
      margin-right: $gap-medium;
    }
  }
}

.full-width {
  width: 100%;
}
