<div class="steward-layout-with-sidebar">
  <div class="steward-layout-sidebar-group">
    <div class="steward-layout-pane player-selection-div steward-layout-vertical-fill">
      <mat-tab-group mat-stretch-tabs class="steward-layout-vertical-fill">
        <mat-tab label="Player Selection">
          <mat-card class="player-selection steward-layout-vertical-fill">
            <player-selection-bulk
              [disableLookupTypes]="['t10Id']"
              [allowSelection]="true"
              [rejectionFn]="identityRejectionFn"
              [sortFn]="identitySortFn$"
              (found)="onPlayerIdentitiesChange($event)"
              (selected)="playerIdentitySelected($event)"
            >
              <ng-template let-identity>
                <ban-chip-icon
                  *ngIf="identity?.extra?.hasSunrise"
                  [identity]="identity.sunrise"
                  [banSummary]="summaryLookup[identity.sunrise.xuid]"
                ></ban-chip-icon>
              </ng-template>
            </player-selection-bulk>
          </mat-card>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="steward-layout-pane steward-layout-fill ban-history">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Ban History</mat-card-title>
          <mat-card-subtitle>Sunrise</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <sunrise-ban-history-compact
            *ngFor="let xuid of bannedXuids"
            [xuid]="xuid"
            [hidden]="!xuid.isEqualTo(selectedPlayer?.xuid)"
          ></sunrise-ban-history-compact>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="steward-layout-pane steward-layout-main-group">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Player Ban</mat-card-title>
        <mat-card-subtitle>Sunrise</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ng-container *waitForMonitor="banActionMonitor">
          <ng-container *ngIf="!banResults; else banResultsState">
            <form [formGroup]="formGroup">
              <ban-options [formControl]="formControls.banOptions"></ban-options>
              <div class="ban-action-container">
                <verify-button
                  [disabled]="!canBan()"
                  #verifyBtn
                  [permissionAttribute]="permAttribute"
                  [permissionTitle]="gameTitle"
                ></verify-button>
                <button
                  mat-raised-button
                  color="warn"
                  (click)="submitBan()"
                  clickStop
                  stateManager
                  monitorDisable
                  [monitor]="banActionMonitor"
                  [disabled]="!canBan()"
                  [verifyWithV2]="verifyBtn"
                  matTooltip="Create or force replace pipeline (even if it is in an UNSAFE state)"
                >
                  Ban
                  <button-spinner [monitor]="banActionMonitor" defaultIcon="gavel"></button-spinner>
                </button>
              </div>
            </form>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="!banActionMonitor?.isActive">
          <button
            *ngIf="!!banActionMonitor.status.error"
            class="reset-state"
            mat-raised-button
            color="accent"
            matTooltip="Reset the failed tool."
            (click)="resetBanningToolUI()"
            clickStop
          >
            Reset Tool
          </button>
        </ng-container>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<ng-template #banResultsState>
  <ban-results [banResults]="banResults"></ban-results>
  <button
    class="reset-state"
    mat-raised-button
    color="accent"
    matTooltip="Send another ban."
    (click)="resetBanningToolUI()"
    clickStop
  >
    Send another ban
  </button>
</ng-template>
