<div class="steward-layout-with-sidebar">
  <div class="steward-layout-sidebar-group">
    <div class="steward-layout-pane">
      <select-team-from-list
        (selectedTeamChange)="selectedTeamChange($event)"
      ></select-team-from-list>
    </div>
  </div>

  <div class="steward-layout-pane steward-layout-fill reference-inventory">
    <mat-card class="steward-layout-sticky-scroll">
      <mat-card-header class="sf-header">
        <mat-card-title>Manage Team</mat-card-title>
        <mat-card-subtitle>Add and remove users within as team</mat-card-subtitle>
        <div class="sf-spacer"></div>
      </mat-card-header>
      <ng-container *ngIf="!!selectedTeam">
        <div>{{ selectedTeam.name }} | {{ selectedTeam.teamLead.objectId }}</div>
        <div *ngFor="let member of selectedTeam.members">
          -- <steward-user [objectId]="member"></steward-user>
        </div>
      </ng-container>
    </mat-card>
  </div>
</div>
