<auction-action-log-table
  *ngIf="getMonitor.status.state !== 'error'; else spinner"
  [service]="service"
  [auctionLog]="auctionLog"
>
  <span extraControl *ngIf="!mayHaveMoreItems">All items loaded</span>
  <button
    extraControl
    mat-mini-fab
    (click)="loadMore()"
    clickStop
    [disabled]="!canLoadMore"
    matTooltip="Load More Items"
  >
    <mat-icon>navigate_next</mat-icon>
  </button>
  <button
    extraControl
    mat-mini-fab
    (click)="loadRest()"
    clickStop
    [disabled]="!canLoadMore"
    matTooltip="Load Remaining Items"
  >
    <mat-icon>last_page</mat-icon>
  </button>
</auction-action-log-table>

<ng-template #spinner>
  <error-spinner
    [isActive]="getMonitor.status.state === 'active'"
    [error]="getMonitor.status.error"
    spinnerMessage="Finding user auction actions"
  ></error-spinner>
</ng-template>
