<mat-form-field class="date-picker" appearance="fill">
  <mat-label>Ban End Date</mat-label>
  <input matInput [matDatepicker]="datePicker" disabled />
  <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
  <mat-datepicker #datePicker></mat-datepicker>
</mat-form-field>

<mat-button-toggle-group [formControl]="formControl">
  <mat-button-toggle *ngFor="let option of options; let i = index" [value]="option.duration">
    {{ option.humanized }}
  </mat-button-toggle>
</mat-button-toggle-group>
