<mat-form-field class="date-picker" appearance="fill">
  <mat-label>Ban End Date</mat-label>
  <input matInput [matDatepicker]="datePicker" disabled>
  <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
  <mat-datepicker #datePicker></mat-datepicker>
</mat-form-field>

<mat-button-toggle-group [(ngModel)]="value" (change)="onDurationChange($event)" [disabled]="isDisabled">
  <mat-button-toggle *ngFor="let option of options; let i=index" [value]="option.duration" [checked]="i === 0">
    {{ option.humanized }}
  </mat-button-toggle>
</mat-button-toggle-group>