@import '/src/styles/mixins';

mat-panel-title,
mat-panel-description {
  align-items: center;
}

pre {
  white-space: pre-wrap;
  overflow: hidden;
}

button.reset-state {
  margin-top: $gap-medium;
}
