<section class="player-details">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Player Details</mat-card-title>
      <mat-card-subtitle> {{ gameTitle }} (click on row to copy) </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div>
        <ng-container *ngIf="!isLoading && !loadError; else failstate">
          <player-details-item
            [name]="'XUID'"
            [value]="playerDetailsComposite.xuid"
          ></player-details-item>
          <player-details-item
            [name]="'Gamertag'"
            [value]="playerDetailsComposite.gamertag"
          ></player-details-item>
          <player-details-item
            [name]="'First Login'"
            [value]="playerDetailsComposite.firstLoginUtc"
          ></player-details-item>
          <player-details-item
            [name]="'Last Login'"
            [value]="playerDetailsComposite?.lastLoginUtc"
          ></player-details-item>
          <player-details-item
            [name]="'Region'"
            [value]="playerDetailsComposite.region"
          ></player-details-item>
          <player-details-item
            [name]="'Country'"
            [value]="playerDetailsComposite.country"
          ></player-details-item>
          <player-details-item
            [name]="'IP Address'"
            [value]="playerDetailsComposite.ipAddress"
          ></player-details-item>
          <player-details-item
            [name]="'LCID'"
            [value]="playerDetailsComposite.lcid"
          ></player-details-item>
          <player-details-item
            [name]="'Age Group'"
            [value]="playerDetailsComposite.ageGroup"
          ></player-details-item>
          <player-details-item
            [name]="'Subscription Tier'"
            [value]="playerDetailsComposite.subscriptionTier"
          ></player-details-item>
          <player-details-item
            [name]="'Career Level'"
            [value]="playerDetailsComposite.currentCareerLevel"
          ></player-details-item>
          <player-details-item
            [name]="'Flags'"
            [value]="playerDetailsComposite.flags"
          ></player-details-item>
          <player-details-item
            [name]="'License Plate'"
            [value]="playerDetailsComposite.licensePlate"
          ></player-details-item>
          <player-details-item
            [name]="'Painter Thread Level'"
            [value]="playerDetailsComposite.painterThreadLevel"
          ></player-details-item>
          <player-details-item
            [name]="'Photo Thread Level'"
            [value]="playerDetailsComposite.photoThreadLevel"
          ></player-details-item>
          <player-details-item
            [name]="'Tuner Thread Level'"
            [value]="playerDetailsComposite.tunerThreadLevel"
          ></player-details-item>
          <player-details-item
            [name]="'Blueprint Thread Level'"
            [value]="playerDetailsComposite.blueprintThreadLevel"
          ></player-details-item>
          <player-details-item
            [name]="'Club Id'"
            [value]="playerDetailsComposite.clubId"
          ></player-details-item>
          <player-details-item
            [name]="'Club Tag'"
            [value]="playerDetailsComposite.clubTag"
          ></player-details-item>
          <player-details-item
            [name]="'Role In Club'"
            [value]="playerDetailsComposite.roleInClub"
          ></player-details-item>
          <player-details-item
            [name]="'Team Id'"
            [value]="playerDetailsComposite.teamId"
          ></player-details-item>
          <player-details-item
            [name]="'Team Tag'"
            [value]="playerDetailsComposite.teamTag"
          ></player-details-item>
          <player-details-item
            [name]="'Role In Team'"
            [value]="playerDetailsComposite.roleInTeam"
          ></player-details-item>
          <player-details-item
            [name]="'Current Badge Id'"
            [value]="playerDetailsComposite.currentBadgeId"
          ></player-details-item>
          <player-details-item
            [name]="'Current Driver Model Id'"
            [value]="playerDetailsComposite.currentDriverModelId"
          ></player-details-item>
          <player-details-item
            [name]="'Current Player Title Id'"
            [value]="playerDetailsComposite.currentPlayerTitleId"
          ></player-details-item>
          <player-details-item
            [name]="'Equipped Vanity Item Id'"
            [value]="playerDetailsComposite.equippedVanityItemId"
          ></player-details-item>
          <player-details-item
            [name]="'Accepts Club Invites'"
            [value]="playerDetailsComposite.acceptsClubInvites"
          ></player-details-item>
          <player-details-item
            [name]="'Club Top Tier Count'"
            [value]="playerDetailsComposite.clubTopTierCount"
          ></player-details-item>
          <player-details-item
            [name]="'User Age Group'"
            [value]="playerDetailsComposite.ageGroup"
          ></player-details-item>
        </ng-container>
      </div>
    </mat-card-content>
  </mat-card>
</section>

<ng-template #failstate>
  <mat-progress-spinner *ngIf="isLoading" mode="indeterminate"></mat-progress-spinner>
  <json-dump *ngIf="loadError" [input]="loadError">Failed to load.</json-dump>
</ng-template>
