@import '/src/styles/mixins';

mat-form-field {
  width: 100%;
}

// the chip is clickable
mat-chip {
  cursor: pointer;
}

.identity-valid {
  background-color: app-color-lighter($app-primary);
}

.identity-invalid {
  background-color: app-color-lighter($app-warn);
}
