@import '/src/variables.scss';

:host {
  margin: $gap-vertical-layout $gap-side-gutter;
  text-align: center;
}

mat-card {
  margin: $gap-vertical-layout $gap-side-gutter;
  text-align: left;
  max-width: 75%;
  pre {
    white-space: pre-wrap;
    overflow: hidden;
  }
}
