@import '/src/styles/mixins';

mat-card {
  mat-card-content {
    padding: $gap-medium 0;
  }
}

mat-icon {
  position: relative;
  top: $gap-micro;
}

error-spinner {
  margin-left: $gap-small;
}

div.selected-filters {
  margin: $gap-small 0;
}

form {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;

  mat-form-field {
    max-width: 500px;
    width: 100%;
    flex-grow: 1;
    margin-right: $gap-medium;
  }

  .line-break {
    flex-basis: 100%;
  }
}

mat-icon {
  cursor: pointer;
}

mat-chip > mat-icon,
button mat-icon {
  top: unset;
}
