<form [formGroup]="formGroup" class="sf-wrapper">
  <div class="sf-vertical">
    <steelhead-general-tile [formControl]="formControls.baseTile"></steelhead-general-tile>

    <select-localized-string
      [service]="localizationSelectServiceContract"
      [formControl]="formControls.localizedPopupTitle"
      label="Popup Title"
      formControlName="localizedPopupTitle"
    ></select-localized-string>
    <select-localized-string
      [service]="localizationSelectServiceContract"
      [formControl]="formControls.localizedPopupDescription"
      label="Popup Description"
      formControlName="localizedPopupDescription"
    ></select-localized-string>
    <div>
      <verify-button
        #verifyBtn
        stateManager
        [permissionAttribute]="permAttribute"
        [permissionTitle]="gameTitle"
        [disabled]="!isInEditMode"
      ></verify-button>
      <button
        mat-raised-button
        color="accent"
        (click)="submitChanges()"
        [disabled]="!isInEditMode || !formGroup.valid"
        stateManager
        [monitor]="submitWelcomeCenterTileMonitor"
        [verifyWithV2]="verifyBtn"
        monitorDisable
      >
        Submit Modification
        <button-spinner
          [monitor]="submitWelcomeCenterTileMonitor"
          defaultIcon="save"
        ></button-spinner>
      </button>
    </div>
  </div>
</form>
<span *ngIf="pullRequestUrl">
  A pull request for your changes has been created. You can access it
  <a target="_blank" href="{{ pullRequestUrl }}"> here </a>
</span>
