# This file builds and packages a nuget package, as a preview.
# Designed for use with Analyzer-Documentation.

parameters:
- name: 'workingDirectory'
  displayName: "Path to a working directory where dotnet can be run. Like 'packages/Analyzer-Documentation'."
  type: string
- name: 'nugetName'
  displayName: "Name of the resulting nuget. Like 'Analyzer_Documentation'"
  type: string

jobs:
- job: Nuget_Publish
  displayName: Publish Nuget (Pre-release)
  steps:
  - template: ../prepare-nuget-project.template.yml
    parameters:
      workingDirectory: ${{parameters.workingDirectory}}

  - task: DotNetCoreCLI@2
    displayName: Build
    inputs:
      command: build
      projects: >-
        ${{parameters.workingDirectory}}/**/*.csproj
      selectOrConfig: config
      feedRestore: 'Turn10-LiveOps'

  - task: DotNetCoreCLI@2
    displayName: Pack Nugets
    inputs:
      command: pack
      configuration: $(BuildConfiguration)
      packagesToPack: '${{parameters.workingDirectory}}/**/*.Package.csproj'
      versioningScheme: byPrereleaseNumber
      packDestination: '$(Build.ArtifactStagingDirectory)/'

  - task: PublishBuildArtifacts@1
    displayName: 'Publish artifact folder'
    inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)'
      ArtifactName: ${{parameters.nugetName}}

  # Publish
  - task: DotNetCoreCLI@2
    displayName: 'Push nuget to feed'
    inputs:
      command: 'push'
      nuGetFeedType: 'internal'
      packagesToPush: '$(build.artifactStagingDirectory)/${{params.nugetName}}*.nupkg'
      publishVstsFeed: 'Turn10-LiveOps'