<mat-tab-group class="steward-layout-vertical-fill">
  <mat-tab label="Message Of The Day">
    <ng-container *waitForMonitor="getListActionMonitor">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Message Of The Day</mat-card-title>
          <mat-card-subtitle>{{ gameTitle | humanize }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="formGroup" class="sf-wrapper">
            <div class="sf-vertical">
              <div class="sf-horizontal">
                <mat-form-field class="sf-default-hint">
                  <mat-label>Select Message Of The Day</mat-label>
                  <mat-select
                    [formControl]="formControls.selectedMessageOfTheDay"
                    (selectionChange)="messageOfTheDayChanged()"
                  >
                    <mat-option
                      *ngFor="let motd of messageOfTheDayList | keyvalue"
                      [value]="motd.key"
                    >
                      {{ motd.value | humanize }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <button
                  mat-raised-button
                  color="accent"
                  (click)="toggleEditMode()"
                  [disabled]="!formControls.selectedMessageOfTheDay.value"
                >
                  Edit
                </button>
              </div>
              <select-localized-string
                [service]="localizationSelectServiceContract"
                [formControl]="formControls.localizedTitleHeader"
                label="Title Header"
                formControlName="localizedTitleHeader"
              ></select-localized-string>
              <div class="sf-horizontal">
                <mat-form-field appearance="fill" class="sf-simple-date sf-default-hint">
                  <mat-label>Date (mm/dd/yyyy)</mat-label>
                  <input
                    matInput
                    [matDatepicker]="picker"
                    [formControl]="formControls.date"
                    [disabled]="!isInEditMode"
                  />
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <select-localized-string
                [service]="localizationSelectServiceContract"
                [formControl]="formControls.localizedContentHeader"
                label="Content Header"
                formControlName="localizedContentHeader"
              ></select-localized-string>
              <select-localized-string
                [service]="localizationSelectServiceContract"
                [formControl]="formControls.localizedContentBody"
                label="Content Body"
                formControlName="localizedContentBody"
              ></select-localized-string>
              <mat-form-field appearance="fill" class="sf-default-hint">
                <mat-label>Content Image Path</mat-label>
                <input
                  type="text"
                  matInput
                  [formControl]="formControls.contentImagePath"
                  [readonly]="!isInEditMode"
                />
                <button
                  type="button"
                  mat-button
                  matSuffix
                  mat-icon-button
                  aria-label="Clear"
                  (click)="clearContentImagePath()"
                  [disabled]="!isInEditMode"
                >
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
              <div class="sf-horizontal">
                <button
                  mat-raised-button
                  color="accent"
                  (click)="submitChanges()"
                  [disabled]="!isInEditMode || !verifyModification.checked || !formGroup.valid"
                >
                  Submit Modification
                </button>
                <mat-checkbox
                  #verifyModification
                  [disabled]="!isInEditMode"
                  matTooltip="Verify Modification"
                  >Verify Modification</mat-checkbox
                >
              </div>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </mat-tab>
  <mat-tab label="Localization">
    <create-localized-string
      [service]="localizationCreationServiceContract"
    ></create-localized-string>
  </mat-tab>
</mat-tab-group>
