<mat-card>
  <mat-card-header>
    <mat-card-title>Public UGC Search</mat-card-title>
    <mat-card-subtitle>{{ gameTitle | titlecase }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <woodstock-ugc-search-filters
      (changes)="changeUgcSearchParameters($event)"
      [searchMonitor]="getMonitor"
    ></woodstock-ugc-search-filters>

    <ng-container *ngIf="!getMonitor?.status?.error; else failstate">
      <woodstock-ugc-table #ugcTable [content]="ugcContent"></woodstock-ugc-table>
    </ng-container>

    <ng-template #failstate>
      <json-dump [input]="getMonitor?.status?.error">Failed to search UGC content.</json-dump>
    </ng-template>
  </mat-card-content>
</mat-card>
