@use '@angular/material' as mat;
@import '/src/styles/mixins';

// Horizontal divider with text from here: https://stackoverflow.com/questions/2812770/add-centered-text-to-the-middle-of-a-horizontal-rule
.horizontal-divider {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  margin-top: $gap-medium;
  margin-bottom: $gap-medium;
}

.horizontal-divider > span {
  position: relative;
  display: inline-block;
}

.horizontal-divider > span:before,
.horizontal-divider > span:after {
  content: '';
  position: absolute;
  top: 50%;
  width: 9999px;
  height: $gap-micro;
  background: app-color-default($app-primary);
}

.horizontal-divider > span:before {
  right: 100%;
  margin-right: 15px;
}

.horizontal-divider > span:after {
  left: 100%;
  margin-left: 15px;
}

mat-chip.filter-type-title.filter-type-title.filter-type-title {
  background-color: app-color-default($app-primary);
  color: app-color-default-contrast($app-primary);
}

mat-chip.filter-type-text.filter-type-text.filter-type-text {
  background-color: app-color-default($app-accent);
}

:host {
  padding: $gap-medium;
  display: flex;
  flex-flow: column nowrap;
}

.no-results-container {
  margin: $gap-large * 4 0;
  font-size: $font-size-navbar;
}

.mat-chip {
  margin-left: $gap-small;
}

.disabled-tools-info {
  text-align: center;
  font-size: $font-size-navbar;
  margin: $gap-large;
}

.app-tiles-wrapper {
  // horizontal positioning and sizing of the box
  display: grid;
  flex-grow: 0;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 1rem;
  margin-bottom: 1rem;

  // aspect ratio trickery
  & > * {
    // background-color: magenta;
    position: relative;

    .tile-aspect {
      // background-color: lime;
      width: 100%;
      padding-top: 100%;
    }

    .tile-content {
      // background-color: black;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
    }
  }

  // getting the cards to play inside the box
  & > * {
    .tile-content {
      overflow: hidden;
      mat-card {
        max-height: unset;
        // constrain to container
        height: 100%;

        // fixes vertical & horizontal overflow
        padding: 0;

        // fixes vertical & horizontal overflow
        img[mat-card-image] {
          width: 100%;
          margin-left: 0;
          margin-right: 0;
        }

        // fixes vertical & horizontal overflow
        mat-card-actions {
          margin-left: 0;
          margin-right: 0;
        }

        // make header sticky with scroll bar
        mat-card-header {
          position: sticky;
          top: 0;

          ::ng-deep & > .mat-card-header-text {
            // this highlights badly but it definitely works
            flex-shrink: 1;
            min-width: 0;
          }

          // needs some help covering up the content as it scrolls by
          padding-top: 1em;
          padding-left: 1em;
          padding-right: 1em;

          mat-card-subtitle {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }

        // make footer sticky with scroll bar
        mat-card-actions {
          position: sticky;
          bottom: 0;

          // baseline fix for checkbox
          align-items: center;

          // otherwise this produces a scrollbar when none is needed
          overflow: hidden;

          // otherwise this produces a scrollbar when none is needed
          ::ng-deep .mat-checkbox-layout {
            overflow: hidden;
            margin-left: 0.5em;
          }
        }
      }

      // grow the content to lay out nicely inside the tile}
      mat-card {
        display: flex;
        flex-flow: column nowrap;

        > * {
          margin-top: 0;
          margin-bottom: 0;
        }

        img[mat-card-image] {
          flex-shrink: 1;
          padding-bottom: 1em;
        }

        mat-card-content {
          flex-grow: 1;
          padding-left: 1em;
          padding-right: 1em;
        }

        mat-card-actions {
          flex-shrink: 0;
        }
      }
    }
  }
}

// this should probably just be global
mat-icon[mat-card-avatar] {
  font-size: 2.5rem;
}

.spacer {
  flex-basis: 0;
  flex-grow: 1;
}

.tile-container {
  @include mat.elevation-transition();
  @include mat.elevation(2);
  mat-card,
  mat-card-actions,
  mat-card-header,
  mat-card-title,
  mat-card-subtitle {
    transition: color 0.5s ease, background-color 0.5s ease;
    background-color: app-color-default($app-background);
    color: app-color-default-contrast($app-background);
  }

  mat-card-subtitle {
    color: app-color-default-contrast(
      $app-background,
      'secondary-text'
    ); // opacity value pulled from angular material
  }
}

.activated {
  @include mat.elevation(6);
  mat-card,
  mat-card-actions,
  mat-card-header,
  mat-card-title,
  mat-card-subtitle {
    background-color: app-color-lighter($app-accent) !important;
    color: app-color-lighter-contrast($app-accent) !important;
  }

  mat-card-subtitle {
    color: app-color-lighter-contrast($app-accent, 'secondary-text') !important;
  }
}

.no-access {
  @include mat.elevation(0);
  mat-card {
    background-color: app-color-darker($app-background, 0.2) !important;
    &,
    * {
      color: app-color($app-foreground, 'disabled-text') !important;
    }
  }
  mat-card-actions,
  mat-card-header {
    background-color: transparent;
  }
}

.no-access-warning {
  mat-icon {
    font-size: 1em;
    width: 1em;
    height: 1em;
  }

  ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
  }
}

.tile-content.single-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

:host {
  flex-grow: 1;
  background: url('/assets/promo/1.png') center center / cover fixed border-box;
}
