<div class="default-page-layout">
  <div class="default-page-layout-left">
    <player-selection-single
      [allowSelection]="true"
      (found)="onPlayerIdentityChange($event)"
      (selected)="playerIdentitySelected($event)"
    ></player-selection-single>
  </div>

  <div class="default-page-layout-right">
    <gravity-gift-history-results
      [selectedPlayer]="selectedPlayer"
      [usingPlayerIdentities]="matTabSelectedIndex === 0"
    ></gravity-gift-history-results>
  </div>
</div>
