<div class="steward-layout-with-sidebar">
  <div class="steward-layout-sidebar-group">
    <div class="steward-layout-pane player-selection-div steward-layout-vertical-fill">
      <mat-tab-group mat-stretch-tabs [(selectedIndex)]="matTabSelectedIndex">
        <mat-tab label="Player Selection">
          <mat-card>
            <player-selection-single
              [allowSelection]="true"
              [rejectionFn]="identityRejectionFn"
              (found)="onPlayerIdentityChange($event)"
              (selected)="playerIdentitySelected($event)"
            >
            </player-selection-single>
          </mat-card>
        </mat-tab>
      </mat-tab-group>
    </div>

    <div class="steward-layout-pane steward-layout-fill reference-inventory">
      <mat-card>
        <ng-container *ngIf="selectedPlayerIdentity; else selectPlayerExplanation">
          <gravity-player-inventory-profile-picker
            [identity]="selectedPlayerIdentity"
            [(profileId)]="selectedPlayerInventoryProfile"
          ></gravity-player-inventory-profile-picker>

          <div class="inventory-div">
            <gravity-player-inventory
              [identity]="selectedPlayerIdentity"
              [profileId]="selectedPlayerInventoryProfile"
              (inventoryFound)="onInventoryFound($event)"
            ></gravity-player-inventory>
          </div>
        </ng-container>
      </mat-card>
    </div>
  </div>

  <div class="steward-layout-pane steward-layout-fill reference-inventory">
    <gravity-gift-history-results
      [selectedPlayer]="selectedPlayer"
      [usingPlayerIdentities]="matTabSelectedIndex === 0"
    >
    </gravity-gift-history-results>
  </div>
</div>

<ng-template #selectPlayerExplanation>
  <p>Select a player chip to view inventory</p>
</ng-template>
