<div class="default-page-layout">
    <div class="default-page-layout-left">
      <gravity-player-selection
        [allowT10Id]="true"
        [allowGroup]="false"
        [(ngModel)]="selectedPlayerIdentities"
        (ngModelChange)="onPlayerIdentitiesChange($event)"
        (playerIdentitySelectedEvent)="playerIdentitySelected($event)"
      ></gravity-player-selection>
    </div>
  
    <div class="default-page-layout-right">
      <!-- Page tool -->
      <mat-card>
        <h2>Gravity gift history page state</h2>
        <p>Number of identities: {{ selectedPlayerIdentities?.length }}</p>
        <gravity-gift-history-results [currentPlayer]="currentPlayer"></gravity-gift-history-results>
      </mat-card>
    </div>
  </div>
  