@import '/src/variables.scss';

mat-card {
  padding: 20px;
  display: inline-block;

  #groupDisabledError {
    color: mat-color($app-warn);
  }

  .mat-button-toggle-checked {
    background-color: mat-color($app-primary);
    color: #fff;
  }

  mat-form-field {
    display: block;
    width: 250px;
    
  
    textarea {
      height: 30px;
      font-size: 17px;
    }

    .expanded-text-area {
      height: 200px !important;
    }
  }

  .validateBtn {
    width: 140px;
  }

  .identity-results {
    max-height: 400px;
    overflow: auto;
  }
}