@import '/src/variables.scss';

mat-card {
  height: 400px;

  h2 {
    display: inline-block;
    margin: 0px;
    width: 100%;

    .num-errors-text {
      color: rgb(207, 26, 26);
    }
  }

  .clear-identity-results-btn {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  mat-button-toggle-group {
    width: 100%;

    > * {
      width: 100%;
    }
  }

  .content-container,
  #results-view,
  #fail-state {
    display: block;
    margin-top: 20px;
  }

  #groupDisabledError {
    color: mat-color($app-warn);
  }

  .mat-button-toggle-checked {
    background-color: mat-color($app-primary);
    color: #fff;
  }

  .player-id-input {
    width: 100%;

    mat-form-field {
      display: block;
      width: 100%;

      textarea {
        height: 30px;
        font-size: 17px;
      }

      .expanded-text-area {
        height: 200px !important;
      }
    }

    .validate-btn {
      margin-top: 10px;
      width: 100%;
    }
  }

  .identity-results {
    max-height: 350px;
    overflow-y: scroll;

    ::-webkit-scrollbar {
      width: 2px;
    }

    .validIdentity {
      background-color: mat-color($app-primary);
      color: #fff;
    }
  
    .invalidIdentity {
      background-color: mat-color($app-warn);
      color: #fff;
    }

    .remove-player-icon {
      margin-left: 10px;
      cursor: pointer;
    }
  }

  .identity-results::-webkit-scrollbar {
    width: 5px;
  }

}
