@import '/src/variables.scss';

mat-card {
  height: 400px;

  h2 {
    display: inline-block;
    margin: 0px;
    width: 100%;
  }

  .clear-identity-results-btn {
    position: absolute;
    top: 10px;
    right: 20px;
  }

  mat-button-toggle-group {
    width: 100%;

    > * {
      width: 100%;
    }
  }

  .content-container,
  #results-view,
  #fail-state {
    display: block;
    margin-top: 20px;
  }

  .mat-button-toggle-checked {
    background-color: mat-color($app-primary);
    color: #fff;
  }

  .player-id-input {
    width: 100%;

    mat-form-field {
      display: block;
      width: 100%;

      textarea {
        height: 30px;
        font-size: 17px;
      }

      .expanded-text-area {
        height: 200px !important;
      }
    }

    .validate-btn {
      margin-top: 10px;
      width: 100%;
    }
  }

  .identity-results {
    max-height: 350px;
    overflow-y: scroll;
    margin-top: 20px;

    ::-webkit-scrollbar {
      width: 2px;
    }

    mat-chip {
      cursor: pointer;
    }

    .validIdentity {
      background-color: mat-color($app-primary);
      color: #fff;
    }

    .invalidIdentity {
      background-color: mat-color($app-warn);
      color: #fff;
    }

    .remove-player-icon {
      margin-left: 10px;
      cursor: pointer;
    }
  }

  .selected-player-information {
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 200px;
    border-top: 2px solid rgb(218, 218, 218);
    background-color: #fff;

    .selected-player-information-content {
      padding: 30px;
      margin-right: 30px;

      p {
        margin-bottom: 5px;
      }

      fa-icon {
        color: mat-color($app-primary);
      }
    }

    .close-player-info-button {
      position: absolute;
      top: 10px;
      right: 10px;
      display: block;
    }
  }
}
