<mat-card>
  <mat-card-content>
    <h2>
      Consoles ({{ gameTitle }})
      <error-spinner
        [isActive]="false"
        [error]="loadError"
        spinnerMessage="Loading"
        errorMessage="Failed to load"
      ></error-spinner>
    </h2>
    <ng-container *ngIf="!isLoading && !loadError; else failstate">
      <table mat-table [dataSource]="consoleDetails">
        <ng-container matColumnDef="isBanned">
          <th mat-header-cell *matHeaderCellDef>Is Banned</th>
          <td mat-cell *matCellDef="let entry">
            <fa-icon *ngIf="entry.isBanned" [icon]="bannedIcon"></fa-icon>
          </td>
        </ng-container>
        <ng-container matColumnDef="consoleId">
          <th mat-header-cell *matHeaderCellDef>Console ID</th>
          <td mat-cell *matCellDef="let entry">{{ entry.consoleId }}</td>
        </ng-container>
        <ng-container matColumnDef="deviceType">
          <th mat-header-cell *matHeaderCellDef>Device Type</th>
          <td mat-cell *matCellDef="let entry">
            {{ entry.deviceType | humanize }}
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let entry">
            <ng-container *ngIf="supportsConsoleBanning">
              <verify-action-button
                *ngIf="entry.isBannable && !entry.isBanned"
                [canSubmit]="true"
                checkboxText="Verify ban"
                [action]="makeBanAction(entry.consoleId).bind(this)"
                ><fa-icon [icon]="bannedIcon"></fa-icon> Ban</verify-action-button
              >
              <verify-action-button
                *ngIf="entry.isBannable && entry.isBanned"
                [canSubmit]="true"
                checkboxText="Verify ban removal"
                [action]="makeUnbanAction(entry.consoleId).bind(this)"
                >Unban</verify-action-button
              >
              <ng-container *ngIf="!entry.isBannable">Ban Locked.</ng-container>
            </ng-container>
            <ng-container *ngIf="!supportsConsoleBanning">Banning is not supported.</ng-container>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay"></tr>
      </table>
    </ng-container>
  </mat-card-content>
</mat-card>

<ng-template #failstate>
  <mat-progress-spinner *ngIf="isLoading" mode="indeterminate"> </mat-progress-spinner>
  <json-dump *ngIf="loadError" [input]="loadError">Failed to load.</json-dump>
</ng-template>
