<mat-card>
  <mat-card-header>
    <mat-card-title>Consoles</mat-card-title>
    <mat-card-subtitle>{{ gameTitle }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <ng-container *ngIf="!getConsoles?.isActive && !getConsoles?.status?.error; else failstate">
      <table mat-table [dataSource]="consoleDetails">
        <ng-container matColumnDef="isBanned">
          <th mat-header-cell *matHeaderCellDef>Is Banned</th>
          <td mat-cell *matCellDef="let entry">
            <mat-icon *ngIf="entry.isBanned" svgIcon="steward-gavel"></mat-icon>
          </td>
        </ng-container>
        <ng-container matColumnDef="consoleId">
          <th mat-header-cell *matHeaderCellDef>Console ID</th>
          <td mat-cell *matCellDef="let entry">{{ entry.consoleId }}</td>
        </ng-container>
        <ng-container matColumnDef="deviceType">
          <th mat-header-cell *matHeaderCellDef>Device Type</th>
          <td mat-cell *matCellDef="let entry">
            {{ entry.deviceType | humanize }}
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let entry">
            <ng-container *ngIf="supportsConsoleBanning; else banUnsupportedTemplate">
              <ng-container *ngIf="!disabled; else banRestrictedTemplate">
                <verify-action-button
                  *ngIf="entry.isBannable && !entry.isBanned"
                  [canSubmit]="true"
                  checkboxText="Verify ban"
                  [action]="makeBanAction(entry.consoleId).bind(this)"
                >
                  <mat-icon svgIcon="steward-gavel"></mat-icon> Ban
                </verify-action-button>
                <verify-action-button
                  *ngIf="entry.isBannable && entry.isBanned"
                  [canSubmit]="true"
                  checkboxText="Verify ban removal"
                  [action]="makeUnbanAction(entry.consoleId).bind(this)"
                  >Unban</verify-action-button
                >
                <ng-container *ngIf="!entry.isBannable">Ban Locked.</ng-container>
              </ng-container>
            </ng-container>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay"></tr>
      </table>
    </ng-container>
  </mat-card-content>
</mat-card>

<ng-template #banUnsupportedTemplate> Banning is not supported. </ng-template>

<ng-template #banRestrictedTemplate> Banning is restricted </ng-template>

<ng-template #failstate>
  <mat-progress-spinner *ngIf="getConsoles?.isActive" mode="indeterminate"> </mat-progress-spinner>
  <json-dump *ngIf="!!getConsoles?.status?.error" [input]="getConsoles?.status.error"
    >Failed to load.</json-dump
  >
</ng-template>
