<mat-card>
  <mat-card-header>
    <mat-card-title>Consoles</mat-card-title>
    <mat-card-subtitle>{{ gameTitle | humanize }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <ng-container *waitForMonitor="getConsoles">
      <table mat-table [dataSource]="consoleDetails">
        <ng-container matColumnDef="isBanned">
          <th mat-header-cell *matHeaderCellDef>Is Banned</th>
          <td mat-cell *matCellDef="let entry">
            <mat-icon *ngIf="entry.isBanned" svgIcon="steward-gavel"></mat-icon>
          </td>
        </ng-container>
        <ng-container matColumnDef="consoleId">
          <th mat-header-cell *matHeaderCellDef>Console ID</th>
          <td mat-cell *matCellDef="let entry">{{ entry.consoleId }}</td>
        </ng-container>
        <ng-container matColumnDef="deviceType">
          <th mat-header-cell *matHeaderCellDef>Device Type</th>
          <td mat-cell *matCellDef="let entry">
            {{ entry.deviceType | humanize }}
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let entry">
            <ng-container *ngIf="supportsConsoleBanning; else banUnsupportedTemplate">
              <ng-container *ngIf="!disabled; else banRestrictedTemplate">
                <ng-container *ngIf="entry.isBannable && !entry.isBanned">
                  <button
                    mat-raised-button
                    color="warn"
                    (click)="banAction(entry)"
                    clickStop
                    stateManager
                    monitorDisable
                    monitorWarnSnackbar
                    monitorCompleteSnackbar
                    [monitor]="entry.banActionMonitor"
                    [verifyWith]="verifyBan"
                  >
                    Ban
                    <button-spinner
                      [monitor]="entry.banActionMonitor"
                      defaultIcon="gavel"
                    ></button-spinner>
                  </button>
                  <mat-checkbox
                    #verifyBan
                    stateManager
                    monitorDisable
                    [monitor]="entry.banActionMonitor"
                    [permissionAttribute]="permAttribute"
                    [permissionTitle]="gameTitle"
                    >Verify ban</mat-checkbox
                  >
                </ng-container>
                <ng-container *ngIf="entry.isBannable && entry.isBanned">
                  <button
                    mat-raised-button
                    color="warn"
                    (click)="unbanAction(entry)"
                    clickStop
                    stateManager
                    monitorDisable
                    monitorWarnSnackbar
                    monitorCompleteSnackbar
                    [monitor]="entry.unbanActionMonitor"
                    [verifyWith]="verifyUnban"
                  >
                    Unban
                    <button-spinner
                      [monitor]="entry.unbanActionMonitor"
                      defaultIcon="lock_open"
                    ></button-spinner>
                  </button>
                  <mat-checkbox
                    #verifyUnban
                    stateManager
                    monitorDisable
                    [monitor]="entry.unbanActionMonitor"
                    [permissionAttribute]="permAttribute"
                    [permissionTitle]="gameTitle"
                    >Verify</mat-checkbox
                  >
                </ng-container>

                <ng-container *ngIf="!entry.isBannable">Ban Locked.</ng-container>
              </ng-container>
            </ng-container>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay"></tr>
      </table>
    </ng-container>
  </mat-card-content>
</mat-card>

<ng-template #banUnsupportedTemplate> Banning is not supported. </ng-template>

<ng-template #banRestrictedTemplate> Banning is restricted </ng-template>
