<mat-button-toggle-group
  aria-label="ID Type"
  name="lookupType"
  #lookupTypeGroup="matButtonToggleGroup"
  [(ngModel)]="lookupType"
>
  <mat-button-toggle value="gamertag">GTAG</mat-button-toggle>
  <mat-button-toggle value="xuid">XUID</mat-button-toggle>
  <mat-button-toggle value="t10Id">T10</mat-button-toggle>
</mat-button-toggle-group>

<mat-form-field class="example-chip-list">
  <mat-label>{{ lookupType | humanize }}</mat-label>
  <mat-chip-list #chipList aria-label="Fruit selection" [selectable]="allowSelection">
    <mat-chip
      *ngFor="let identity of foundIdentities"
      #chip="matChip"
      (click)="chip.toggleSelected(true)"
      [selectable]="allowSelection"
      [removable]="true"
      [class.identity-valid]="identity.extra?.isValid"
      [class.identity-invalid]="identity.extra?.isInvalid"
      [color]="identity.extra?.theme"
      (removed)="remove(identity)"
    >
      <span>{{ identity.query[this.lookupType] }}</span>

      <error-spinner
        [isActive]="!identity.extra"
        [error]="identity.extra?.isInvalid ? identity : undefined"
        spinnerMessage="Finding user"
      ></error-spinner>

      <span *ngIf="identity.extra?.label" [matTooltip]="identity.extra?.labelTooltip">
        ({{ identity.extra.label }})
      </span>
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input
      [disabled]="this.disable"
      [placeholder]="this.disable ? '' : 'New ' + (this.lookupType | humanize)"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="true"
      (paste)="paste($event)"
      (matChipInputTokenEnd)="add($event)"
    />
  </mat-chip-list>
</mat-form-field>
