.content-collapse-button {
  display: inline-block;
  cursor: pointer;
  margin-right: 5px;
  position: relative;
  top: -2px;
  width: 25px;
  height: 25px;
  top: 6px;

  fa-icon {
    position: relative;
    top: -8px;
  }
}
