<button
  mat-mini-fab
  color="primary"
  [attr.aria-label]="contentCollapsed ? 'Expand Content' : 'Collapse Content'"
  class="content-collapse-button"
  (click)="contentCollapsed = !contentCollapsed;"
>
  <mat-icon [svgIcon]="contentCollapsed ? 'steward-plus' : 'steward-minus'"></mat-icon>
</button>
<div class="content-title" (click)="contentCollapsed = !contentCollapsed;">
  <ng-content class="content-collapse-title" select="[content-title]"></ng-content>
</div>
<ng-content *ngIf="!contentCollapsed" select="[content-body]"></ng-content>
