<section>
  <h3>Create new message</h3>
  <form [formGroup]="newCommunityMessageForm">
    <mat-form-field appearance="fill" class="community-message">
      <mat-label
        >Community Message {{ communityMessageTextarea.value.length }}/{{
          messageMaxLength
        }}</mat-label
      >
      <textarea
        matInput
        cdkTextareaAutosize
        placeholder="Community Message"
        type="text"
        formControlName="message"
        #communityMessageTextarea
        required
      ></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill" class="expiry-date">
      <mat-label>Expire Time (mm/dd/yyyy)</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="expireTime" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button
      mat-raised-button
      color="accent"
      (click)="createMessage()"
      [disabled]="!newCommunityMessageForm.valid"
    >
      Review <fa-icon [icon]="arrowIcon"></fa-icon>
    </button>
  </form>
</section>
