@import '/src/styles/mixins';

$ugc-profile-button-min-size: 180px; //Used to fit button text that doesn't fit inside global $button-min-size

form {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  mat-form-field {
    width: $single-input-max-width;
  }
}

div.download {
  display: grid;
  max-width: fit-content;
}

.file-upload-wrapper {
  position: relative;
  justify-content: end;
}

.file-upload-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  opacity: 0;
}

button:not(.mat-mini-fab) {
  min-width: $ugc-profile-button-min-size;
}

div.actions {
  align-items: end;
}
