parameters:
- name: 'dropName'
  displayName: "Name of the intermediate drop. Like 'prepare-ui-drop'."
  type: string

jobs:
- job: UI_Test_Run_Unit_Tests
  displayName: Unit Test
  variables:
    dropPath: $(Pipeline.Workspace)/${{parameters.dropName}}
  steps:
  - template: load-yarn-project.template.yml
    parameters:
      dropName: ${{parameters.dropName}}
  - task: Bash@3
    displayName: ADO Code Coverage
    inputs:
      workingDirectory: $(dropPath)
      targetType: 'inline'
      script: yarn run test:ado --code-coverage
      
  - task: PublishTestResults@2
    displayName: Publish Test Results
    condition: succeededOrFailed()
    continueOnError: True
    inputs:
      testResultsFiles: '$(dropPath)/**/TESTS-Chrome_Headless_*.xml'
      mergeTestResults: true
      failTaskOnFailedTests: true

  - task: PublishCodeCoverageResults@1
    displayName: Publish Code Coverage
    condition: succeededOrFailed()
    continueOnError: True
    inputs:
      codeCoverageTool: Cobertura
      summaryFileLocation: $(dropPath)/**/*coverage.xml
      reportDirectory: $(dropPath)/**/coverage
      failIfCoverageEmpty: true
  # - task: CmdLine@2
  #   displayName: Tests & Code Coverage
  #   inputs:
  #     script: >-
  #       # Tests may not fail when code coverage is enabled

  #       yarn run test:ado --code-coverage
  #     workingDirectory: packages/StewardClient/
  # - task: PublishTestResults@2
  #   displayName: Publish Test Results
  #   condition: succeededOrFailed()
  #   continueOnError: True
  #   inputs:
  #     testResultsFiles: '**/TESTS-Chrome_Headless_*.xml'
  #     mergeTestResults: true
  #     failTaskOnFailedTests: true
  # - task: PublishCodeCoverageResults@1
  #   displayName: Publish Code Coverage
  #   condition: succeededOrFailed()
  #   continueOnError: True
  #   inputs:
  #     codeCoverageTool: Cobertura
  #     summaryFileLocation: $(System.DefaultWorkingDirectory)/**/*coverage.xml
  #     reportDirectory: $(System.DefaultWorkingDirectory)/**/coverage
  #     failIfCoverageEmpty: true
  # - task: ArchiveFiles@2
  #   displayName: Archive Files
  #   enabled: False
  #   inputs:
  #     rootFolderOrFile: packages/StewardClient/
  #     archiveFile: $(Build.ArtifactStagingDirectory)/lint-test-ui.zip
  # - task: PublishBuildArtifacts@1
  #   displayName: 'Publish Artifact: lint-test-ui'
  #   enabled: False
  #   inputs:
  #     ArtifactName: $(Build.ArtifactStagingDirectory)/lint-test-ui.zip