parameters:
- name: 'dropName'
  displayName: "Name of the intermediate drop. Like 'prepare-ui-drop'."
  type: string

jobs:
- job: UI_Test_Prettier
  displayName: Prettier
  variables:
    dropPath: $(Pipeline.Workspace)/${{parameters.dropName}}
  steps:
  - template: load-yarn-project.template.yml
    parameters:
      dropName: ${{parameters.dropName}}
  - task: Bash@3
    displayName: Prettier Check
    inputs:
      workingDirectory: $(dropPath)
      targetType: 'inline'
      script: yarn run build:check:prettier