# This file runs a test build as a single parallel job.
# It is intended to be run only after a `yarn` cache is made.

parameters:
- name: 'workingDirectory'
  displayName: "Path to a working directory where yarn can be run. Like 'packages/StewardClient'."
  type: string
- name: 'distDirectory'
  displayName: "Path to a directory where files will be after build. Like 'packages/StewardClient/dist'."
  type: string
- name: 'distArtifactName'
  displayName: "Name of artifact to publish from dist directory. Like 'ui-drop-dev'."
  type: string
- name: 'staticWebAppConfigPath'
  displayName: "Relative path to staticwebapp configuration file. From $distDirectory. Like 'staticwebapp.dev.config.json'."

jobs:
- job: UI_Static_Build
  displayName: Static Build
  steps:
  - template: load-yarn-project.template.yml
    parameters:
      workingDirectory: ${{parameters.workingDirectory}}

  - task: Bash@3
    displayName: Static Build (Dev)
    inputs:
      workingDirectory: ${{parameters.workingDirectory}}
      targetType: 'inline'
      script: yarn run build:dev-static

  - task: PublishBuildArtifacts@1
    displayName: 'Publish Artifact: ${{parameters.distArtifactName}}'
    inputs:
      PathtoPublish: ${{parameters.distDirectory}}
      ArtifactName: ${{parameters.distArtifactName}}

  - task: AzureStaticWebApp@0
    displayName: Publish Dev
    inputs:
      workingDirectory: ${{parameters.workingDirectory}}
      output_location: ${{parameters.distDirectory}}
      config_file_location: ${{parameters.staticWebAppConfigPath}}
      skip_app_build: true
      skip_api_build: true