# This file runs unit tests and produces a report as a single parallel job.
# It is intended to be run only after a `yarn` cache is made.

parameters:
- name: 'workingDirectory'
  displayName: "Path to a working directory where yarn can be run. Like 'packages/StewardClient'."
  type: string

jobs:
- job: UI_Test_Run_Unit_Tests
  displayName: Unit Test
  steps:
  - template: load-yarn-project.template.yml
    parameters:
      workingDirectory: ${{parameters.workingDirectory}}

  - task: Bash@3
    displayName: ADO Code Coverage
    inputs:
      workingDirectory: ${{parameters.workingDirectory}}
      targetType: 'inline'
      script: |
        yarn run test:prepare
        yarn run test:ado
      
  - task: PublishTestResults@2
    displayName: Publish Test Results
    condition: succeededOrFailed()
    continueOnError: True
    inputs:
      testResultsFiles: '${{parameters.workingDirectory}}/**/TESTS-Chrome_Headless_*.xml'
      mergeTestResults: true
      failTaskOnFailedTests: true

  - task: PublishCodeCoverageResults@1
    displayName: Publish Code Coverage
    condition: succeededOrFailed()
    continueOnError: True
    inputs:
      codeCoverageTool: Cobertura
      summaryFileLocation: ${{parameters.workingDirectory}}/**/*coverage.xml
      reportDirectory: ${{parameters.workingDirectory}}/**/coverage
      failIfCoverageEmpty: true
