parameters:
- name: 'dropName'
  displayName: "Name of the intermediate drop. Like 'prepare-ui-drop'."
  type: string

jobs:
- job: UI_Test_Lint
  displayName: Lint
  variables:
    dropPath: $(Pipeline.Workspace)/drop/${{parameters.dropName}}
  steps:
  - template: prepare-yarn-project.template.yml
    parameters:
      workingDirectory: ${{dropPath}}
  - task: Bash@3
    displayName: Lint Check
    inputs:
      workingDirectory: ${{dropPath}}
      targetType: 'inline'
      script: yarn run lint