parameters:
- name: 'dropName'
  displayName: "Name of the intermediate drop. Like 'prepare-ui-drop'."
  type: string

jobs:
- job: UI_Test_Prettier
  displayName: Prettier
  variables:
    dropPath: $(Pipeline.Workspace)/drop/${{parameters.dropName}}
  steps:
  - template: prepare-yarn-project.template.yml
    parameters:
      workingDirectory: ${{parameters.workingDirectory}}
  - task: Bash@3
    displayName: Prettier Check
    inputs:
      workingDirectory: ${{parameters.workingDirectory}}
      targetType: 'inline'
      script: yarn run build:check:prettier