# This file contains the prep steps for any node/yarn project.
# It configures the environment, retrieves packages, and ensures they are cached.
# It is meant to be run only in situations where `prepare-yarn-project` has cached files, and will refuse to run if it does not locate cached files.

parameters:
- name: 'workingDirectory'
  displayName: "Path to a working directory where yarn can be run. Like 'packages/StewardClient'."
  type: string

steps:
- checkout: self
  fetchDepth: 1
  submodules: false
  persistCredentials: true

# TODO: I couldn't get this package handoff to work, but if it did work it seems to be faster
# - download: current
#   artifact: ${{parameters.dropName}}
#   displayName: "Prepare: Load Intermedia Artifact (${{parameters.dropName}})"
# - task: Bash@3
#   displayName: "Prepare: Make commands executable"
#   inputs:
#     workingDirectory: $(dropPath)
#     targetType: 'inline'
#     script: |
#       chmod -R +x node_modules/.bin/
#       ls
#       yarn

- task: Cache@2
  displayName: "Prepare: Cache yarn packages for ${{parameters.workingDirectory}}/yarn.lock"
  inputs:
    key: 'yarn | "$(Agent.OS)" | ${{parameters.workingDirectory}}/yarn.lock'
    restoreKeys: |
       yarn | "$(Agent.OS)"
       yarn
    path: $(YARN_CACHE_FOLDER)
    cacheHitVar: CACHE_RESTORED

- bash: |
    echo "Cache could not be restored."
    exit 1
  condition: ne(variables.CACHE_RESTORED, 'true')
  displayName: Cache could not be restored.

- task: Bash@3
  displayName: "Prepare: Yarn Install"
  inputs:
    workingDirectory: ${{parameters.workingDirectory}}
    targetType: 'inline'
    script: yarn --frozen-lockfile --offline