parameters:
- name: 'dropName'
  displayName: "Name of the intermediate drop. Like 'prepare-ui-drop'."
  type: string

steps:
- download: current
  artifact: ${{parameters.dropName}}
  displayName: "Prepare: Load Intermedia Artifact (${{parameters.dropName}})"
- task: Bash@3
  displayName: "Prepare: Make commands executable"
  inputs:
    workingDirectory: $(dropPath)
    targetType: 'inline'
    script: >
      chmod +x node_modules/.bin/prettier
      chmod +x node_modules/.bin/ng