# This file is the main stage of the Verify UI pipeline for PRs.
# It runs all the relevant jobs in parallel.
# It must be run after the caching stage.

parameters:
- name: 'workingDirectory'
  displayName: 'Path to a working directory where yarn can be run. Like packages/StewardClient'
  type: string

jobs:
- template: job-ui-test-lint.template.yml
  parameters:
    workingDirectory: ${{parameters.workingDirectory}}
- template: job-ui-test-prettier.template.yml
  parameters:
    workingDirectory: ${{parameters.workingDirectory}}
- template: job-ui-test-build.template.yml
  parameters:
    workingDirectory: ${{parameters.workingDirectory}}
- template: job-ui-test-unit.template.yml
  parameters:
    workingDirectory: ${{parameters.workingDirectory}}
- template: job-ui-test-changelog.template.yml
  parameters:
    workingDirectory: ${{parameters.workingDirectory}}
