parameters:
  - name: 'workingDirectory'
    displayName: 'Path to a working directory where yarn can be run. Like packages/StewardClient'
    type: string

jobs:
- template: job-ui-test-lint.template.yml
  parameters:
    workingDirectory: ${{parameters.workingDirectory}}
- template: job-ui-test-prettier.template.yml
  parameters:
    workingDirectory: ${{parameters.workingDirectory}}
- template: job-ui-test-build.template.yml
  parameters:
    workingDirectory: ${{parameters.workingDirectory}}
- template: job-ui-test-unit.template.yml
  parameters:
    workingDirectory: ${{parameters.workingDirectory}}
