@import '/src/styles/mixins';

table {
  width: 100%;
}

.mat-column-message {
  min-width: 300px;
  max-width: 600px;
  padding: $gap-medium;
}

.not-seen {
  @include screenreader-only;
}

.warn {
  color: app-color-default($app-warn);
}
