<h2 mat-dialog-title>
  Feature {{ gameTitle }} Ugc Content
  <br />
  <span class="mat-subheading-2">
    <ng-container *ngIf="!!ugcItem.featuredByT10; else notFeaturedTemplate">
      <ng-container *ngIf="!!ugcItem.featuredEndDateUtc; else noFeaturedEndDateTemplate">
        Featured until: {{ ugcItem.featuredEndDateUtc | utcDate: 'short' }}
      </ng-container>
    </ng-container>
  </span>
</h2>

<mat-dialog-content>
  <ul>
    <li><b>Id: </b> {{ ugcItem.id }}</li>
    <li><b>Type: </b> {{ ugcItem.type }}</li>
    <li><b>Description: </b> {{ ugcItem.description }}</li>
    <li><b>Car Description: </b> {{ ugcItem.carDescription }}</li>
    <li><b>Owner: </b> {{ ugcItem.ownerXuid }}</li>
  </ul>
  <img #modelImage [src]="ugcItem.thumbnailOneImageBase64" />

  <form [formGroup]="formGroup">
    <mat-checkbox 
      [formControl]="formControls.isFeatured" 
      (click)="changedFeatureStatus()"
    >Feature UGC Item</mat-checkbox>
    <mat-form-field appearance="fill" class="expiry-date">
      <mat-label>Featured End Date</mat-label>
      <input matInput [disabled]="!formControls.isFeatured.value" [matDatepicker]="picker" [formControl]="formControls.featuredDate" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-hint *ngIf="!formControls.isFeatured.value">Cannot select end date when UGC is not featured</mat-hint>
      <mat-hint *ngIf="formControls.isFeatured.value">Optional</mat-hint>
      <mat-error *ngIf="formGroup.controls['featuredDate'].hasError('is-after')"
        >Expiry time must be in the future</mat-error
      >
      <mat-error *ngIf="formGroup.controls['featuredDate'].hasError('invalid-format')"
        >Unrecognized Date (expected mm/dd/yyyy)</mat-error
      >
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button
    stateManager
    [monitor]="postMonitor"
    monitorDisable
    mat-stroked-button
    color="warn"
    mat-dialog-close
  >
    Close
  </button>
  <button
    [disabled]="!formGroup.valid"
    stateManager
    [monitor]="postMonitor"
    [verifyWith]="verify"
    monitorDisable
    mat-raised-button
    color="primary"
    (click)="setUgcfeatureStatus()"
  >
    Update Feature Status
    <button-spinner [monitor]="postMonitor" defaultIcon="save"></button-spinner>
  </button>
  <mat-checkbox
    class="sf-verify-checkbox"
    #verify
    stateManager
    [permissionAttribute]="featureUgcPermAttribute"
    [permissionTitle]="gameTitle"
    matTooltip="Verify"
    >Verify</mat-checkbox
  >
</mat-dialog-actions>

<ng-template #noFeaturedEndDateTemplate>
  Featured with no end date
</ng-template>

<ng-template #notFeaturedTemplate>
  Not currently featured
</ng-template>
