<div class="default-page-layout">
    <div class="default-page-layout-left">
      <mat-tab-group
        mat-stretch-tabs
        [(selectedIndex)]="matTabSelectedIndex"
        (selectedTabChange)="matTabSelectionChange($event.index)"
      >
        <mat-tab label="Player Selection">
          <!-- Player selection -->
          <sunrise-player-selection
            [allowT10Id]="false"
            [allowGroup]="false"
            [(ngModel)]="selectedPlayerIdentities"
            (ngModelChange)="onPlayerIdentitiesChange($event)"
            (playerIdentitySelectedEvent)="playerIdentitySelected($event)"
          ></sunrise-player-selection>
        </mat-tab>
        <mat-tab *ngIf="!disableLspGroupSelection" label="LSP Group Selection">
          <!-- LSP Group Selection -->
          <sunrise-lsp-group-selection
            [(ngModel)]="selectedLspGroup"
            (ngModelChange)="onLspGroupChange($event)"
          ></sunrise-lsp-group-selection>
        </mat-tab>
      </mat-tab-group>
    </div>
  
    <div class="default-page-layout-right">
      <!-- Page tool -->
      <sunrise-gift-history-results
        [selectedPlayer]="selectedPlayer"
        [selectedGroup]="selectedLspGroup"
        [usingPlayerIdentities]="matTabSelectedIndex == 0"
      ></sunrise-gift-history-results>
    </div>
  </div>