@mixin standard-form {
  section {
    &:not(.vertical) {
      display: flex;
      flex-flow: row wrap;
      align-items: center;

      // get the spacing right
      margin: -1em;
      > * {
        margin: 1em;
      }

      /** This gives a bit more clearance for hints/names that are near each other. */
      mat-form-field {
        margin-bottom: 2em;
      }

      // fill items
      > *:not(mat-checkbox):not(button) {
        flex-grow: 1;
      }
    }

    &.vertical {
      display: flex;
      flex-flow: column nowrap;
    }
  }

  /** This gives a bit more clearance for hints/names that are near each other. */
  mat-form-field {
    margin-bottom: 2em;
  }

  .shrinkwrap {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
  }
}
