@import '/src/styles/mixins/';

/* Tasteful margin */
:host {
  display: block;
  padding: 1rem 2rem;
  min-width: 30vw;
}

:host ::ng-deep mat-card {
  margin-bottom: $gap-medium;
}

.theme-card-content {
  * {
    margin-top: 1em;
  }
}

mat-slide-toggle {
  display: block;
}

mat-slide-toggle + mat-slide-toggle {
  margin-top: 1em;
}

.timeZoneSelect {
  width: 300px;
}

mat-card-content {
  .current-time-zone-selection {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
