@import '/src/variables.scss';

mat-card {
  min-width: 450px;

  h2 {
    margin-bottom: 0;
  }

  .hide-content {
    display: none;
  }

  .item-selection-form-field {
    max-width: 400px;
    width: 100%;
    margin-right: 10px;
  }

  .quantity-form-field {
    width: 100px;
    margin-right: 10px;
  }

  .table-container {
    max-height: 500px;
    overflow: auto;
    margin-top: 30px;

    .row-error {
      background-color: #fff5ad;
    }

    table {
      width: 100%;

      .mat-column-itemId {
        width: 150px !important;
      }

      .mat-column-quantity {
        width: 180px !important;

        mat-form-field {
          width: 100px !important;
        }

        fa-icon {
          margin-left: 0.6em;
          margin-right: 0.6em;
        }
      }

      .mat-column-itemType {
        width: 150px !important;
      }

      .mat-column-remove {
        width: 50px !important;
      }

      .mat-row {
        td {
          padding-top: 10px !important;
          padding-bottom: 10px !important;
        }

        fa-icon {
          cursor: pointer;
        }
      }
    }
  }

  .send-gift-basket-container {
    margin-top: 100px;

    .send-gift-basket {
      padding: 7px 20px;
      position: relative;
      top: -7px;
    }
  }

  .gift-response-template {
    button {
      margin-right: 20px;
      margin-top: 20px;
    }
  }
}

@media screen and (max-width: 500px) {
  mat-card {
    min-width: unset;
  }
}
