@import '/src/styles/mixins';

:host {
  @include flex-column-fill();
}

mat-card {
  flex-grow: 1;

  mat-card-content {
    margin-top: $gap-medium;
  }

  section {
    margin-top: $gap-large;
  }
}

mat-form-field {
  display: block;
  max-width: 20em;
  width: 100%;

  &.query-string {
    max-width: unset;
    width: auto;
  }
}

textarea {
  width: 100%;
  min-height: 4em;
  max-height: 30vh;
}

button.clear-input {
  margin-left: 2em;
}

button.delete {
  display: block;
  margin-top: 2em;
}
