@import '/src/styles/mixins';

mat-card {
  margin-top: 20px;

  max-width: 500px;
  width: 100%;

  h1,
  h2 {
    color: app-color-default($app-primary);
  }
}

ul {
  display: flex;
  flex-flow: row wrap;
  li {
    list-style-type: none;
    padding: 0;
    a {
      padding: 10px;
    }
  }
}