<span [formGroup]="formGroup" (submit)="emitMakeModelChangeEvent()">
  <mat-form-field class="item-selection-form-field" appearance="fill">
    <mat-label>{{ label }}</mat-label>
    <input
      type="text"
      matInput
      #makeModelInput
      [formControl]="formControls.makeModelInput"
      [matAutocomplete]="autoGroup"
      (enter)="emitMakeModelChangeEvent()"
    />
    <mat-autocomplete
      #autoGroup="matAutocomplete"
      (optionSelected)="emitMakeModelChangeEvent()"
      [displayWith]="autoCompleteDisplayFn"
    >
      <mat-option [disabled]="true">Showing item types</mat-option>
      <mat-optgroup *ngFor="let group of stateGroupOptions$ | async" [label]="group.category">
        <mat-option *ngFor="let item of group.items" [value]="item">
          <span *ngIf="!item?.makeOnly"> {{ item.make }} {{ item.model }} [{{ item?.id }}]</span>
          <span *ngIf="item?.makeOnly"> {{ item.make }} [{{ item?.id }}]</span>
        </mat-option>
      </mat-optgroup>
    </mat-autocomplete>
    <button
      clickStop
      matSuffix
      mat-icon-button
      (click)="clearMakeModelInput()"
      matTooltip="Clear input"
      aria-label="Clear make and model filter."
      type="button"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</span>
