@import '/src/styles/mixins';

.info-list {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}

mat-dialog-content {
  display: block;
  height: auto;
  max-width: $mat-dialog-max-width;

  img {
    width: 100%;
  }

  mat-form-field {
    width: 100%;
    margin-top: $gap-medium;
  }

  mat-progress-spinner {
    margin: auto;
  }
}

mat-dialog-actions {
  button {
    min-width: $button-min-size;
    margin-top: $gap-small;
  }
}
