@import '/src/styles/mixins';
$rowHeight: 250px;
$shortRowHeight: 120px;
$metadataWidth: 250px;
$messageMinHeight: 200px;
$messageMaxWidth: 500px;
$columnMinWidth: 300px;

:host {
  @include flex-column-fill();
}

table {
  width: 100%;

  tr.mat-row {
    height: $rowHeight;
  }

  tr.nonEditable {
    height: $shortRowHeight;
  }
}

button {
  display: block;
  min-width: $button-min-size;
  margin-bottom: $gap-small;

  &.edit {
    padding: 0;

    // Allows tooltip display on disabled button.
    span {
      display: block;
      float: none;
      width: 100%;
    }
  }
}

div.input {
  flex-flow: row wrap;
  > * {
    flex: 1 0;
  }

  .options {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: -0.5em;
    > * {
      margin: 0.5em;
    }
  }
}

mat-form-field {
  display: block;

  &.device-type,
  &.expiry-date {
    min-width: $metadataWidth;
  }

  textarea {
    min-height: $messageMinHeight;
  }
}

.message {
  width: 100%;
  max-width: $messageMaxWidth;
}

.mat-column-message {
  min-width: $columnMinWidth;
  padding-right: $gap-medium;
}

.mat-column-metadata {
  min-width: $columnMinWidth;
}

.mat-column-actions {
  @include table-width(200);
  min-width: $button-min-size;
  padding-left: $gap-medium;
}

.warn {
  color: app-color-default($app-warn);
}
