<span>
  <a
    [routerLink]="[{ outlets: { sidebar: 'settings' } }]"
    queryParamsHandling="preserve"
    mat-icon-button
    routerLinkActive="mat-stroked-button"
    matTooltip="Settings"
    aria-label="Settings"
    (click)="clickedSettings()"
  >
    <mat-icon
      svgIcon="steward-settings"
      [matBadge]="settingsNotificationCount > 0 ? settingsNotificationCount : null"
      matBadgeSize="small"
    ></mat-icon>
  </a>
</span>
<span>
  <a
    [routerLink]="[{ outlets: { sidebar: 'profile' } }]"
    queryParamsHandling="preserve"
    mat-icon-button
    routerLinkActive="navbar-button-active"
    matTooltip="Profile"
    aria-label="Profile"
  >
    <mat-icon svgIcon="steward-profile" aria-label="User profile icon"></mat-icon>
  </a>
</span>
