<span>
  <a
    [routerLink]="[{ outlets: { sidebar: 'settings' } }]"
    queryParamsHandling="preserve"
    mat-icon-button
    routerLinkActive="stroked-icon-button"
    matTooltip="Settings"
  >
    <mat-icon
      [matBadge]="settingsNotificationCount > 0 ? settingsNotificationCount : null"
      matBadgeSize="small"
      >settings</mat-icon
    >
  </a>
</span>
<span>
  <a
    [routerLink]="[{ outlets: { sidebar: 'changelog' } }]"
    queryParamsHandling="preserve"
    mat-icon-button
    routerLinkActive="stroked-icon-button"
    matTooltip="Changelog"
    #changelogLink
  >
    <mat-icon
      [matBadge]="changelogNotificationCount > 0 ? changelogNotificationCount : null"
      matBadgeColor="accent"
      matBadgeSize="small"
      >sticky_note_2</mat-icon
    >
  </a>
</span>
<span>
  <a
    [routerLink]="[{ outlets: { sidebar: 'profile' } }]"
    queryParamsHandling="preserve"
    mat-icon-button
    routerLinkActive="stroked-icon-button"
    matTooltip="Profile"
  >
    <mat-icon>account_circle</mat-icon>
  </a>
</span>
<span>
  <button mat-button [matMenuTriggerFor]="contactUsMenu" matTooltip="Contact Us">
    <mat-icon>contact_support</mat-icon>
  </button>
  <mat-menu #contactUsMenu="matMenu">
    <a mat-menu-item [routerLink]="['/external/teams']" target="_blank">Chat on Teams</a>
    <a mat-menu-item [routerLink]="['/external/email']" target="_blank">Send Email</a>
  </mat-menu>
</span>
