@import '/src/styles/mixins';

:host {
  @include flex-column-fill();
}

h2 {
  margin-bottom: 8px;
}

h3 {
  margin-bottom: 0px;
  font-weight: bold;
}

mat-panel-title {
  &,
  & > * {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 0.5em;
  }

  min-width: 150px;
  flex-basis: auto;

  .gift-reason {
    font-weight: bold;
  }
}

mat-panel-description {
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  flex-grow: 0;
  max-height: 2.5em;
}

.inventoryPreview {
  color: app-color-darker($app-background);
  > .label {
    font-weight: bold;
    margin-right: 0.5em;
    white-space: nowrap;
  }
  > .data {
    margin-right: 0.5em;
  }
}

ul.items {
  > li > * {
    padding-right: 1em;
  }

  .quantity {
    display: inline-block;
    width: 3em;
    &:before {
      content: '[';
    }
    &:after {
      content: 'x]';
    }
  }

  .description {
    font-weight: bold;
  }

  .item-id {
    &:before {
      content: '#';
    }
  }
}
