@import '/src/variables.scss';

h3 {
    margin-bottom: 0;
    font-weight: bold;
}

p {
    margin-bottom: 0;
}

mat-panel-description {
    display: flex;
    flex-flow: row nowrap;
}

.inventoryPreview {
    > .label{
        font-weight: bold;
        margin-right: 1em;
    }
    > .data{
        margin-right: 2em;
    }
}