@import '/src/styles/mixins';

.grid {
  display: grid;
  width: 200px;
  gap: 2px;

  &.left {
    grid-template-columns: 10px 5px 5px auto;
  }

  &.center {
    grid-template-columns: 5px 10px 5px auto;
  }

  &.right {
    grid-template-columns: 5px 5px 10px auto;
  }

  .left {
    grid-column: 1;
  }

  .center {
    grid-column: 2;
  }

  .right {
    grid-column: 3;
  }

  .large {
    grid-row: span 2;
  }

  .tile {
    background-color: app-color-default($app-accent);
  }

  .filler {
    background-color: gray;
    grid-row: 1 / last-line;
    border: none;
    margin-bottom: 2px;
  }

  .annotation {
    line-height: 12px;
    font-size: 12px;
  }
}

::ng-deep .multiline-tooltip.multiline-tooltip.multiline-tooltip {
  white-space: pre-line;
  background: black;
}

.center-text {
  display: flex;
  justify-content: center;
}

div.tile-preview {
  min-width: 30px;
  max-width: 30px;
  min-height: 30px;
  height: 100%;
  background: lime;
}

.calendar-view-switch {
  padding-bottom: 1em;
}

:host ::ng-deep {
  .cal-month-view,
  .cal-week-view,
  .cal-day-view {
    background-color: unset;
  }

  .cal-month-view .cal-cell-row:hover {
    background-color: app-color-default($app-background);
  }

  .cal-month-view .cal-cell-row .cal-cell:hover,
  .cal-month-view .cal-cell.cal-has-events.cal-open {
    background-color: app-color-darker($app-background);
  }

  .cal-month-view .cal-day-cell.cal-in-month.cal-has-events {
    cursor: auto;
  }

  .cal-month-view .cal-day-cell.cal-weekend .cal-day-number {
    color: unset;
  }

  .cal-month-view .cal-day-cell.cal-today {
    background-color: app-color-lighter($app-primary);
  }

  //Week and day view
  .cal-week-view .cal-hour-odd {
    background-color: unset;
  }

  .cal-week-view .cal-time-events .cal-day-columns:not(.cal-resize-active) .cal-hour-segment:hover {
    background-color: unset;
  }

  .cal-week-view .cal-day-headers .cal-header:hover,
  .cal-week-view .cal-day-headers .cal-drag-over {
    background-color: app-color-darker($app-background);
  }

  .cal-week-view .cal-header.cal-today {
    background-color: app-color-lighter($app-accent);
  }
}

.cell-totals {
  color: app-color-default($app-foreground);
  margin: 0.5em;
  text-align: center;
}

.cal-day-badge {
  background-color: app-color-default($app-accent);
}

.week-view-event {
  border: none;
}

.calendar-header {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
}

.shrink-wrap {
  text-align: left;
  display: inline-block;

  > * {
    padding-left: 0.5em;
    cursor: pointer;
  }
}

.tile-column {
  border-left: 4px solid;
  margin-bottom: 1px;

  &.day-event-badge {
    background-color: app-color-darker($app-background);
  }

  &.tile-column-left {
    border-color: #5a0a33;
  }

  &.tile-column-center {
    border-color: #ff66fd;
  }

  &.tile-column-right {
    border-color: #ff8735;
  }
}

:host ::ng-deep .event-column-left {
  background-color: #5a0a33;
}

:host ::ng-deep .event-column-center {
  background-color: #ff66fd;
}

:host ::ng-deep .event-column-right {
  background-color: #ff8735;
}
