@import '/src/styles/mixins/variables';

.steward-layout-vertical-fill {
  // special case: mat-tab-group
  &:is(mat-tab-group) {
    display: flex;
    flex-flow: column nowrap;
    > .mat-tab-body-wrapper {
      flex-grow: 1;
      > mat-tab-body > .mat-tab-body-content {
        display: flex;
        flex-flow: column nowrap;
        > * {
          flex-grow: 1;
        }
      }
    }
  }

  // standard case
  &:not(mat-tab-group) {
    display: flex;
    flex-flow: column nowrap;

    > * {
      &:not(mat-tab-header) {
        flex-grow: 1;
      }
    }
  }
}

// special case: mat-tab-group in a steward-layout-pane main group
.steward-layout-pane.steward-layout-main-group {
  .steward-layout-vertical-fill {
    &:is(mat-tab-group) {
      > .mat-tab-body-wrapper {
        flex-shrink: 1;
        flex-basis: 0;
        mat-card {
          max-height: unset;
        }
      }
    }
  }
}
