<ng-container *ngIf="identity && !identity?.error; else noIdentity">
  <h1><player-identity-results [identity]="identity"></player-identity-results></h1>
  <section>
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="User Details">
        <div class="tab-container">
          <div class="sf-horizontal do-not-align-item">
            <steelhead-user-flags
              [identity]="identity"
              (flagsUpdated)="flagsUpdated()"
            ></steelhead-user-flags>
            <steelhead-report-weight [identity]="identity"></steelhead-report-weight>
            <steelhead-player-game-details [identity]="identity"></steelhead-player-game-details>
            <steelhead-cms-override [identity]="identity"></steelhead-cms-override>
          </div>
          <steelhead-ban-history [xuid]="identity.xuid"></steelhead-ban-history>
          <entitlements [identity]="identity"></entitlements>
          <steelhead-gamertags [identity]="identity"></steelhead-gamertags>
          <steelhead-consoles [identity]="identity"></steelhead-consoles>
        </div>
      </mat-tab>
      <mat-tab label="Notifications">
        <div class="tab-container">
          <steelhead-player-notifications [identity]="identity"></steelhead-player-notifications>
        </div>
      </mat-tab>
      <mat-tab label="Inventory Profiles">
        <div class="tab-container">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Player Profiles</mat-card-title>
              <mat-card-subtitle>Steelhead</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <steelhead-player-inventory-profile-picker
                [identity]="identity"
                (profileChange)="onProfileChange($event)"
              ></steelhead-player-inventory-profile-picker>
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-header>
              <mat-card-title>Profile Management</mat-card-title>
              <mat-card-subtitle>Steelhead | {{ profileOverviewString }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <steelhead-player-profile-management
                [identity]="identity"
                [externalProfileId]="profile?.externalProfileId"
                (externalProfileIdUpdated)="onExternalProfileIdChange($event)"
              ></steelhead-player-profile-management>
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-header>
              <mat-card-title>Profile Inventory</mat-card-title>
              <mat-card-subtitle>Steelhead | {{ profileOverviewString }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <steelhead-player-inventory
                [identity]="identity"
                [profileId]="profile?.profileId"
              ></steelhead-player-inventory>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          Ugc
          <inline-spinner [monitor]="ugcLiveries.getMonitor | renderGuard"
            >({{ ugcLiveries?.ugcContent?.length }})</inline-spinner
          >
          <inline-spinner [monitor]="ugcPhotos.getMonitor | renderGuard"
            >({{ ugcPhotos?.ugcContent?.length }})</inline-spinner
          >
          <inline-spinner [monitor]="ugcTunes.getMonitor | renderGuard"
            >({{ ugcTunes?.ugcContent?.length }})</inline-spinner
          >
          <!-- <inline-spinner [monitor]="ugcHidden.getMonitor | renderGuard"></inline-spinner> -->
        </ng-template>
        <mat-tab-group>
          <mat-tab>
            <ng-template mat-tab-label>
              Liveries
              <inline-spinner [monitor]="ugcLiveries.getMonitor | renderGuard"
                >({{ ugcLiveries?.ugcContent?.length }})</inline-spinner
              >
            </ng-template>
            <steelhead-player-ugc
              #ugcLiveries
              [identity]="identity"
              [contentType]="UgcType.Livery"
              [usingIdentities]="true"
            ></steelhead-player-ugc>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              Photos
              <inline-spinner [monitor]="ugcPhotos.getMonitor | renderGuard"
                >({{ ugcPhotos?.ugcContent?.length }})</inline-spinner
              >
            </ng-template>
            <steelhead-player-ugc
              #ugcPhotos
              [identity]="identity"
              [contentType]="UgcType.Photo"
              [usingIdentities]="true"
            ></steelhead-player-ugc>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              Tunes
              <inline-spinner [monitor]="ugcTunes.getMonitor | renderGuard"
                >({{ ugcTunes?.ugcContent?.length }})</inline-spinner
              >
            </ng-template>
            <steelhead-player-ugc
              #ugcTunes
              [identity]="identity"
              [contentType]="UgcType.Tune"
              [usingIdentities]="true"
            ></steelhead-player-ugc>
          </mat-tab>
          <!-- TODO: Add hidden UGC tab once feature is ready in Services -->
          <!-- <mat-tab>
            <ng-template mat-tab-label>
              Hidden
              <inline-spinner [monitor]="ugcHidden.getMonitor | renderGuard"></inline-spinner>
            </ng-template>
            <steelhead-player-hidden-ugc
              #ugcHidden
              [identity]="identity"
            ></steelhead-player-hidden-ugc>
          </mat-tab> -->
        </mat-tab-group>
      </mat-tab>
      <!-- TODO: Uncomment once auction endpoints are released to LSP Retail. -->
      <!-- <mat-tab label="Auctions">
        <div class="tab-container">
          <steelhead-player-auctions [identity]="identity"></steelhead-player-auctions>
        </div>
      </mat-tab> -->
      <mat-tab label="Loyalty">
        <div class="tab-container">
          <steelhead-loyalty-rewards [identity]="identity"></steelhead-loyalty-rewards>
          <entitlements [identity]="identity"></entitlements>
        </div>
      </mat-tab>
      <mat-tab label="JSON">
        <div class="tab-container">
          <json-dump [input]="identity">Identity</json-dump>
        </div>
      </mat-tab>
    </mat-tab-group>
  </section>
</ng-container>

<ng-template #noIdentity>
  <h1 *ngIf="lookupName">Finding {{ lookupName }} by {{ lookupType | humanize }}</h1>
  <h1 *ngIf="!lookupName">Waiting for {{ lookupType | humanize }}</h1>
  <ng-container *ngIf="identity?.error">
    <hr />
    <h2>Request failed</h2>
    <p>If this keeps happening, contact support.</p>
    <json-dump [input]="identity?.error">View error</json-dump>
  </ng-container>
</ng-template>
