<mat-form-field [formGroup]="formGroup">
  <mat-label>Select Localized Message</mat-label>
  <mat-select
    [formControl]="formControls.selectedLocalizedStringInfo"
    [compareWith]="comparisonFunction"
  >
    <mat-option *ngFor="let stringDetails of localizedStringDetails" [value]="stringDetails">
      {{ stringDetails.englishText | deppoh }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field *ngIf="displayLanguageChips">
  <mat-label>Language Codes:</mat-label> 
  <mat-chip-list selectable="true" multiple="false" (change)="onLanguageChipSelect($event)">
    <mat-chip
      #chipRef="matChip"
      (click)="stringInfo.translated ? chipRef.toggleSelected(true) : null"
      clickStop
      *ngFor="let stringInfo of selectedLocalizedStringCollection"
      [value]="stringInfo"
      [disabled]="!stringInfo.translated"
      [selectable]="!stringInfo.translated"
      [matTooltip]="
        stringInfo.translated ? 'Select to see preview' : 'This language is not yet translated'
      "
    >
      {{ stringInfo.languageCode }}
    </mat-chip>
  </mat-chip-list>
</mat-form-field>

<mat-form-field
  *ngIf="selectedLanguageLocalizedString"
  appearance="fill"
>
  <mat-label>Translation Preview</mat-label>
  <textarea matInput disabled="true" cdkTextareaAutosize>{{
    selectedLanguageLocalizedString.message
  }}</textarea>
</mat-form-field>
