table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.ticket-info-item {
  width: 100%;
}

h1,
h2 {
  display: inline-block;
  margin-top: 0px;
}

h2 {
  margin-top: 30px;
}

.actions-div {
  width: 100%;

  button {
    min-width: 200px;
  }
}

.quick-actions-section {
  margin-top: 20px;
}
