<section *ngIf="!loading">
  <profile [user]="profile" [parentApp]="appName"></profile>

  <player-details
    [gameTitle]="gameTitle"
    [gamertag]="gamertag"
  ></player-details>

  <section class="quick-actions-section">
    <mat-card>
      <mat-card-content>
        <content-collapse>
          <h2 content-title>Quick Actions</h2>
          <section content-body>
            <div class="actions-div">
              <button mat-raised-button color="primary" (click)="goToInventory()">
                Go To Inventory
              </button>
            </div>
          </section>
        </content-collapse>
      </mat-card-content>
    </mat-card>
  </section>
</section>
<section *ngIf="loading">
  <h1>Loading...</h1>
</section>
