<section *ngIf="!loading">
  <profile [user]="profile" [parentApp]="appName"></profile>

  <player-details 
    [gameTitle]="gameTitle"
    [gamertag]="gamertag"
  ></player-details>
  
  <section class="quick-actions-section">
    <mat-card>
      <mat-card-content>
        <h2>
          <content-collapse 
            [contentCollapsedBool]="cardConentCollapsed"
            (onCollapsedStateChange)="cardConentCollapsed = $event">
          </content-collapse>
          Quick Actions
        </h2>
        <section *ngIf="!cardConentCollapsed">
          <div class="actions-div">
            <button mat-raised-button color="primary" (click)="goToInventory()">
              Go To Inventory
            </button>
          </div>
        </section>
      </mat-card-content>
    </mat-card>
  </section>
</section>
<section *ngIf="loading">
  <h1>Loading...</h1>
</section>
