<mat-chip-list
  aria-label="Profile selection"
  *ngIf="profiles; else failstate"
  selectable="true"
  multiple="false"
  (change)="onSelectionChange($event)"
>
  <mat-chip
    *ngFor="let profile of profiles"
    color="primary"
    #chip="matChip"
    [value]="profile"
    (click)="chip.toggleSelected(true)"
    [selected]="profile?.isCurrent"
  >
    <mat-icon
      svgIcon="steward-user-check"
      *ngIf="profile.isCurrent"
      matTooltip="User Active"
    ></mat-icon>
    <mat-icon
      svgIcon="steward-user-slash"
      *ngIf="!profile.isCurrent"
      matTooltip="User Inactive"
    ></mat-icon>
    <span class="id" [matTooltip]="'Profile ID: ' + profile.profileId">{{
      profile.profileId
    }}</span>
    <span class="device-type" [matTooltip]="'Device Type: ' + profile.deviceType">{{
      profile.deviceType
    }}</span>
    <mat-icon
      *ngIf="profile.lastLoginUtc"
      class="last-used"
      svgIcon="steward-history"
      [matTooltip]="'Last Used On: ' + (profile.lastLoginUtc | dateTimeToJsDate | date: 'long')"
    ></mat-icon>
    <mat-icon
      *ngIf="profile.externalProfileId"
      class="external-id"
      svgIcon="steward-passport"
      [matTooltip]="'External ID: ' + profile.externalProfileId"
    ></mat-icon>
  </mat-chip>
</mat-chip-list>

<ng-template #failstate>
  <mat-progress-spinner *ngIf="isLoading" mode="indeterminate"></mat-progress-spinner>
  <json-dump *ngIf="error" [input]="error">Failed to load.</json-dump>
</ng-template>
