<mat-chip-list aria-label="Profile selection" *ngIf="profiles; else failstate"
  selectable="true"
  multiple="false"
  (change)="onSelectionChange($event)">
  <mat-chip *ngFor="let profile of profiles" color="primary"
  #chip="matChip"
  [value]="profile"
  (click)="chip.toggleSelected(true)">
    <fa-icon [icon]="currentUserIcon" *ngIf="profile.isCurrent" matTooltip="User Active"></fa-icon>
    <fa-icon [icon]="unusedUserIcon" *ngIf="!profile.isCurrent" matTooltip="User Inactive"></fa-icon>
    <span class="id" [matTooltip]="'Profile ID: ' + profile.profileId">{{ profile.profileId }}</span>
    <span class="device-type" [matTooltip]="'Device Type: ' + profile.deviceType">{{ profile.deviceType }}</span>
    <fa-icon class="external-id" [icon]="externalIdIcon" [matTooltip]="'External ID: ' + profile.externalProfileId"></fa-icon>
  </mat-chip>
</mat-chip-list>

<ng-template #failstate>
  <mat-progress-spinner *ngIf="isLoading" mode="indeterminate"></mat-progress-spinner>
  <json-dump *ngIf="error" [input]="error">Failed to load.</json-dump>
</ng-template>
