<div class="default-page-layout">
  <div class="default-page-layout-left">
    <apollo-player-selection
      #playerSelection
      [allowT10Id]="false"
      [allowGroup]="false"
      [formControl]="formControls.playerIdentities"
    >
      <player-selection-chip-list
        [playerSelection]="playerSelection"
        [identities]="playerSelection.playerIdentitiesFull"
      >
        <ng-template let-identity>
          <player-selection-chip [playerSelection]="playerSelection" [identity]="identity">
            <ban-chip-icon
              [identity]="identity"
              [banSummary]="summaryLookup[identity.xuid]"
            ></ban-chip-icon>
          </player-selection-chip>
        </ng-template>
      </player-selection-chip-list>
    </apollo-player-selection>
  </div>

  <div class="default-page-layout-right">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="formGroup">
          <ban-options [formControl]="formControls.banOptions"></ban-options>
          <verify-action-button
            #submitButton
            [action]="submit || 'testing'"
            [alwaysShow]="true"
            [canSubmit]="formGroup.valid"
            [canSubmitDisabledReason]="'Form is invalid'"
            checkboxText="Check to verify ban"
          >
            Submit ban
          </verify-action-button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
