<div class="default-page-layout">
  <div class="default-page-layout-left">
    <player-selection-bulk
      [allowSelection]="true"
      (found)="onPlayerIdentitiesChange($event)"
      (selected)="playerIdentitySelected($event)">
      <ng-template let-identity>
        <ban-chip-icon
          *ngIf="identity?.extra?.hasApollo"
          [identity]="identity.apollo"
          [banSummary]="summaryLookup[identity.apollo.xuid]"
        ></ban-chip-icon>
      </ng-template>
    </player-selection-bulk>
    <div class="bottom">
      <ng-container *ngFor="let xuid of bannedXuids">
        <apollo-ban-history
          [xuid]="xuid"
          [hidden]="xuid !== selectedPlayer?.xuid"
        ></apollo-ban-history>
      </ng-container>
    </div>
  </div>

  <div class="default-page-layout-right">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="formGroup">
          <ban-options [formControl]="formControls.banOptions"></ban-options>
          <verify-action-button
            #submitButton
            [action]="submit || 'testing'"
            [alwaysShow]="true"
            [canSubmit]="formGroup.valid"
            [canSubmitDisabledReason]="'Form is invalid'"
            checkboxText="Check to verify ban"
          >
            Submit ban
          </verify-action-button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
