<apollo-player-selection
  [allowT10Id]="false"
  [allowGroup]="false"
  [(playerIdentities)]="selectedPlayerIdentities"
  (playerIdentitiesChange)="onPlayerIdentitiesChange($event)"
></apollo-player-selection>

<div class="action-container">
  <ban-options [ngModel]="banOptions"></ban-options>

  <mat-card>
    <mat-card-content>
      <verify-action-button #submitButton [alwaysShow]="true" [canSubmit]="true" [canSubmitDisabledReason]="'homk'">
        Submit ban
      </verify-action-button>
    </mat-card-content>
  </mat-card>
</div>