<mat-toolbar>
  <a
    *ngIf="!isProduction"
    [class.mat-button-disabled]="!identity?.extra?.hasSteelhead"
    [matTooltip]="steelheadTooltip"
    [routerLink]="steelheadRouterLink"
    mat-button
    routerLinkActive="mat-stroked-button"
    queryParamsHandling="preserve"
    >FM
    <endpoint-selection [titleCodeName]="gameTitleCodeName.FM8"> </endpoint-selection>
  </a>
  <a
    matTooltip="Title-agnostic user details"
    [class.mat-button-disabled]="!identity?.general"
    [routerLink]="generalRouterLink"
    mat-button
    routerLinkActive="mat-stroked-button"
    queryParamsHandling="preserve"
    >General
  </a>
  <a
    [class.mat-button-disabled]="!identity?.extra?.hasWoodstock"
    [matTooltip]="woodstockTooltip"
    [routerLink]="woodstockRouterLink"
    mat-button
    routerLinkActive="mat-stroked-button"
    queryParamsHandling="preserve"
    >FH5
    <endpoint-selection [titleCodeName]="gameTitleCodeName.FH5"> </endpoint-selection>
  </a>
  <a
    [class.mat-button-disabled]="!identity?.extra?.hasSunrise"
    [matTooltip]="sunriseTooltip"
    [routerLink]="sunriseRouterLink"
    mat-button
    routerLinkActive="mat-stroked-button"
    queryParamsHandling="preserve"
    >FH4
    <endpoint-selection [titleCodeName]="gameTitleCodeName.FH4"> </endpoint-selection>
  </a>
  <a
    [class.mat-button-disabled]="!identity?.extra?.hasApollo"
    [matTooltip]="apolloTooltip"
    [routerLink]="apolloRouterLink"
    mat-button
    routerLinkActive="mat-stroked-button"
    queryParamsHandling="preserve"
    >FM7
    <endpoint-selection [titleCodeName]="gameTitleCodeName.FM7"> </endpoint-selection>
  </a>
  <a
    [class.mat-button-disabled]="!identity?.extra?.hasOpus"
    [matTooltip]="opusTooltip"
    [routerLink]="opusRouterLink"
    mat-button
    routerLinkActive="mat-stroked-button"
    queryParamsHandling="preserve"
    >FH3</a
  >
  <span class="icon-spacer"></span>
  <player-selection-single
    [displayInSingleLine]="true"
    (found)="found($event)"
  ></player-selection-single>
  <span class="spacer"></span>
</mat-toolbar>
<router-outlet></router-outlet>
