@import '/src/styles/mixins';

.mat-icon {
  color: app-color-default($app-warn);
}

::ng-deep mat-checkbox > invalid-permissions {
  position: relative;

  > mat-icon {
    position: absolute;
    overflow: hidden;
    transform: scale(1.3);
    z-index: 2;
    left: -0.15em;
  }
}
