@import "/src/variables.scss";

:host {
  margin: $gap-vertical-layout $gap-side-gutter;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}