@import 'variables';

@font-face {
  font-family: '#{$icomoon-font-family}';
  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?p76da0');
  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?p76da0#iefix')
      format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?p76da0') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?p76da0') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?p76da0##{$icomoon-font-family}')
      format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.t10-error {
  &:before {
    content: $t10-error;
  }
}
.t10-gtag {
  &:before {
    content: $t10-gtag;
  }
}
.t10-logo-black {
  &:before {
    content: $t10-logo-black;
  }
}
.t10-logo-white {
  &:before {
    content: $t10-logo-white;
    color: #fff;
  }
}
.t10-t10id {
  &:before {
    content: $t10-t10id;
  }
}
.t10-xuid {
  &:before {
    content: $t10-xuid;
  }
}
