@import '/src/styles/mixins';

span.alternate-name {
  position: absolute;
  display: block;
  font-size: 0.8em;
  top: 1em;
  width: 100%;
  margin-left: -15px;
  margin-right: -15px;
  overflow: hidden;
  text-overflow: ellipsis;
}
