<div class="default-page-layout">
  <div class="default-page-layout-left">
    <opus-player-selection
      player-selection
      [allowT10Id]="false"
      [allowGroup]="false"
      [(ngModel)]="selectedPlayerIdentities"
      (ngModelChange)="onPlayerIdentitiesChange($event)"
      (playerIdentitySelectedEvent)="playerIdentitySelected($event)"
    ></opus-player-selection>
  </div>

  <div class="default-page-layout-right">
    <!-- Page tool -->
    <opus-gift-basket
      [playerIdentities]="selectedPlayerIdentities"
      [lspGroup]="undefined"
    ></opus-gift-basket>
  </div>
</div>
