@import '/src/styles/mixins';

h1,
h2 {
  color: app-color-default($app-primary);
}

p {
  margin-bottom: 0;
}

a {
  display: block;
  max-width: 50%;
  margin-top: 1.5em;
  margin-left: auto;
  margin-right: auto;
  .mat-icon {
    vertical-align: text-bottom;
  }
}

.app-list {
  margin-top: 3em;

  p {
    margin-top: 1.5em;
  }
}

mat-slide-toggle {
  margin-top: $gap-medium;
}
