<ng-container *ngIf="!userProfile">
  <p>Login to see which Steward app are available to you.</p>

  <mat-slide-toggle
    *ngIf="showStagingApiToggle"
    [(ngModel)]="enableStagingApi"
    (ngModelChange)="syncStagingApiSettings()"
    matTooltip="The Staging API enabled requests to be sent to the API service on the staging slot."
    matTooltipPosition="after"
  >
    Use Staging</mat-slide-toggle
  >
  <a mat-raised-button color="primary" [routerLink]="['/auth/login']" [queryParams]="{ from: '' }"
    >Login</a
  >
</ng-container>

<ng-container *ngIf="!!userProfile">
  <p>Hi, {{ userProfile.name || userProfile.emailAddress }}.</p>
  <p>Your role is: {{ userProfile.role }}.</p>
  <a mat-raised-button color="accent" [routerLink]="['/auth/logout']" [queryParams]="{ from: '' }"
    >Logout</a
  >

  <div class="app-list">
    <h2>Steward App List</h2>
    <a
      [disabled]="!areLiveOpsAppsAccessible"
      mat-raised-button
      color="primary"
      routerLink="/live-ops/live-ops-app/tools/home"
    >
      Live Ops App

      <mat-icon
        [svgIcon]="areLiveOpsAppsAccessible ? 'steward-approve-circle' : 'steward-close-circle'"
        [matTooltip]="areLiveOpsAppsAccessible ? appAvailableTooltip : appUnavailableTooltip"
      ></mat-icon>
    </a>
    <a
      [disabled]="!areSupportAppsAccessible"
      mat-raised-button
      color="primary"
      routerLink="/support/navbar-app/tools/home"
    >
      Support App

      <mat-icon
        [svgIcon]="areSupportAppsAccessible ? 'steward-approve-circle' : 'steward-close-circle'"
        [matTooltip]="areSupportAppsAccessible ? appAvailableTooltip : appUnavailableTooltip"
      ></mat-icon>
    </a>
    <a
      [disabled]="!areSupportAppsAccessible"
      mat-raised-button
      color="primary"
      routerLink="/support/ticket-app/title"
    >
      Support Ticket App

      <mat-icon
        [svgIcon]="areSupportAppsAccessible ? 'steward-approve-circle' : 'steward-close-circle'"
        [matTooltip]="areSupportAppsAccessible ? appAvailableTooltip : appUnavailableTooltip"
      ></mat-icon>
    </a>
    <a
      [disabled]="!areCommunityAppsAccessible"
      mat-raised-button
      color="primary"
      routerLink="/community/community-app/tools/home"
    >
      Community Manager App

      <mat-icon
        [svgIcon]="areCommunityAppsAccessible ? 'steward-approve-circle' : 'steward-close-circle'"
        [matTooltip]="areCommunityAppsAccessible ? appAvailableTooltip : appUnavailableTooltip"
      ></mat-icon>
    </a>

    <a
      [disabled]="!areDataAppsAccessible"
      mat-raised-button
      color="primary"
      routerLink="/data-pipeline/data-pipeline-app/tools/home"
    >
      Data Pipeline App

      <mat-icon
        [svgIcon]="areDataAppsAccessible ? 'steward-approve-circle' : 'steward-close-circle'"
        [matTooltip]="areDataAppsAccessible ? appAvailableTooltip : appUnavailableTooltip"
      ></mat-icon>
    </a>

    <p>More coming soon...</p>
  </div>
</ng-container>
