<ng-container *ngIf="!userProfile">
  <p>Login to see which Steward app are available to you.</p>
  <a mat-raised-button color="primary" [routerLink]="['/auth/login']" [queryParams]="{ from: '' }"
    >Login</a
  >
</ng-container>

<ng-container *ngIf="!!userProfile">
  <p>Hi, {{ userProfile.name || userProfile.emailAddress }}.</p>
  <p>Your role is: {{ userProfile.role }}.</p>
  <a mat-raised-button color="accent" [routerLink]="['/auth/logout']" [queryParams]="{ from: '' }"
    >Logout</a
  >

  <div class="app-list">
    <h2>Steward App List</h2>
    <a
      [disabled]="!areLiveOpsAppsAccessible"
      mat-raised-button
      color="primary"
      routerLink="/live-ops/live-ops-app/tools/home"
    >
      Live Ops App

      <fa-icon
        [icon]="areLiveOpsAppsAccessible ? availableIcon : unavailableIcon"
        [matTooltip]="areLiveOpsAppsAccessible ? appAvailableTooltip : appUnavailableTooltip"
      ></fa-icon>
    </a>
    <a
      [disabled]="!areSupportAppsAccessible"
      mat-raised-button
      color="primary"
      routerLink="/support/navbar-app/tools/home"
    >
      Support App

      <fa-icon
        [icon]="areSupportAppsAccessible ? availableIcon : unavailableIcon"
        [matTooltip]="areSupportAppsAccessible ? appAvailableTooltip : appUnavailableTooltip"
      ></fa-icon>
    </a>
    <a
      [disabled]="!areSupportAppsAccessible"
      mat-raised-button
      color="primary"
      routerLink="/support/ticket-app/title"
    >
      Support Ticket App

      <fa-icon
        [icon]="areSupportAppsAccessible ? availableIcon : unavailableIcon"
        [matTooltip]="areSupportAppsAccessible ? appAvailableTooltip : appUnavailableTooltip"
      ></fa-icon>
    </a>
    <a
      [disabled]="!areCommunityAppsAccessible"
      mat-raised-button
      color="primary"
      routerLink="/community/community-app/tools/home"
    >
      Community Manager App

      <fa-icon
        [icon]="areCommunityAppsAccessible ? availableIcon : unavailableIcon"
        [matTooltip]="areCommunityAppsAccessible ? appAvailableTooltip : appUnavailableTooltip"
      ></fa-icon>
    </a>

    <a
      [disabled]="!areDataAppsAccessible"
      mat-raised-button
      color="primary"
      routerLink="/data-pipeline/data-pipeline-app/tools/home"
    >
      Data Pipeline App

      <fa-icon
        [icon]="areDataAppsAccessible ? availableIcon : unavailableIcon"
        [matTooltip]="areDataAppsAccessible ? appAvailableTooltip : appUnavailableTooltip"
      ></fa-icon>
    </a>

    <p>More coming soon...</p>
  </div>
</ng-container>
