<div [formGroup]="formGroup">
  <section>
    <mat-form-field>
      <mat-label>Query</mat-label>
      <input matInput type="text" [formControl]="formControls.name" />
      <button
        mat-button
        *ngIf="formControls.name"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="formControls.name.setValue('')"
      >
        <mat-icon>close</mat-icon>
      </button>
      <mat-hint>Using a function you have already deployed makes this easier</mat-hint>
      <mat-error *ngIf="formControls.name.hasError('required')">Required</mat-error>
      <mat-error *ngIf="formControls.name.hasError('trim')">Has surrounding whitespace</mat-error>
    </mat-form-field>
  </section>

  <section>
    <mat-checkbox
      [formControl]="formControls.makeFunctionCall"
      (change)="onMakeFunctionCallChanged($event.checked)"
      matTooltip="When set, adds function parameters to the passed name. Starts with datetime('{StartDate:o}')"
      >Make Function Call</mat-checkbox
    >
    <mat-checkbox
      [formControl]="formControls.useEndDate"
      matTooltip="When set, adds datetime('{EndDate:o}')"
      >Use End Date</mat-checkbox
    >
    <mat-checkbox
      [formControl]="formControls.useSplitting"
      matTooltip="When set, adds {NumBuckets}, {Bucket}"
      >Use Splitting</mat-checkbox
    >
    <optional-number
      [formControl]="formControls.numberOfBuckets"
      label="Number Of Buckets"
      placeholder="buckets"
      [min]="1"
      [max]="100"
    >
      <ng-container ngProjectAs="[mat-hint]">
        The number of buckets to suggest to Obligation. If null, Obligation will decide for itself
      </ng-container>
    </optional-number>
  </section>
</div>
