<div class="wrapper standard-form" [formGroup]="formGroup">
  <section class="vertical">
    <section>
      <mat-form-field id="obligation-name">
        <mat-label>Name</mat-label>
        <input matInput type="text" [formControl]="formControls.name" [matAutocomplete]="auto" />
        <button mat-icon-button matSuffix [disabled]="true">
          <mat-spinner
            matTooltip="Getting auto-complete options"
            class="force-inline-2x"
            *ngIf="optionsMonitor.status.state === 'active'"
          ></mat-spinner>
        </button>
        <button
          mat-button
          *ngIf="formControls.name"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="formControls.name.setValue('')"
        >
          <mat-icon>close</mat-icon>
        </button>
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
            {{ option.name }} ({{ option.status }})
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="formControls.name.hasError('required')">Required</mat-error>
        <mat-error *ngIf="formControls.name.hasError('trim')">Has surrounding whitespace</mat-error>
        <mat-hint>Unique ID of the pipeline to lookup/modify/create</mat-hint>
      </mat-form-field>
      <ng-content select=".name-button"></ng-content>
    </section>

    <mat-form-field id="obligation-description">
      <mat-label>Description</mat-label>
      <input matInput type="text" [formControl]="formControls.description" />
      <button
        mat-button
        *ngIf="formControls.description"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="formControls.description.setValue('')"
      >
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="formControls.description.hasError('required')">Required</mat-error>
      <mat-error *ngIf="formControls.description.hasError('trim')"
        >Has surrounding whitespace</mat-error
      >
      <mat-hint>Only displayed in the UI</mat-hint>
    </mat-form-field>
  </section>

  <section>
    <kusto-data-activities [formControl]="formControls.dataActivities"></kusto-data-activities>
  </section>

  <section>
    <obligation-principals [formControl]="formControls.principals"></obligation-principals>
  </section>
</div>
