<div class="steward-layout-with-sidebar">
  <div class="steward-layout-sidebar-group">
    <div class="steward-layout-pane player-selection-div steward-layout-vertical-fill">
      <mat-tab-group mat-stretch-tabs class="steward-layout-vertical-fill">
        <mat-tab label="Player Selection">
          <mat-card class="player-selection steward-layout-vertical-fill">
            <player-selection-bulk
              [disableLookupTypes]="['t10Id']"
              [allowSelection]="true"
              [rejectionFn]="identityRejectionFn"
              [sortFn]="identitySortFn"
              (found)="onPlayerIdentitiesChange($event)"
              (selected)="playerIdentitySelected($event)"
            >
              <ng-template let-identity>
                <ban-chip-icon
                  *ngIf="identity?.extra?.hasWoodstock"
                  [identity]="identity.woodstock"
                  [banSummary]="summaryLookup[identity.woodstock.xuid]"
                ></ban-chip-icon>
              </ng-template>
            </player-selection-bulk>
          </mat-card>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="steward-layout-pane steward-layout-fill ban-history">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Ban History</mat-card-title>
          <mat-card-subtitle>Woodstock</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <woodstock-ban-history-compact
            *ngFor="let xuid of bannedXuids"
            [xuid]="xuid"
            [hidden]="!xuid.isEqualTo(selectedPlayer?.xuid)"
          ></woodstock-ban-history-compact>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="steward-layout-pane steward-layout-main-group">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Player Ban</mat-card-title>
        <mat-card-subtitle>Woodstock</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ng-container *waitForMonitor="banActionMonitor">
          <ng-container *ngIf="!banResults; else banResultsState">
            <div class="sf-wrapper" [formGroup]="formGroup">
              <div class="sf-vertical">
                <div class="sf-horizontal">
                  <mat-form-field class="standard-ban-reason" appearance="fill">
                    <mat-label>Ban Reason</mat-label>
                    <input
                      type="text"
                      matInput
                      [formControl]="formControls.banReason"
                      placeholder="ʕ•́ᴥ•̀ʔっ"
                      required
                      [matAutocomplete]="autoGroup"
                    />
                    <mat-autocomplete #autoGroup="matAutocomplete">
                      <mat-optgroup
                        *ngFor="let banReasonGroup of banReasonOptions | async"
                        [label]="banReasonGroup.name"
                      >
                        <mat-option
                          *ngFor="let reason of banReasonGroup.reasons"
                          [value]="reason"
                          (onSelectionChange)="banReasonChanged($event, banReasonGroup)"
                        >
                          {{ reason }}
                        </mat-option>
                      </mat-optgroup>
                    </mat-autocomplete>
                    <mat-hint>This reason will be shown to the player.</mat-hint>
                    <mat-error *ngIf="formControls.banReason.hasError('required')"
                      >Missing ban reason</mat-error
                    >
                    <mat-error *ngIf="formControls.banReason.hasError('requireReasonListMatch')"
                      >Please select a ban reason from the dropdown</mat-error
                    >
                  </mat-form-field>
                </div>
                <ng-container *ngIf="formControls.banReason.value && formControls.banReason.valid">
                  <div class="sf-horizontal">
                    <p><b>Ban Configuration:</b> {{ selectedBanConfiguration.friendlyName }}</p>
                  </div>
                  <div class="sf-horizontal">
                    <p><b>Ban Areas:</b> {{ selectedBanAreasLabel | deppoh }}</p>
                  </div>
                  <div>
                    <span
                      *ngIf="selectedBanReasonGroup.featureAreas.includes(banAreaEnum.AllFeatures)"
                      class="warn"
                    >
                      All player(s) UGC content will be removed when banning All Requests.
                    </span>
                  </div>
                  <div>
                    <p><b>Next Ban Duration: </b>
                    <i *ngIf="!nextBanDuration">Please select a player to see the next ban duration</i>
                    <ng-container *ngIf="nextBanDuration">
                      <ng-container *ngIf="nextBanDuration.isPermaBan; else duration">
                        Permanent Ban{{ nextBanDuration.isDeviceBan ? ', Device Ban' : ''}}
                      </ng-container>
                      <ng-template #duration>
                        {{ !nextBanDuration.banDuration.days.isZero() ? ', ' + nextBanDuration.banDuration.days + ' days' : ''}}
                        {{ !nextBanDuration.banDuration.hours.isZero() ? ', ' + nextBanDuration.banDuration.hours + ' hours' : ''}}
                        {{ !nextBanDuration.banDuration.minutes.isZero() ? ', ' + nextBanDuration.banDuration.minutes + ' minutes' : ''}}
                        {{ !nextBanDuration.banDuration.seconds.isZero() ? ', ' + nextBanDuration.banDuration.seconds + ' seconds' : ''}}
                        {{ nextBanDuration.banDuration.days.isZero() && nextBanDuration.banDuration.hours.isZero() 
                        && nextBanDuration.banDuration.minutes.isZero() && nextBanDuration.banDuration.seconds.isZero() ? 'Warning Message': ''}}
                      </ng-template>
                    </ng-container>
                    </p>
                  </div>
                </ng-container>

                <mat-checkbox [formControl]="formControls.deleteLeaderboardEntries"
                  >Delete all leaderboard entries (Permanent)</mat-checkbox
                >

                <div class="ban-action-container">
                  <button
                    mat-raised-button
                    color="warn"
                    (click)="submitBan()"
                    clickStop
                    stateManager
                    monitorDisable
                    [monitor]="banActionMonitor"
                    [disabled]="!canBan()"
                    [verifyWith]="confirmBan"
                    matTooltip="Create or force replace pipeline (even if it is in an UNSAFE state)"
                  >
                    Ban
                    <button-spinner
                      [monitor]="banActionMonitor"
                      defaultIcon="gavel"
                    ></button-spinner>
                  </button>
                  <mat-checkbox
                    #confirmBan
                    stateManager
                    [monitor]="banActionMonitor"
                    monitorDisable
                    [permissionAttribute]="permAttribute"
                    [permissionTitle]="gameTitle"
                  >
                    Verify ban
                  </mat-checkbox>
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="!banActionMonitor?.isActive">
          <button
            *ngIf="!!banActionMonitor.status.error"
            class="reset-state"
            mat-raised-button
            color="accent"
            matTooltip="Reset the failed tool."
            (click)="resetBanningToolUI()"
            clickStop
          >
            Reset Tool
          </button>
        </ng-container>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<ng-template #banResultsState>
  <ban-results [banResults]="banResults"></ban-results>
  <button
    class="reset-state"
    mat-raised-button
    color="accent"
    matTooltip="Send another ban."
    (click)="resetBanningToolUI()"
    clickStop
  >
    Send another ban
  </button>
</ng-template>
