ul {
    list-style-type: none;
}

.header-buttons {
    border: 0px;
    font-size: 16px;
    background-color: transparent;
    cursor: pointer;
    font-weight: 500;
    margin-right: 10px;

    &:hover {
        color: #337ab7;
    }

    &:focus {
        outline: none;
    }
}

.header-selected {
    color: #337ab7;
}
