@import '/src/styles/mixins';

:host ::ng-deep mat-card {
  margin-bottom: $gap-medium;
}

p {
  display: none;
}
h2 + p {
  display: unset;
}

mat-slide-toggle {
  display: block;
}

span.endpoint-selectors {
  margin-top: $gap-large;
  display: block;
}

.override-section {
  display: flex;
  flex-flow: row wrap;
  margin: -$gap-small/2;
  & > * {
    margin: $gap-small/2;
  }
}

.endpoint-selection-warning {
  display: block;
}
