<div class="wrapper" [formGroup]="formGroup">
  <section class="ban-area">
    <label>Ban Area</label>
    <mat-button-toggle-group [formControl]="formControls.banArea">
      <mat-button-toggle [value]="options.banArea.AllFeatures">All Features</mat-button-toggle>
      <mat-button-toggle [value]="options.banArea.UserGeneratedContent"
        >User Generated Content</mat-button-toggle
      >
      <mat-button-toggle [value]="options.banArea.Matchmaking">Matchmaking</mat-button-toggle>
    </mat-button-toggle-group>
  </section>

  <mat-form-field class="ban-reason" appearance="fill">
    <mat-label>Ban Reason</mat-label>
    <textarea matInput [formControl]="formControls.banReason"></textarea>
    <mat-hint>This reason will be shown to the player.</mat-hint>
    <mat-error *ngIf="formControls.banReason.hasError('required')"> Missing ban reason </mat-error>
  </mat-form-field>

  <duration-picker [formControl]="formControls.banDuration"></duration-picker>

  <section class="ban-options" formGroupName="checkboxes">
    <ul>
      <li>
        <mat-checkbox [formControl]="formControls.checkboxes.banAllXboxes"
          >Ban all Xboxes (No expiry)</mat-checkbox
        >
      </li>
      <li>
        <mat-checkbox [formControl]="formControls.checkboxes.banAllPCs"
          >Ban all PCs (No expiry)</mat-checkbox
        >
      </li>
      <li>
        <mat-checkbox [formControl]="formControls.checkboxes.deleteLeaderboardEntries"
          >Delete all leaderboard entries (Permanent)</mat-checkbox
        >
      </li>
    </ul>
  </section>
</div>
