<mat-card>
  <mat-card-content>
    <section class="ban-area">
      <label>Ban Area</label>
      <mat-button-toggle-group [(ngModel)]="data.banArea" (ngModelChange)="onChange()">
        <mat-button-toggle [value]="options.banArea.AllFeatures" checked=true>All Features</mat-button-toggle>
        <mat-button-toggle [value]="options.banArea.UserGeneratedContent">User Generated Content</mat-button-toggle>
        <mat-button-toggle [value]="options.banArea.Matchmaking">Matchmaking</mat-button-toggle>
      </mat-button-toggle-group>
    </section>

    <mat-form-field class="ban-reason" appearance="fill">
      <mat-label>Ban Reason</mat-label>
      <textarea matInput placeholder="ʕ•́ᴥ•̀ʔっ" [(ngModel)]="data.banReason" (ngModelChange)="onChange()"></textarea>
      <mat-hint>This reason will be shown to the player.</mat-hint>
    </mat-form-field>

    <duration-picker [(ngModel)]="data.banDuration" (ngModelChange)="onChange()"></duration-picker>

    <section class="ban-options">
      <ul>
        <li><mat-checkbox [(ngModel)]="data.checkboxes.banAllXboxes" (ngModelChange)="onChange()">Ban all Xboxes (No expiry)</mat-checkbox></li>
        <li><mat-checkbox [(ngModel)]="data.checkboxes.banAllPCs" (ngModelChange)="onChange()">Ban all PCs (No expiry)</mat-checkbox></li>
        <li><mat-checkbox [(ngModel)]="data.checkboxes.deleteLeaderboardEntries" (ngModelChange)="onChange()">Delete all leaderboard entries (Permanent)</mat-checkbox></li>
      </ul>
    </section>
  </mat-card-content>
</mat-card>