@import '/src/styles/mixins';

div.player-details-item {
  border-top: $border-standard solid rgba(0, 0, 0, 0.12);
  overflow: hidden;

  &:hover {
    cursor: pointer;
    background-color: #f5f5f5;
  }

  .player-details-item-title,
  .player-details-item-value {
    padding: $gap-small $gap-micro;
    margin: 0;
  }

  .player-details-item-title {
    font-weight: bold;
    float: left;
  }

  .player-details-item-value {
    float: right;
  }
}

.copied-data-message {
  position: absolute;
  background-color: app-color-default($app-primary);
  padding: $gap-small;
  border-radius: $border-radius-button;
  color: #fff;
  right: $gap-medium;
}
