<div class="default-page-layout">
  <div class="default-page-layout-left">
    <mat-tab-group
      mat-stretch-tabs
      [(selectedIndex)]="matTabSelectedIndex"
      (selectedTabChange)="matTabSelectionChange($event.index)"
    >
      <mat-tab label="Player Selection">
        <player-selection-single
          [allowSelection]="true"
          (found)="onPlayerIdentitiesChange([$event])"
          (selected)="playerIdentitySelected($event)"
        ></player-selection-single>
      </mat-tab>
      <mat-tab *ngIf="!disableLspGroupSelection" label="LSP Group Selection">
        <apollo-lsp-group-selection [(ngModel)]="selectedLspGroup"></apollo-lsp-group-selection>
      </mat-tab>
    </mat-tab-group>

    <div class="reference-inventory" *ngIf="selectedPlayerIdentity">
      <apollo-player-inventory-profile-picker
        [identity]="selectedPlayerIdentity"
        [(profileId)]="selectedPlayerInventoryProfile"
      ></apollo-player-inventory-profile-picker>
      <apollo-player-inventory
        [identity]="selectedPlayerIdentity"
        [profileId]="selectedPlayerInventoryProfile"
        (inventoryFound)="onInventoryFound($event)"
      ></apollo-player-inventory>
    </div>
  </div>

  <div class="default-page-layout-right">
    <apollo-gift-basket
      [referenceInventory]="selectedPlayerInventory"
      [playerIdentities]="selectedPlayerIdentities"
      [lspGroup]="undefined"
      [usingPlayerIdentities]="true"
    ></apollo-gift-basket>
  </div>
</div>
