<ng-container>
  <div class="left-side">
    <apollo-player-selection
      [allowT10Id]="false"
      [allowGroup]="false"
      [(ngModel)]="selectedPlayerIdentities"
      (ngModelChange)="onPlayerIdentitiesChange($event)"
      (playerIdentitySelectedEvent)="playerIdentitySelected($event)"
    ></apollo-player-selection>
  </div>

  <div class="action-container">
    <mat-card>
      <h2>Apollo gifting page state</h2>
      <p>Number of identities: {{ selectedPlayerIdentities?.length }}</p>
    </mat-card>
  </div>
</ng-container>
