@import '/src/styles/mixins';

table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: $table-tr-hover;
}

tr.element-row:not(.expanded-row):active {
  background: $table-tr-active;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.element-detail {
  padding: $gap-table;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  & > * {
    flex: 1 1 $width-mediaquery-sidebar-break;
    margin: $gap-table;
  }
}

.mat-column-expireTimeUtc,
.mat-column-startTimeUtc {
  min-width: 5em;
  padding-left: 20px;
}

.mat-column-featureArea {
  padding-left: 20px;
}

.mat-column-isActive {
  padding-left: 0px !important;
  padding-right: 2em !important;
}

fa-icon.active {
  margin-left: 10px;
}

pre {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}
