<div class="wrapper" [formGroup]="formGroup">
  <section class="ban-area">
    <label>Ban Area</label>
    <mat-button-toggle-group [formControl]="formControls.banArea">
      <mat-button-toggle [value]="options.banArea.AllFeatures">All Features</mat-button-toggle>
      <mat-button-toggle [value]="options.banArea.UserGeneratedContent"
        >User Generated Content</mat-button-toggle
      >
      <mat-button-toggle [value]="options.banArea.Matchmaking">Matchmaking</mat-button-toggle>
    </mat-button-toggle-group>

    <span *ngIf="formControls.banArea.value === options.banArea.AllFeatures" class="warn">
      All player(s) UGC content will be removed when banning All Requests.
    </span>
  </section>

  <mat-form-field class="standard-ban-reason" appearance="fill">
    <mat-label>Ban Reason</mat-label>
    <input
      type="text"
      matInput
      [formControl]="formControls.banReason"
      placeholder="ʕ•́ᴥ•̀ʔっ"
      required
      [matAutocomplete]="autoGroup"
    />
    <mat-autocomplete #autoGroup="matAutocomplete">
      <mat-optgroup *ngFor="let group of banReasonOptions | async" [label]="group.group">
        <mat-option *ngFor="let value of group.values" [value]="value">{{ value }}</mat-option>
      </mat-optgroup>
    </mat-autocomplete>
    <mat-hint>This reason will be shown to the player.</mat-hint>
    <mat-error *ngIf="formControls.banReason.hasError('required')">Missing ban reason</mat-error>
    <mat-error *ngIf="formControls.banReason.hasError('requireReasonListMatch')"
      >Please select a ban reason from the dropdown</mat-error
    >
  </mat-form-field>

  <duration-picker [formControl]="formControls.banDuration"></duration-picker>

  <section class="ban-options" formGroupName="checkboxes">
    <ul>
      <li>
        <mat-checkbox [formControl]="formControls.checkboxes.banAllXboxes"
          >Ban all Xboxes (No expiry)</mat-checkbox
        >
      </li>
      <li>
        <mat-checkbox [formControl]="formControls.checkboxes.banAllPCs"
          >Ban all PCs (No expiry)</mat-checkbox
        >
      </li>
      <li>
        <mat-checkbox [formControl]="formControls.checkboxes.deleteLeaderboardEntries"
          >Delete all leaderboard entries (Permanent)</mat-checkbox
        >
      </li>
    </ul>
  </section>
</div>
