<mat-tab-group>
  <!-- Reported scores coming later. Services wants to rebuild how reported scores are managed. -->
  <!-- https://dev.azure.com/t10motorsport/Motorsport/_workitems/edit/1000531/?triage=true -->
  <!-- <mat-tab label="Reported Scores">
    <reported-scores></reported-scores>
  </mat-tab> -->
  <mat-tab label="Search Leaderboards">
    <woodstock-search-leaderboards></woodstock-search-leaderboards>
    <woodstock-leaderboard-scores></woodstock-leaderboard-scores>
  </mat-tab>
</mat-tab-group>
