<mat-card>
  <mat-card-header>
    <mat-icon mat-card-avatar>group_add</mat-icon>
    <mat-card-title>Create Steward Team</mat-card-title>
  </mat-card-header>

  <ng-container *waitForMonitor="initComponentActionMonitor">
    <form [formGroup]="formGroup">
      <mat-form-field>
        <mat-label>Team name</mat-label>
        <input matInput [formControl]="formControls.name" />
        <button
          type="button"
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear team name"
          (click)="formControls.name.setValue('')"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Team lead</mat-label>
        <input
          type="text"
          matInput
          [formControl]="formControls.filterLead"
          [matAutocomplete]="auto"
        />
        <button
          type="button"
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear team lead"
          (click)="onUserSelected(null)"
        >
          <mat-icon>close</mat-icon>
        </button>
        <mat-autocomplete
          autoActiveFirstOption
          #auto="matAutocomplete"
          [displayWith]="userAutoCompleteDisplayFn"
          (optionSelected)="onUserSelected($event)"
        >
          <mat-option *ngFor="let user of filteredUsers$ | async" [value]="user">
            {{ user.name }} | {{ user.emailAddress }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        (click)="createStewardTeam()"
        [disabled]="!formGroup.valid"
        stateManager
        [monitor]="createTeamActionMonitor"
        monitorDisable
      >
        Create
        <button-spinner [monitor]="createTeamActionMonitor"></button-spinner>
      </button>
    </form>
  </ng-container>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-icon mat-card-avatar>group</mat-icon>
    <mat-card-title>Steward Teams</mat-card-title>
  </mat-card-header>

  <ng-container *waitForMonitor="initComponentActionMonitor">
    <mat-form-field appearance="fill">
      <mat-label>Select team</mat-label>
      <input type="text" matInput [formControl]="teamFormControl" [matAutocomplete]="auto" />
      <button
        type="button"
        mat-button
        matSuffix
        mat-icon-button
        aria-label="Clear team"
        (click)="onTeamSelected(null)"
      >
        <mat-icon>close</mat-icon>
      </button>
      <mat-autocomplete
        autoActiveFirstOption
        #auto="matAutocomplete"
        [displayWith]="teamAutoCompleteDisplayFn"
        (optionSelected)="onTeamSelected($event)"
      >
        <mat-option *ngFor="let team of filteredTeams$ | async" [value]="team">
          {{ team.name }} | {{ team?.teamLead?.name ?? 'Unknown lead' }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </ng-container>
</mat-card>
