@import '/src/styles/mixins';

section {
  margin: 2em;
}

.tab-container {
  margin: $gap-micro;
  > * {
    margin: $gap-small;
  }
}

h1 {
  padding: 0 2em;
  padding-top: 1em;
}

.lookup {
  height: 100%;
}
