@import '/src/styles/mixins';

.spacer {
  flex: 1 1 auto;
}

.short-spacer {
  flex: 0 1 2em;
}

.location {
  overflow: hidden;
}

.mat-stroked-button {
  border-color: app-color-default-contrast($app-primary, 0.333);
}

.configure-defaults {
  margin-left: 1em;

  &.hidden {
    display: none;
  }
}

.edit-button {
  margin-right: 0.5em;
}

.edit-mode-instructions {
  vertical-align: middle;
}

.drop-list-wrapper,
.link-list-wrapper {
  display: flex;
  flex-shrink: 1;
  overflow: hidden;
  a,
  span {
    flex-shrink: 0;
  }
}

:host ::ng-deep .drop-list-wrapper span * {
  pointer-events: none;
}

.warnings,
.info {
  display: flex;
}

.mat-icon-button {
  line-height: 36px; // chosen to match angular material
  border: 1px solid transparent;
}

.mat-stroked-button,
.stroked-icon-button {
  border: 1px solid app-color-default-contrast($app-primary, 0.5) !important;
}

:host ::ng-deep .home-icon .mat-badge-content {
  width: unset;
  padding-left: 0.2em;
  padding-right: 0.2em;
  border-radius: 500px;
}
