<!-- Useful example https://stackblitz.com/edit/angular-v6xwte?file=src%2Fapp%2Fapp.component.html -->
<mat-toolbar color="primary">
  <a
    [routerLink]="parentRoute + '/home'"
    mat-icon-button
    routerLinkActive="stroked-icon-button"
    [ngSwitch]="environmentWarningOption"
    class="home-icon"
  >
    <mat-icon
      *ngSwitchCase="'warn'"
      [matBadge]="environmentWarningLabel"
      matBadgeColor="warn"
      matBadgePosition="before"
      >home</mat-icon
    >
    <mat-icon
      *ngSwitchCase="'accent'"
      [matBadge]="environmentWarningLabel"
      matBadgeColor="accent"
      matBadgePosition="before"
      >home</mat-icon
    >
    <mat-icon *ngSwitchDefault>home</mat-icon>
  </a>
  <div *ngIf="!inEditMode" class="link-list-wrapper">
    <ng-container *ngFor="let item of listedTools">
      <a
        *ngIf="!item.navComponent"
        mat-button
        [routerLink]="parentRoute + item.tool"
        [target]="item.target"
        routerLinkActive="mat-stroked-button"
        [matTooltip]="item.tooltipDescription"
      >
        <span
          *ngIf="!!item.extraIcon"
          [matBadge]="item.extraIcon"
          matBadgeIcon
          matBadgeOverlap="false"
          >{{ item.title }}</span
        >
        <span *ngIf="!item.extraIcon">{{ item.title }}</span>
      </a>
      <span *ngIf="item.navComponent"
        ><span
          [navAnchor]="item.navComponent"
          [navItem]="item"
        ></span
      ></span>
    </ng-container>
  </div>
  <div
    *ngIf="inEditMode"
    cdkDropList
    cdkDropListOrientation="horizontal"
    class="drop-list-wrapper"
    (cdkDropListDropped)="onDrop($event)"
  >
    <ng-container *ngFor="let item of listedTools">
      <a
        *ngIf="!item.navComponent"
        mat-raised-button
        routerLinkActive="mat-stroked-button"
        [matTooltip]="item.tooltipDescription"
        cdkDrag
      >
        <span
          *ngIf="!!item.extraIcon"
          [matBadge]="item.extraIcon"
          matBadgeIcon
          matBadgeOverlap="false"
          >{{ item.title }}</span
        >
        <span *ngIf="!item.extraIcon">{{ item.title }}</span>
      </a>
      <span *ngIf="item.navComponent" cdkDrag
        ><span [navAnchor]="item.navComponent" [navItem]="item" [navAnchorDisabled]="true"></span
      ></span>
    </ng-container>
    <mat-icon
      class="edit-mode-instructions"
      matTooltip="Currently in edit mode. Links are disabled. Drag and drop to re-order items. Changes are saved immediately."
    >
      help</mat-icon
    >
  </div>

  <button
    mat-raised-button
    class="configure-defaults"
    color="default"
    *ngIf="(!listedTools || listedTools.length === 0) && standardTools"
    [matTooltip]="'Click to enable default navbar for ' + (role | humanize) + ' role'"
    (click)="setRoleDefaultNav()"
  >
    Click to set standard tools
  </button>

  <a
    mat-raised-button
    class="configure-defaults"
    color="accent"
    *ngIf="!listedTools || listedTools.length === 0"
    [matTooltip]="
      !standardTools
        ? 'There is no standard nav for your role. Click to configure'
        : 'Click to configure your tools list'
    "
    [routerLink]="parentRoute + '/home'"
    routerLinkActive="hidden"
    >Click to customize tools</a
  >

  <span class="spacer"></span>
  <button
    mat-icon-button
    color="default"
    class="edit-button edit-button-begin"
    *ngIf="!inEditMode"
    (click)="setEditMode(true)"
    matTooltip="Click to allow re-ordering the navbar (disables links)"
  >
    <mat-icon>edit</mat-icon>
  </button>
  <button
    mat-mini-fab
    color="warn"
    class="edit-button edit-button-end"
    *ngIf="inEditMode"
    (click)="setEditMode(false)"
    matTooltip="Click to lock the navbar (enables links)"
  >
    <mat-icon>edit</mat-icon>
  </button>
  <span *ngIf="missingZendesk$ | async" class="warnings">
    <mat-icon matTooltip="Zendesk API missing">warning</mat-icon>
    <mat-icon matTooltip="Refresh page">refresh</mat-icon>
  </span>
  <span class="info">
    <mat-icon [matTooltip]="location">info</mat-icon>
  </span>
  <span class="short-spacer"></span>
  <span>
    <a
      [routerLink]="[{ outlets: { sidebar: 'notifications' } }]"
      queryParamsHandling="preserve"
      mat-icon-button
      routerLinkActive="stroked-icon-button"
      matTooltip="Notifications"
      aria-label="Notifications"
    >
      <mat-icon
        [matBadge]="notificationCount"
        [matBadgeColor]="notificationColor"
        matBadgeSize="small"
        >notifications</mat-icon
      >
    </a>
  </span>
  <sidebar-icons></sidebar-icons>
</mat-toolbar>
