<mat-card>
  <mat-card-content>
    <h2>
      Sunrise Credit History
      <error-spinner
        [isActive]="false"
        [error]="loadError"
        spinnerMessage="Loading"
        errorMessage="Failed to load"
      ></error-spinner>
    </h2>
    <ng-container *ngIf="!isLoading && !loadError; else failstate">
      <table mat-table [dataSource]="creditHistory">
        <ng-container matColumnDef="isBanned">
          <th mat-header-cell *matHeaderCellDef>Is Banned</th>
          <td mat-cell *matCellDef="let entry"><fa-icon *ngIf="entry.isBanned" [icon]="bannedIcon"></fa-icon></td>
        </ng-container>
        <ng-container matColumnDef="consoleId">
          <th mat-header-cell *matHeaderCellDef>Console ID</th>
          <td mat-cell *matCellDef="let entry">{{entry.consoleId}}</td>
        </ng-container>
        <ng-container matColumnDef="deviceType">
          <th mat-header-cell *matHeaderCellDef>Device Type</th>
          <td mat-cell *matCellDef="let entry">{{entry.deviceType | humanize}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"></tr>
      </table>
    </ng-container>
  </mat-card-content>
</mat-card>

<ng-template #failstate>
  <mat-progress-spinner
    *ngIf="isLoading"
    mode="indeterminate"
  ></mat-progress-spinner>
  <p *ngIf="loadError">Failed to load.</p>
  <pre *ngIf="loadError">{{ loadError | json }}</pre>
</ng-template>
