<ng-container *waitForMonitor="getMonitor">
  <model-dump #source [model]="ugcItem" *ngIf="ugcItem; else noItem">
    <mat-card>
      <mat-card-header>
        <mat-card-title>UGC Overview</mat-card-title>
        <mat-card-subtitle>IDs and other text</mat-card-subtitle>
      </mat-card-header>
      <div class="sf-wrapper">
        <div class="sf-horizontal">
          <div class="sf-vertical">
            <model-dump-xuids></model-dump-xuids>
            <model-dump-simple-table
              [values]="source.processedModel.extractedStrings.ids"
            ></model-dump-simple-table>
            <model-dump-humanize-table
              [values]="source.processedModel.extractedStrings.other"
            ></model-dump-humanize-table>
            <model-dump-humanize-array-table
              [values]="source.processedModel.extractedStringArrays.all"
            ></model-dump-humanize-array-table>
            <model-dump-simple-table
              [values]="source.processedModel.extractedNumbers.ids"
            ></model-dump-simple-table>
            <model-dump-flags></model-dump-flags>
          </div>
          <div class="sf-vertical">
            <ugc-download-button
              class="sf-full-width sf-default-margins sf-action-list-margins"
              [item]="ugcItem"
            ></ugc-download-button>
            <button
              class="sf-default-margins sf-action-list-margins"
              [disabled]="!canFeatureUgc"
              mat-raised-button
              color="primary"
              (click)="featureUgcItem()"
              stateManager
              [permissionAttribute]="permAttribute"
              [permissionTitle]="gameTitle"
            >
              <span [matTooltip]="featureMatToolip" [matTooltipDisabled]="canFeatureUgc">{{
                ugcItem?.featuredByT10 ? 'Edit Featured Status' : 'Set Featured Status'
              }}</span>
            </button>
            <div class="sf-horizontal">
              <button
                class="sf-action-list-margins sf-grow-1"
                mat-raised-button
                color="warn"
                [verifyWith]="verifyReport"
                (click)="reportUgcItem()"
                stateManager
                [monitor]="reportMonitor"
                monitorDisable
                monitorWarn
                monitorWarnSnackbar
                monitorCompleteSnackbar
              >
                <span>Report</span>
              </button>
              <mat-checkbox clickStop #verifyReport matTooltip="Check to enable report UGC.">
                Verify
              </mat-checkbox>
            </div>
          </div>
        </div>
      </div>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>UGC Timeline</mat-card-title>
        <mat-card-subtitle>Key dates</mat-card-subtitle>
      </mat-card-header>
      <div>
        <model-dump-datetime-table
          [values]="source.processedModel.extractedDates.all"
        ></model-dump-datetime-table>
        <model-dump-duration-table
          [values]="source.processedModel.extractedDurations.all"
        ></model-dump-duration-table>
        <model-dump-number-table
          [values]="source.processedModel.extractedNumbers.counts"
        ></model-dump-number-table>
      </div>
      <model-dump-price-table
        [values]="source.processedModel.extractedNumbers.prices"
      ></model-dump-price-table>
      <model-dump-price-table
        [values]="source.processedModel.extractedNumbers.amounts"
      ></model-dump-price-table>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>UGC Info</mat-card-title>
        <mat-card-subtitle>Flags, counters, etc</mat-card-subtitle>
      </mat-card-header>
      <model-dump-number-table
        [values]="source.processedModel.extractedNumbers.other"
      ></model-dump-number-table>
    </mat-card>

    <div class="images">
      <model-dump-images></model-dump-images>
    </div>
  </model-dump>
</ng-container>

<ng-template #noItem>
  <p>No Item Found.</p>
</ng-template>
