<mat-card>
  <mat-card-title>
    <span>{{ event?.meta?.seriesName }}</span>
  </mat-card-title>
  <mat-card-subtitle> {{ event?.meta?.tourName }} </mat-card-subtitle>
  <table class="info-table full-width">
    <tr>
      <th>Start</th>
      <td>
        <standard-absolute-time [timeUtc]="event?.meta?.openTimeUtc"></standard-absolute-time>
      </td>
    </tr>
    <tr>
      <th>End</th>
      <td>
        <standard-absolute-time [timeUtc]="event?.meta?.closeTimeUtc"></standard-absolute-time>
      </td>
    </tr>
  </table>
</mat-card>
