@import '/src/styles/mixins';

mat-icon[mat-card-avatar] {
  font-size: 2.5rem;
}

@include tweak-mat-card-actions-scrollbar-alignment;

section {
  padding: 0 $gap-medium;

  mat-card {
    margin-top: $gap-medium;
  }
}
