<section>
  <mat-card>
    <mat-card-header>
      <mat-icon mat-card-avatar>add_task</mat-icon>
      <mat-card-title>Obligation</mat-card-title>
      <mat-card-subtitle>
        <div>Find, Modify, and Create.</div>
        <div>
          <a
            href="https://343harvester.azurewebsites.net/ops?tenant=turn10&slice_id=df95c675-b8f0-45b9-b07d-6a1bb14db23e"
            >Monitor on 343 Harvester</a
          >
        </div>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="formGroup">
        <full-obligation-input [formControl]="formControls.options">
          <button
            class="name-button"
            mat-button
            mat-icon-button
            mat-mini-fab
            aria-label="Get Entry"
            color="accent"
            matTooltip="GET Pipeline by Name"
            stateManager
            [disabled]="!options.name"
            [monitor]="getMonitor"
            [waitOnMonitors]="allMonitors"
            monitorDisable
            monitorWarn
            monitorWarnSnackbar
            (click)="onGetClick()"
            clickStop
          >
            <mat-icon *ngIf="getMonitor.status.state !== 'active'">sync</mat-icon>
            <mat-spinner
              class="force-inline-2x"
              *ngIf="getMonitor.status.state === 'active'"
            ></mat-spinner>
          </button>
        </full-obligation-input>
      </form>
    </mat-card-content>

    <mat-card-actions align="end">
      <div>
        <button
          mat-raised-button
          color="primary"
          (click)="onPutClick()"
          clickStop
          stateManager
          [permissionAttribute]="permAttribute"
          [disabled]="!formGroup.valid"
          [monitor]="putMonitor"
          [waitOnMonitors]="allMonitors"
          monitorDisable
          monitorWarn
          monitorWarnSnackbar
          monitorCompleteSnackbar
          matTooltip="Attempt to replace pipeline (if it is in a safe state)"
        >
          Update
        </button>
      </div>
      <div>
        <button
          mat-raised-button
          color="primary"
          (click)="onCreateClick()"
          clickStop
          stateManager
          [permissionAttribute]="permAttribute"
          [disabled]="!formGroup.valid"
          [monitor]="createMonitor"
          [waitOnMonitors]="allMonitors"
          monitorDisable
          monitorWarn
          monitorWarnSnackbar
          monitorCompleteSnackbar
          matTooltip="Attempt to create this pipeline (if it does not already exist)"
        >
          Create
        </button>
      </div>

      <mat-divider vertical></mat-divider>

      <div>
        <verify-button
          #verifyBtnConfirmPost
          [permissionAttribute]="permAttribute"
          matTooltip="This operation is UNSAFE. It can force replace a pipeline into a bad state. Check to acknowledge."
        ></verify-button>
        <button
          mat-stroked-button
          color="warn"
          (click)="onPostClick()"
          clickStop
          stateManager
          [disabled]="!formGroup.valid"
          [verifyWithV2]="verifyBtnConfirmPost"
          [monitor]="postMonitor"
          [waitOnMonitors]="allMonitors"
          monitorDisable
          monitorWarn
          monitorWarnSnackbar
          monitorCompleteSnackbar
          matTooltip="Create or force replace pipeline (even if it is in an UNSAFE state)"
        >
          POST
        </button>
      </div>

      <div>
        <verify-button
          #verifyBtnConfirmDelete
          [permissionAttribute]="permAttribute"
          matTooltip="This operation is UNSAFE. It permanently deletes a pipeline. Check to acknowledge."
        ></verify-button>
        <button
          mat-raised-button
          color="warn"
          (click)="onDeleteClick()"
          clickStop
          stateManager
          [disabled]="!formGroup.valid"
          [verifyWithV2]="verifyBtnConfirmDelete"
          [monitor]="deleteMonitor"
          [waitOnMonitors]="allMonitors"
          monitorDisable
          monitorWarn
          monitorWarnSnackbar
          monitorCompleteSnackbar
          matTooltip="Delete the pipeline"
        >
          DELETE
        </button>
      </div>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-icon mat-card-avatar>bug_report</mat-icon>
      <mat-card-title>Debug</mat-card-title>
      <mat-card-subtitle>Temporary information to aid in debugging</mat-card-subtitle>
    </mat-card-header>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Errors</mat-panel-title>
          <mat-panel-description>
            <span *ngIf="!formGroup.valid"> Expand to view errors </span>
            <span *ngIf="formGroup.valid"> No errors </span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <pre>{{ formGroup | formGroupErrors | impureJson }}</pre>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Value</mat-panel-title>
          <mat-panel-description>Expand to view value</mat-panel-description>
        </mat-expansion-panel-header>
        <pre>{{ formGroup.value | impureJson }}</pre>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
</section>
