<!-- General identity is currently "best fit" so we do not check for error. -->
<ng-container *ngIf="!!identity; else noIdentity">
  <h1><player-identity-results [identity]="identity"></player-identity-results></h1>
  <section>
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="Entitlements">
        <div class="sf-wrapper sf-tab-container">
          <entitlements [identity]="identity"></entitlements>
        </div>
      </mat-tab>
      <mat-tab label="Forum Ban History">
        <div class="sf-wrapper sf-tab-container">
          <forum-ban-history [xuid]="identity.xuid"></forum-ban-history>
        </div>
      </mat-tab>
    </mat-tab-group>
  </section>
</ng-container>

<ng-template #noIdentity>
  <h1 *ngIf="lookupName">Finding {{ lookupName }} by {{ lookupType | humanize }}</h1>
  <h1 *ngIf="!lookupName">Waiting for {{ lookupType | humanize }}</h1>
  <ng-container *ngIf="identity?.error">
    <hr />
    <h2>Request failed</h2>
    <p>If this keeps happening, contact support.</p>
    <json-dump [input]="identity?.error">View error</json-dump>
  </ng-container>
</ng-template>
