@import '/src/styles/mixins';

@include flex-navbar-fill;

.user-container {
  height: $container-height-small;
  padding: $gap-small 0;
  cursor: pointer;
  width: 100%;
  display: flex;
  white-space: nowrap;

  .user-info {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .name {
      font-size: 18px;
    }
  }
}

.select-tree-view {
  max-width: $container-width-small;
  width: 100%;
}

.name-filter {
  width: 100%;
}
