@import '/src/styles/mixins/';

/* Force the card to cover everything */
:host {
  display: flex;
  height: 100%;
  flex-flow: column nowrap;
  flex-grow: 1;
}

mat-card {
  flex-grow: 1;
  max-height: unset;
}

/* Standard "No Settings Available" text */
p {
  display: none;
}
h2 + p {
  display: unset;
}

/* Specific styles */
mat-slide-toggle {
  display: block;
}

div.endpoint-selectors {
  margin-top: $gap-large;
  display: block;
}

.endpoint-group {
  display: flex;
  flex-flow: row wrap;
  gap: 1em;

  mat-form-field {
    padding-bottom: 1em;
  }
}

.endpoint-selection-warning {
  display: block;
}
:host {
  display: block;
  padding: 1rem 2rem;
}
