@import '/src/styles/mixins/';

/* Tasteful margin */
:host {
  display: block;
  padding: 1rem 2rem;
  min-width: 30vw;
}

:host ::ng-deep mat-card {
  margin-bottom: $gap-medium;
}

/* Specific styles */
.profile-actions {
  margin-top: $gap-large;
}

button {
  display: block;
  margin-bottom: $gap-medium;
  width: $button-min-size;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.override-section {
  display: flex;
  flex-flow: row wrap;
  margin: calc(-1 * $gap-small / 2);
  & > * {
    margin: calc($gap-small / 2);
  }
}