<section>
  <h2 mat-dialog-title>
    <span>Banner Details</span>
    <button mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
  </h2>

  <mat-dialog-content class="dialog-content">
    <div class="modal-wrapper">
      <div class="scroll-pane">
        <table class="info-table">
          <tr>
            <th>Title</th>
            <td>
              {{ data.title }}
            </td>
          </tr>
          <tr>
            <th>Description</th>
            <td>{{ data.description }}</td>
          </tr>
          <tr>
            <th>Start Time</th>
            <td><standard-absolute-time [timeUtc]="data.startTimeUtc"></standard-absolute-time></td>
          </tr>
          <tr>
            <th>End Time</th>
            <td><standard-absolute-time [timeUtc]="data.endTimeUtc"></standard-absolute-time></td>
          </tr>
          <tr>
            <th>Car Id</th>
            <td>{{ data.carId }}</td>
          </tr>
          <tr>
            <th>Car Name</th>
            <td>{{ data.modelShort }}</td>
          </tr>
          <tr>
            <th>Car Media Name</th>
            <td>{{ data.mediaName }}</td>
          </tr>
          <tr>
            <th>Initial Price</th>
            <td>{{ data.baseCost }}</td>
          </tr>
          <ng-container *ngIf="data.salePrice === null; else saleInformation">
            <tr>
              <th></th>
              <td>No Discounts</td>
            </tr>
          </ng-container>
          <ng-template #saleInformation>
            <tr>
              <th>Sale Price</th>
              <td>{{ data.salePrice }} ({{ data.salePercentOff }}%)</td>
            </tr>
            <tr>
              <th>VIP Sale Price</th>
              <td *ngIf="data.vipSalePrice > 0">
                {{ data.vipSalePrice > 0 ? data.vipSalePrice : 'N/A' }}
                ({{ data.vipSalePercentOff }}%)
              </td>
            </tr>
          </ng-template>
        </table>
      </div>
    </div>
  </mat-dialog-content>
</section>
