<div>
  <form [formGroup]="formGroup">
    <mat-form-field appearance="fill">
      <mat-label>Group name</mat-label>
      <input matInput formControlName="groupName" autocomplete="off" />
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      (click)="createUserGroup()"
      [disabled]="!formGroup.valid || !userHasWritePerms"
      stateManager
      [permissionAttribute]="permAttribute"
      [permissionTitle]="service?.gameTitle"
      [monitor]="monitor"
      monitorDisable
      monitorWarn
      monitorWarnSnackbar
    >
      <span [matTooltip]="!userHasWritePerms ? incorrectPermsTooltip : null">
        Create <button-spinner [monitor]="monitor" defaultIcon="trash"></button-spinner>
      </span>
    </button>
  </form>
</div>
