<section class="player-details">
  <mat-card>
    <mat-card-content>
      <content-collapse>
        <h2 content-title>
          Player Details
          <error-spinner
            [isActive]="false"
            [error]="loadError"
            spinnerMessage="Loading"
            errorMessage="Failed to load"
          ></error-spinner>
        </h2>
        <div content-body>
          <p>* click on row to copy value</p>
          <ng-container *ngIf="!isLoading && !loadError; else failstate">
            <player-details-item
              [name]="'XUID'"
              [value]="playerDetailsUnion.xuid"
            ></player-details-item>
            <player-details-item
              [name]="'Gamertag'"
              [value]="playerDetailsUnion.gamertag"
            ></player-details-item>
            <player-details-item
              [name]="'First Login'"
              [value]="playerDetailsUnion.firstLoginUtc"
            ></player-details-item>
            <player-details-item
              [name]="'Last Login'"
              [value]="playerDetailsUnion.lastLoginUtc"
            ></player-details-item>
            <player-details-item
              [name]="'Region'"
              [value]="playerDetailsUnion.region"
            ></player-details-item>
            <player-details-item
              [name]="'Country'"
              [value]="playerDetailsUnion.country"
            ></player-details-item>
            <player-details-item
              [name]="'IP Address'"
              [value]="playerDetailsUnion.ipAddress"
            ></player-details-item>
            <player-details-item
              [name]="'LCID'"
              [value]="playerDetailsUnion.lcid"
            ></player-details-item>
            <player-details-item
              [name]="'Age Group'"
              [value]="playerDetailsUnion.ageGroup"
            ></player-details-item>
            <player-details-item
              [name]="'Subscription Tier'"
              [value]="playerDetailsUnion.subscriptionTier"
            ></player-details-item>
            <player-details-item
              [name]="'Last Game Settings Used'"
              [value]="playerDetailsUnion.lastGameSettingsUsed"
            ></player-details-item>
            <player-details-item
              [name]="'Time Offset (sec)'"
              [value]="playerDetailsUnion.timeOffsetInSeconds"
            ></player-details-item>
            <player-details-item
              [name]="'Inventory Id'"
              [value]="playerDetailsUnion.userInventoryId"
            ></player-details-item>
            <player-details-item
              [name]="'Career Level'"
              [value]="playerDetailsUnion.currentCareerLevel"
            ></player-details-item>
            <player-details-item
              [name]="'Flags'"
              [value]="playerDetailsUnion.flags"
            ></player-details-item>
            <player-details-item
              [name]="'License Plate'"
              [value]="playerDetailsUnion.licensePlate"
            ></player-details-item>
            <player-details-item
              [name]="'Painter Thread Level'"
              [value]="playerDetailsUnion.painterThreadLevel"
            ></player-details-item>
            <player-details-item
              [name]="'Photo Thread Level'"
              [value]="playerDetailsUnion.photoThreadLevel"
            ></player-details-item>
            <player-details-item
              [name]="'Tuner Thread Level'"
              [value]="playerDetailsUnion.tunerThreadLevel"
            ></player-details-item>
            <player-details-item
              [name]="'Blueprint Thread Level'"
              [value]="playerDetailsUnion.blueprintThreadLevel"
            ></player-details-item>
            <player-details-item
              [name]="'Club Id'"
              [value]="playerDetailsUnion.clubId"
            ></player-details-item>
            <player-details-item
              [name]="'Club Tag'"
              [value]="playerDetailsUnion.clubTag"
            ></player-details-item>
            <player-details-item
              [name]="'Role In Club'"
              [value]="playerDetailsUnion.roleInClub"
            ></player-details-item>
            <player-details-item
              [name]="'Team Id'"
              [value]="playerDetailsUnion.teamId"
            ></player-details-item>
            <player-details-item
              [name]="'Team Tag'"
              [value]="playerDetailsUnion.teamTag"
            ></player-details-item>
            <player-details-item
              [name]="'Role In Team'"
              [value]="playerDetailsUnion.roleInTeam"
            ></player-details-item>
            <player-details-item
              [name]="'Current Badge Id'"
              [value]="playerDetailsUnion.currentBadgeId"
            ></player-details-item>
            <player-details-item
              [name]="'Current Driver Model Id'"
              [value]="playerDetailsUnion.currentDriverModelId"
            ></player-details-item>
            <player-details-item
              [name]="'Current Player Title Id'"
              [value]="playerDetailsUnion.currentPlayerTitleId"
            ></player-details-item>
            <player-details-item
              [name]="'Equipped Vanity Item Id'"
              [value]="playerDetailsUnion.equippedVanityItemId"
            ></player-details-item>
            <player-details-item
              [name]="'Accepts Club Invites'"
              [value]="playerDetailsUnion.acceptsClubInvites"
            ></player-details-item>
            <player-details-item
              [name]="'Club Top Tier Count'"
              [value]="playerDetailsUnion.clubTopTierCount"
            ></player-details-item>
            <player-details-item
              [name]="'User Age Group'"
              [value]="playerDetailsUnion.ageGroup"
            ></player-details-item>
          </ng-container>
        </div>
      </content-collapse>
    </mat-card-content>
  </mat-card>
</section>

<ng-template #failstate>
  <mat-progress-spinner *ngIf="isLoading" mode="indeterminate"></mat-progress-spinner>
  <p *ngIf="loadError">Failed to load.</p>
  <pre *ngIf="loadError">{{ loadError | json }}</pre>
</ng-template>
