@import '/src/styles/mixins';

button {
  margin-bottom: $gap-medium;
}

.table-container {
  max-height: 35vh;
  overflow: auto;

  fa-icon {
    margin-right: 1em;
    cursor: pointer;
  }
}

// Allow veritcal/horizonal scroll based on cell content
// https://stackoverflow.com/questions/55334935/floating-horizontal-scrollbar-with-mat-table-in-angular
.mat-table {
  overflow-x: scroll;
}

.mat-cell,
.mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0 $gap-small;
  line-break: unset;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}
.mat-row,
.mat-header-row {
  display: table-row;
}

.mat-cell {
  border-bottom: $border-standard solid $table-row-separator;
}
