@import '/src/variables.scss';

/** chip layout */
mat-chip {
  display: flex;
  flex-flow: row nowrap;

  .name {
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

// the chip is clickable
mat-chip {
  cursor: pointer;
}

// vertically center the icons
fa-icon {
  line-height: 1em;
}

.identity-valid {
  background-color: mat-color($app-primary, 'lighter');
}

.identity-invalid {
  background-color: mat-color($app-warn, 'lighter');
}