@import '/src/styles/mixins';

model-dump {
  display: flex;
  flex-flow: row wrap;
  & > * {
    flex-grow: 1;
  }
}

model-dump-flags {
  margin-bottom: $gap-medium;
}

:host ::ng-deep .images {
  flex-grow: 0;

  model-dump-images {
    display: flex;
    flex-flow: row wrap;
    justify-items: space-between;
    align-items: flex-start;
    & > * {
      margin: 1em;
    }
  }
}

mat-card,
toggle-list-ez {
  display: block;
  margin: 1em;
  & > *:not(table) {
    display: block;
    &:not(:first-child) {
      margin-top: 1em;
    }
    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }
}

p.padded {
  margin: 2rem;
}

button {
  min-width: $button-min-size;
}