<p *ngIf="ugcItem?.id" class="result-tag">Lookup results for {{ ugcItem?.id }}</p>
<ng-container *waitForMonitor="getMonitor">
  <model-dump #source [model]="ugcItem" *ngIf="ugcItem; else noItem">
    <mat-card>
      <mat-card-header>
        <mat-card-title>UGC Overview</mat-card-title>
        <mat-card-subtitle>IDs and other text</mat-card-subtitle>
      </mat-card-header>
      <div class="sf-wrapper">
        <div class="sf-horizontal">
          <div class="sf-vertical">
            <model-dump-xuids></model-dump-xuids>
            <model-dump-simple-table
              [values]="source.processedModel.extractedStrings.ids"
            ></model-dump-simple-table>
            <model-dump-humanize-table
              [values]="source.processedModel.extractedStrings.other"
            ></model-dump-humanize-table>
            <model-dump-humanize-array-table
              [values]="source.processedModel.extractedStringArrays.all"
            ></model-dump-humanize-array-table>
            <model-dump-simple-table
              [values]="source.processedModel.extractedNumbers.ids"
            ></model-dump-simple-table>
            <model-dump-flags></model-dump-flags>
          </div>
          <div class="sf-vertical">
            <ugc-download-button
              class="sf-full-width sf-default-margins sf-action-list-margins"
              [item]="ugcItem"
            ></ugc-download-button>
            <button
              class="sf-default-margins sf-action-list-margins"
              [disabled]="!canFeatureUgc"
              mat-raised-button
              color="primary"
              (click)="featureUgcItem()"
              stateManager
              [permissionAttribute]="featurePermAttribute"
              [permissionTitle]="gameTitle"
            >
              <span [matTooltip]="featureMatTooltip">{{
                ugcItem?.featuredByT10 ? 'Edit Featured Status' : 'Set Featured Status'
              }}</span>
            </button>
            <div *waitForMonitor="getReportReasonsMonitor">
              <mat-form-field
                class="sf-full-width sf-default-hint sf-action-list"
                appearance="fill"
              >
                <mat-label>Report reason</mat-label>
                <mat-select matInput [(ngModel)]="selectedReason">
                  <mat-option *ngFor="let reason of reportReasons" [value]="reason.id">
                    {{ reason.description }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="sf-horizontal">
              <button
                class="sf-action-list-margins sf-grow-1"
                mat-raised-button
                color="warn"
                [verifyWith]="verifyReport"
                (click)="reportUgcItem()"
                stateManager
                [monitor]="reportMonitor"
                monitorDisable
                monitorWarn
                monitorWarnSnackbar
                monitorCompleteSnackbar
                [disabled]="!selectedReason"
              >
                <span>Report</span>
              </button>
              <mat-checkbox
                clickStop
                #verifyReport
                stateManager
                [permissionAttribute]="reportPermAttribute"
                [permissionTitle]="gameTitle"
                matTooltip="Check to enable report UGC."
              >
                Verify
              </mat-checkbox>
            </div>

            <ng-content select="button"></ng-content>

            <div class="sf-horizontal">
              <button
                class="sf-action-list-margins sf-grow-1"
                mat-raised-button
                color="warn"
                [verifyWith]="verifyHide"
                (click)="hideUgcItem()"
                stateManager
                [monitor]="hideMonitor"
                monitorDisable
                monitorWarn
                monitorWarnSnackbar
                monitorCompleteSnackbar
                [disabled]="!canHideUgc"
              >
                Hide UGC
              </button>
              <mat-checkbox
                #verifyHide
                stateManager
                [permissionAttribute]="hidePermAttribute"
                [permissionTitle]="gameTitle"
                matTooltip="Verify Deletion"
                >Verify</mat-checkbox
              >
            </div>

            <div class="sf-horizontal">
              <button
                class="sf-action-list-margins sf-grow-1"
                mat-raised-button
                color="accent"
                [verifyWith]="verifyPersist"
                (click)="persistUgcItem()"
                stateManager
                [monitor]="persistMonitor"
                monitorDisable
                monitorWarn
                monitorWarnSnackbar
                monitorCompleteSnackbar
                [disabled]="!canPersistUgc"
              >
                <help-popover-icon cardTitle="Persist UGC">
                  <p>Persisted UGC is duplicated on the System user (ID 1 in FH5).</p>
                </help-popover-icon>
                Persist UGC
              </button>
              <mat-checkbox #verifyPersist matTooltip="Verify Persist">Verify</mat-checkbox>
            </div>

            <div class="sf-horizontal">
              <button
                class="sf-action-list-margins sf-grow-1"
                mat-raised-button
                color="accent"
                [verifyWith]="verifyClone"
                (click)="cloneUgcItem()"
                stateManager
                [monitor]="cloneMonitor"
                monitorDisable
                monitorWarn
                monitorWarnSnackbar
                monitorCompleteSnackbar
                [disabled]="!canCloneUgc"
              >
                <help-popover-icon cardTitle="Persist UGC">
                  <p>Cloned UGC is duplicated on the System user (ID 1 for FH5) in Studio.</p>
                  <p>
                    There are two other options available: KeepGuid and IsSearchable. These are not
                    exposed here yet. Both are left off.
                  </p>
                  <p>
                    After the operation completes, the content will be visible on the Studio
                    endpoints.
                  </p>
                </help-popover-icon>
                Clone UGC
              </button>
              <mat-checkbox #verifyClone matTooltip="Verify Clone">Verify</mat-checkbox>
            </div>
          </div>
        </div>
      </div>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>UGC Timeline</mat-card-title>
        <mat-card-subtitle>Key dates</mat-card-subtitle>
      </mat-card-header>
      <div>
        <model-dump-datetime-table
          [values]="source.processedModel.extractedDates.all"
        ></model-dump-datetime-table>
        <model-dump-duration-table
          [values]="source.processedModel.extractedDurations.all"
        ></model-dump-duration-table>
        <model-dump-number-table
          [values]="source.processedModel.extractedNumbers.counts"
        ></model-dump-number-table>
      </div>
      <model-dump-price-table
        [values]="source.processedModel.extractedNumbers.prices"
      ></model-dump-price-table>
      <model-dump-price-table
        [values]="source.processedModel.extractedNumbers.amounts"
      ></model-dump-price-table>
    </mat-card>

    <div>
      <mat-card>
        <mat-card-header>
          <mat-card-title>UGC Info</mat-card-title>
          <mat-card-subtitle>Flags, counters, etc</mat-card-subtitle>
        </mat-card-header>
        <model-dump-number-table
          [values]="source.processedModel.extractedNumbers.other"
        ></model-dump-number-table>
      </mat-card>

      <toggle-list-ez
        [contract]="geoFlagsToggleListEzContract"
        [disabled]="canChangeGeoFlags"
        (afterSubmitted)="updateGeoFlagsModel($event)"
      >
        <help-popover-icon cardTitle="Geo Flags" confluenceName="Geo Flags Card">
          <h3>This data is cached</h3>
          <p>The flags displayed in this card are the same as the ones that the client receives.</p>
          <p>
            This means they are on a rolling 5 minute cache per-machine. The flags displayed here
            will not update until the UGC is not viewed for around 5 minutes, and so the checkboxes
            will not update immediately.
          </p>
        </help-popover-icon>
      </toggle-list-ez>
    </div>

    <div class="images">
      <model-dump-images></model-dump-images>
    </div>
  </model-dump>
</ng-container>

<ng-template #noItem>
  <p class="padded">No Item Found.</p>
</ng-template>
