@import '/src/styles/mixins';

$min-tr-height: 150px;
$actions-column-width: 200px;

:host {
  @include flex-column-fill();
}

mat-card {
  margin: $gap-medium;
  flex-grow: unset;

  .user-list-actions {
    margin-top: $gap-small;
  }

  table {
    width: 100%;

    tr:not(.mat-header-row) {
      height: $min-tr-height;
    }

    tr:hover {
      background-color: $table-tr-hover;
    }

    .mat-column-player {
      @include table-width($actions-column-width);

      span {
        display: block;
      }
    }

    .mat-column-actions {
      @include table-width($actions-column-width);

      button {
        min-width: $button-min-size;
        margin-top: $gap-small;
        margin-bottom: $gap-small;
      }
    }

    .mat-column-banDetails {
      padding-top: $gap-small;

      .ban-history-environment {
        margin-bottom: $gap-medium;

        h4 {
          margin-bottom: 0;
          display: inline;

          mat-icon {
            font-size: unset;
            height: unset;
          }
        }

        a.has-bans {
          color: app-color-default($app-warn);
        }

        a.not-found {
          color: app-color-default($app-primary);
        }

        a:not(.has-bans):not(.not-found) {
          color: app-color-darker($app-success);
        }

        span {
          display: block;
        }

        .is-ban-active {
          display: inline-block;

          mat-icon {
            color: app-color-default($app-warn);
            height: unset;
            vertical-align: bottom;
            margin-left: $gap-small;
            margin-right: $gap-micro;
            cursor: default;
          }
        }
      }
    }
  }

  ul,
  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
