<ng-container *ngIf="identity && !identity?.error; else noIdentity">
  <h1><player-identity-results [identity]="identity"></player-identity-results></h1>
  <section>
    <mat-tab-group animationDuration="0ms" (selectedTabChange)="tabChanged($event)">
      <mat-tab label="User Details">
        <div class="tab-container">
          <sunrise-user-flags [identity]="identity"></sunrise-user-flags>
          <sunrise-ban-history [xuid]="identity.xuid"></sunrise-ban-history>
          <entitlements [identity]="identity"></entitlements>
          <sunrise-profile-notes [identity]="identity"></sunrise-profile-notes>
          <sunrise-gamertags [identity]="identity"></sunrise-gamertags>
          <sunrise-consoles [identity]="identity"></sunrise-consoles>
        </div>
      </mat-tab>
      <mat-tab label="Deep Dive">
        <div class="tab-container">
          <sunrise-overview [identity]="identity"></sunrise-overview>
          <sunrise-backstage-pass-history [identity]="identity"></sunrise-backstage-pass-history>
          <sunrise-credit-history [identity]="identity"></sunrise-credit-history>
        </div>
      </mat-tab>
      <mat-tab label="Inventory">
        <div class="tab-container">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Player Inventory</mat-card-title>
              <mat-card-subtitle>Sunrise</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <sunrise-player-account-inventory
                [identity]="identity"
              ></sunrise-player-account-inventory>
              <sunrise-player-inventory-profile-picker
                [identity]="identity"
                [(profileId)]="profileId"
                (profileIdChange)="onProfileIdChange($event)"
              ></sunrise-player-inventory-profile-picker>
              <sunrise-player-inventory
                [identity]="identity"
                [profileId]="profileId"
              ></sunrise-player-inventory>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab label="Notifications">
        <div class="tab-container">
          <sunrise-player-notifications [identity]="identity"></sunrise-player-notifications>
        </div>
      </mat-tab>
      <mat-tab label="Auctions">
        <div class="tab-container">
          <sunrise-player-auctions [identity]="identity"></sunrise-player-auctions>
        </div>
      </mat-tab>
      <mat-tab>
        <div class="tab-container">
          <ng-template mat-tab-label>
            Auction Log
            <error-spinner
              [isActive]="auctionActionLog.getMonitor.isActive | renderGuard"
              spinnerMessage="Retrieving Data"
            ></error-spinner>
          </ng-template>
          <sunrise-player-auction-action-log
            #auctionActionLog
            [identity]="identity"
          ></sunrise-player-auction-action-log>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          Hidden UGC
          <inline-spinner [monitor]="hiddenUgc.getMonitor | renderGuard"></inline-spinner>
        </ng-template>
        <div class="tab-container">
          <sunrise-player-hidden-ugc #hiddenUgc [identity]="identity"></sunrise-player-hidden-ugc>
        </div>
      </mat-tab>
      <mat-tab label="JSON">
        <div class="tab-container">
          <json-dump [input]="identity">Identity</json-dump>
        </div>
      </mat-tab>
    </mat-tab-group>
  </section>
</ng-container>

<ng-template #noIdentity>
  <h1 *ngIf="lookupName">Finding {{ lookupName }} by {{ lookupType | humanize }}</h1>
  <h1 *ngIf="!lookupName">Waiting for {{ lookupType | humanize }}</h1>
  <ng-container *ngIf="identity?.error">
    <hr />
    <h2>Request failed</h2>
    <p>If this keeps happening, contact support.</p>
    <json-dump [input]="identity?.error">View error</json-dump>
  </ng-container>
</ng-template>
