@import '/src/variables.scss';

div.player-details-item {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  overflow: hidden;

  &:hover {
    cursor: pointer;
    background-color: #f5f5f5;
  }

  .player-details-item-title,
  .player-details-item-value {
    font-size: 16px;
    padding: 15px 5px;
    margin: 0;
  }

  .player-details-item-title {
    font-weight: 600;
    float: left;
  }

  .player-details-item-value {
    float: right;
  }
}

.copied-data-message {
  position: absolute;
  background-color: mat-color($app-primary);
  padding: 10px 15px;
  border-radius: 5px;
  color: #fff;
  right: 30px;
  margin-top: 5px;
}
