<!-- Useful example https://stackblitz.com/edit/angular-v6xwte?file=src%2Fapp%2Fapp.component.html -->
<mat-toolbar color="primary">
  <a [routerLink]="homeRouterLink" mat-icon-button routerLinkActive="mat-stroked-button"
    ><mat-icon>home</mat-icon></a
  >
  <a
    *ngFor="let item of items"
    mat-button
    [routerLink]="item.routerLink"
    routerLinkActive="mat-stroked-button"
  >
    {{ item.title }}
  </a>
  <a mat-button [routerLink]="['/missing-no']">404</a>
  <span class="spacer"></span>
  <span *ngIf="missingZendesk">
    <fa-icon [icon]="warningIcon" title="Zendesk API missing"></fa-icon>
    <fa-icon [icon]="refreshIcon" title="Refresh page"></fa-icon>
  </span>
  <span>{{ location }}</span>
  <span>
    <profile [user]="profile" [parentApp]="'navbar'"></profile>
  </span>
</mat-toolbar>
