@import '/src/styles/mixins';

$isLocked-column-width: 100px;
$build-row-height: 100px;
$actions-column-width: 250px;

.mat-card {
  // User sets paginator to whatever size they want to scroll
  max-height: unset;
}

mat-icon {
  margin-right: $gap-small;
}

mat-expansion-panel {
  margin-bottom: $gap-medium;

  .mat-checkbox {
    margin-left: $gap-small;
  }
}

.mat-chip-list {
  float: right;
}

form {
  max-width: $single-input-max-width;

  mat-button-toggle-group,
  mat-button-toggle,
  mat-form-field {
    width: 100%;
  }

  mat-form-field {
    margin-top: $gap-small;
  }
}

table {
  width: 100%;

  .mat-row {
    height: $build-row-height;
  }

  .is-locked {
    background-color: app-color-darker($app-background);
  }

  .mat-column-isLocked {
    @include table-width($isLocked-column-width);
  }

  .mat-column-actions {
    @include table-width($actions-column-width);

    button {
      min-width: $button-min-size;
      margin-top: $gap-small;
      margin-bottom: $gap-small;
    }
  }
}
