@import '/src/styles/mixins/variables';

$outer-gap: 16px;

mat-card.steward-layout-sticky-scroll {
  position: relative !important;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  max-height: $full-screen-height-calc-basic;
  > *:first-child {
    margin-top: $outer-gap;
  }
  > *:last-child {
    margin-bottom: $outer-gap;
  }

  mat-card-header {
    display: block;
    position: sticky;
    top: 0;
    margin-top: 0 !important;
    margin-left: -$outer-gap;
    margin-right: -$outer-gap;
    padding: $outer-gap;
    z-index: 500;
    background-color: app-color-default($app-background);
  }

  mat-card-content {
    // min-height: calc(100% - ($outer-gap * 2) - ($footer-height))
    flex-basis: 0;
    flex-grow: 1;
  }

  mat-card-actions,
  mat-card-footer {
    position: sticky;
    bottom: 0;
    margin-bottom: 0 !important;
    margin-left: -$outer-gap;
    margin-right: -$outer-gap;
    padding: $outer-gap !important;
    z-index: 500;
    background-color: app-color-default($app-background);
  }
}
