@import '/src/styles/mixins/';

.sf-wrapper {
  $mat-form-field-bottom-spacing: 2em; // chosen to support 2 lines of text w/o conflict

  @mixin _mat-form-field-horizontal-sizing($name: 'unknown', $basis: 5em) {
    > mat-form-field.sf-#{$name} {
      flex-basis: $basis;
      flex-grow: 0;
      .mat-form-field-infix {
        width: unset;
      }
    }
  }

  .sf-horizontal {
    display: flex;
    flex-flow: row wrap;

    &:not(.do-not-align-items) {
      align-items: center;
    }

    .align-items-flex-start.align-items-flex-start.align-items-flex-start {
      align-items: flex-start;
    }

    // align element to start from the right instead of the left
    &.sf-right {
      justify-content: flex-end;
    }

    // get the spacing right
    margin: -1em;
    > * {
      margin: 1em;
    }

    // fill items; override later per-control
    > * {
      flex-grow: 1;
    }

    /** This gives a bit more clearance for hints/names that are near each other. */
    > mat-form-field:not(.sf-default-hint) {
      margin-bottom: $mat-form-field-bottom-spacing;
    }

    // things that shouldn't grow to fill space
    > mat-checkbox,
    > button,
    > help-popover-icon,
    > mat-button-toggle-group {
      flex-grow: 0;
    }

    // align the button
    > button:not(.sf-default-margins),
    > ugc-download-button:not(.sf-default-margins) {
      margin-top: 1.5em;
      margin-bottom: $mat-form-field-bottom-spacing;
    }

    // alignment for help popovers
    > help-popover-icon {
      margin-top: 1.25em;
      margin-left: 0; // this makes them look "more associated" to the nearby controls
      &:not(:last-child) {
        margin-right: 0; // mirror margins if it's in the middle of the block
      }
      margin-bottom: $mat-form-field-bottom-spacing;
    }

    // add margin-bottom to mat-button-toggle-group
    > mat-button-toggle-group {
      margin-bottom: $mat-form-field-bottom-spacing;
    }

    .sf-grow-1 {
      flex-grow: 1;
    }

    // support for up to 5 characters
    @include _mat-form-field-horizontal-sizing('1-char', 5em);
    @include _mat-form-field-horizontal-sizing('2-char', 5em);
    @include _mat-form-field-horizontal-sizing('3-char', 5em);
    @include _mat-form-field-horizontal-sizing('4-char', 5em);
    @include _mat-form-field-horizontal-sizing('5-char', 5em);

    // support for up to 8 characters
    @include _mat-form-field-horizontal-sizing('6-char', 6em);
    @include _mat-form-field-horizontal-sizing('7-char', 6em);
    @include _mat-form-field-horizontal-sizing('8-char', 6em);

    // support for up to 10 characters
    @include _mat-form-field-horizontal-sizing('9-char', 7em);
    @include _mat-form-field-horizontal-sizing('10-char', 7em);

    // support for up to 13 characters
    @include _mat-form-field-horizontal-sizing('13-char', 10em);

    //Full width
    @include _mat-form-field-horizontal-sizing('full-width', 100%);

    @include _mat-form-field-horizontal-sizing('simple-date', 20em);
  }

  .sf-vertical {
    display: flex;
    flex-flow: column nowrap;

    /** This gives a bit more clearance for hints/names that are near each other. */
    mat-form-field:not(.sf-default-hint) {
      margin-bottom: 2em;
    }

    .sf-action-list {
      margin-top: $gap-medium;
    }

    // things that shouldn't grow to fill space
    > mat-checkbox,
    > button,
    > help-popover-icon {
      flex-grow: 0;
    }

    // align the button
    > button:not(.sf-default-margins) {
      margin: $gap-small/2;
    }

    .sf-action-list-margins {
      margin-bottom: $gap-small/2;
    }
  }

  .shrinkwrap {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
  }

  table.sf-full-width {
    width: 100%;

    .mat-cell {
      padding: 1em;
    }
  }

  .sf-full-width {
    width: 100%;
  }
}

.sf-header.sf-header.sf-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;

  &.sf-align-center {
    align-items: center;
  }

  > button {
    margin: 0 0.5em;
    align-items: center;
  }

  > mat-checkbox {
    display: block;
    align-items: center;
  }
}

.mat-card-actions.sf-actions {
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  margin-left: -0.5em;
  margin-right: -0.5em;
  > * {
    margin-left: 1em;
    margin-right: 1em;
  }

  .mat-button-base {
    &:last-child {
      margin-right: 0;
    }
    &:first-child {
      margin-left: 0;
    }
  }
}

.sf-spacer {
  flex-grow: 1;
}

.sf-verify-checkbox {
  margin: 0 $gap-small;
}

.sf-chip-separate-left {
  margin-left: $gap-micro;
  padding-left: $gap-micro;
  border-left: 1px solid $border-foreground-faded;
}

.sf-chip-separate-right {
  margin-right: $gap-micro;
  padding-right: $gap-micro;
  border-right: 1px solid $border-foreground-faded;
}

.mat-card-actions.sf-actions,
.sf-header {
  background-color: app-color($app-background, 'card');
}

.sf-text-warn {
  color: app-color-default($app-warn);
}

button.sf-standard-width {
  min-width: $button-min-size;
  position: relative;
}

textarea.sf-standard-height {
  min-height: $text-area-medium-height;
  max-height: $text-area-max-height;
}

.sf-tooltip-multiline {
  white-space: pre-line;
}

.sf-menu-relative-container > .mat-menu-content {
  position: relative;
  overflow-x: hidden;
}

help-popover-icon.sf-menu-top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.sf-no-bullet {
  list-style-type: none;
}
