@import '/src/styles/mixins/variables';

.steward-layout-with-sidebar {
  @include for-desktop-down {
    display: flex;
    flex-flow: column nowrap;
  }

  @include for-desktop-up {
    display: flex;
    flex-flow: row wrap;
  }

  mat-card {
    max-height: $full-screen-height-calc;
    overflow-y: auto;
  }

  .steward-layout-sidebar-group {
    @include for-desktop-down {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      width: 100%;
    }

    @include for-desktop-up {
      display: flex;
      flex-flow: column nowrap;
      flex-grow: 0;
      width: 400px;
    }
  }

  .steward-layout-main-group {
    flex-basis: 0;
    flex-grow: 1;
  }

  .steward-layout-pane {
    margin: 10px;
    display: flex;
    flex-flow: column nowrap;
    > * {
      flex-grow: 1;
    }
    > mat-card {
      flex-grow: 1;
    }
  }

  // for things that should fill the space, while being at least as large as they want to be
  .steward-layout-grow {
    flex-grow: 1000;
  }

  // for things that should fill the space, but not preserve their desired height
  // will still be as large as they want to be on smaller screens
  .steward-layout-fill {
    @include for-desktop-down {
      flex-grow: 1;
    }

    @include for-desktop-up {
      flex-basis: 0;
      flex-grow: 1;
      overflow-y: auto;
    }
  }
}
