<mat-toolbar>
  <a
    [routerLink]="woodstockRouterLink"
    mat-button
    routerLinkActive="mat-stroked-button"
    [class.mat-button-disabled]="!sharedLookupService.hasAnyFH5"
    >FH5
    <endpoint-selection [titleCodeName]="GameTitleCodeName.FH5"> </endpoint-selection>
  </a>
  <a
    [routerLink]="sunriseRouterLink"
    mat-button
    routerLinkActive="mat-stroked-button"
    [class.mat-button-disabled]="!sharedLookupService.hasAnyFH4"
    >FH4
    <endpoint-selection [titleCodeName]="GameTitleCodeName.FH4"> </endpoint-selection>
  </a>
  <span class="icon-spacer"></span>
  <div class="lookup-container">
    <mat-form-field>
      <mat-label>UGC ID / Share Code</mat-label>
      <input
        matInput
        placeholder="1234567 / fd895fdc-fb7e-4b3f-8e0d-7feaa772cd5d"
        [formControl]="controls.sharecode"
      />
      <mat-hint>Will be checked against supported titles</mat-hint>
    </mat-form-field>
  </div>
  <span class="icon-spacer"></span>
  <inline-spinner [monitor]="sharedLookupService.getMonitor"></inline-spinner>
  <span class="spacer"></span>
</mat-toolbar>
<router-outlet></router-outlet>
