@import '/src/styles/mixins';

.spacer {
  flex: 1 1 auto;
}

.icon-spacer {
  flex-basis: 2rem;
}

// allow a much larger auction ID entry space
.lookup-container {
  flex-basis: 20em;
  mat-form-field {
    display: block;
  }
}

.navbar-button-active {
  background-color: app-color-default($app-accent);
  color: #fff !important;
}

:host ::ng-deep {
  mat-toolbar {
    font-size: $font-size-subnavbar;
  }
  & .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: initial;
  }
}

.mat-stroked-button {
  border-color: app-color-default-contrast($app-background, 0.333);
}
