@import '/src/styles/mixins';

table {
  width: 100%;
}

mat-form-field.profile-notes {
  width: 50%;
  padding-top: 1em;

  textarea {
    min-height: $text-area-medium-height;
    max-height: $text-area-max-height;
  }
}
