
@import '~@angular/material/theming';
@include mat-core();

$primary-definition: (
    50: #e3f5fe,
    100: #b8e6fb,
    200: #8bd5f8,
    300: #63c5f4,
    400: #4db8f2,
    500: #42abef,
    600: #3d9de0,
    700: #378acb,
    800: #3379b7,
    900: #2a5a94,
    A100: #ffffff,
    A200: #dde6f3,
    A400: #6992c9,
    A700: #38649d,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: white,
    )
);

$secondary-definition: (
    50: #fce7f2,
    100: #f8c2df,
    200: #f69bca,
    300: #f673b4,
    400: #f656a0,
    500: #f83c8d,
    600: #e53988,
    700: #cd3680,
    800: #b73379,
    900: #8f2d6d,
    A100: #ffffff,
    A200: #fff7f4,
    A400: #fc8259,
    A700: #f44205,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: white,
    )
);

$zendesk-palette-primary: mat-palette($primary-definition, 800, 900, 500);
$zendesk-palette-secondary:  mat-palette($secondary-definition, 800, 900, 500);
$zendesk-theme: mat-light-theme($zendesk-palette-primary, $zendesk-palette-secondary);
@include angular-material-theme($zendesk-theme);


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.game-title-header {
    color: #337ab7;
    font-size: 24px;
    float: right;
    margin-right: 50px;
    margin-top: 20px;
}

::-webkit-scrollbar {
    width: 3px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #337ab7; 
}
