@import '/src/styles/mixins';

h2 {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;

  .spacer {
    flex-grow: 1;
  }

  button {
    margin: 0.25em;
  }
}

.job-entries {
  list-style: none;
  display: flex;
  flex-flow: column nowrap;

  mat-checkbox {
    &,
    ::ng-deep .mat-checkbox-label {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
    }
  }
}

.fake-jobs {
  margin-top: $gap-medium;
}

.nav-to-job-history {
  a {
    margin-top: $gap-medium;
    width: 100%;
  }
}

:host {
  display: block;
  padding: 1rem 2rem;
}
