<ng-container *ngIf="!playerIdentity?.error; else identityErrorState">
  <apollo-player-sidebar-details
    [gamertag]="playerIdentity?.gamertag"
  ></apollo-player-sidebar-details>
  <quick-actions class="top-spacing">
    <go-to-inventory-button
      [gameTitle]="gameTitle"
      [xuid]="playerIdentity?.xuid"
    ></go-to-inventory-button>
  </quick-actions>
</ng-container>

<ng-template #identityErrorState>
  <mat-card class="lookup-failed-card">
    <mat-card-title>Apollo Lookup Failed</mat-card-title>
    <mat-card-content>
      <p>"{{ lookupGamertag }}" does not exist.</p>
      <json-dump [input]="playerIdentity?.error">Lookup Error</json-dump>
    </mat-card-content>
  </mat-card>
</ng-template>
