<div class="steward-layout-with-sidebar">
  <div class="steward-layout-sidebar-group">
    <div class="steward-layout-pane">
      <apollo-lsp-group-selection
        [formControl]="formControls.userGroup"
        [preselectGroupId]="preselectedGroupId"
      ></apollo-lsp-group-selection>
    </div>
    <div class="steward-layout-pane">
      <mat-card>
        <mat-card-header>
          <mat-icon mat-card-avatar>group_add</mat-icon>
          <mat-card-title>Create User Group</mat-card-title>
          <mat-card-subtitle>Apollo</mat-card-subtitle>
        </mat-card-header>
        <apollo-create-user-group
          (newUserGroup)="newUserGroupCreated($event)"
        ></apollo-create-user-group>
      </mat-card>
    </div>
  </div>

  <div class="steward-layout-pane steward-layout-fill reference-inventory">
    <div>
      <mat-card class="manage-user-group-card">
        <mat-card-header>
          <mat-icon mat-card-avatar>manage_accounts</mat-icon>
          <mat-card-title>User Group Management</mat-card-title>
          <mat-card-subtitle>Apollo</mat-card-subtitle>
        </mat-card-header>
        <apollo-list-users-in-user-group
          [userGroup]="selectedUserGroup"
        ></apollo-list-users-in-user-group>
      </mat-card>
    </div>
  </div>
</div>
