<section *ngIf="!loading">
    <profile [user]="profile"></profile>
    
    <h1>{{title}} Info</h1>
    <div *ngIf="player">
        <table>
            <ticket-info-item [name]="'XUID'" [value]="player.xuid"></ticket-info-item>
            <ticket-info-item [name]="'Gamertag'" [value]="player.gamertag"></ticket-info-item>
            <ticket-info-item [name]="'First Login'" [value]="player.firstLogin"></ticket-info-item>
            <ticket-info-item [name]="'Last Login'" [value]="player.lastLogin"></ticket-info-item>
            <ticket-info-item [name]="'Region'" [value]="player.region"></ticket-info-item>
            <ticket-info-item [name]="'Country'" [value]="player.country"></ticket-info-item>
            <ticket-info-item [name]="'IP Address'" [value]="player.ipAddress"></ticket-info-item>
            <ticket-info-item [name]="'LCID'" [value]="player.lcid"></ticket-info-item>
            <ticket-info-item [name]="'Environment'" [value]="player.environment"></ticket-info-item>
            <ticket-info-item [name]="'Age Group'" [value]="player.ageGroup"></ticket-info-item>
            <ticket-info-item [name]="'Subscription Tier'" [value]="player.subscriptionTier"></ticket-info-item>
            <ticket-info-item [name]="'Last Game Settings Used'" [value]="player.lastGameSettingsUsed"></ticket-info-item>
            <ticket-info-item [name]="'Time Offset (sec)'" [value]="player.timeOffsetInSeconds"></ticket-info-item>
            <ticket-info-item [name]="'Inventory Id'" [value]="player.userInventoryId"></ticket-info-item>
            <ticket-info-item [name]="'Career Level'" [value]="player.currentCareerLevel"></ticket-info-item>
            <ticket-info-item [name]="'Flags'" [value]="player.flags"></ticket-info-item>
            <ticket-info-item [name]="'License Plate'" [value]="player.licensePlate"></ticket-info-item>
            <ticket-info-item [name]="'Painter Thread Level'" [value]="player.painterThreadLevel"></ticket-info-item>
            <ticket-info-item [name]="'Photo Thread Level'" [value]="player.photoThreadLevel"></ticket-info-item>
            <ticket-info-item [name]="'Tuner Thread Level'" [value]="player.tunerThreadLevel"></ticket-info-item>
            <ticket-info-item [name]="'Blueprint Thread Level'" [value]="player.blueprintThreadLevel"></ticket-info-item>
            <ticket-info-item [name]="'Club Id'" [value]="player.clubId"></ticket-info-item>
            <ticket-info-item [name]="'Club Tag'" [value]="player.clubTag"></ticket-info-item>
            <ticket-info-item [name]="'Role In Club'" [value]="player.roleInClub"></ticket-info-item>
            <ticket-info-item [name]="'Team Id'" [value]="player.teamId"></ticket-info-item>
            <ticket-info-item [name]="'Team Tag'" [value]="player.teamTag"></ticket-info-item>
            <ticket-info-item [name]="'Role In Team'" [value]="player.roleInTeam"></ticket-info-item>
            <ticket-info-item [name]="'Current Badge Id'" [value]="player.currentBadgeId"></ticket-info-item>
            <ticket-info-item [name]="'Current Driver Model Id'" [value]="player.currentDriverModelId"></ticket-info-item>
            <ticket-info-item [name]="'Current Player Title Id'" [value]="player.currentPlayerTitleId"></ticket-info-item>
            <ticket-info-item [name]="'Equipped Vanity Item Id'" [value]="player.equippedVanityItemId"></ticket-info-item>
            <ticket-info-item [name]="'Accepts Club Invites'" [value]="player.acceptsClubInvites"></ticket-info-item>
            <ticket-info-item [name]="'Club Top Tier Count'" [value]="player.clubTopTierCount"></ticket-info-item>
            <ticket-info-item [name]="'User Age Group'" [value]="player.userAgeGroup"></ticket-info-item>
            <ticket-info-item [name]="'Is Featured Drivatar'" [value]="player.isFeaturedDrivatar"></ticket-info-item>
            <ticket-info-item [name]="'Is Featured Photographer'" [value]="player.isFeaturedPhotographer"></ticket-info-item>
            <ticket-info-item [name]="'Is Featured Tuner'" [value]="player.isFeaturedTuner"></ticket-info-item>
            <ticket-info-item [name]="'Is Featured Painter'" [value]="player.isFeaturedPainter"></ticket-info-item>
            <ticket-info-item [name]="'Is Community Manager'" [value]="player.isCommunityManager"></ticket-info-item>
            <ticket-info-item [name]="'Is User Under Review'" [value]="player.isUserUnderReview"></ticket-info-item>
            <ticket-info-item [name]="'Is On White List'" [value]="player.isOnWhiteList"></ticket-info-item>
            <ticket-info-item [name]="'Is Turn10 Employee'" [value]="player.isTurn10Employee"></ticket-info-item>
            <ticket-info-item [name]="'Is Vip'" [value]="player.isVip"></ticket-info-item>
            <ticket-info-item [name]="'Is Featured Commentator'" [value]="player.isFeaturedCommentator"></ticket-info-item>
            <ticket-info-item [name]="'Is Flagged For Suspicious Activity'" [value]="player.isFlaggedForSuspiciousActivity"></ticket-info-item>

            <h2>Actions</h2>
            <div class="actions-div">
                <button mat-raised-button color="primary" (click)="goToInventory()">Go To Inventory</button>
            </div>
        </table>
    </div>
</section>
<section *ngIf="loading">
    <h1>Loading...</h1>
</section>