@import '/src/styles/mixins/variables.scss';

nav {
  display: flex;
  flex-flow: row nowrap;
}

.spacer {
  flex: 1 1 auto;
}

.short-spacer {
  flex: 0 1 2em;
}

nav > span {
  margin: 0 0.25em;
}

.warnings fa-icon {
  color: mat-color($app-warn);
}

.info fa-icon {
  color: mat-color($app-primary, lighter);
}

.location {
  overflow: hidden;
}
