@import '../variables.scss';

ul {
  list-style-type: none;
}

.header-buttons {
  border: 0px;
  font-size: 16px;
  background-color: transparent;
  cursor: pointer;
  font-weight: 500;
  margin-right: 10px;

  &:hover {
    color: $primaryBlue;
  }

  &:focus {
    outline: none;
  }
}

.header-selected {
  color: $primaryBlue;
}

.footer-section {
  width: 100%;
  bottom: 0px;
  position: fixed;
  height: 40px;

  a {
    color: $primaryBlue;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    display: block;
    font-size: 14px;
  }
}
