@import '/src/variables.scss';

:host {
  height: 100%;
}

.header-buttons {
  border: 0px;
  font-size: 16px;
  background-color: transparent;
  cursor: pointer;
  font-weight: 500;
  margin-right: 10px;

  &:hover {
    color: $primaryBlue;
  }

  &:focus {
    outline: none;
  }
}

.header-selected {
  color: $primaryBlue;
}

.footer-section {
  width: 100%;
  margin-top: 30px;
  bottom: 0px;
  left: 0px;
  position: relative;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    li {
      padding: 0 0.5em;
      line-height: 1em;
      text-align: center;

      // tuned to avoid taking up a bunch of space in the ticket sidebar
      font-size: 12px;
      @media screen and (min-width: 400px) {
        font-size: 14px;
      }
    }
  }

  // TODO: This style should probably be global? Or a mixin.
  a {
    color: $primaryBlue;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
