@import '/src/styles/mixins';

.hidden {
  visibility: hidden;
}

span.actions {
  white-space: nowrap;

  mat-checkbox {
    margin-right: 0.5em;
  }

  & > *:not(:first-child) {
    margin-left: 0.5em;
  }
}

table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: $table-tr-hover;
}

tr.element-row:not(.expanded-row):active {
  background: $table-tr-active;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.element-detail {
  padding: $gap-table;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  & > * {
    flex: 1 1 $width-mediaquery-sidebar-break;
    margin: $gap-table;
  }
}

.mat-column-expireTimeUtc,
.mat-column-startTimeUtc {
  min-width: 5em;
  padding-left: $gap-medium;
}

.mat-column-featureArea {
  padding-left: $gap-medium;
}

mat-card {
  flex-grow: unset;
  max-height: unset;
}

.forum-ban-link {
  margin-top: $gap-medium;
}

.ban-subchip {
  border-radius: 2em;
  padding-left: 0.125em;
  padding-right: 0.125em;
  white-space: nowrap;
  margin: 0 0.125rem;

  mat-chip {
    color: app-color-default($app-warn);
  }

  mat-icon {
    color: app-color-default($app-warn);
    font-size: 1.5em;
  }
}
