@import '/src/styles/mixins';

mat-card-content {
  max-width: 20em;
}

::ng-deep mat-card > help-popover-icon,
::ng-deep mat-card-title-group > help-popover-icon,
::ng-deep mat-card-header > help-popover-icon,
::ng-deep mat-card-title help-popover-icon {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
}

// Default help popover icon size
$help-popover-icon-size: 36px;
::ng-deep .mat-button-wrapper > help-popover-icon {
  position: absolute;
  overflow: hidden;

  top: -#{$help-popover-icon-size / 2};
  right: -#{$help-popover-icon-size / 2};
}

::ng-deep .mat-badge-icon .mat-badge-content {
  font-family: 'Material Icons';
  background-color: transparent;
}

// content tweaks for the card itself
::ng-deep .help-popover-card {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:first-child {
      margin-top: 0;
    }

    margin-bottom: 0;
  }
  ul {
    margin-top: 0;
    padding-left: 1em;
  }
}
