@import '/src/styles/mixins';

div {
  overflow: auto;

  .ban-result-error {
    background-color: app-color-lighter($app-warn);
  }
}

mat-panel-description {
  span {
    text-overflow: ellipsis;
    overflow: hidden;
    height: 1.5em;
    display: block;
    width: 50vw;
    white-space: nowrap;
  }
}

mat-panel-title {
  flex-grow: 0;
}
