<mat-card>
  <mat-card-header class="sf-header">
    <mat-card-title>Driver Level</mat-card-title>
    <mat-card-subtitle>{{ gameTitle | humanize }}</mat-card-subtitle>

    <div class="sf-spacer"></div>

    <mat-checkbox
      #verifyApply
      stateManager
      monitorDisable
      [monitor]="setMonitor"
      [disabled]="!formGroup.dirty || !formGroup.valid"
      [permissionAttribute]="permAttribute"
      [permissionTitle]="gameTitle"
      >Verify</mat-checkbox
    >
    <button
      mat-raised-button
      color="primary"
      (click)="setDriverLevel()"
      clickStop
      stateManager
      monitorDisable
      [monitor]="setMonitor"
      [disabled]="!formGroup.dirty || !formGroup.valid"
      [verifyWith]="verifyApply"
    >
      Apply
      <button-spinner [monitor]="setMonitor" defaultIcon="save"></button-spinner>
    </button>
  </mat-card-header>
  <form [formGroup]="formGroup" class="sf-wrapper">
    <div class="sf-vertical" *waitForMonitor="getMonitor">
      <div class="sf-horizontal">
        <mat-form-field appearance="fill" class="sf-default-hint">
          <mat-label>Driver Level</mat-label>
          <input type="number" matInput [formControl]="formControls.driverLevel" />
          <mat-error *ngIf="formControls.driverLevel.hasError('min')"
            >Driver level must be greater than or equal to 1.</mat-error
          >
          <mat-error *ngIf="formControls.driverLevel.hasError('max')"
            >Driver level must be less than or equal to 999.</mat-error
          >
        </mat-form-field>
      </div>

      <div class="sf-horizontal">
        <mat-form-field appearance="fill" class="sf-default-hint">
          <mat-label>Prestige Rank</mat-label>
          <input type="number" matInput [formControl]="formControls.prestigeRank" />
          <mat-error *ngIf="formControls.prestigeRank.hasError('min')"
            >Prestige rank must be at least 0.</mat-error
          >
          <mat-error *ngIf="formControls.prestigeRank.hasError('max')"
            >Prestige rank level must be less than or equal to 99.</mat-error
          >
        </mat-form-field>
      </div>

      <div class="sf-horizontal">
        <mat-form-field appearance="fill" class="sf-default-hint">
          <mat-label>Experience Points</mat-label>
          <input type="number" matInput [formControl]="formControls.experiencePoints" />
          <mat-hint>Experience is auto calculated by services.</mat-hint>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-card>
