<mat-chip-list
  aria-label="Profile selection"
  *ngIf="!!profiles?.length"
  selectable="true"
  multiple="false"
  (change)="onSelectionChange($event)"
>
  <mat-chip
    *ngFor="let profile of profiles"
    color="primary"
    #chip="matChip"
    [value]="profile"
    (click)="chip.toggleSelected(true)"
    [selected]="profile?.isCurrent"
  >
    <mat-icon
      *ngIf="!!profile.titleId ? profile.isCurrentByTitleId : profile.isCurrent"
      class="leading-icon"
      [matTooltipDisabled]="!profile.titleId"
      [matTooltip]="'Profile active for title ID: ' + profile.titleId"
    >
      person
    </mat-icon>
    <mat-icon
      *ngIf="!!profile.titleId ? !profile.isCurrentByTitleId : !profile.isCurrent"
      class="leading-icon"
      matTooltip="Profile Inactive"
    >
      person_off
    </mat-icon>
    <span class="id" [matTooltip]="'Profile ID: ' + profile.profileId">{{
      profile.profileId
    }}</span>
    <span class="device-type" [matTooltip]="'Device Type: ' + profile.deviceType">{{
      profile.deviceType
    }}</span>
    <span *ngIf="profile.titleId" class="title-info" [matTooltip]="'Title Id: ' + profile.titleId"
      >({{ profile.titleName }} - {{ profile.titleId.toString(16) }})</span
    >
    <mat-icon
      *ngIf="profile.externalProfileId"
      class="external-id trailing-icon"
      [matTooltip]="'External ID: ' + profile.externalProfileId"
    >
      badge
    </mat-icon>
  </mat-chip>
</mat-chip-list>
