<form
  [formGroup]="itemSelectionForm"
  #formDirective="ngForm"
  (ngSubmit)="addItemEmitter(formDirective)"
>
  <mat-form-field class="item-selection-form-field">
    <input
      type="text"
      matInput
      placeholder="Search for an item or item ID"
      formControlName="itemInput"
      required
      [matAutocomplete]="autoGroup"
      [(ngModel)]="itemInputValue"
    />
    <mat-autocomplete
      #autoGroup="matAutocomplete"
      (optionSelected)="newItemSelected($event.option.value)"
      [displayWith]="itemAutoCompleteDisplayFn"
    >
      <mat-option [disabled]="true">Showing item types</mat-option>
      <mat-optgroup *ngFor="let group of stateGroupOptions | async" [label]="group.category">
        <mat-option *ngFor="let item of group.items" [value]="item">
          {{ item.description }}
          <span class="item-id-text" *ngIf="item.id >= 0">[{{ item.id }}]</span>
        </mat-option>
      </mat-optgroup>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field class="quantity-form-field">
    <mat-label>Quantity</mat-label>
    <input #quantity type="number" matInput placeholder="1" formControlName="quantity" />
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" [disabled]="!itemSelectionForm.valid">
    Add Item
  </button>
</form>
