@import '/src/variables.scss';

.item-selection-form-field {
  max-width: 400px;
  width: 100%;
  margin-right: 10px;
}

.quantity-form-field {
  width: 100px;
  margin-right: 10px;
}

.item-id-text {
  color: mat-color($app-primary);
}
