<mat-card>
  <mat-card-header>
    <mat-card-title>Loyalty Rewards</mat-card-title>
    <mat-card-subtitle>{{ serviceContract?.gameTitle }}</mat-card-subtitle>
    <help-popover-icon cardTitle="Loyalty Rewards">
      <span
        >When clicking the 'Send Loyalty Rewards' button, the tool will send out a reward for each
        title the user has a record of playing but hasn't received a gift for.</span
      >
    </help-popover-icon>
  </mat-card-header>
  <mat-card-content>
    <woodstock-player-inventory-profile-picker
      [identity]="identity"
      (profileChange)="onProfileChange($event)"
    ></woodstock-player-inventory-profile-picker>

    <ng-container *waitForMonitor="getMonitor">
      <ng-container *ngIf="hasPlayedRecordTable?.data?.length > 0; else noDataTemplate">
        <table mat-table [dataSource]="hasPlayedRecordTable">
          <ng-container matColumnDef="label">
            <th mat-header-cell *matHeaderCellDef>Label</th>
            <td mat-cell *matCellDef="let entry">
              <span
                >{{ entry.label | humanize }}
                <mat-checkbox
                  *ngIf="entry.label === actionLabel"
                  [checked]="!disableSingleActions"
                  (change)="toggleSingleSend($event)"
                  [disabled]="disableSendActions"
                  [matTooltip]="
                    !disableSendActions ? 'Verify Send Loyalty Reward' : featureDisabledText
                  "
                >
                </mat-checkbox>
              </span>
            </td>
          </ng-container>

          <ng-container *ngFor="let gameColumn of gameTitleColumns" [matColumnDef]="gameColumn">
            <th mat-header-cell *matHeaderCellDef>
              {{ gameColumn }}
            </th>
            <td mat-cell *matCellDef="let row">
              <span *ngIf="!!row.titles">
                <mat-icon *ngIf="row.titles[gameColumn]; else falseFlagTemplate" class="green-icon"
                  >check_circle</mat-icon
                >
              </span>
              <span *ngIf="!row.titles">
                <button
                  mat-raised-button
                  color="primary"
                  [matTooltip]="'Send Loyalty Reward for: ' + gameColumn"
                  [disabled]="disableSingleActions || disableSendActions"
                  (click)="sendReward(gameColumn)"
                  [monitor]="singlePostMonitors[gameColumn]"
                  stateManager
                  monitorDisable
                  monitorWarnSnackbar
                >
                  <button-spinner
                    [monitor]="singlePostMonitors[gameColumn]"
                    defaultIcon="send"
                  ></button-spinner>
                </button>
              </span>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <div class="submit-field">
          <button
            mat-raised-button
            color="primary"
            [matTooltip]="'Send Loyalty Rewards for: ' + titlesToSendRewardsTo.toString()"
            [verifyWith]="verifyAction"
            (click)="resendRewards()"
            [monitor]="postMonitor"
            stateManager
            monitorDisable
            monitorWarnSnackbar
          >
            Send Missing Loyalty Rewards
            <button-spinner [monitor]="postMonitor" defaultIcon="none"></button-spinner>
          </button>
          <mat-checkbox
            #verifyAction
            [disabled]="titlesToSendRewardsTo.length === 0 || disableSendActions"
            [matTooltip]="!disableSendActions ? 'Verify Send Loyalty Rewards' : featureDisabledText"
            >{{
              titlesToSendRewardsTo.length === 0 ? 'No Eligible Titles' : 'Verify Send'
            }}</mat-checkbox
          >
        </div>
      </ng-container>
    </ng-container>
  </mat-card-content>
</mat-card>

<ng-template #noDataTemplate>
  <div *ngIf="identity?.xuid">
    <span>No profile selected.</span>
  </div>

  <div *ngIf="!identity?.xuid" class="no-xuid">
    <b>{{ identity?.error?.message }}</b>
    <span>Use XUID in player lookup to check players Loyalty Rewards record.</span>
  </div>
</ng-template>

<ng-template #falseFlagTemplate>
  <mat-icon class="red-icon">cancel</mat-icon>
</ng-template>
