@import '/src/styles/mixins/variables.scss';

table {
  width: 100%;
}

mat-panel-title {
  max-width: 150px;
  width: 100%;
}

.item-id-text {
  color: mat-color($app-primary);
}

.mat-column-quantity {
  padding-left: 0px !important;
  padding-right: 2em !important;
}

@media screen and (max-width: 400px) {
  mat-panel-description {
    display: none;
  }
}
