@import '/src/styles/mixins';

table {
  width: 100%;
}

.item-id-text {
  color: app-color-default($app-primary);
}

mat-panel-description {
  flex-grow: 0;
  text-align: right;
}

.mat-column-quantity {
  padding-left: 0;
  padding-right: 2em;
}
