<ng-container *ngIf="identity && !identity?.error; else noIdentity">
  <h1><player-identity-results [identity]="identity"></player-identity-results></h1>
  <section class="sf-wrapper">
    <div class="tab-container sf-vertical">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Player Profiles</mat-card-title>
          <mat-card-subtitle>Steelhead</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <steelhead-player-inventory-profile-picker-composition
            [identity]="identity"
            (profileChange)="onProfileChange($event)"
          ></steelhead-player-inventory-profile-picker-composition>
        </mat-card-content>
      </mat-card>
      <services-filterable-table [contract]="serviceContract"></services-filterable-table>
    </div>
  </section>
</ng-container>

<ng-template #noIdentity>
  <h1 *ngIf="lookupName">Finding {{ lookupName }} by {{ lookupType | humanize }}</h1>
  <h1 *ngIf="!lookupName">Waiting for {{ lookupType | humanize }}</h1>
  <ng-container *ngIf="identity?.error">
    <hr />
    <h2>Request failed</h2>
    <p>If this keeps happening, contact support.</p>
    <json-dump [input]="identity?.error">View error</json-dump>
  </ng-container>
</ng-template>
