<ng-container *ngIf="auctionData; else spinner">
  <ul>
    <li>
      <b>Status:</b><span>{{ auctionData.status | humanize }}</span>
    </li>
    <li>
      <b>Seller:</b><standard-copy>{{ auctionData.seller }}</standard-copy>
    </li>
    <li>
      <b>Opening Price:</b><span>{{ auctionData.openingPrice | bignumber }}</span>
    </li>
    <li>
      <b>Buyout Price:</b><span>{{ auctionData.buyoutPrice | bignumber }}</span>
    </li>
    <li>
      <b>Current Price:</b><span>{{ auctionData.currentPrice | bignumber }}</span>
    </li>
    <li>
      <b>Invested:</b><span>{{ auctionData.amountInvested | bignumber }}</span>
    </li>
    <li>
      <b>Created:</b
      ><standard-absolute-time [timeUtc]="auctionData.createdDateUtc"></standard-absolute-time>
    </li>
    <li>
      <b>Closing:</b
      ><standard-absolute-time [timeUtc]="auctionData.closingDateUtc"></standard-absolute-time>
    </li>
    <li>
      <b>Flagged:</b>
      <standard-absolute-time
        *ngIf="auctionData.timeFlaggedUtc"
        [timeUtc]="auctionData.timeFlaggedUtc"
      >
      </standard-absolute-time>
    </li>
    <li>
      <b>Flags:</b><span>{{ auctionFlagsCsv }}</span>
    </li>
    <li>
      <b>Tuner Level:</b><span>{{ auctionData.tunerLevel }}</span>
    </li>
  </ul>
  <pre>{{ auctionData | bigjson }}</pre>
</ng-container>

<ng-template #spinner>
  <error-spinner
    [isActive]="getMonitor.status.state === 'active'"
    [error]="getMonitor.status.error"
    spinnerMessage="Finding auction data"
  ></error-spinner>
</ng-template>
