@import '/src/styles/mixins';

// form {
//   width: 100%;
//   display: flex;
//   flex-flow: row wrap;
//   align-items: center;

//   > * {
//     margin: $gap-micro;
//   }
// }

// .item-selection-form-field {
//   flex-grow: 1;
// }

// .spacer {
//   flex-grow: 1;
// }

// .item-id-text {
//   color: app-color-default($app-primary);
// }
