// TODO: These seem to still work implicitly despite not being explicitly imported?
// TODO: Importing this causes any scss file including it to be horribly large (despite the files only containing variables and mixins)
// TODO: Verify that compilation works when we standardize the colors to be based on the theme.

$icomoon-font-path: '/assets/icon-font/fonts';
@import '/src/assets/icon-font/variables.scss';

@import './variables';
@import './helpers';
@import './tweaks/';
@import './colors/';
