@import '/src/styles/mixins';

div {
  display: inline-block;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  mat-progress-spinner {
    margin: auto;
  }

  mat-icon {
    margin-right: $gap-small;
    transform: scale(2);
    color: app-color-default($app-primary);
  }
}
