<mat-card>
  <mat-card-header>
    <mat-icon mat-card-avatar>leaderboard</mat-icon>
    <mat-card-title>Leaderboard Scores</mat-card-title>
    <mat-card-subtitle>
      {{ matCardSubtitle | humanize }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="above-leaderboard-scores">
      <div class="search-metadata">
        <ng-container *ngIf="!!leaderboard">
          <table>
            <tr *ngIf="activeLeaderboardView">
              <th>Current View</th>
              <td>
                {{ activeLeaderboardView }}
              </td>
            </tr>
            <tr *ngIf="activeXuid">
              <th>Player XUID</th>
              <td>{{ activeXuid.toString() }}</td>
            </tr>
          </table>
          <button
            *ngIf="activeXuid"
            mat-stroked-button
            color="primary"
            (click)="switchToTopOfListView()"
          >
            View full leaderboard
          </button>

          <ng-container
            *ngIf="allScores.length > 0 && activeLeaderboardView !== LeaderboardView.Player"
          >
            <ng-template
              *ngTemplateOutlet="toggleFilter; context: assistFilterContexts.stmAssist"
            ></ng-template>
            <ng-template
              *ngTemplateOutlet="toggleFilter; context: assistFilterContexts.absAssist"
            ></ng-template>
            <ng-template
              *ngTemplateOutlet="toggleFilter; context: assistFilterContexts.tcsAssist"
            ></ng-template>
            <ng-template
              *ngTemplateOutlet="toggleFilter; context: assistFilterContexts.autoAssist"
            ></ng-template>
            <div class="date-range">
              <mat-slide-toggle #dateSlideToggle (change)="toggleDatetimeFilter($event)">
                Filter by date range
                <help-popover-icon cardTitle="Leaderboard Date Filter">
                  <span
                    >When enabled, the top 5000 scores will be filtered to those that are within the
                    set date range.</span
                  >
                </help-popover-icon>
              </mat-slide-toggle>
              <date-range-picker
                [toggleOptions]="dateRangeToggleOptions"
                [formControl]="filterFormControls.dateRange"
              ></date-range-picker>
            </div>
            <form class="jump-to-score-form" [formGroup]="jumpFormGroup" (submit)="jumpToScore()">
              <mat-form-field>
                <mat-label>Jump to score</mat-label>
                <input matInput autocomplete="off" [formControl]="jumpFormControls.score" />
              </mat-form-field>

              <button
                mat-icon-button
                color="accent"
                [disabled]="!jumpFormGroup.valid"
                type="submit"
                matTooltip="Jump to page where score theshold is found"
              >
                <mat-icon>find_in_page</mat-icon>
              </button>
            </form>
          </ng-container>
        </ng-container>
      </div>
      <!-- Actions for multi-selection of scores. -->
      <div class="multi-select-options">
        <span>Click on a row to select</span>
        <button
          mat-stroked-button
          color="primary"
          [disabled]="selectedScores?.length <= 0"
          (click)="unselectAllScores()"
        >
          Unselect all
        </button>
        <button
          mat-raised-button
          color="warn"
          [disabled]="selectedScores?.length <= 0"
          [verifyWith]="verifyCheckboxMultiDelete"
          (click)="deleteScores(selectedScores)"
          clickStop
          stateManager
          [permissionAttribute]="permAttribute"
          [permissionTitle]="gameTitle"
          [monitor]="deleteLeaderboardScoresMonitor"
          monitorDisable
          monitorWarn
          monitorWarnSnackbar
        >
          <span [ngPlural]="selectedScores?.length">
            Delete {{ selectedScores?.length }}
            <ng-template ngPluralCase="=1">score</ng-template>
            <ng-template ngPluralCase="other">scores</ng-template>
          </span>
        </button>
        <button
          mat-raised-button
          color="primary"
          [disabled]="disableExport"
          matTooltip="Export Scores"
          [downloadCsv]="exportableScores"
          [filename]="exportFileName"
        >
          Export
        </button>
        <mat-checkbox
          clickStop
          #verifyCheckboxMultiDelete
          [(ngModel)]="isMultiDeleteActive"
          ngDefaultControl
          stateManager
          [permissionAttribute]="permAttribute"
          [permissionTitle]="gameTitle"
          matTooltip="Check to enable deletion"
        >
          Verify Multi-Delete
        </mat-checkbox>
      </div>
    </div>
    <div class="paginator-actions">
      <mat-paginator
        (page)="paginatorPageChange($event)"
        [pageSizeOptions]="paginatorSizes"
        showFirstLastButtons
      ></mat-paginator>
    </div>
    <ng-container
      *ngIf="
        !getLeaderboardScoresMonitor.isActive && !getLeaderboardScoresMonitor.isErrored;
        else getLeaderboardScoresMonitorTemplate
      "
    >
      <ng-container
        *ngIf="!deleteLeaderboardScoresMonitor.isActive; else deleteLeaderboardScoresTemplate"
      >
        <table mat-table [dataSource]="leaderboardScores" class="full-width">
          position
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>Position</th>
            <td mat-cell *matCellDef="let entry">{{ entry.position }}</td>
          </ng-container>

          <ng-container matColumnDef="score">
            <th mat-header-cell *matHeaderCellDef>Score</th>
            <td mat-cell *matCellDef="let entry">
              <div>
                <b>{{ entry.score.toNumber() | number: '1.2-2' }}</b> {{ scoreTypeQualifier }}
              </div>
              <div>
                <standard-absolute-time
                  [timeUtc]="entry.submissionTimeUtc"
                ></standard-absolute-time>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="metadata">
            <th mat-header-cell *matHeaderCellDef>Metadata</th>
            <td mat-cell *matCellDef="let entry">
              <table class="info-table full-width">
                <tr>
                  <th>XUID</th>
                  <td>
                    <standard-copy>{{ entry.xuid }}</standard-copy>
                  </td>
                </tr>
                <tr>
                  <th>Car</th>
                  <td class="car-description" [matTooltip]="entry.car">{{ entry.car }}</td>
                </tr>
                <tr>
                  <th>Device:</th>
                  <td>{{ entry.deviceType | humanize }}</td>
                </tr>
              </table>
            </td>
          </ng-container>

          <ng-container matColumnDef="assists">
            <th mat-header-cell *matHeaderCellDef>Assists</th>
            <td mat-cell *matCellDef="let entry">
              <div class="assists-container">
                <standard-flag [value]="entry.stabilityManagement" matTooltip="Stability Management"
                  >STM</standard-flag
                >
                <standard-flag
                  [value]="entry.antiLockBrakingSystem"
                  matTooltip="Anti-Lock Braking System"
                  >ABS</standard-flag
                >
              </div>

              <div class="assists-container">
                <standard-flag
                  [value]="entry.tractionControlSystem"
                  matTooltip="Traction Control System"
                  >TCS</standard-flag
                >
                <standard-flag
                  [value]="entry.automaticTransmission"
                  matTooltip="Automatic Transmission"
                  >Auto</standard-flag
                >
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let entry">
              <button
                mat-mini-fab
                clickStop
                matTooltip="Auto selects this position and above. This only affects scores that have been loaded into the table."
                (click)="autoSelectMultiScores(entry)"
              >
                <mat-icon>vertical_align_top</mat-icon>
              </button>

              <div class="delete-score">
                <button
                  mat-raised-button
                  color="warn"
                  [disabled]="selectedScores?.length > 0"
                  [verifyWith]="verifyCheckbox"
                  (click)="deleteScores([entry])"
                  clickStop
                  stateManager
                  [permissionAttribute]="permAttribute"
                  [permissionTitle]="gameTitle"
                  [monitor]="deleteLeaderboardScoresMonitor"
                  monitorDisable
                  monitorWarn
                  monitorWarnSnackbar
                >
                  Delete
                </button>
                <mat-checkbox
                  stateManager
                  [permissionAttribute]="permAttribute"
                  [permissionTitle]="gameTitle"
                  clickStop
                  #verifyCheckbox
                  matTooltip="Check to enable deletion"
                >
                  Verify
                </mat-checkbox>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="leaderboardDisplayColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: leaderboardDisplayColumns"
            [class.highlighted]="row.highlighted"
            [class.selected]="row.selected"
            [attr.id]="row.xuid"
            (click)="onRowClicked(row)"
          ></tr>
        </table>
      </ng-container>
    </ng-container>
  </mat-card-content>
</mat-card>

<ng-template #getLeaderboardScoresMonitorTemplate>
  <big-spinner [monitor]="getLeaderboardScoresMonitor">
    <span jsonDumpMessage *ngIf="!activeXuid">Failed to search leaderboard.</span>
    <span jsonDumpMessage *ngIf="!!activeXuid"
      >Player's score doesnt exist or has been deleted: {{ activeXuid }}</span
    >
  </big-spinner>
</ng-template>

<ng-template #deleteLeaderboardScoresTemplate>
  <!-- We do not want to show json dump on delete error, using snackbar instead. -->
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</ng-template>

<ng-template
  #toggleFilter
  let-formControl="formControl"
  let-name="name"
  let-helpTitle="helpTitle"
  let-helpText="helpText"
>
  <div>
    <mat-button-toggle-group [formControl]="formControl">
      <mat-button-toggle [value]="BooleanFilterToggle.Ignore">Ignore</mat-button-toggle>
      <mat-button-toggle [value]="BooleanFilterToggle.On">On</mat-button-toggle>
      <mat-button-toggle [value]="BooleanFilterToggle.Off">Off</mat-button-toggle>
    </mat-button-toggle-group>
    {{ name }}
    <help-popover-icon [cardTitle]="helpTitle">
      {{ helpText }} <br />
      <br />
      <b>Ignore</b> = Assist turned on or off<br />
      <b>On</b> = Assist turned on <br />
      <b>Off</b> = Assist turned off <br />
    </help-popover-icon>
  </div>
</ng-template>
