@import '/src/styles/mixins';

json-dump {
  display: block;
  margin-top: $gap-medium;
}

mat-card {
  // Tool is set of vertical cards, use only single scroll
  max-height: unset;
}

.full-width {
  width: 100%;
}

.above-leaderboard-scores {
  display: flex;
  flex-flow: row wrap;
  width: 100%;

  > div {
    margin-bottom: $gap-medium;
    padding-left: $gap-medium;

    span {
      display: block;
    }
  }

  .multi-select-options {
    margin-left: auto;

    button {
      width: 100%;
      display: block;
      margin-bottom: $gap-small;
    }
  }
}

.jump-to-score-form {
  margin-top: $gap-small;
}

.mat-row {
  cursor: pointer;

  &.highlighted {
    background-color: app-color-highlight-background();
  }

  &.selected {
    background-color: $table-tr-hover;
  }
}

td.mat-column-actions {
  > button {
    margin-right: $gap-small;
  }

  div.delete-score {
    display: inline-block;

    button {
      margin-right: $gap-small;
    }
  }
}

.paginator-actions {
  form {
    display: flex;
    justify-content: flex-end;
  }
}

.mat-column-actions {
  width: 220px;
}

.mat-column-position {
  width: 100px;
}

.car-description {
  display: block;
  width: 200px; // Limit extrememly long car names
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.assists-container > standard-flag {
  margin: 0 $gap-small;
}

.mat-slide-toggle {
  display: block;
}

.date-range {
  margin-top: $gap-small;
}
