@import '/src/styles/mixins';

model-dump {
  display: flex;
  flex-flow: row wrap;
  & > * {
    flex-grow: 1;
  }
}

model-dump-flags {
  margin-bottom: $gap-medium;
}

:host ::ng-deep .images {
  flex-grow: 0;

  model-dump-images {
    display: flex;
    flex-flow: row wrap;
    justify-items: space-between;
    align-items: flex-start;
    & > * {
      margin: 1em;
    }
  }
}

mat-card {
  margin: 1em;
  & > *:not(table) {
    display: block;
    &:not(:first-child) {
      margin-top: 1em;
    }
    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }
}

p {
  margin: 2rem;
}

button {
  min-width: $button-min-size;
}

/* styles for the UGC Actions reporting row */ 
.report-row{
 flex-direction: row;
 align-items: center;
 justify-content: center;
 .report-reason-box{
  width: 45%;
 }
 mat-form-field{
   margin-top: 14px;
    ::ng-deep .mat-form-field-infix {
      margin: 0;
      padding-bottom: 5px;
   }
   ::ng-deep .mat-form-field-flex {
     text-align: center;
     margin: 0;
     padding: 0;
 }

  
 }
}