table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

::ng-deep .date-cell-highlight {
  background: orange;
  border-radius: 100%;
}

.search-bar {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: -0.25em;
  > * {
    padding: 0.25em;
  }

  .spacer {
    flex-grow: 1;
  }
}

::ng-deep .search-bar button[extraControl] {
  margin: 0.25em;
}

.auction-action-detail {
  th {
    text-align: right;
    white-space: nowrap;
  }
}

.auction-action-detail {
  overflow: hidden;
  display: flex;
  & > mat-card {
    flex-grow: 1;
  }
}

.make-model-autocomplete-container {
  flex-grow: 1;
}

a {
  display: inline-block;
}
