<mat-toolbar color="default">
  <a [class.mat-button-disabled]="!identity?.extra.hasSunrise" [routerLink]="sunriseRouterLink"
    [queryParams]="{ gamertag: gamertag }" mat-button [color]="identity?.extra.hasSunrise ? 'primary' : null"
    routerLinkActive="mat-stroked-button">Sunrise</a>
  <a [class.mat-button-disabled]="!identity?.extra.hasOpus" [routerLink]="opusRouterLink"
    [queryParams]="{ gamertag: gamertag }" mat-button [color]="identity?.extra.hasOpus ? 'primary' : null"
    routerLinkActive="mat-stroked-button">Opus</a>
  <a [class.mat-button-disabled]="!identity?.extra.hasApollo" [routerLink]="apolloRouterLink"
    [queryParams]="{ gamertag: gamertag }" mat-button [color]="identity?.extra.hasApollo ? 'primary' : null"
    routerLinkActive="mat-stroked-button">Apollo</a>
  <a [class.mat-button-disabled]="!identity?.extra.hasGravity" [routerLink]="gravityRouterLink"
    [queryParams]="{ gamertag: gamertag }" mat-button [color]="identity?.extra.hasGravity ? 'primary' : null"
    routerLinkActive="mat-stroked-button">Gravity</a>
  <span class="icon-spacer"></span>
  <!-- <mat-form-field>
    <mat-label>Gamertag</mat-label>
    <input matInput type="text" [(ngModel)]="gamertag" (keyup.enter)="navigate()" />
    <button
      mat-button
      *ngIf="gamertag"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="gamertag = ''"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field> -->
  <player-selection-single [(lookupType)]="lookupType" [(lookupList)]="lookupList" (lookupListChange)="lookupChange()"
    (lookupTypeChange)="lookupChange()" (found)="found($event)"></player-selection-single>
  <span class="spacer"></span>
</mat-toolbar>
<router-outlet></router-outlet>