@import '/src/styles/mixins';

.spacer {
  flex: 1 1 auto;
}

.icon-spacer {
  flex-basis: 16px;
}

.navbar-button-active {
  background-color: mat-color($app-accent);
  color: #fff !important;
}

:host ::ng-deep {
  * {
    font-size: 14px;
  }
  & .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: initial;
  }
}

.mat-stroked-button {
  border-color: rgba(mat-color($app-background, default-contrast), 0.333);
}
