<mat-toolbar color="default">
  <a
    [class.mat-button-disabled]="!identity?.extra.hasSunrise"
    [matTooltip]="sunriseTooltip"
    [routerLink]="sunriseRouterLink"
    [queryParams]="{ lookupType: lookupType, lookupName: lookupName }"
    mat-button
    routerLinkActive="navbar-button-active"
    >Sunrise</a
  >
  <a
    [class.mat-button-disabled]="!identity?.extra.hasOpus"
    [matTooltip]="opusTooltip"
    [routerLink]="opusRouterLink"
    [queryParams]="{ lookupType: lookupType, lookupName: lookupName }"
    mat-button
    routerLinkActive="navbar-button-active"
    >Opus</a
  >
  <a
    [class.mat-button-disabled]="!identity?.extra.hasApollo"
    [matTooltip]="apolloTooltip"
    [routerLink]="apolloRouterLink"
    [queryParams]="{ lookupType: lookupType, lookupName: lookupName }"
    mat-button
    routerLinkActive="navbar-button-active"
    >Apollo</a
  >
  <a
    [class.mat-button-disabled]="!identity?.extra.hasGravity"
    [matTooltip]="gravityTooltip"
    [routerLink]="gravityRouterLink"
    [queryParams]="{ lookupType: lookupType, lookupName: lookupName }"
    mat-button
    routerLinkActive="navbar-button-active"
    >Gravity</a
  >
  <span class="icon-spacer"></span>
  <player-selection-single
    [(lookupType)]="lookupType"
    [(lookupList)]="lookupList"
    (lookupListChange)="lookupChange()"
    (lookupTypeChange)="lookupChange()"
    (found)="found($event)"
  ></player-selection-single>
  <span class="spacer"></span>
</mat-toolbar>
<router-outlet></router-outlet>
