.spacer {
  flex: 1 1 auto;
}

.icon-spacer {
  flex-basis: 16px;
}

mat-form-field {
  font-size: 14px;
}

// TODO: This should probably be made into a function
// add some tasteful padding around our final routed component
:host ::ng-deep router-outlet + * {
  padding: 10px;
  display: block;
}