@import '/src/variables.scss';

.spacer {
  flex: 1 1 auto;
}

.icon-spacer {
  flex-basis: 16px;
}

:host ::ng-deep {
  * {
    font-size: 14px;
  }
  & .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: initial;
  }
}

// TODO: This should probably be made into a function
// add some tasteful padding around our final routed component
:host ::ng-deep router-outlet + * {
  padding: 10px;
  display: block;
}
