<form [formGroup]="formGroup">
  <player-selection-single
    [disableLookupTypes]="['t10Id']"
    [allowSelection]="false"
    [rejectionFn]="serviceContract.rejectionFn"
    (found)="playerIdentityFound($event)"
  ></player-selection-single>

  <!-- UGC Type Filter -->
  <mat-form-field appearance="fill">
    <mat-label>UGC Type</mat-label>
    <mat-select matInput [formControl]="formControls.ugcType">
      <mat-option *ngFor="let type of ugcTypes" [value]="type">{{ type }}</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Car Make & Model Filter -->
  <make-model-autocomplete
    [formControl]="formControls.makeModelInput"
    [makeOnlyOptions]="false"
    [service]="this.serviceContract.makeModelAutocompleteServiceContract"
  ></make-model-autocomplete>

  <!-- UGC Keyword Filter -->
  <mat-form-field appearance="fill">
    <mat-label>Keywords</mat-label>
    <input type="text" matInput [formControl]="formControls.keywords" />
    <button
      type="button"
      mat-button
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="clearKeyword()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <!-- UGC Featured Status Filter -->
  <mat-checkbox class="featured-toggle" [formControl]="formControls.isFeatured">
    Limit Search to Featured UGC
  </mat-checkbox>
</form>
