<tooling-page-layout
  [disableLspGroupSelection]="disableLspGroupSelection"
  [matTabSelectedIndex]="matTabSelectedIndex"
  (matTabSelectionChangeEvent)="matTabSelectionChange($event)"
>
  <!-- Player selection -->
  <sunrise-player-selection
    player-selection
    [allowGroup]="true"
    [allowT10Id]="false"
    [allowGroup]="true"
    [(ngModel)]="selectedPlayerIdentities"
    (ngModelChange)="onPlayerIdentitiesChange($event)"
    (playerIdentitySelectedEvent)="playerIdentitySelected($event)"
  ></sunrise-player-selection>

  <!-- LSP Group Selection -->
  <sunrise-lsp-group-selection
    lsp-group-selection
    [(ngModel)]="selectedLspGroup"
    (ngModelChange)="onLspGroupChange($event)"
  ></sunrise-lsp-group-selection>

  <!-- Page tool -->
  <mat-card tool-container>
    <h2>Sunrise gifting page state</h2>
    <p>Number of identities: {{ selectedPlayerIdentities?.length }}</p>
    <p>LSP Group: {{ selectedLspGroup?.name || 'None' }}</p>
  </mat-card>
</tooling-page-layout>
