<mat-toolbar>
  <a
    *ngIf="!isProduction"
    [class.mat-button-disabled]="!identity?.extra?.hasSteelhead"
    [matTooltip]="steelheadTooltip"
    [routerLink]="steelheadRouterLink"
    [queryParams]="{ lookupType: lookupType, lookupName: lookupName }"
    mat-button
    routerLinkActive="mat-stroked-button"
    >Steelhead
    <endpoint-selection [titleCodeName]="gameTitleCodeName.FM8"> </endpoint-selection>
  </a>
  <a
    [class.mat-button-disabled]="!identity?.extra?.hasWoodstock"
    [matTooltip]="woodstockTooltip"
    [routerLink]="woodstockRouterLink"
    [queryParams]="{ lookupType: lookupType, lookupName: lookupName }"
    mat-button
    routerLinkActive="mat-stroked-button"
    >FH5
    <endpoint-selection [titleCodeName]="gameTitleCodeName.FH5"> </endpoint-selection>
  </a>
  <a
    [class.mat-button-disabled]="!identity?.extra?.hasGravity"
    [matTooltip]="gravityTooltip"
    [routerLink]="gravityRouterLink"
    [queryParams]="{ lookupType: lookupType, lookupName: lookupName }"
    mat-button
    routerLinkActive="mat-stroked-button"
    >Street</a
  >
  <a
    [class.mat-button-disabled]="!identity?.extra?.hasSunrise"
    [matTooltip]="sunriseTooltip"
    [routerLink]="sunriseRouterLink"
    [queryParams]="{ lookupType: lookupType, lookupName: lookupName }"
    mat-button
    routerLinkActive="mat-stroked-button"
    >FH4
    <endpoint-selection [titleCodeName]="gameTitleCodeName.FH4"> </endpoint-selection>
  </a>
  <a
    [class.mat-button-disabled]="!identity?.extra?.hasApollo"
    [matTooltip]="apolloTooltip"
    [routerLink]="apolloRouterLink"
    [queryParams]="{ lookupType: lookupType, lookupName: lookupName }"
    mat-button
    routerLinkActive="mat-stroked-button"
    >FM7
    <endpoint-selection [titleCodeName]="gameTitleCodeName.FM7"> </endpoint-selection>
  </a>
  <a
    [class.mat-button-disabled]="!identity?.extra?.hasOpus"
    [matTooltip]="opusTooltip"
    [routerLink]="opusRouterLink"
    [queryParams]="{ lookupType: lookupType, lookupName: lookupName }"
    mat-button
    routerLinkActive="mat-stroked-button"
    >FH3</a
  >
  <span class="icon-spacer"></span>
  <player-selection-single
    [displayInSingleLine]="true"
    [(lookupType)]="lookupType"
    [(lookupList)]="lookupList"
    (lookupListChange)="lookupChange()"
    (lookupTypeChange)="lookupChange()"
    (found)="found($event)"
  ></player-selection-single>
  <span class="spacer"></span>
</mat-toolbar>
<router-outlet></router-outlet>
