@import '/src/styles/mixins';

::ng-deep .mat-content {
  align-items: center;
}

mat-panel-description {
  flex-grow: 0;
}

.compact span {
  display: block;
}

fa-icon {
  margin-right: 0.25em;
  &.inactive {
    color: app-color-text($app-background, 0.5);
  }
}
