.profile-circle-div {
  float: right;
  margin-right: 15px;
  display: inline-block;
  padding: 5px;
  border: 1px solid black;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.profile-circle-div-tab-opened {
  border-radius: 0px !important;
  border-bottom: 0px !important;
}

.profile-icon {
  position: relative;
  left: 5.5px;
  top: 3px;
}

.profile-tab-div {
  width: 200px;
  height: 200px;
  border: 1px solid grey;
  position: relative;
  top: 12px;
  right: -6px;
  float: right;
  background-color: white;
  text-align: center;
}
