@import '/src/styles/mixins';

@include flex-navbar-fill;

:host ::ng-deep {
  mat-card.date-range {
    margin-top: $gap-small;

    mat-icon {
      vertical-align: top;
    }

    datetime-range-picker {
      display: block;
      margin-top: $gap-small;
    }
  }
}
