@import '/src/styles/mixins';

mat-card {
  margin: $gap-medium;
  flex-grow: unset;
}

table {
  width: 100%;
}

div.input {
  flex-flow: row wrap;
  > * {
    flex: 1 0;
  }

  .options {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: -0.5em;
    > * {
      margin: 0.5em;
    }
  }
}
