<ng-container *ngIf="identity && !identity?.error; else noIdentity">
  <h1><player-identity-results [identity]="identity"></player-identity-results></h1>
  <section>
    <mat-tab-group animationDuration="0ms" (selectedTabChange)="tabChanged($event)">
      <mat-tab label="User Details">
        <div class="tab-container">
          <woodstock-user-flags [identity]="identity"></woodstock-user-flags>
          <woodstock-ban-history [xuid]="identity.xuid"></woodstock-ban-history>
          <entitlements [identity]="identity"></entitlements>
          <woodstock-profile-notes [identity]="identity"></woodstock-profile-notes>
          <woodstock-gamertags [identity]="identity"></woodstock-gamertags>
          <woodstock-consoles [identity]="identity"></woodstock-consoles>
        </div>
      </mat-tab>
      <mat-tab label="Deep Dive">
        <div class="tab-container">
          <woodstock-overview [identity]="identity"></woodstock-overview>
          <!-- TODO: Remove when ready (https://dev.azure.com/t10motorsport/Motorsport/_workitems/edit/888818) -->
          <!-- <woodstock-backstage-pass-history
            [identity]="identity"
          ></woodstock-backstage-pass-history> -->
          <woodstock-credit-history [identity]="identity"></woodstock-credit-history>
        </div>
      </mat-tab>
      <mat-tab label="Inventory">
        <div class="tab-container">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Player Inventory</mat-card-title>
              <mat-card-subtitle>Woodstock</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <!-- TODO: Remove when ready (https://dev.azure.com/t10motorsport/Motorsport/_workitems/edit/888818) -->
              <!-- <woodstock-player-account-inventory
                [identity]="identity"
              ></woodstock-player-account-inventory> -->
              <woodstock-player-inventory-profile-picker
                [identity]="identity"
                [(profileId)]="profileId"
                (profileIdChange)="onProfileIdChange($event)"
              ></woodstock-player-inventory-profile-picker>
              <woodstock-player-inventory
                [identity]="identity"
                [profileId]="profileId"
              ></woodstock-player-inventory>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab label="Notifications">
        <div class="tab-container">
          <woodstock-player-notifications [identity]="identity"></woodstock-player-notifications>
        </div>
      </mat-tab>
      <mat-tab label="Auctions">
        <div class="tab-container">
          <woodstock-player-auctions [identity]="identity"></woodstock-player-auctions>
        </div>
      </mat-tab>
      <mat-tab>
        <div class="tab-container">
          <ng-template mat-tab-label>
            Auction Log
            <error-spinner
              [isActive]="auctionActionLog.getMonitor.isActive | renderGuard"
              spinnerMessage="Retrieving Data"
            ></error-spinner>
          </ng-template>
          <woodstock-player-auction-action-log
            #auctionActionLog
            [identity]="identity"
          ></woodstock-player-auction-action-log>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          Ugc
          <inline-spinner [monitor]="ugcLiveries.getMonitor | renderGuard"
            >({{ ugcLiveries?.ugcContent?.length }})</inline-spinner
          >
          <inline-spinner [monitor]="ugcPhotos.getMonitor | renderGuard"
            >({{ ugcPhotos?.ugcContent?.length }})</inline-spinner
          >
          <inline-spinner [monitor]="ugcTunes.getMonitor | renderGuard"
            >({{ ugcTunes?.ugcContent?.length }})</inline-spinner
          >
          <inline-spinner [monitor]="ugcHidden.getMonitor | renderGuard"></inline-spinner>
        </ng-template>
        <mat-tab-group>
          <mat-tab>
            <ng-template mat-tab-label>
              Liveries
              <inline-spinner [monitor]="ugcLiveries.getMonitor | renderGuard"
                >({{ ugcLiveries?.ugcContent?.length }})</inline-spinner
              >
            </ng-template>
            <woodstock-player-ugc
              #ugcLiveries
              [identity]="identity"
              [contentType]="UgcType.Livery"
              [usingIdentities]="true"
            ></woodstock-player-ugc>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              Photos
              <inline-spinner [monitor]="ugcPhotos.getMonitor | renderGuard"
                >({{ ugcPhotos?.ugcContent?.length }})</inline-spinner
              >
            </ng-template>
            <woodstock-player-ugc
              #ugcPhotos
              [identity]="identity"
              [contentType]="UgcType.Photo"
              [usingIdentities]="true"
            ></woodstock-player-ugc>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              Tunes
              <inline-spinner [monitor]="ugcTunes.getMonitor | renderGuard"
                >({{ ugcTunes?.ugcContent?.length }})</inline-spinner
              >
            </ng-template>
            <woodstock-player-ugc
              #ugcTunes
              [identity]="identity"
              [contentType]="UgcType.Tune"
              [usingIdentities]="true"
            ></woodstock-player-ugc>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              Hidden
              <inline-spinner [monitor]="ugcHidden.getMonitor | renderGuard"></inline-spinner>
            </ng-template>
            <woodstock-player-hidden-ugc
              #ugcHidden
              [identity]="identity"
            ></woodstock-player-hidden-ugc>
          </mat-tab>
        </mat-tab-group>
      </mat-tab>
      <mat-tab label="JSON">
        <div class="tab-container">
          <json-dump [input]="identity">Identity</json-dump>
        </div>
      </mat-tab>
    </mat-tab-group>
  </section>
</ng-container>

<ng-template #noIdentity>
  <h1 *ngIf="lookupName">Finding {{ lookupName }} by {{ lookupType | humanize }}</h1>
  <h1 *ngIf="!lookupName">Waiting for {{ lookupType | humanize }}</h1>
  <ng-container *ngIf="identity?.error">
    <hr />
    <h2>Request failed</h2>
    <p>If this keeps happening, contact support.</p>
    <json-dump [input]="identity?.error">View error</json-dump>
  </ng-container>
</ng-template>
