@import '/src/styles/mixins';

mat-card {
  @include flex-column-fill;
}

.cdk-wrapper {
  height: 70vh;
}

table {
  width: 100%;
  table-layout: fixed;
}

.load-more-container {
  text-align: center;

  button {
    margin-top: $gap-medium;
    margin-bottom: $gap-medium;
  }
}
