@import '/src/styles/mixins';

mat-card {
  @include flex-column-fill;
}

.cdk-wrapper {
  height: 70vh;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.load-more-container {
  text-align: center;

  button {
    margin-top: $gap-medium;
    margin-bottom: $gap-medium;
  }
}

.timeMatchesAbove {
  border-top: 2px solid transparent;

  &:first-child {
    border: none;
  }
}
.timeMatchesBelow {
  border-bottom: 2px solid transparent;

  &:first-child {
    border: none;
  }
}
