<mat-card>
  <mat-card-header class="sf-header">
    <mat-card-title>Credit History</mat-card-title>
    <mat-card-subtitle>{{ gameTitle }}</mat-card-subtitle>
    <div class="sf-spacer"></div>
    <button
      mat-raised-button
      color="primary"
      matTooltip="Lookup Credit Updates"
      [monitor]="getCreditUpdatesMonitor"
      stateManager
      monitorDisable
      monitorWarnSnackbar
      (click)="lookupCreditUpdates()"
    >
      Search
      <button-spinner defaultIcon="search" [monitor]="getCreditUpdatesMonitor"></button-spinner>
    </button>
    <help-popover-icon cardTitle="Credit History" confluenceName="Credit History Card">
      <p>Credit history is recovered from logs and is displayed from oldest to newest.</p>
      <p>
        Entries that occur at the same moment in time (and so have no known order) are grouped
        together.
      </p>
    </help-popover-icon>
  </mat-card-header>
  <mat-card-content>
    <credit-update-sort-options [formControl]="formControls.sortOptions">
    </credit-update-sort-options>

    <ng-container *ngIf="!isLoading && !loadError; else failstate">
      <mat-expansion-panel
        *ngIf="
          sortOptions.column !== columnOptions.Timestamp ||
          sortOptions.direction !== directionOptions.Ascending
        "
      >
        <mat-expansion-panel-header color="warn">
          <mat-panel-title>
            Backwards XP
            <mat-icon color="warn">warning</mat-icon>
          </mat-panel-title>
          <mat-panel-description>
            XP trend analysis only available when sorting by Timestamp-Ascending
          </mat-panel-description>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
      <mat-expansion-panel *ngIf="xpAnalysisDates">
        <mat-expansion-panel-header color="warn">
          <mat-panel-title>
            Backwards XP
            <mat-icon color="warn">warning</mat-icon>
          </mat-panel-title>
          <mat-panel-description [ngPlural]="xpAnalysisDates.length">
            <ng-template ngPluralCase="=1">
              <span class="panel-description-with-timestamp">
                XP went backwards on
                <standard-absolute-time [timeUtc]="xpAnalysisDates[0].eventTimestampUtc">
                </standard-absolute-time>
              </span>
            </ng-template>
            <ng-template ngPluralCase="other">
              XP went backwards on {{ xpAnalysisDates.length }} dates. Expand to view.
            </ng-template>
            <help-popover-icon
              clickStop
              cardTitle="XP Analysis"
              confluenceName="Credit History Card - XP Analysis"
            >
              <p>XP is analyzed from start to end as it loads into the browser.</p>
              <p>
                Trends (higher/lower/same) are displayed as icons next to the XP value. Any downward
                trends (which should not happen during normal gameplay) are highlighted in red.
                Dates are flagged at the top help find them.
              </p>
              <p>Note that switching platforms will cause XP to appear to have reset.</p>
            </help-popover-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ul>
          <li *ngFor="let entry of xpAnalysisDates">
            <standard-absolute-time [timeUtc]="entry.eventTimestampUtc"></standard-absolute-time>
            {{ entry.xpDifference | bignumber }}
          </li>
        </ul>
      </mat-expansion-panel>
      <ng-container *waitForMonitor="saveRollbackMonitor">
        <mat-expansion-panel *ngIf="saveRollbackHistory">
          <mat-expansion-panel-header color="warn">
            <mat-panel-title>
              Save Rollbacks
              <mat-icon color="warn">warning</mat-icon>
            </mat-panel-title>
            <mat-panel-description [ngPlural]="saveRollbackHistory.length">
              <ng-template ngPluralCase="=1">
                <span class="panel-description-with-timestamp">
                  Save rollback happened on
                  <standard-absolute-time [timeUtc]="saveRollbackHistory[0].eventTimeUtc">
                  </standard-absolute-time>
                </span>
              </ng-template>
              <ng-template ngPluralCase="other">
                Save rollbacks happened on {{ saveRollbackHistory.length }} dates. Expand to view.
              </ng-template>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ul>
            <li *ngFor="let rollback of saveRollbackHistory">
              <standard-absolute-time [timeUtc]="rollback.eventTimeUtc"></standard-absolute-time>
            </li>
          </ul>
        </mat-expansion-panel>
      </ng-container>
      <cdk-virtual-scroll-viewport tvsItemSize="48" headerHeight="56" class="cdk-wrapper">
        <table mat-table [dataSource]="creditHistory">
          <ng-container matColumnDef="eventTimestampUtc">
            <th mat-header-cell *matHeaderCellDef>Timestamp</th>
            <td mat-cell *matCellDef="let entry">
              <standard-absolute-time
                [timeUtc]="data(entry).eventTimestampUtc"
              ></standard-absolute-time>
            </td>
          </ng-container>
          <ng-container matColumnDef="deviceType">
            <th mat-header-cell *matHeaderCellDef>Device Type</th>
            <td mat-cell *matCellDef="let entry">
              {{ data(entry).deviceType | humanize }}
            </td>
          </ng-container>
          <ng-container matColumnDef="creditsAfter">
            <th mat-header-cell *matHeaderCellDef>Credit Total</th>
            <td mat-cell *matCellDef="let entry">
              {{ data(entry).creditsAfter | bignumber }}
            </td>
          </ng-container>
          <ng-container matColumnDef="creditAmount">
            <th mat-header-cell *matHeaderCellDef>Credit Change</th>
            <td mat-cell *matCellDef="let entry">
              {{ data(entry).creditAmount | bignumber }}
            </td>
          </ng-container>
          <ng-container matColumnDef="sceneName">
            <th mat-header-cell *matHeaderCellDef>Scene Name</th>
            <td mat-cell *matCellDef="let entry">
              {{ data(entry).sceneName | humanize }}
            </td>
          </ng-container>
          <ng-container matColumnDef="totalXp">
            <th mat-header-cell *matHeaderCellDef>Total XP</th>
            <td mat-cell *matCellDef="let entry" class="totalXp">
              {{ data(entry).totalXp | bignumber }}
              <ng-container [ngSwitch]="data(entry).xpTrend">
                <mat-icon *ngSwitchCase="'higher'" matTooltip="XP is trending upwards"
                  >trending_up</mat-icon
                >
                <mat-icon *ngSwitchCase="'lower'" color="warn" matTooltip="XP is trending downwards"
                  >trending_down</mat-icon
                >
                <mat-icon *ngSwitchCase="'equal'" matTooltip="XP has not changed with this entry"
                  >trending_flat</mat-icon
                >
                <mat-icon
                  *ngSwitchCase="'unknown'"
                  matTooltip="XP change is unknown/uncalculated"
                ></mat-icon>
                <mat-icon
                  *ngDefault
                  color="warn"
                  color="warn"
                  matTooltip="XP analysis has failed. You should report this"
                  >warning</mat-icon
                >
              </ng-container>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr
            mat-row
            *matRowDef="let element; columns: columnsToDisplay"
            [class.timeMatchesAbove]="data(element).timeMatchesAbove"
            [class.timeMatchesBelow]="data(element).timeMatchesBelow"
          ></tr>
        </table>

        <div class="no-more-results" *ngIf="!showLoadMore">All credit events loaded</div>
      </cdk-virtual-scroll-viewport>

      <div class="load-more-container">
        <button
          mat-raised-button
          color="primary"
          *ngIf="showLoadMore && !loadingMore"
          (click)="loadMoreCreditUpdates()"
        >
          Load More
        </button>
        <mat-progress-spinner *ngIf="loadingMore" mode="indeterminate"></mat-progress-spinner>
      </div>
    </ng-container>
  </mat-card-content>
</mat-card>

<ng-template #failstate>
  <mat-progress-spinner *ngIf="isLoading" mode="indeterminate"></mat-progress-spinner>
  <json-dump *ngIf="loadError" [input]="loadError">Failed to load.</json-dump>
</ng-template>
