<mat-card>
  <mat-card-header class="sf-header">
    <mat-card-title>Ban History</mat-card-title>
    <mat-card-subtitle>{{ gameTitle | humanize }}</mat-card-subtitle>
    <div class="sf-spacer"></div>
    <button
      mat-stroked-button
      mat-button
      color="primary"
      class="forum-ban-link"
      [routerLink]="generalRouterLink"
      queryParamsHandling="preserve"
    >
      <help-popover-icon cardTitle="Forum Ban History">
        <div>Forum Bans can be found in the General tab of Player Details</div>
      </help-popover-icon>
      <span>Looking for Forum Bans?</span>
    </button>
  </mat-card-header>
  <mat-card-content>
    <ng-container *ngIf="!isLoading && !loadError; else failstate">
      <table mat-table [dataSource]="banList" multiTemplateDataRows>
        <ng-container matColumnDef="reason">
          <th mat-header-cell *matHeaderCellDef>Reason</th>
          <td mat-cell *matCellDef="let entry">
            <steward-user [objectId]="entry.requesterObjectId"> </steward-user>: {{ entry.reason }}
          </td>
        </ng-container>
        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef>Ban State</th>
          <td mat-cell *matCellDef="let entry">
            <mat-icon *ngIf="entry.isActive" matTooltip="Ban is active">check</mat-icon>
            <mat-icon
              class="disabled"
              *ngIf="entry.isDeleted"
              matTooltip="Ban was deleted. Data restored from Kusto"
              >delete_forever</mat-icon
            >
          </td>
        </ng-container>
        <ng-container matColumnDef="banDetails">
          <th mat-header-cell *matHeaderCellDef>Ban Details</th>
          <td mat-cell *matCellDef="let entry">
            <table class="info-table full-width">
              <tr>
                <th>Ban Entry ID:</th>
                <td>
                  {{ entry?.banEntryId > 0 ? entry?.banEntryId : 'N/A' }}
                </td>
              </tr>
              <tr>
                <th>Feature Area:</th>
                <td>{{ entry.featureArea | humanize }}</td>
              </tr>
            </table>
          </td>
        </ng-container>
        <ng-container matColumnDef="startTimeUtc">
          <th mat-header-cell *matHeaderCellDef>Starts</th>
          <td mat-cell *matCellDef="let entry">
            {{ entry.startTimeUtc | date: 'short' }}
          </td>
        </ng-container>
        <ng-container matColumnDef="expireTimeUtc">
          <th mat-header-cell *matHeaderCellDef>Expires</th>
          <td mat-cell *matCellDef="let entry">
            {{ entry.expireTimeUtc | date: 'short' }}
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let entry">
            <span *ngIf="allowActions; else noActions">
              <span clickStop class="actions" *ngIf="!entry?.isDeleted; else deletedEntry">
                <verify-button
                  #verifyActionBtn
                  [permissionAttribute]="permAttribute"
                  [permissionTitle]="gameTitle"
                ></verify-button>
                <button
                  *ngIf="!entry.isDeleted"
                  mat-mini-fab
                  color="warn"
                  matTooltip="Delete ban (Permanent)"
                  [verifyWithV2]="verifyActionBtn"
                  (click)="deleteEntry(entry)"
                  [monitor]="entry.monitor"
                  stateManager
                  monitorDisable
                  monitorWarnSnackbar
                >
                  <mat-icon>delete_forever</mat-icon>
                </button>
                <button
                  *ngIf="entry.isActive"
                  mat-mini-fab
                  matTooltip="Expire ban (Permanent)"
                  [verifyWithV2]="verifyActionBtn"
                  (click)="expireEntry(entry)"
                  [monitor]="entry.monitor"
                  stateManager
                  monitorDisable
                  monitorWarnSnackbar
                >
                  <mat-icon>hourglass_empty</mat-icon>
                </button>
              </span>
            </span>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay" class="element-row"></tr>
      </table>
    </ng-container>
  </mat-card-content>
</mat-card>

<ng-template #failstate>
  <mat-progress-spinner *ngIf="isLoading" mode="indeterminate"></mat-progress-spinner>
  <json-dump *ngIf="loadError" [input]="loadError">Failed to load.</json-dump>
</ng-template>

<ng-template #noActions>
  <span>No actions available for your role.</span>
</ng-template>

<ng-template #deletedEntry> </ng-template>
