<mat-accordion *ngIf="!isLoading && !loadError; else failstate">
  <mat-expansion-panel *ngFor="let entry of banList">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon
          *ngIf="entry.isActive"
          svgIcon="steward-approve"
          matTooltip="Currently active"
        ></mat-icon>
        <mat-icon *ngIf="!entry.isActive" svgIcon="steward-history" matTooltip="Old Ban"></mat-icon>
        <span>{{ entry.featureArea | humanize }}</span>
      </mat-panel-title>
      <mat-panel-description>
        <span class="timespan"
          >{{ entry.startTimeUtc | date: 'shortDate' }} -
          {{ entry.expireTimeUtc | date: 'shortDate' }}</span
        >
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="compact">
      <span><b>Start Time:</b> {{ entry.startTimeUtc | date: 'short' }}</span>
      <span><b>Expire Time:</b> {{ entry.expireTimeUtc | date: 'short' }}</span>
      <span><b>Feature Area:</b> {{ entry.featureArea | humanize }}</span>
      <span
        ><b>Banned By: </b> <steward-user [objectId]="entry.requesterObjectId"> </steward-user>
      </span>
      <span><b>Ban Reason:</b> {{ entry.reason }}</span>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<ng-template #failstate>
  <mat-progress-spinner *ngIf="isLoading" mode="indeterminate"></mat-progress-spinner>
  <json-dump *ngIf="loadError" [input]="loadError">Failed to load.</json-dump>
</ng-template>
