@import '/src/styles/mixins';

::ng-deep .mat-content {
  align-items: center;
}

mat-panel-description {
  flex-grow: 0;
}

mat-icon {
  margin-right: 0.25em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
