<div class="steward-layout-with-sidebar">
  <div class="steward-layout-sidebar-group">
    <div class="steward-layout-pane player-selection-div steward-layout-vertical-fill">
      <mat-tab-group
        mat-stretch-tabs
        class="steward-layout-vertical-fill"
        (selectedTabChange)="playerSelectionTypeChange($event.index)"
      >
        <mat-tab label="Player Selection">
          <mat-card class="player-selection">
            <player-selection-bulk
              [disableLookupTypes]="['t10Id']"
              [allowSelection]="false"
              [rejectionFn]="identityRejectionFn"
              (found)="onPlayerIdentitiesChange($event)"
            ></player-selection-bulk>
          </mat-card>
        </mat-tab>
        <mat-tab label="LSP Group Selection" class="steward-layout-vertical-fill">
          <sunrise-lsp-group-selection
            class="steward-layout-vertical-fill"
            [(ngModel)]="selectedLspGroup"
          ></sunrise-lsp-group-selection>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>

  <div class="steward-layout-pane steward-layout-main-group">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Community Messaging</mat-card-title>
        <mat-card-subtitle>Sunrise</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ng-container *ngIf="!isLoading && !loadError; else failState">
          <ng-container
            *ngIf="sentCommunityMessageResults?.length <= 0; else messageResultsTemplate"
          >
            <ng-container *ngIf="!waitingForVerification; else pendingCommunityMessageTemplate">
              <new-community-message
                [pendingCommunityMessage]="newCommunityMessage"
                (emitNewCommunityMessage)="setNewCommunityMessage($event)"
              ></new-community-message>
            </ng-container>
          </ng-container>
        </ng-container>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<ng-template #messageResultsTemplate>
  <section class="message-results">
    <json-table-results
      [results]="sentCommunityMessageResults"
      downloadFilename="SentCommunityMessage"
    ></json-table-results>
    <button
      mat-raised-button
      color="accent"
      matTooltip="Send another message"
      (click)="clearMessageUI()"
      clickStop
    >
      Send another message
    </button>
  </section>
</ng-template>

<ng-template #pendingCommunityMessageTemplate>
  <mat-card>
    <h3>
      <button
        mat-mini-fab
        color="accent"
        (click)="waitingForVerification = false"
        matTooltip="Edit community message"
      >
        <mat-icon svgIcon="steward-edit"></mat-icon>
      </button>
      Pending Community Message
    </h3>
    <section class="new-community-message">
      <div class="new-message-content">
        <b>Expires on:</b> {{ newCommunityMessage.expiryDate | amDateFormat }}
        <span><b>Message:</b></span>
        <span>{{ newCommunityMessage.message }}</span>
      </div>
      <section class="action-buttons">
        <button
          [disabled]="!isCommunityMessageReady()"
          mat-raised-button
          color="primary"
          class="send-action"
          matTooltip="Send the messsage"
          (click)="submitCommunityMessage()"
        >
          Send message to {{ isUsingPlayerIdentities ? 'players' : 'LSP group' }}
        </button>
      </section>
    </section>
  </mat-card>
</ng-template>

<ng-template #failState>
  <mat-progress-spinner *ngIf="isLoading" mode="indeterminate"></mat-progress-spinner>
  <json-dump *ngIf="loadError" [input]="loadError">Failure occured.</json-dump>
  <button
    *ngIf="loadError"
    class="reset-state"
    mat-raised-button
    color="accent"
    matTooltip="Reset the failed tool."
    (click)="clearMessageUI()"
    clickStop
  >
    Reset Tool
  </button>
</ng-template>
