<mat-button-toggle-group
  [class.fill-button-toggle-group]="!displayInSingleLine"
  aria-label="ID Type"
  name="lookupType"
  #lookupTypeGroup="matButtonToggleGroup"
  [(ngModel)]="lookupType"
>
  <mat-button-toggle
    *ngIf="!disableLookupTypes.includes('gamertag')"
    [disabled]="lookupIdentitiesMonitor.isActive"
    value="gamertag"
    >GTAG</mat-button-toggle
  >
  <mat-button-toggle
    *ngIf="!disableLookupTypes.includes('xuid')"
    [disabled]="lookupIdentitiesMonitor.isActive"
    value="xuid"
    >XUID</mat-button-toggle
  >
</mat-button-toggle-group>

<mat-form-field
  class="player-chip-list"
  [class.display-in-single-line]="displayInSingleLine"
  [class.has-result]="foundIdentities.length > 0"
>
  <mat-label>{{ lookupType | humanize }}</mat-label>
  <mat-chip-list
    #chipList
    aria-label="Fruit selection"
    [selectable]="allowSelection"
    (change)="onSelect($event)"
  >
    <mat-chip
      *ngFor="let identity of foundIdentities"
      #chip="matChip"
      (click)="chip.toggleSelected(true)"
      [selectable]="allowSelection"
      [removable]="true"
      [value]="identity"
      [class.identity-valid]="
        identity.extra && identity.extra?.isValid && identity.extra?.isAcceptable
      "
      [class.identity-invalid]="
        identity.extra && (identity.extra?.isInvalid || !identity.extra?.isAcceptable)
      "
      [color]="identity.extra?.theme"
      (removed)="remove(identity)"
    >
      <span class="lookup-value">{{ identity.query[this.lookupType] }}</span>

      <ng-template
        [ngTemplateOutlet]="templateRef"
        [ngTemplateOutletContext]="{ $implicit: identity, identity: identity }"
      ></ng-template>

      <mat-icon
        svgIcon="steward-unacceptable"
        *ngIf="identity.extra ? !identity.extra?.isAcceptable : false"
        [matTooltip]="identity.extra?.rejectionReason"
        class="unacceptable-icon"
      ></mat-icon>

      <error-spinner
        [isActive]="!identity.extra"
        [error]="identity.extra?.isInvalid ? identity : undefined"
        spinnerMessage="Finding user"
      ></error-spinner>

      <span *ngIf="identity.extra?.label" [matTooltip]="identity.extra?.labelTooltip">
        ({{ identity.extra.label }})
      </span>
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input
      [hidden]="this.disable"
      [placeholder]="this.disable ? '' : 'New ' + (this.lookupType | humanize)"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="true"
      (paste)="paste($event)"
      (matChipInputTokenEnd)="add($event)"
    />
  </mat-chip-list>
  <mat-hint *ngIf="!displayInSingleLine"
    >{{ foundIdentities?.length }}/{{ maxFoundIndentities }} Identities</mat-hint
  >
</mat-form-field>
<div *ngIf="!displayInSingleLine && cutLookupList?.length > 0" class="cut-lookup-list-error">
  <span>{{ cutLookupList?.length }} identities were cut from the lookup.</span>
  <button
    mat-icon-button
    color="warn"
    matTooltip="Copy identities that were cut from lookup list."
    [cdkCopyToClipboard]="cutLookupList.join('\n')"
  >
    <mat-icon>content_copy</mat-icon>
  </button>
</div>
