// file of standardized color aliases
@use '@angular/material' as mat;
@import './theme/';

$border-thin: 0.5px;
$border-standard: 1px;
$border-thick: 2px;

$border-radius-button: 5px;
$border-radius-image: 5px;

$border-black-faded: #00000022;
$border-background-faded: app-color-darker($app-background, 0.2);
$border-foreground-faded: app-color-lighter-contrast($app-background, 0.2);
$border-vertical-bar: $border-standard solid $border-foreground-faded;

// use to make the boundaries of images clear
@mixin standard-image-border {
  border: $border-standard solid $border-foreground-faded;
  border-radius: $border-radius-image;
}
