// file of standardized color aliases
@use '@angular/material' as mat;
@import './theme/';

$table-tr-highlight: app-color-darker($app-background, 0.25);
$table-tr-hover: app-color-darker($app-background, 0.5);
$table-tr-active: app-color-darker($app-background, 0.75);
$table-row-separator: app-color-darker($app-background);
$sidebar-background: app-color-default($app-background);

$mat-chip-segment-success: app-color-lighter($app-success, 0.5);
$mat-chip-segment-warn: app-color-lighter($app-warn, 0.5);
$mat-chip-segment-primary: app-color-lighter($app-primary, 0.5);
$mat-chip-segment-accent: app-color-lighter($app-accent, 0.5);
$mat-chip-segment-background: app-color-lighter($app-background, 0.5);
