$full-screen-height-calc: calc(
  100vh - 64px /*navbar*/ - 64px /*navbar*/ - 20px /*tasteful margin*/ - 32px
    /*standard card padding*/
);
$full-screen-height-calc-basic: calc(
  100vh - 64px /*navbar*/ - 64px /*navbar*/ - 20px /*tasteful margin*/
);

$width-input-two-form-min: calc(436px /*2 selectors*/ + 2em /*2 selector margins*/);

$button-min-size: 150px;

$mat-icon-width: 32px;
$mat-icon-height: 32px;
$mat-icon-line-height: 32px;

$mat-expando-collapsed-height: 48px;

$auction-row-height: 120px;
$ugc-row-height-thumbnails: 200px;
$max-table-image-width: 150px;

$single-input-max-width: 300px;
$textarea-min-height: 100px;

/** NGX-CHART matches container size, required to set height of container. */
$ngx-chart-height: 500px;

$container-width-small: 250px;
$container-width-medium: 500px;
$container-width-large: 750px;
$container-width-jumbo: 1000px;

$container-height-micro: 25px;
$container-height-small: 50px;
$container-height-medium: 100px;
$container-height-large: 250px;
$container-height-xlarge: 500px;

$intro-card-width: 500px;

$width-mediaquery-sidebar-break: 250px;
$width-mediaquery-sidebar-large-break: 400px;

$mat-dialog-max-width: 500px;
