<!-- Useful example https://stackblitz.com/edit/angular-v6xwte?file=src%2Fapp%2Fapp.component.html -->
<mat-toolbar color="primary">
  <all-apps-dropdown></all-apps-dropdown>
  <a [routerLink]="homeRouterLink" mat-icon-button routerLinkActive="mat-stroked-button">
    <mat-icon>home</mat-icon>
  </a>
  <a
    *ngFor="let item of items"
    mat-button
    [routerLink]="item.routerLink"
    routerLinkActive="mat-stroked-button"
  >
    {{ item.title }}
  </a>
  <span class="spacer"></span>
  <span *ngIf="missingZendesk$ | async" class="warnings">
    <fa-icon [icon]="warningIcon" title="Zendesk API missing"></fa-icon>
    <fa-icon [icon]="refreshIcon" title="Refresh page"></fa-icon>
  </span>
  <span class="info">
    <fa-icon [icon]="infoIcon" [title]="location"></fa-icon>
  </span>
  <span class="short-spacer"></span>
  <span>
    <a
      [routerLink]="[{ outlets: { sidebar: 'settings' } }]"
      queryParamsHandling="preserve"
      mat-icon-button
      routerLinkActive="mat-stroked-button"
      matTooltip="Settings"
      aria-label="Settings"
    >
      <fa-icon [icon]="settingsIcon"></fa-icon>
    </a>
  </span>
  <span>
    <a
      [routerLink]="[{ outlets: { sidebar: 'profile' } }]"
      queryParamsHandling="preserve"
      mat-icon-button
      routerLinkActive="navbar-button-active"
      matTooltip="Profile"
      aria-label="Profile"
    >
      <fa-icon [icon]="profileIcon"></fa-icon>
    </a>
  </span>
  <span>
    <a
      [routerLink]="[{ outlets: { sidebar: 'notifications' } }]"
      queryParamsHandling="preserve"
      mat-icon-button
      routerLinkActive="navbar-button-active"
      matTooltip="Notifications"
      aria-label="Notifications"
    >
      <mat-icon
        svgIcon="fa-tasks"
        [matBadge]="notificationCount"
        [matBadgeColor]="notificationColor"
      ></mat-icon>
    </a>
  </span>
</mat-toolbar>
