<div class="steward-layout-with-sidebar">
  <div class="steward-layout-sidebar-group">
    <div class="steward-layout-pane player-selection-div steward-layout-vertical-fill">
      <mat-tab-group
        mat-stretch-tabs
        [(selectedIndex)]="matTabSelectedIndex"
        (selectedTabChange)="matTabSelectionChange($event.index)"
      >
        <mat-tab label="Player Selection">
          <mat-card>
            <player-selection-single
              [disableLookupTypes]="['t10Id']"
              [allowSelection]="true"
              [rejectionFn]="identityRejectionFn"
              (found)="onPlayerIdentityChange($event)"
              (selected)="playerIdentitySelected($event)"
            ></player-selection-single>
          </mat-card>
        </mat-tab>
        <mat-tab [disabled]="disableLspGroupSelection">
          <ng-template mat-tab-label>
            <span [matTooltip]="groupGiftTabTooltip"> LSP Group Selection </span>
          </ng-template>
          <apollo-lsp-group-selection [(ngModel)]="selectedLspGroup"></apollo-lsp-group-selection>
        </mat-tab>
      </mat-tab-group>
    </div>

    <div class="steward-layout-pane steward-layout-fill reference-inventory">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Player Inventory</mat-card-title>
          <mat-card-subtitle>Apollo</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <ng-container *ngIf="selectedPlayerIdentity; else selectPlayerExplanation">
            <apollo-player-inventory-profile-picker
              [identity]="selectedPlayerIdentity"
              [(profileId)]="selectedPlayerInventoryProfileId"
            ></apollo-player-inventory-profile-picker>

            <div class="inventory-div">
              <apollo-player-inventory
                [identity]="selectedPlayerIdentity"
                [profileId]="selectedPlayerInventoryProfileId"
                (inventoryFound)="onInventoryFound($event)"
              ></apollo-player-inventory>
            </div>
          </ng-container>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="steward-layout-pane steward-layout-main-group">
    <apollo-gift-basket
      [referenceInventory]="selectedPlayerInventory"
      [playerIdentities]="selectedPlayerIdentities"
      [lspGroup]="undefined"
      [usingPlayerIdentities]="true"
    ></apollo-gift-basket>
  </div>
</div>

<ng-template #selectPlayerExplanation>
  <p>Select a player chip to view inventory</p>
</ng-template>
