<div class="steward-layout-with-sidebar">
  <div class="steward-layout-sidebar-group">
    <div class="steward-layout-pane player-selection-div steward-layout-vertical-fill">
      <mat-tab-group
        mat-stretch-tabs
        class="steward-layout-vertical-fill"
        (selectedTabChange)="playerSelectionTypeChange($event.index)"
      >
        <mat-tab label="Player Selection">
          <mat-card class="player-selection">
            <player-selection-bulk
              [disableLookupTypes]="['t10Id']"
              [allowSelection]="false"
              [rejectionFn]="identityRejectionFn"
              (found)="onPlayerIdentitiesChange($event)"
            ></player-selection-bulk>
          </mat-card>
        </mat-tab>
        <mat-tab label="LSP Group Selection" class="steward-layout-vertical-fill">
          <sunrise-lsp-group-selection
            class="steward-layout-vertical-fill"
            [(ngModel)]="selectedLspGroup"
          ></sunrise-lsp-group-selection>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>

  <div class="steward-layout-pane steward-layout-main-group">
    <mat-tab-group
      class="steward-layout-vertical-fill"
      (selectedTabChange)="viewSelectionTypeChange($event.index)"
    >
      <mat-tab label="Send">
        <sunrise-community-messaging
          [playerIdentities]="playerIdentities"
          [selectedLspGroup]="selectedLspGroup"
          [isUsingPlayerIdentities]="isUsingPlayerIdentities"
        ></sunrise-community-messaging>
      </mat-tab>
      <mat-tab label="Edit/Delete">
        <sunrise-notification-management
          [selectedLspGroup]="selectedLspGroup"
          [isUsingPlayerIdentities]="isUsingPlayerIdentities"
        ></sunrise-notification-management>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
