h2.query-params {
  margin-top: 30px;
  margin-bottom: 0px;
}

p {
  margin: 0;
  word-break: break-all;
}

pre {
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
