@import '/src/styles/mixins';

h2.query-params {
  margin-top: $gap-large;
  margin-bottom: 0;
}

p {
  margin: 0;
  word-break: break-all;
}

pre {
  margin-top: 0;
  margin-bottom: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
}

button {
  margin-top: 20px;
}

#query-param-pre + button {
  margin-top: 0px;
}

mat-chip-list {
  float: right;

  mat-chip {
    font-size: 10px;
  }
}
