@import '/src/styles/mixins';

:host ::ng-deep mat-card {
  margin-bottom: $gap-medium;
}

button {
  display: block;
  margin-bottom: $gap-medium;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
