<mat-card>
  <mat-card-header>
    <mat-card-title>User Profile</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <pre>
<b>Email:</b> {{ user?.emailAddress }}
<b>Role:</b> {{ user?.role }}
    </pre>
    <button mat-raised-button color="accent" (click)="logout()">Logout</button>
  </mat-card-content>
</mat-card>

<mat-card>
  <location-details></location-details>
</mat-card>

<mat-card *ngIf="showDevTools">
  <mat-card-header>
    <mat-card-title>Dev Tools</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <button mat-raised-button color="primary" (click)="copyAccessToken()">Copy Access Token</button>
    <button mat-raised-button color="primary" (click)="break()">Break Access Token</button>
    <button mat-raised-button color="primary" (click)="copySyncPath()">Copy Sync Path</button>
  </mat-card-content>
</mat-card>

<data-privacy-notice></data-privacy-notice>
