@import '/src/styles/mixins';

:host ::ng-deep mat-card {
  margin-bottom: $gap-medium;
}

.profile-actions {
  margin-top: $gap-large;
}

button {
  display: block;
  margin-bottom: $gap-medium;
  width: $button-min-size;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
