// these themes are all taken from the forza style guidelines

$forza-blue: (
  50: #e4eef7,
  100: #bbd6eb,
  200: #8dbade,
  300: #5f9ed0,
  400: #3d8ac6,
  500: #1b75bc,
  600: #186db6,
  700: #1462ad,
  800: #1058a5,
  900: #084597,
  A100: #c3daff,
  A200: #90baff,
  A400: #5d9aff,
  A700: #448aff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$forza-red: (
  50: #fde4e5,
  100: #fabbbd,
  200: #f68e92,
  300: #f26066,
  400: #f03e45,
  500: #ed1c24,
  600: #eb1920,
  700: #e8141b,
  800: #e51116,
  900: #e0090d,
  A100: #ffffff,
  A200: #ffd7d7,
  A400: #ffa4a5,
  A700: #ff8b8c,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$forza-motorsport-gold: (
  50: #fff4e0,
  100: #fee4b3,
  200: #fed380,
  300: #fdc14d,
  400: #fcb326,
  500: #fca600,
  600: #fc9e00,
  700: #fb9500,
  800: #fb8b00,
  900: #fa7b00,
  A100: #ffffff,
  A200: #fff5ed,
  A400: #ffd8ba,
  A700: #ffcaa1,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$forza-horizon-pink: (
  50: #fde5f0,
  100: #f9bed9,
  200: #f593c0,
  300: #f167a6,
  400: #ee4793,
  500: #eb2680,
  600: #e92278,
  700: #e51c6d,
  800: #e21763,
  900: #dd0d50,
  A100: #ffffff,
  A200: #ffd5e1,
  A400: #ffa2bc,
  A700: #ff89aa,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$forza-fh4-orange: (
  50: #fdece6,
  100: #fad0c2,
  200: #f7b199,
  300: #f49270,
  400: #f17a51,
  500: #ef6332,
  600: #ed5b2d,
  700: #eb5126,
  800: #e8471f,
  900: #e43513,
  A100: #ffffff,
  A200: #ffe4e0,
  A400: #ffb8ad,
  A700: #ffa293,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$forza-monthly-blue: (
  50: #e4eef7,
  100: #bbd6eb,
  200: #8dbade,
  300: #5f9ed0,
  400: #3d8ac6,
  500: #1b75bc,
  600: #186db6,
  700: #1462ad,
  800: #1058a5,
  900: #084597,
  A100: #c3daff,
  A200: #90baff,
  A400: #5d9aff,
  A700: #448aff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$forza-rc-turquoise: (
  50: #e0f9ff,
  100: #b3f0ff,
  200: #80e6ff,
  300: #4ddbff,
  400: #26d4ff,
  500: #00ccff,
  600: #00c7ff,
  700: #00c0ff,
  800: #00b9ff,
  900: #00adff,
  A100: #ffffff,
  A200: #f2faff,
  A400: #bfe8ff,
  A700: #a6dfff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$forza-t10-yellow: (
  50: #fefae1,
  100: #fdf3b3,
  200: #fceb81,
  300: #fae24f,
  400: #f9dc29,
  500: #f8d603,
  600: #f7d103,
  700: #f6cc02,
  800: #f5c602,
  900: #f3bc01,
  A100: #ffffff,
  A200: #fff9e6,
  A400: #ffecb3,
  A700: #ffe59a,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
