@use '@angular/material' as mat;
@use './custom-palettes' as palettes;
@use 'sass:map';

/// use for primary nagivation and "primary action" buttons that (1) are the default, and (2) perform irrevocable actions
$app-primary: mat.define-palette(mat.$indigo-palette);

/// use for "secondary action" buttons that (1) are not the default, and (2) perform irrevocable actions
$app-accent: mat.define-palette(mat.$light-blue-palette, A200, A100, A400);

/// use as a success color
$app-success: mat.define-palette(mat.$green-palette);

/// use for "error state" warnings
$app-warn: mat.define-palette(mat.$red-palette);

/// use as a default, especially for local action buttons that do not perform irrevocable actions
$app-background: mat.define-palette(mat.$grey-palette);

$app-foreground: mat.$light-theme-foreground-palette;

/// the theme
$app-theme: mat.define-light-theme(
  (
    color: (
      primary: $app-primary,
      accent: $app-accent,
      warn: $app-warn,
      background: $app-background,
    ),
  )
);

// the dark theme. do not use directly. used by _prepare-theme to set CSS vars.
$dark-primary: mat.define-palette(palettes.$forza-horizon-pink);
$dark-accent: mat.define-palette(mat.$light-blue-palette);
$dark-highlight: #ffce2e;
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $app-warn,
    ),
  )
);
