// theme initialization and helper aliases
@use 'sass:map';
@use '@angular/material' as mat;
@use './_custom-fgbg.scss' as fgbg;

/// Initializes a large number of CSS-vars for later use.
/// Do not use Angular Material SCSS theme/palette variables directly. Instead use
/// the helpers in _use-theme.scss, which retrieves these values depending on various
/// settings. See usages of this function to determine conditions that cause different themes to load.
/// See https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties for more information on CSS vars
/// @param {theme} $theme A standard angular theme with the additional property `colors.extra-bg`
@mixin init-theme($theme) {
  $color-config: mat.get-color-config($theme);
  $primary-palette: map.get($color-config, 'primary');
  $is-dark: map-get($theme, is-dark);

  @include colorConfigToVars($color-config, $is-dark);

  @if ($is-dark) {
    @include themePalettesToVars(
      mat.$dark-theme-foreground-palette,
      mat.$dark-theme-background-palette,
      'darken',
      'lighten'
    );
    @include colorToVars(
      makeLookupName('highlight', 'default'),
      map-get(fgbg.$forza-bg-dark, 'highlight')
    );
  } @else {
    // light theme
    @include themePalettesToVars(
      mat.$light-theme-foreground-palette,
      mat.$light-theme-background-palette,
      'lighten',
      'darken'
    );
    @include colorToVars(
      makeLookupName('highlight', 'default'),
      map-get(fgbg.$forza-bg-light, 'highlight')
    );
  }

  background-color: app-color-default($app-background);
  color: app-color-default-contrast($app-background);
}
