<div class="steward-layout-with-sidebar">
  <div class="steward-layout-sidebar-group">
    <div class="steward-layout-pane player-selection-div steward-layout-vertical-fill">
      <mat-tab-group
        mat-stretch-tabs
        class="steward-layout-vertical-fill"
        (selectedTabChange)="matTabSelectionChange($event.index)"
      >
        <mat-tab label="Player Selection">
          <mat-card>
            <player-selection-single
              [disableLookupTypes]="['t10Id']"
              [allowSelection]="true"
              [rejectionFn]="identityRejectionFn"
              (selected)="playerIdentitySelected($event)"
              (found)="onPlayerIdentityChange($event)"
            ></player-selection-single>
          </mat-card>
        </mat-tab>
        <mat-tab label="Share Code">
          <mat-card>
            <pastable-single-input
              label="Share code"
              (changes)="onShareCodeChange($event)"
            ></pastable-single-input>
          </mat-card>
        </mat-tab>
      </mat-tab-group>

      <mat-card class="content-type-filter">
        <mat-form-field appearance="fill">
          <mat-label>Content Type</mat-label>
          <mat-select matInput [(value)]="contentType">
            <mat-option *ngFor="let type of contentTypeOptions" [value]="type">
              {{ type }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card>
    </div>
  </div>

  <div class="steward-layout-pane steward-layout-main-group">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Player UGC</mat-card-title>
        <mat-card-subtitle>Woodstock</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <woodstock-player-ugc
          [identity]="identity"
          [shareCode]="shareCode"
          [contentType]="contentType"
          [usingIdentities]="usingPlayerIdentities"
        ></woodstock-player-ugc>
      </mat-card-content>
    </mat-card>
  </div>
</div>
