@import '/src/styles/mixins';

mat-card {
  margin: $gap-medium;
  flex-grow: unset;
  max-height: unset;
}

.private-ugc-search-link {
  margin-top: $gap-medium;
}

.player-details-link-with-xuid {
  position: relative;
  display: block;
  font-size: 0.8em;
  line-height: 0.8em;
  top: -0.5em;
  color: var(--hex-warn-default);
  width: 100%;
  margin-left: -15px;
  margin-right: -15px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: auto;
}

form {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
}
