<span *ngIf="alwaysShow || (canSubmit && !isSubmitting)" class="apply">
  <button
    mat-stroked-button
    [disabled]="!verified || !canSubmit || isSubmitting"
    [matTooltip]="activeTooltip"
    (click)="doAction()"
  >
    <ng-content></ng-content>
  </button>
  <mat-checkbox [(ngModel)]="verified" [disabled]="!canSubmit" [matTooltip]="activeTooltip">{{
    checkboxText
  }}</mat-checkbox>
</span>
<error-spinner
  [isActive]="isSubmitting"
  [error]="submitError"
  spinnerMessage="Submitting"
  errorMessage="Failed to submit. Try again."
></error-spinner>
