@use 'sass:list';
@use 'sass:map';
@import '/src/styles/mixins/colors/unique-colors.scss';

@each $name, $set in $color-sets {
  $count: list.length($set);
  @for $i from 1 through $count {
    .unique-left-border-color-#{$i}-of-#{$count} {
      border-left: 4px solid;
      margin-bottom: 1px;
      border-color: list.nth($set, $i);
    }
  }
}
