<ng-container *ngIf="identity && !identity?.error; else noIdentity">
  <h1><player-identity-results [identity]="identity"></player-identity-results></h1>
  <section>
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="User Details">
        <div class="tab-container">
          <entitlements [identity]="identity"></entitlements>
        </div>
      </mat-tab>
      <mat-tab label="Inventory">
        <div class="tab-container">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Player Inventory</mat-card-title>
              <mat-card-subtitle>Gravity</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <gravity-player-inventory-profile-picker
                [identity]="identity"
                (profileChange)="onProfileChange($event)"
              ></gravity-player-inventory-profile-picker>
              <gravity-player-inventory
                [identity]="identity"
                [profileId]="profileId"
              ></gravity-player-inventory>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab label="JSON">
        <div class="tab-container">
          <json-dump [input]="identity">Identity</json-dump>
        </div>
      </mat-tab>
    </mat-tab-group>
  </section>
</ng-container>

<ng-template #noIdentity>
  <h1 *ngIf="lookupName">Finding {{ lookupName }} by {{ lookupType | humanize }}</h1>
  <h1 *ngIf="!lookupName">Waiting for {{ lookupType | humanize }}</h1>
  <ng-container *ngIf="identity?.error">
    <hr />
    <h2>Request failed</h2>
    <p>If this keeps happening, contact support.</p>
    <json-dump [input]="identity?.error">View error</json-dump>
  </ng-container>
</ng-template>
