@import '/src/styles/mixins';

.tab-container {
  padding: $gap-medium;
}

mat-form-field {
  max-width: $container-width-medium;
  width: 100%;
}

mat-checkbox {
  &:not(.inline) {
    display: block;
  }

  &.inline {
    margin-left: $gap-small;
  }
}

button {
  margin-top: $gap-small;
}
