<ng-container *ngIf="identity && !identity?.error; else noIdentity">
  <h1>{{ identity.gamertag }} (xuid: {{ identity.xuid !== undefined ? identity.xuid : '?' }})</h1>
  <section>
    <mat-tab-group animationDuration="0ms">
      <!-- <mat-tab label="User Details">
        <div class="tab-container">
          <h2>TODO</h2>
        </div>
      </mat-tab> -->
      <mat-tab label="Inventory">
        <div class="tab-container">
          <opus-player-inventory-profile-picker
            [identity]="identity"
            [(profileId)]="profileId"
            (profileIdChange)="onProfileIdChange($event)"
          ></opus-player-inventory-profile-picker>
          <opus-player-inventory
            [identity]="identity"
            [profileId]="profileId"
          ></opus-player-inventory>
        </div>
      </mat-tab>
      <mat-tab label="JSON">
        <div class="tab-container">
          <json-dump [input]="identity">Identity</json-dump>
        </div>
      </mat-tab>
    </mat-tab-group>
  </section>
</ng-container>

<ng-template #noIdentity>
  <h1>Finding {{ lookupName }} by {{ lookupType | humanize }}</h1>
  <ng-container *ngIf="identity?.error">
    <hr />
    <h2>Request failed</h2>
    <p>If this keeps happening, contact support.</p>
    <json-dump [input]="identity?.error">View error</json-dump>
  </ng-container>
</ng-template>
