@import '/src/styles/mixins';

table {
  width: 100%;
  text-align: left;

  td.mat-column-entitlement,
  td.mat-column-flags {
    padding: 10px 0px;
  }

  .mat-column-flags span {
    line-height: 0px;
    position: relative;
    top: -$gap-micro;
  }
}

mat-icon {
  top: $gap-micro;
  position: relative;

  &.green-icon {
    color: app-color-default($app-success);
  }

  &.red-icon {
    color: app-color-default($app-warn);
  }
}

span {
  display: block;
}

.warn {
  color: app-color-default($app-warn);
}

error-spinner {
  font-size: 4em;
}
