@import '/src/styles/mixins';

.spinner {
  color: app-color-default($app-primary);
}

.warning {
  color: app-color-default($app-warn);
  cursor: pointer;
}

$progress-spinner-diameter-small: 1em;
$progress-spinner-diameter-medium: 4em;
:host ::ng-deep {
  mat-progress-spinner {
    display: inline-block;

    &.spinner-small,
    &.spinner-small svg {
      width: $progress-spinner-diameter-small !important;
      height: $progress-spinner-diameter-small !important;
    }

    &.spinner-medium,
    &.spinner-medium svg {
      width: $progress-spinner-diameter-medium !important;
      height: $progress-spinner-diameter-medium !important;
    }
  }
}
