@import '/src/styles/mixins/variables.scss';

.spinner {
  color: mat-color($app-primary);
}

.warning {
  color: mat-color($app-warn);
  cursor: pointer;
}

$progress-spinner-diameter: 1em;
:host ::ng-deep {
  mat-progress-spinner {
    display: inline-block;
    &,
    svg {
      width: $progress-spinner-diameter !important;
      height: $progress-spinner-diameter !important;
    }
  }
}
