<div class="sf-wrapper">
  <div class="sf-vertical">
    <div class="sf-horizontal">
      <button mat-raised-button color="accent" (click)="toggleAll(true)">Toggle All On</button>
      <button mat-raised-button color="warn" (click)="toggleAll(false)">Toggle All Off</button>
    </div>
    <div class="key-body" *ngIf="dataSource.data.length > 0; else noFilterableDataTemplate">
      <span class="key-title">Filter by Series and Playlist.</span>
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node
          *matTreeNodeDef="let node"
          matTreeNodePadding
          [matTreeNodePaddingIndent]="20"
        >
          <button mat-icon-button disabled></button>
          <mat-checkbox
            class="checklist-leaf-node"
            [checked]="node.isChecked"
            (click)="leafItemSelectionToggle(node)"
            >{{ node.item }}</mat-checkbox
          >
        </mat-tree-node>
        <mat-tree-node
          *matTreeNodeDef="let node; when: hasChild"
          matTreeNodePadding
          [matTreeNodePaddingIndent]="20"
        >
          <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.item">
            <mat-icon class="mat-icon-rtl-mirror">
              {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
            </mat-icon>
          </button>
          <mat-checkbox
            [checked]="node.isChecked"
            [indeterminate]="descendantsPartiallySelected(node)"
            (click)="itemSelectionToggle(node)"
            >{{ node.item }}</mat-checkbox
          >
        </mat-tree-node>
      </mat-tree>
    </div>
  </div>
</div>

<ng-template #noFilterableDataTemplate>
  <span class="key-title">No filterable data found.</span>
</ng-template>
