<ng-container *ngIf="identity && !identity?.error; else noIdentity">
  <h1><player-identity-results [identity]="identity"></player-identity-results></h1>
  <section>
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="User Details">
        <div class="tab-container">
          <sunrise-user-flags [identity]="identity"></sunrise-user-flags>
          <sunrise-ban-history [xuid]="identity.xuid"></sunrise-ban-history>
          <sunrise-profile-notes [identity]="identity"></sunrise-profile-notes>
          <sunrise-gamertags [identity]="identity"></sunrise-gamertags>
          <sunrise-consoles [identity]="identity"></sunrise-consoles>
        </div>
      </mat-tab>
      <mat-tab label="Deep Dive">
        <div class="tab-container">
          <sunrise-overview [xuid]="identity.xuid"></sunrise-overview>
          <sunrise-credit-history [xuid]="identity.xuid"></sunrise-credit-history>
        </div>
      </mat-tab>
      <mat-tab label="Inventory">
        <div class="tab-container">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Player Inventory</mat-card-title>
              <mat-card-subtitle>Sunrise</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <sunrise-player-inventory-profile-picker
                [identity]="identity"
                [(profileId)]="profileId"
                (profileIdChange)="onProfileIdChange($event)"
              ></sunrise-player-inventory-profile-picker>
              <sunrise-player-inventory
                [identity]="identity"
                [profileId]="profileId"
              ></sunrise-player-inventory>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab label="Notifications">
        <div class="tab-container">
          <sunrise-player-notifications [identity]="identity"></sunrise-player-notifications>
        </div>
      </mat-tab>
      <mat-tab label="JSON">
        <div class="tab-container">
          <json-dump [input]="identity">Identity</json-dump>
        </div>
      </mat-tab>
    </mat-tab-group>
  </section>
</ng-container>

<ng-template #noIdentity>
  <h1 *ngIf="lookupName">Finding {{ lookupName }} by {{ lookupType | humanize }}</h1>
  <h1 *ngIf="!lookupName">Waiting for {{ lookupType | humanize }}</h1>
  <ng-container *ngIf="identity?.error">
    <hr />
    <h2>Request failed</h2>
    <p>If this keeps happening, contact support.</p>
    <json-dump [input]="identity?.error">View error</json-dump>
  </ng-container>
</ng-template>
