@import '/src/styles/mixins';

:host {
  @include flex-column-fill();
}

mat-card {
  mat-card-content {
    padding: $gap-medium 0;
  }
}

mat-tab-group {
  margin: $gap-medium;
}

::ng-deep mat-card {
  margin-bottom: $gap-medium;
}

.timer-date {
  flex-grow: 0;
  margin: 1em;
  mat-label,
  datetime-picker {
    flex-grow: 0;
  }
}
