@import '/src/styles/mixins';

section.checkboxes {
  > mat-checkbox {
    display: block;
  }
}

h2 {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  height: 1.5em;
  verify-action-button {
    font-size: $font-size-subnavbar;
  }
}

.reset-button {
  margin: 0 0.5em;
}
