<form [formGroup]="formGroup">
  <mat-card>
    <mat-card-header class="sf-header">
      <mat-card-title>Player Flags</mat-card-title>
      <mat-card-subtitle>{{ gameTitle | humanize }}</mat-card-subtitle>
      <ng-container *ngIf="getFlagsActionMonitor.isSuccess">
        <button
          [disabled]="!formGroup.dirty"
          mat-mini-fab
          color="warn"
          class="reset-button"
          (click)="setFlagsToCurrent()"
          matTooltip="Clear Changes"
          stateManager
          monitorDisable
          [monitor]="setFlagsActionMonitor"
        >
          <mat-icon svgIcon="steward-undo"></mat-icon>
        </button>
        <div class="sf-spacer"></div>

        <mat-checkbox
          #verifyApply
          stateManager
          monitorDisable
          [monitor]="setFlagsActionMonitor"
          [disabled]="!formGroup.dirty"
          [permissionAttribute]="permAttribute"
          [permissionTitle]="gameTitle"
          >Verify</mat-checkbox
        >
        <button
          mat-raised-button
          color="primary"
          (click)="applyFlags()"
          clickStop
          stateManager
          monitorDisable
          [monitor]="setFlagsActionMonitor"
          [disabled]="!formGroup.dirty"
          [verifyWith]="verifyApply"
        >
          Apply
          <button-spinner [monitor]="setFlagsActionMonitor" defaultIcon="save"></button-spinner>
        </button>

        <help-popover-icon cardTitle="Player Flags" confluenceName="Player Flags Card">
          <p>
            Player Flags are user groups and other "on/off"-style user features presented as
            checkboxes.
          </p>
        </help-popover-icon>
      </ng-container>
    </mat-card-header>
    <mat-card-content>
      <ng-container *waitForMonitor="getFlagsActionMonitor">
        <section class="checkboxes">
          <mat-checkbox
            *ngFor="let control of formControls | keyvalue: keepOrder"
            [formControl]="formControls[control.key]"
            (change)="verifyDirtyStatus()"
          >
            <ng-container *ngIf="alteredLabels[control.key]">
              {{ alteredLabels[control.key] }}
            </ng-container>
            <ng-container *ngIf="!alteredLabels[control.key]">
              {{ control.key | humanize }}
            </ng-container>
          </mat-checkbox>
        </section>
      </ng-container>
    </mat-card-content>
  </mat-card>
</form>
