<form [formGroup]="formGroup">
  <mat-card>
    <mat-card-title-group>
      <mat-card-title> Player Flags </mat-card-title>
      <mat-card-subtitle>
        <div>{{ gameTitle }}</div>
      </mat-card-subtitle>

      <button
        *ngIf="formGroup.dirty && !submit.isSubmitting"
        mat-mini-fab
        color="warn"
        class="reset-button"
        (click)="setFlagsToCurrent()"
        matTooltip="Clear Changes"
      >
        <mat-icon svgIcon="steward-undo"></mat-icon>
      </button>

      <verify-action-button #submit [canSubmit]="formGroup.dirty" [action]="makeAction$.bind(this)"
        >Apply
      </verify-action-button>

      <help-popover-icon cardTitle="Player Flags" confluenceName="Player Flags Card">
        <p>
          Player Flags are user groups and other "on/off"-style user features presented as
          checkboxes.
        </p>
      </help-popover-icon>
    </mat-card-title-group>
    <mat-card-content>
      <ng-container *ngIf="!isLoading && !loadError; else failstate">
        <section class="checkboxes">
          <mat-checkbox
            *ngFor="let control of formControls | keyvalue: keepOrder"
            [formControl]="formControls[control.key]"
            [disabled]="submit.isSubmitting"
            (change)="verifyDirtyStatus()"
          >
            <ng-container *ngIf="alteredLabels[control.key]">
              {{ alteredLabels[control.key] }}
            </ng-container>
            <ng-container *ngIf="!alteredLabels[control.key]">
              {{ control.key | humanize }}
            </ng-container>
          </mat-checkbox>
        </section>
      </ng-container>
    </mat-card-content>
  </mat-card>
</form>

<ng-template #failstate>
  <mat-progress-spinner *ngIf="isLoading" mode="indeterminate"></mat-progress-spinner>
  <json-dump *ngIf="loadError" [input]="loadError">Failed to load.</json-dump>
</ng-template>
