@import '/src/styles/mixins';

:host {
  @include flex-column-fill;
}

mat-card-content {
  pastable-single-input {
    display: block;
  }

  img {
    max-width: $single-input-max-width;
    cursor: pointer;
  }

  ul {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
    }
  }
}

.reset-state {
  margin-top: $gap-small;
  max-width: $button-min-size;
}
