<gravity-player-selection
  [allowT10Id]="true"
  [allowGroup]="true"
  [(playerIdentities)]="selectedPlayerIdentities"
  (playerIdentitiesChange)="onPlayerIdentitiesChange($event)"
></gravity-player-selection>

<div class="action-container">
  <ban-options></ban-options>

  <mat-card>
    <mat-card-content>
      <verify-action-button #submitButton [alwaysShow]="true" [canSubmit]="true" [canSubmitDisabledReason]="'homk'">
        Submit ban
      </verify-action-button>
    </mat-card-content>
  </mat-card>
</div>