@import '/src/styles/mixins';
// $rowHeight: 250px;
// $shortRowHeight: 120px;
// $metadataWidth: 250px;
// $messageMinHeight: 200px;
// $messageMaxWidth: 500px;
// $columnMinWidth: 300px;

:host {
  @include flex-column-fill();
}

table {
  width: 100%;

  .mat-cell {
    padding: 1em;
  }
}

.mat-column-actions {
  @include table-width(200);
}

.warn {
  color: app-color-default($app-warn);
}
