@import '/src/styles/mixins/variables.scss';

mat-card {
  position: absolute;

  top: 50%;
  transform: translateY(-50%);

  max-width: 500px;
  width: 100%;

  h1,
  h2 {
    color: mat-color($app-primary);
  }
}
