@import '/src/styles/mixins';

// TODO: Generalize this mat-chip-segmented business into a helper component

$mat-chip-segment-general: app-color-default($app-success, 0.5);
$mat-chip-segment-internal: app-color-default($app-background, 0.5);
$mat-chip-segment-internal-foreground: app-color-default-contrast($app-background, 0.5);
$mat-chip-segment-all: app-color-default($app-primary, 0.5);
$mat-chip-segment-target: app-color-default($app-accent, 0.5);

$mat-chip-segment-height: 2.5em;
$mat-chip-segment-large-gap: .5em;
$mat-chip-segment-small-gap: .25em;

mat-chip {
  overflow: hidden;
  padding: 0;
}

mat-chip span {
  // based on the height of the chip
  height: $mat-chip-segment-height;
  line-height: $mat-chip-segment-height;

  white-space: nowrap;

  &.title {
    padding: 0 $mat-chip-segment-large-gap;
    padding-right: $mat-chip-segment-small-gap;
  }

  &.title + .title {
    padding: 0 $mat-chip-segment-small-gap;
    border-left: $border-vertical-bar;
  }

  &.tag {
    padding: 0 $mat-chip-segment-large-gap;
  }

  &.tag + .tag {
    border-left: $border-vertical-bar;
  }

  &.title + .tag {
    // margin-left: .25em;
  }
  
  &.tag {
    &.general {
      background-color: $mat-chip-segment-general;
    }
    &.internal {
      background-color: $mat-chip-segment-internal;
      color: $mat-chip-segment-internal-foreground;
    }
    &.all {
      background-color: $mat-chip-segment-all;
    }
    &.target {
      background-color: $mat-chip-segment-target;
    }
  }
}