@import '/src/styles/mixins';

mat-form-field.localized-message {
  width: 100%;

  textarea {
    min-height: $text-area-medium-height;
    max-height: $text-area-max-height;
  }
}

mat-form-field.description {
  width: 100%;

  textarea {
    min-height: $text-area-medium-height;
    max-height: $text-area-max-height;
  }
}

button {
  max-width: $button-min-size;
  width: 100%;
  position: relative;
}

span.actions {
  white-space: nowrap;

  mat-checkbox {
    margin-right: 0.5em;
  }

  & > * {
    margin-left: 0.5em;
  }
}
