<ng-container *ngIf="identity && !identity?.error; else noIdentity">
  <player-identity-results [identity]="identity"></player-identity-results>
  <section>
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="Inventory">
        <div class="tab-container">
          <apollo-player-inventory-profile-picker
            [identity]="identity"
            [(profileId)]="profileId"
            (profileIdChange)="onProfileIdChange($event)"
          ></apollo-player-inventory-profile-picker>
          <apollo-player-inventory
            [identity]="identity"
            [profileId]="profileId"
          ></apollo-player-inventory>
        </div>
      </mat-tab>
      <mat-tab label="JSON">
        <div class="tab-container">
          <json-dump [input]="identity">Identity</json-dump>
        </div>
      </mat-tab>
    </mat-tab-group>
  </section>
</ng-container>

<ng-template #noIdentity>
  <h1 *ngIf="lookupName">Finding {{ lookupName }} by {{ lookupType | humanize }}</h1>
  <h1 *ngIf="!lookupName">Waiting for {{ lookupType | humanize }}</h1>
  <ng-container *ngIf="identity?.error">
    <hr />
    <h2>Request failed</h2>
    <p>If this keeps happening, contact support.</p>
    <json-dump [input]="identity?.error">View error</json-dump>
  </ng-container>
</ng-template>
