jobs:
- job: API_Build
  displayName: API Build
  pool:
    vmImage: ubuntu-20.04
  steps:
  - checkout: self
    submodules: true
  - task: Assembly-Info-NetCore@2
    displayName: Set Assembly Version
    inputs:
      InformationalVersion: $(Build.BuildNumber)
  - task: DotNetCoreCLI@2
    displayName: dotnet restore
    inputs:
      command: restore
      projects: >-
        packages/StewardApi/StewardApi/*.csproj

        packages/StewardApi/StewardApiTest/*.csproj
      selectOrConfig: config
      feedRestore: /2cea4146-e4d1-416d-9823-c02540cc01a9
      nugetConfigPath: packages/StewardApi/nuget.config
  - task: DotNetCoreCLI@2
    displayName: dotnet build
    inputs:
      projects: >-
        packages/StewardApi/StewardApi/*.csproj

        packages/StewardApi/StewardApiTest/*.csproj
      arguments: /p:DeployOnBuild=true /p:DeployDefaultTarget=WebPublish /p:WebPublishMethod=FileSystem /p:publishUrl="$(Agent.TempDirectory)\WebAppContent\\"
      selectOrConfig: config
      feedRestore: /2cea4146-e4d1-416d-9823-c02540cc01a9
  - task: UniversalPackages@0
    displayName: Universal download
    inputs:
      downloadDirectory: $(Agent.TempDirectory)/WebAppContent
      feedListDownload: d177fc04-c782-4ae5-8a8b-b291393a1163
      packageListDownload: 8a3d77cb-3e1a-415a-a881-de0793d11628
      versionListDownload: '*'
  - task: ArchiveFiles@2
    displayName: Archive Files
    inputs:
      rootFolderOrFile: $(Agent.TempDirectory)/WebAppContent
      includeRootFolder: false
      sevenZipCompression: 5
      archiveFile: $(Build.ArtifactStagingDirectory)/api.zip
  - task: DotNetCoreCLI@2
    displayName: dotnet test
    inputs:
      command: test
      projects: packages/StewardApi/StewardApiTest/*.csproj
      arguments: --filter TestCategory=Unit
  - task: VSTest@2
    displayName: Test Assemblies
    enabled: False
    inputs:
      testAssemblyVer2: >-
        **/*packages/StewardApi/StewardApiTest.dll

        !**/obj/**
      resultsFolder: $(Agent.TempDirectory)/TestResults
      testFiltercriteria: TestCategory=Unit
      diagnosticsEnabled: true
  - task: PublishSymbols@2
    displayName: Publish symbols path
    enabled: False
    inputs:
      SymbolsFolder: ''
      SymbolServerType: TeamServices
  - task: PublishBuildArtifacts@1
    displayName: 'Publish Artifact: api-drop'
    inputs:
      PathtoPublish: $(build.artifactstagingdirectory)
      ArtifactName: api-drop
  - task: PublishPipelineArtifact@1
    displayName: 'Publish Pipeline Artifact: api-tests'
    inputs:
      path: $(System.DefaultWorkingDirectory)
      artifactName: Steward Test Package