# This file executes recently-changed Cypress e2e tests with a time limit.
# TODO: Update to use shared `node/` templates
# TODO: Update to run tests in parallel

parameters:
- name: 'timeoutInMinutes'
  displayName: 'How many minutes to allow tests to run for. Default 10. Total pipeline duration limit is 60m'
  default: 10
  type: number

jobs:
- job: Job_2
  displayName: Cypress (Execute Changed Tests)
  pool:
    vmImage: ubuntu-20.04

  steps:
  - checkout: self
    submodules: true
    persistCredentials: True

  - task: CmdLine@2
    displayName: Git Command Setup
    inputs:
      script: >-
        git fetch --recurse-submodules=no

  - task: Cache@2
    displayName: Cache node_modules
    inputs:
      key: '"yarn" | "$(Agent.OS)" | **/yarn.lock'
      path: $(Build.Repository.LocalPath)/packages/StewardClient-Cypress/node_modules
      restoreKeys: >-
        yarn | "$(Agent.OS)"

        yarn

  - task: NodeTool@0
    displayName: Use Node Version
    inputs:
      versionSpec: 18.x

  - task: npmAuthenticate@0
    displayName: Authenticate for private NPM packages copy
    inputs:
      workingFile: packages/StewardClient-Cypress/.npmrc

  - task: CmdLine@2
    displayName: yarn install copy
    condition: succeededOrFailed()
    retryCountOnTaskFailure: 3
    inputs:
      script: yarn --frozen-lockfile --network-timeout 1000000
      workingDirectory: packages/StewardClient-Cypress/

  - task: AzureKeyVault@2
    displayName: 'Azure Key Vault: steward-keyvault-dev'
    inputs:
      ConnectedServiceName: 601c0bc2-7049-4ec7-a48a-76a014ebeab2
      KeyVaultName: steward-keyvault-dev
      SecretsFilter: aad-auth-client-secret

  - task: CmdLine@2
    displayName: Execute Changed Specs
    condition: succeededOrFailed()
    timeoutInMinutes: ${{timeoutInMinutes}}
    env:
      CYPRESS_DEV_CLIENT_SECRET: $(aad-auth-client-secret)
      CYPRESS_DEV_CLIENT_ID: 'cfe0ac3f-d0a7-4566-99f7-0c56b7a9f7d4'
    inputs:
      script: chmod +x ./scripts/execute-changed-specs.sh && ./scripts/execute-changed-specs.sh
      workingDirectory: packages/StewardClient-Cypress/

  - task: CmdLine@2
    displayName: Combine Reports
    condition: succeededOrFailed()
    inputs:
      script: yarn run report:combine
      workingDirectory: packages/StewardClient-Cypress/

  - task: PublishTestResults@2
    inputs:
      testResultsFormat: 'JUnit' # 'JUnit' | 'NUnit' | 'VSTest' | 'XUnit' | 'CTest'. Alias: testRunner. Required. Test result format. Default: JUnit.
      testResultsFiles: 'packages/StewardClient-Cypress/reports/mocha-junit/dev.xml' # string. Required. Test results files. Default: **/TEST-*.xml.