@import '/src/styles/mixins';

.ng-tooltip {
  position: absolute;
  text-align: center;
  color: app-color-darker-contrast($app-background);
  padding: 0.25em 0.5em;
  background: app-color-darker($app-background);
  border-radius: 0.25em;
  z-index: 1000;
  cursor: pointer;
  pointer-events: none;
}
