@import '/src/styles/mixins';

:host {
  mat-accordion {
    margin-top: 2em;
    display: block;
  }
}

.full-width {
  width: 100%;
}

.go-to-history-tool {
  margin-top: $gap-medium;
}

.info-table {
  margin-top: $gap-small;
}

mat-panel-title {
  &,
  & > * {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    padding-right: 0.5em;
    min-width: 5em;
  }

  mat-icon {
    min-width: unset;
    padding-right: $gap-small;
  }

  flex-basis: auto;

  .gift-reason {
    font-weight: bold;
  }
}

mat-panel-description {
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  flex-grow: 0;
  max-height: 2.5em;
}
