<mat-card>
  <mat-card-header class="sf-header">
    <mat-card-title>Only Simple Buttons</mat-card-title>
    <mat-card-subtitle>Subtitle</mat-card-subtitle>
    <div class="sf-spacer"></div>
    <help-popover-icon
      clickStop
      cardTitle="Gift Special Livery + Car"
      cardSubtitle="Button help"
      confluenceName="gift-special-livery"
    >
      <p>This is some popover text.</p>
    </help-popover-icon>
  </mat-card-header>

  <mat-card-content>
    <p>This is some content</p>
  </mat-card-content>

  <mat-card-actions class="sf-actions">
    <button mat-raised-button color="primary">Test</button>
    <button mat-icon-button color="primary"><mat-icon>check</mat-icon></button>
    <mat-checkbox>Test</mat-checkbox>
    <div class="sf-spacer"></div>
    <button mat-mini-fab color="primary"><mat-icon>check</mat-icon></button>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-header class="sf-header">
    <mat-card-title>Only Simple Buttons</mat-card-title>
    <mat-card-subtitle>Subtitle</mat-card-subtitle>
    <div class="sf-spacer"></div>
    <help-popover-icon
      clickStop
      cardTitle="Gift Special Livery + Car"
      cardSubtitle="Button help"
      confluenceName="gift-special-livery"
    >
      <p>This is some popover text.</p>
    </help-popover-icon>
  </mat-card-header>

  <mat-card-content>
    <p>This is some content</p>
  </mat-card-content>

  <mat-card-actions class="sf-actions">
    <button mat-raised-button color="primary">Test</button>
    <button mat-mini-fab color="primary"><mat-icon>check</mat-icon></button>
    <mat-checkbox>Test</mat-checkbox>
    <div class="sf-spacer"></div>
    <button mat-icon-button color="primary"><mat-icon>check</mat-icon></button>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-header class="sf-header">
    <mat-card-title>Only Simple Buttons</mat-card-title>
    <mat-card-subtitle>Subtitle</mat-card-subtitle>
    <div class="sf-spacer"></div>
    <help-popover-icon
      clickStop
      cardTitle="Gift Special Livery + Car"
      cardSubtitle="Button help"
      confluenceName="gift-special-livery"
    >
      <p>This is some popover text.</p>
    </help-popover-icon>
  </mat-card-header>

  <mat-card-content>
    <p>This is some content</p>
  </mat-card-content>

  <mat-card-actions class="sf-actions">
    <button mat-mini-fab color="primary"><mat-icon>check</mat-icon></button>
    <button mat-icon-button color="primary"><mat-icon>check</mat-icon></button>
    <mat-checkbox>Test</mat-checkbox>
    <div class="sf-spacer"></div>
    <button mat-raised-button color="primary">Test</button>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-header class="sf-header">
    <mat-card-title>Buttons with Mat FAB</mat-card-title>
    <mat-card-subtitle>Subtitle</mat-card-subtitle>
    <div class="sf-spacer"></div>
    <help-popover-icon
      clickStop
      cardTitle="Gift Special Livery + Car"
      cardSubtitle="Button help"
      confluenceName="gift-special-livery"
    >
      <p>This is some popover text.</p>
    </help-popover-icon>
  </mat-card-header>

  <mat-card-content>
    <p>This is some content</p>
  </mat-card-content>

  <mat-card-actions class="sf-actions">
    <button mat-raised-button color="primary">Test</button>
    <button mat-icon-button color="primary"><mat-icon>check</mat-icon></button>
    <button mat-mini-fab color="primary"><mat-icon>check</mat-icon></button>
    <mat-checkbox>Test</mat-checkbox>
    <div class="sf-spacer"></div>
    <button mat-fab color="primary"><mat-icon>check</mat-icon></button>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-header class="sf-header">
    <mat-card-title>Also forms Example</mat-card-title>
    <mat-card-subtitle>Subtitle</mat-card-subtitle>
    <div class="sf-spacer"></div>
    <help-popover-icon
      clickStop
      cardTitle="Gift Special Livery + Car"
      cardSubtitle="Button help"
      confluenceName="gift-special-livery"
    >
      <p>This is some popover text.</p>
    </help-popover-icon>
  </mat-card-header>

  <mat-card-content>
    <p>This is some content</p>
  </mat-card-content>

  <mat-card-actions class="sf-actions">
    <button mat-raised-button color="primary">Test</button>
    <mat-checkbox>Test</mat-checkbox>
    <mat-form-field appearance="fill">
      <mat-label>Test</mat-label>
      <mat-select>
        <mat-option>One</mat-option>
        <mat-option>Two</mat-option>
        <mat-option>Three</mat-option>
      </mat-select>
      <mat-hint>Testing</mat-hint>
    </mat-form-field>
  </mat-card-actions>
</mat-card>