@import '/src/styles/mixins';

.query-selection-form-field {
  margin-right: $gap-small;
}

form {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

mat-form-field {
  flex-grow: 1;
}

mat-spinner {
  position: absolute;
  top: 0;
  right: 0;
}
