<div class="steward-layout-with-sidebar">
  <div class="steward-layout-sidebar-group">
    <div class="steward-layout-pane">
      <woodstock-lsp-group-selection
        [formControl]="formControls.userGroup"
        [preselectGroupId]="preselectedGroupId"
      ></woodstock-lsp-group-selection>
    </div>
    <div class="steward-layout-pane">
      <mat-card>
        <mat-card-header>
          <mat-icon mat-card-avatar>group_add</mat-icon>
          <mat-card-title>Create User Group</mat-card-title>
          <mat-card-subtitle>Woodstock</mat-card-subtitle>
        </mat-card-header>
        <woodstock-create-user-group
          (newUserGroup)="newUserGroupCreated($event)"
        ></woodstock-create-user-group>
      </mat-card>
    </div>
  </div>

  <div class="steward-layout-pane steward-layout-fill reference-inventory">
    <div>
      <woodstock-list-users-in-user-group
        [userGroup]="selectedUserGroup"
      ></woodstock-list-users-in-user-group>
    </div>
  </div>
</div>
