@import '/src/styles/mixins';

mat-icon {
  height: auto;
}

// align icons with text
*[mat-raised-button],
*[mat-flat-button],
*[mat-stroked-button],
*[mat-button] {
  mat-icon {
    vertical-align: middle;
  }
  mat-icon[data-mat-icon-type='svg'] {
    vertical-align: text-bottom;
  }
}

// Default sizing to match the matChipRemove directive
mat-chip {
  .mat-icon {
    width: 18px;
    height: 18px;
    font-size: 18px;
  }
}

// fix colors when they would otherwise overlap
*[mat-fab],
*[mat-mini-fab],
*[mat-raised-button] {
  &.mat-warn mat-icon.mat-warn {
    color: app-color-default-contrast($app-warn);
  }
  &.mat-accent mat-icon.mat-accent {
    color: app-color-default-contrast($app-accent);
  }
  &.mat-primary mat-icon.mat-primary {
    color: app-color-default-contrast($app-primary);
  }
}
