@import '/src/styles/mixins';

mat-icon {
  height: auto;
}

// align icons with text
*[mat-raised-button],
*[mat-flat-button],
*[mat-stroked-button],
*[mat-button] {
  mat-icon {
    vertical-align: middle;
  }
  mat-icon[data-mat-icon-type='svg'] {
    vertical-align: text-bottom;
  }
}

// Default sizing to match the matChipRemove directive
mat-chip {
  .mat-icon.mat-icon.mat-icon {
    width: $mat-icon-width;
    height: $mat-icon-height;
    text-align: center;
    font-size: 24px;
    line-height: $mat-icon-line-height;

    &.leading-icon {
      margin-left: -8px;
    }

    &.trailing-icon,
    &[matChipRemove] {
      margin-right: -8px;
    }
  }

  .mat-button-wrapper {
    width: $mat-icon-width;
    height: $mat-icon-height;
    line-height: $mat-icon-line-height;
  }

  .mat-icon-button {
    width: $mat-icon-width;
    height: $mat-icon-height;
    line-height: $mat-icon-line-height;
  }
}

// fix colors when they would otherwise overlap
*[mat-fab],
*[mat-mini-fab],
*[mat-raised-button] {
  &.mat-warn mat-icon.mat-warn {
    color: app-color-default-contrast($app-warn);
  }
  &.mat-accent mat-icon.mat-accent {
    color: app-color-default-contrast($app-accent);
  }
  &.mat-primary mat-icon.mat-primary {
    color: app-color-default-contrast($app-primary);
  }
}
