@import '/src/styles/mixins/variables.scss';

.ng-tooltip {
  position: absolute;
  width: 100px;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  padding: 3px 8px;
  background: mat-color($app-background);
  border-radius: 4px;
  z-index: 1000;
  cursor: pointer;
  pointer-events: none;
}
