@import '/src/styles/mixins';

.mat-expansion-panel {
  &.top-border {
    border-top: 1px solid app-color-darker($app-background);
  }

  &.header-two-rows {
    .mat-expansion-panel-header {
      // Non-expanded header height is 48px
      &:not(.mat-expanded) {
        height: 96px;
      }

      // Expanded header height is 64px
      &.mat-expanded {
        height: 128px;
      }

      .mat-expansion-panel-header-title {
        flex-flow: column wrap;
        align-items: flex-start;

        // Make sure first two elements under title can be stacked
        > :nth-child(2) {
          display: block;
        }
      }
    }
  }
}
