@import '/src/styles/mixins';

mat-spinner.force-inline {
  display: inline-block;
  &,
  svg {
    width: 1em !important;
    height: 1em !important;
  }
}

mat-spinner.force-inline-2x {
  display: inline-block;
  &,
  svg {
    width: 1.5em !important;
    height: 1.5em !important;
  }
}

// spinner should always be contrasting
.mat-fab,
.mat-icon-button,
.mat-mini-fab,
.mat-button,
.mat-stroked-button,
.mat-raised-button,
.mat-flat-button {
  &.mat-accent mat-spinner * {
    stroke: app-color-default-contrast($app-accent);
  }
  &.mat-primary mat-spinner * {
    stroke: app-color-default-contrast($app-primary);
  }
  &.mat-warn mat-spinner * {
    stroke: app-color-default-contrast($app-warn);
  }
  &.mat-button-disabled mat-spinner * {
    stroke: app-color($app-foreground, 'disabled-text') !important;
  }
}

// align spinner with text
.mat-button,
.mat-stroked-button,
.mat-raised-button,
.mat-flat-button {
  mat-spinner {
    position: relative;
    top: 0.3em;
  }
}
