@import '/src/styles/mixins';

.ngx-charts {
  .gridline-path {
    // The use of !important here is required :`(
    stroke: app-color-darker($app-background) !important;
  }

  text {
    fill: app-color-default-contrast($app-background);
  }

  /* Make lines in line chart thick, with rounded ends */
  g.line-chart > g:last-of-type > g:nth-child(n) g.line-series path {
    stroke-width: 5;
    // stroke-linecap:round
  }
}
