@import '/src/styles/mixins';

.snackbar-warn {
  background-color: app-color-lighter($app-warn);
  color: app-color-lighter-contrast($app-warn);
}

.snackbar-success {
  background-color: app-color-lighter($app-primary);
  color: app-color-lighter-contrast($app-primary);
}
