@import '/src/styles/mixins';

form {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  mat-form-field {
    width: $single-input-max-width;
  }
}

.update-section {
  margin-top: $gap-medium;
}

.probation-toggle {
  margin-bottom: $gap-medium;
}

.no-wrap {
  white-space: pre-line;
}

.safety-rating-score-input {
  max-width: 4.5em;
  margin-right: $gap-micro;
}

.resize-action {
  margin-bottom: 2em;
}

.in-probation {
  background-color: app-color-lighter($app-accent);
}

.removable-form-wrapper {
  position: relative;
  display: block;
}

.form-removal-action {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  line-height: 20px;

  mat-icon {
    height: 18px;
    width: 18px;
    line-height: 18px;
    font-size: 18px;
  }
}

.button-without-lock {
  display: contents;
}
