<mat-form-field appearance="fill">
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    [(ngModel)]="input"
    [ngModelOptions]="{ standalone: true }"
    placeholder="12345..."
    (enter)="emitInput()"
    (paste)="pastedInput()"
  />
  <button
    mat-button
    matPrefix
    mat-icon-button
    aria-label="Search"
    matTooltip="Search"
    (click)="emitInput()"
  >
    <mat-icon>search</mat-icon>
  </button>
  <button
    mat-button
    matSuffix
    mat-icon-button
    aria-label="Clear"
    matTooltip="Clear"
    (click)="clearInput()"
  >
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
