:host {
  display: flex;
  flex-flow: row nowrap;

  &:not(:hover) a:not(.always-show) {
    visibility: hidden;
  }

  a {
    // tweak from usual button style
    line-height: 1em;
    padding: 0.25em;
    min-width: unset;
    display: flex;
    align-items: center;
  }
}
