@import '/src/styles/mixins';

.wrapper {
  > *:not(:first-child) {
    display: block;
    padding-top: $gap-large;
  }
}

.ban-area {
  label,
  span {
    display: block;
  }
}

.ban-reason {
  display: block;
  width: 100%;
}

.mat-button-toggle-checked.mat-button-toggle-checked {
  background-color: app-color-default($app-primary);
  color: app-color-default-contrast($app-primary);
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}

.warn {
  color: app-color-default($app-warn);
}
