<mat-card>
  <mat-card-title-group>
    <mat-card-title>{{ contract.title }}</mat-card-title>
    <mat-card-subtitle>
      <ng-container *ngIf="!!contract.error"
        ><mat-icon color="warn">warn</mat-icon>{{ contract.error }}</ng-container
      >
      <ng-container *ngIf="!contract.error"
        >Toggle and submit flags</ng-container
      >
    </mat-card-subtitle>
    <ng-content select="help-popover-icon"></ng-content>
    <div class="action-wrapper">
      <button
        mat-mini-fab
        color="warn"
        class="reset-button"
        (click)="resetToInitial()"
        clickStop
        stateManager
        [monitor]="submitMonitor"
        monitorDisable
        [disabled]="!formControl.dirty"
        matTooltip="Clear Changes"
      >
        <mat-icon>undo</mat-icon>
      </button>

      <button
        mat-mini-fab
        color="primary"
        matTooltip="Submit"
        (click)="submit()"
        clickStop
        stateManager
        [monitor]="submitMonitor"
        monitorDisable
        monitorWarn
        monitorWarnSnackbar
        monitorCompleteSnackbar
        [verifyWith]="verifyDelete"
        [disabled]="!!contract.error"
      >
        <mat-icon>done</mat-icon>
      </button>
      <mat-checkbox
        #verifyDelete
        matTooltip="Verify Submit"
        [disabled]="!!contract.error"
      ></mat-checkbox>
      <inline-spinner [monitor]="submitMonitor"></inline-spinner>
    </div>
  </mat-card-title-group>

  <toggle-list
    [disabled]="!!contract.error"
    [formControl]="formControl"
    [order]="contract.order"
    [initial]="contract.initialModel"
  ></toggle-list>
  <pre>{{ contract.error | json }}</pre>
</mat-card>
