@import '/src/styles/mixins/';

/* Tasteful margin */
:host {
  display: block;
  padding: 1rem 2rem;
  min-width: 30vw;
}

:host ::ng-deep mat-card {
  margin-bottom: $gap-medium;
}

/* Specific styles */
.title-bar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  .spacer {
    flex-grow: 1;
    & ~ * {
      margin-left: 0.5em;
    }
  }
}

changelog-group {
  display: block;
  margin-top: 3em;
}

section {
  margin-top: 2em;
  h2 {
    margin-bottom: 0;
  }
}

old-changelog {
  margin-top: 0;
}

.top-controls {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  color: app-color-lighter-contrast($app-background, 70%);
}