<form [formGroup]="formGroup">
  <select-localized-string
    [service]="service"
    [formControl]="formControls.localizedMessageInfo"
  ></select-localized-string>

  <datetime-range-picker
    [formControl]="formControls.dateRange"
    [min]="min"
    [disableStartTime]="lockStartTime"
  ></datetime-range-picker>

  <div *ngIf="lockStartTime" class="lockStartTimeWarning">
    Start time selection disabled for this title.
  </div>

  <mat-form-field *ngIf="allowDeviceTypeFilter" appearance="fill" class="device-type">
    <mat-label>Device Type</mat-label>
    <mat-select formControlName="deviceType">
      <mat-option *ngFor="let type of deviceTypes" [value]="type">
        {{ type | deppoh }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="accent" (click)="debugForm()">Debug</button>

  <button mat-raised-button color="accent" (click)="createMessage()" [disabled]="!formGroup.valid">
    Review <mat-icon svgIcon="steward-arrow-right"></mat-icon>
  </button>
</form>
