@import '/src/styles/mixins';

$dialog-min-height: 300px;

mat-checkbox {
  margin-left: $gap-small;
}

h2 {
  margin: 0;
}

.added-color {
  color: app-color-default($app-primary);
}

.removed-color {
  color: app-color-default($app-warn);
}

.sf-wrapper {
  min-height: $dialog-min-height;

  .sf-horizontal > div {
    padding: 0 $gap-small;
  }
}

.change-entry {
  .attribute-name {
    display: block;
    margin-top: $gap-micro;
    font-weight: 700;
  }
}
