@import '/src/styles/mixins';

table {
  width: 100%;

  span {
    display: block;
  }

  img {
    max-width: $max-table-image-width;
    cursor: pointer;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  tr.example-detail-row {
    height: 0;
  }

  .example-element-row td {
    border-bottom-width: 0;
    height: $ugc-row-height-thumbnails;
  }

  .border-bottom td {
    border-bottom-width: 1px;
  }

  .mat-column-actions {
    @include table-width($table-column-width-300);
    padding-right: $gap-small;
    padding-left: $gap-small;

    .hide-score {
      display: flex;
      align-items: baseline;

      button,
      a {
        margin-right: $gap-small;
        display: inline-block;
      }
    }
  }

  .example-element-detail {
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    padding-top: $gap-medium;

    div {
      flex-grow: 1;
      margin-bottom: $gap-medium;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
    }
  }

  button,
  a,
  ugc-download-button {
    margin-bottom: $gap-small;

    &:not(.ignore-min-size) {
      min-width: $button-min-size;
      display: inline-block;
    }
  }

  .is-featured-item {
    background-color: $table-tr-hover;
  }

  .inline-buttons > button,
  .inline-buttons > a {
    display: inline-block;
  }
}

div.table-wide-actions {
  display: flow-root;
  button {
    float: right;
  }
}

.action-section {
  flex-grow: 0;
  margin: -1em;
}

mat-progress-spinner {
  margin: auto;
  margin-top: $gap-small;
}

img {
  @include standard-image-border();
}

.mat-row {
  &.selected {
    background-color: $table-tr-hover;
  }
}