<div class="sf-wrapper">
  <div class="sf-horizontal sf-right" *ngIf="ugcHidingSupported">
    Click on a row to select
    <button
      mat-stroked-button
      color="primary"
      [disabled]="selectedUgcs?.length <= 0"
      (click)="unselectAllUgcItems()"
    >
      Unselect all
    </button>
    <div class="sf-spacer"></div>
    <div class="sf-right do-not-manipulate-margin action-section">
    <verify-button
      #verifyCheckboxHideBtn
      [disabled]="selectedUgcs?.length <= 0"
      [permissionAttribute]="hideUgcPermission"
      [permissionTitle]="gameTitle"
    ></verify-button>
    <button
      mat-raised-button
      color="warn"
      [disabled]="selectedUgcs?.length <= 0"
      [verifyWithV2]="verifyCheckboxHideBtn"
      (click)="hideMultipleUgc(selectedUgcs)"
      stateManager
      [monitor]="hideUgcMonitor"
      monitorDisable
      monitorWarn
      monitorWarnSnackbar
    >
      <span [ngPlural]="selectedUgcs?.length">
        Hide {{ selectedUgcs?.length }}
        <ng-template ngPluralCase="=1">Ugc </ng-template>
        <ng-template ngPluralCase="other">Ugcs </ng-template>
      </span>
      <mat-spinner
        *ngIf="hideUgcMonitor.isActive"
        class="force-inline-2x"
        [matTooltip]="hideUgcMonitor.label + ' in progress'"
      ></mat-spinner>
    </button>
    </div>
  </div>
</div>
<div class="table-wide-actions" *ngIf="displayTableWideActions">
  <button
    mat-stroked-button
    color="primary"
    clickStop
    [disabled]="downloadAllMonitor.isActive"
    (click)="downloadPhotosInZip()"
    [ngPlural]="ugcCount"
  >
    <ng-template ngPluralCase="=1">Download Result</ng-template>
    <ng-template ngPluralCase="other"
      >Download {{ ugcCount > 500 ? 'Top 500' : ugcCount }} Results</ng-template
    >
    <button-spinner defaultIcon="download" [monitor]="downloadAllMonitor"></button-spinner>
  </button>
</div>
<mat-paginator
  [pageSizeOptions]="[5, 10, 20]"
  (page)="getExtraDataForActiveDataset()"
  showFirstLastButtons
></mat-paginator>
<table mat-table [dataSource]="ugcTableDataSource" multiTemplateDataRows #matTable>
  <ng-container matColumnDef="ugcInfo">
    <th mat-header-cell *matHeaderCellDef>UGC Info</th>
    <td mat-cell *matCellDef="let entry">
      <ul>
        <li>
          <b>Featured:</b>
          {{ entry.featuredByT10 ? (entry.featuredEndDateUtc | utcDate: 'short') : 'No' }}
        </li>
        <li><b>Title:</b> {{ entry.title }}</li>
        <li><b>Description:</b> {{ entry.description }}</li>
        <li><b>Created:</b> {{ entry.createdDateUtc | utcDate: 'short' }}</li>
      </ul>
    </td>
  </ng-container>

  <ng-container matColumnDef="metadata">
    <th mat-header-cell *matHeaderCellDef>Metadata</th>
    <td mat-cell *matCellDef="let entry">
      <ul>
        <li><b>Access Level:</b> {{ entry.isPublic ? 'Public' : 'Private' }}</li>
        <li><b>Car:</b> {{ entry.carDescription }}</li>
        <li><b>Share Code:</b> {{ entry.shareCode || 'N/A' }}</li>
        <li>
          <standard-copy [text]="entry.id"><b>Id:</b> {{ entry.id }}</standard-copy>
        </li>
      </ul>
    </td>
  </ng-container>

  <ng-container matColumnDef="stats">
    <th mat-header-cell *matHeaderCellDef>Stats</th>
    <td mat-cell *matCellDef="let entry">
      <ul>
        <li><b>Popularity:</b> {{ entry.popularityBucket }}/5</li>
        <li><b>Likes:</b> {{ entry.timesLiked }}</li>
        <li><b>Dislikes:</b> {{ entry.timesDisliked }}</li>
        <li><b>Downloads:</b> {{ entry.timesDownloaded }}</li>
        <li><b>Uses:</b> {{ entry.timesUsed }}</li>
      </ul>
    </td>
  </ng-container>

  <ng-container matColumnDef="thumbnailOneImageBase64">
    <th mat-header-cell *matHeaderCellDef>Thumbnail One</th>
    <td mat-cell *matCellDef="let entry">
      <img
        *ngIf="!!entry?.thumbnailOneImageBase64"
        matTooltip="Click to enlarge image"
        [src]="entry.thumbnailOneImageBase64"
        [enlargeImage]="entry.thumbnailOneImageBase64"
        title="Thumbnail One"
      />
      <span *ngIf="!entry.thumbnailOneImageBase64">N/A</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="thumbnailTwoImageBase64">
    <th mat-header-cell *matHeaderCellDef>Thumbnail Two</th>
    <td mat-cell *matCellDef="let entry">
      <img
        *ngIf="!!entry?.thumbnailTwoImageBase64"
        matTooltip="Click to enlarge image"
        [src]="entry.thumbnailTwoImageBase64"
        [enlargeImage]="entry.thumbnailTwoImageBase64"
        title="Thumbnail Two"
      />
      <span *ngIf="!entry.thumbnailTwoImageBase64">N/A</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let entry">
      <div class="inline-buttons">
        <ugc-download-button [item]="entry"></ugc-download-button>
      </div>
      <div class="inline-buttons">
        <a
          mat-stroked-button
          color="primary"
          clickStop
          [routerLink]="entry.ugcDetailsLink"
          [disabled]="!ugcDetailsLinkSupported || !entry.ugcDetailsLink"
        >
          <help-popover-icon cardTitle="Ugc Details">
            <span>You can hide, feature, report, and more by going to the UGC Details!</span>
          </help-popover-icon>
          <span
            [matTooltip]="
              ugcDetailsLinkSupported
                ? 'Go to UGC details page for this item'
                : 'UGC details page is not supported for this title'
            "
            >View Full Details</span
          >
        </a>
      </div>
      <div *ngIf="entry.type === ugcType.Livery" class="inline-buttons">
        <a
          mat-stroked-button
          color="default"
          clickStop
          [routerLink]="liveryGiftingRoute"
          [queryParams]="{ liveryId: entry.id }"
        >
          <span matTooltip="Go to Gifting page with this livery pre-loaded">Gift Livery</span>
        </a>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="exando-ugcInfo">
    <th mat-header-cell *matHeaderCellDef>UGC Info</th>
    <td mat-cell *matCellDef="let entry">
      <ul>
        <li>
          <standard-copy [text]="entry.id"><b>Id:</b> {{ entry.id }}</standard-copy>
        </li>
        <li>
          <b>Featured:</b>
          {{ entry.featuredByT10 ? (entry.featuredEndDateUtc | utcDate: 'short') : 'No' }}
        </li>
        <li><b>Title:</b> {{ entry.title }}</li>
        <li><b>Description:</b> {{ entry.description }}</li>
        <li><b>Car:</b> {{ entry.carDescription }}</li>
      </ul>
    </td>
  </ng-container>

  <ng-container matColumnDef="expandButton">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let entry">
      <button
        class="ignore-min-size"
        clickStop
        mat-card-avatar
        mat-icon-button
        [matTooltip]="expandedElement === entry ? 'Collapse UGC details' : 'Expand UGC details'"
        (click)="expandedElement = expandedElement !== entry ? entry : null"
      >
        <mat-icon *ngIf="expandedElement !== entry">expand_more</mat-icon>
        <mat-icon *ngIf="expandedElement === entry">expand_less</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let entry" [attr.colspan]="columnsToDisplay.length">
      <div
        class="example-element-detail"
        [@detailExpand]="entry === expandedElement ? 'expanded' : 'collapsed'"
      >
        <ul>
          <div>
            <li><b>Created:</b> {{ entry.createdDateUtc | utcDate: 'short' }}</li>
            <li><b>Share Code:</b> {{ entry.shareCode || 'N/A' }}</li>
            <li><b>Popularity:</b> {{ entry.popularityBucket }}/5</li>
            <li><b>Likes:</b> {{ entry.timesLiked }}</li>
            <li><b>Dislikes:</b> {{ entry.timesDisliked }}</li>
            <li><b>Downloads:</b> {{ entry.timesDownloaded }}</li>
            <li><b>Uses:</b> {{ entry.timesUsed }}</li>
          </div>
          <div *ngIf="entry.thumbnailTwoImageBase64">
            <li>
              <b>Thumbnail Two:</b><br />
              <img
                matTooltip="Click to enlarge image"
                [src]="entry.thumbnailTwoImageBase64"
                [enlargeImage]="entry.thumbnailTwoImageBase64"
                title="Thumbnail Two"
              />
            </li>
          </div>
        </ul>
      </div>
    </td>
  </ng-container>

  <tr
    mat-header-row
    *matHeaderRowDef="useExpandoColumnDef ? expandoColumnDef : columnsToDisplay"
  ></tr>
  <tr
    [hidden]="waitingForThumbnails"
    mat-row
    *matRowDef="let element; columns: useExpandoColumnDef ? expandoColumnDef : columnsToDisplay"
    class="example-element-row cursor-pointer"
    [class.example-expanded-row]="expandedElement === element"
    [class.border-bottom]="!useExpandoColumnDef"
    [class.is-featured-item]="element.featuredByT10"
    [class.selected]="element.selected"
    (click)="onRowSelected(element)"
  ></tr>
  <ng-container *ngIf="useExpandoColumnDef">
    <tr
      [hidden]="waitingForThumbnails"
      mat-row
      *matRowDef="let row; columns: ['expandedDetail']"
      class="example-detail-row"
    ></tr>
  </ng-container>
</table>
<mat-progress-spinner *ngIf="waitingForThumbnails" mode="indeterminate"></mat-progress-spinner>
