@import '/src/styles/mixins';

:host,
mat-drawer-container {
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

div {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
