@import '/src/styles/mixins';

mat-dialog-content {
  display: block;
  height: 65vh;

  img {
    max-height: 100%;
    max-width: 100%;
    display: block;
  }
}

mat-dialog-actions {
  button {
    width: $button-min-size;
    margin-top: $gap-small;
  }
}
