<div class="steward-layout-with-sidebar">
  <div class="steward-layout-sidebar-group">
    <div class="steward-layout-pane player-selection-div steward-layout-vertical-fill">
      <mat-tab-group mat-stretch-tabs class="steward-layout-vertical-fill">
        <mat-tab label="Player Selection">
          <mat-card class="player-selection">
            <player-selection-bulk
              [disableLookupTypes]="['t10Id']"
              [allowSelection]="true"
              [rejectionFn]="identityRejectionFn"
              [sortFn]="identitySortFn$"
              (found)="onPlayerIdentitiesChange($event)"
              (selected)="playerIdentitySelected($event)"
            >
              <ng-template let-identity>
                <ban-chip-icon
                  *ngIf="identity?.extra?.hasSunrise"
                  [identity]="identity.sunrise"
                  [banSummary]="summaryLookup[identity.sunrise.xuid]"
                ></ban-chip-icon>
              </ng-template>
            </player-selection-bulk>
          </mat-card>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="steward-layout-pane steward-layout-fill ban-history">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Ban History</mat-card-title>
          <mat-card-subtitle>Sunrise</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <sunrise-ban-history-compact
            *ngFor="let xuid of bannedXuids"
            [xuid]="xuid"
            [hidden]="!xuid.isEqualTo(selectedPlayer?.xuid)"
          ></sunrise-ban-history-compact>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="steward-layout-pane steward-layout-main-group">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Player Ban</mat-card-title>
        <mat-card-subtitle>Sunrise</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ng-container *ngIf="!isLoading && !loadError; else failState">
          <ng-container *ngIf="!banResults; else banResultsState">
            <form [formGroup]="formGroup">
              <ban-options [formControl]="formControls.banOptions"></ban-options>
              <verify-action-button
                #submitButton
                [action]="submit$"
                [alwaysShow]="true"
                [canSubmit]="canBan()"
                [canSubmitDisabledReason]="'Form is invalid'"
                checkboxText="Check to verify ban"
              >
                Submit ban
              </verify-action-button>
            </form>
          </ng-container>
        </ng-container>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<ng-template #failState>
  <mat-progress-spinner *ngIf="isLoading" mode="indeterminate"></mat-progress-spinner>
  <json-dump *ngIf="loadError" [input]="loadError">Failure occured.</json-dump>
  <button
    *ngIf="loadError"
    class="reset-state"
    mat-raised-button
    color="accent"
    matTooltip="Reset the failed tool."
    (click)="resetBanningToolUI()"
    clickStop
  >
    Reset Tool
  </button>
</ng-template>

<ng-template #banResultsState>
  <ban-results [banResults]="banResults"></ban-results>
  <button
    class="reset-state"
    mat-raised-button
    color="accent"
    matTooltip="Send another ban."
    (click)="resetBanningToolUI()"
    clickStop
  >
    Send another ban
  </button>
</ng-template>
