<div [formGroup]="formGroup">
  <h2>Activities</h2>
  <mat-accordion formArrayName="activities">
    <mat-expansion-panel *ngFor="let dataActivityFormControl of formControls">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span
            class="flex-truncate"
            [matTooltip]="dataActivityFormControl.value.name || 'unnamed activity'"
          >
            {{ dataActivityFormControl.value.name || 'unnamed activity' }}
          </span>
        </mat-panel-title>
        <mat-panel-description>
          <div *ngIf="dataActivityFormControl.errors">invalid</div>
          <div *ngIf="!dataActivityFormControl.errors" class="truncate">
            <div
              class="truncate"
              [matTooltip]="
                (dataActivityFormControl.value.table || 'N/A') +
                ' @ ' +
                (dataActivityFormControl.value.database || 'N/A')
              "
            >
              {{ dataActivityFormControl.value.table || 'N/A' }}
              @
              {{ dataActivityFormControl.value.database || 'N/A' }}
            </div>
            <div class="truncate">
              <span class="truncate">
                {{ dataActivityFormControl.value.dateRange.start | utcDate: 'short' }}
                -
                {{ dataActivityFormControl.value.dateRange.end | utcDate: 'short' }}
              </span>
            </div>
          </div>
          <button
            mat-icon-button
            color="warn"
            (click)="removeActivity(dataActivityFormControl)"
            [disabled]="formArray.length <= 1"
            clickStop
            [matTooltip]="formArray.length <= 1 ? 'Cannot remove last activity' : 'Remove Activity'"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <obligation-data-activity [formControl]="dataActivityFormControl"></obligation-data-activity>
    </mat-expansion-panel>
  </mat-accordion>

  <div class="actions">
    <button
      mat-raised-button
      color="accent"
      (click)="addActivity()"
      clickStop
      matTooltip="Add Activity"
    >
      <mat-icon>post_add</mat-icon>
      Add Activity
    </button>
  </div>
</div>
