@import '/src/styles/mixins';

table {
  width: 100%;
}

td,
th {
  text-align: center !important;
}

.mat-sort-header-container {
  justify-content: center;
}

button {
  margin-left: $gap-small;
}

.no-xuid {
  margin-top: $gap-medium;
}
