@import '/src/styles/mixins';

table {
  width: 100%;
}

td,
th {
  text-align: center !important;
}

.mat-sort-header-container {
  justify-content: center;
}

button {
  margin-left: $gap-small;
}

.no-xuid {
  margin-top: $gap-medium;
}

.send-failed.send-failed.send-failed {
  align-items: center;
  width: 100%;
  display: flex;
  margin: auto;
  margin-top: $gap-micro;
}

.send-error {
  margin: auto;
}
