:host {
  display: flex;
}

.container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.label {
  padding-left: .5em;
}

.summary {
  .row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  
  .entry {
    border: 1px solid transparent;
    margin: .5px;
    width: 5px;
    height: 5px;
    background-color: gray;

    &.active {
      background-color: white;

      &.retail {
        background-color: lime;
      }
    }
  }
}