<button
  mat-button
  [matMenuTriggerFor]="quickOptions"
  [disabled]="disabled"
>
<div class="container">
  <div class="summary" [matTooltip]="allUpTooltip" matTooltipClass="sf-tooltip-multiline">
    <div class="row" *ngFor="let line of endpointStateGrid">
      <div *ngFor="let entry of line.entries" [ngClass]="entry.classes"></div>
    </div>
  </div>
  <span class="label">{{ item.title }}</span>
</div>
</button>
<mat-menu #quickOptions>
  <a *ngFor="let optionSet of quickEndpointOptions" [matTooltip]="optionSet.tooltip" matTooltipPosition="right"
    (click)="setAllEndpoints(optionSet)" mat-menu-item [disabled]="!optionSet.isPossible">
    <mat-icon>{{ optionSet.icon ?? '' }}</mat-icon>{{ optionSet.name }}
  </a>
  <a
    [routerLink]="[{ outlets: { sidebar: 'settings' } }]"
    queryParamsHandling="preserve"
    mat-menu-item
    routerLinkActive="stroked-icon-button"
    matTooltip="Configure manually in the settings menu"
    matTooltipPosition="right"
  >
  <mat-icon>engineering</mat-icon>Configure Manually
  </a>
</mat-menu>
