@import '/src/styles/mixins';

.short-spacer {
  flex: 0 1 2em;
  min-width: 2em;
}

.mat-menu-trigger {
  padding: 0;
  min-width: $gap-medium + $gap-medium;
}

.mat-icon-button {
  line-height: 36px; // chosen to match angular material
  border: 1px solid transparent;
}

.mat-stroked-button,
.stroked-icon-button {
  border: 1px solid app-color-default-contrast($app-primary, 0.5) !important;
}

.settings-anchor.touranchor--is-active {
  padding: 10px;
  margin: -10px -10px;
}

.changelog-anchor.touranchor--is-active {
  padding: 10px;
  margin: -10px -10px;
}