@import '/src/styles/mixins';

.short-spacer {
  flex: 0 1 2em;
  min-width: 2em;
}

.horizontal-nav-separator {
  flex: 0 1 2px;
  min-width: 2px;
  background-color: app-color-default-contrast($app-primary, 0.2);
  margin: 0 0.25em;
  border-radius: 1em;
}

.mat-menu-trigger {
  padding: 0;
  min-width: $gap-medium + $gap-medium;
}

.mat-icon-button {
  line-height: 36px; // chosen to match angular material
  border: 1px solid transparent;
}

.mat-stroked-button,
.stroked-icon-button {
  border: 1px solid app-color-default-contrast($app-primary, 0.5) !important;
}

.sidebar-active-icon {
  background-color: app-color-default-contrast($app-primary);
  color: app-color-default($app-primary);
}
