<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>
        Select {{ title }} Players
        <span *ngIf="playerIdentities?.length > 0">({{ playerIdentities.length }})</span>
      </h2>
      <button
        mat-stroked-button
        color="accent"
        (click)="playerIdentities?.length > 0 ? clearResults() : clearInput()"
      >
        Clear
      </button>
    </mat-card-title>
  </mat-card-header>

  <ng-container
    content-body
    class="selection-content"
    *ngIf="!isLoading && !loadError; else failState"
  >
    <ng-container *ngIf="playerIdentities?.length <= 0; else resultsView">
      <div class="content-container">
        <mat-button-toggle-group
          #group="matButtonToggleGroup"
          name="playerIdType"
          aria-label="Player id type"
          [value]="playerIdType"
          (change)="playerIdTypeChange(group.value)"
        >
          <mat-button-toggle value="gamertag">Gamertag</mat-button-toggle>
          <mat-button-toggle value="xuid">Xuid</mat-button-toggle>
          <mat-button-toggle *ngIf="allowT10Id" value="t10Id">T10Id</mat-button-toggle>
        </mat-button-toggle-group>
        <div class="player-id-input">
          <mat-form-field appearance="fill">
            <mat-label>Player Id{{ allowGroup ? '(s)' : '' }}:</mat-label>
            <textarea
              matInput
              #playerInfo
              [formControl]="playersSelector"
              [ngClass]="{ 'expanded-text-area': showExpandedTextArea }"
              [(ngModel)]="data"
              (ngModelChange)="playerInfoChanged()"
            ></textarea>
            <mat-error>Group selection is disabled for this tool.</mat-error>
          </mat-form-field>
          <button
            (click)="validatePlayerIds()"
            [disabled]="disableValidateButton"
            class="validate-btn"
            mat-raised-button
            color="primary"
          >
            Validate
          </button>
        </div>
      </div>
    </ng-container>
  </ng-container>
</mat-card>

<ng-template #resultsView id="results-view">
  <div class="identity-results">
    <ng-content></ng-content>
    <div class="default">
      <player-selection-chip-list [playerSelection]="this" [identities]="playerIdentitiesFull">
        <ng-template let-identity>
          <player-selection-chip [playerSelection]="this" [identity]="identity">
          </player-selection-chip>
        </ng-template>
      </player-selection-chip-list>
    </div>
  </div>
</ng-template>

<ng-template #failState id="fail-state">
  <div id="fail-state">
    <mat-progress-spinner *ngIf="isLoading" mode="indeterminate"></mat-progress-spinner>
    <p *ngIf="loadError">Failed to load.</p>
    <pre *ngIf="loadError">{{ loadError | json }}</pre>
  </div>
</ng-template>
