<form [formGroup]="formGroup" class="sf-wrapper">
  <div class="sf-vertical">
    <select-localized-string
      [service]="localizationSelectServiceContract"
      [formControl]="formControls.localizedTileTitle"
      label="Tile Title"
      formControlName="localizedTileTitle"
    ></select-localized-string>
    <select-localized-string
      [service]="localizationSelectServiceContract"
      [formControl]="formControls.localizedTileDescription"
      label="Tile Description"
      formControlName="localizedTileDescription"
    ></select-localized-string>
    <select-localized-string
      [service]="localizationSelectServiceContract"
      [formControl]="formControls.localizedTileType"
      label="Tile Type"
      hintMessage="Optional"
      formControlName="localizedTileType"
    ></select-localized-string>
    <mat-form-field appearance="fill" class="sf-default-hint">
      <mat-label>Tile Image Path</mat-label>
      <input type="text" matInput [formControl]="formControls.tileImagePath" />
      <button
        type="button"
        mat-button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="clearTileImagePath()"
        [disabled]="formControls.tileImagePath.disabled"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="sf-default-hint" appearance="fill">
      <mat-label>Size</mat-label>
      <mat-select [formControl]="formControls.size">
        <mat-option *ngFor="let size of sizes" [value]="size">
          {{ size }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="sf-default-hint" appearance="fill">
      <mat-label>Timer</mat-label>
      <mat-select [formControl]="formControls.timerInstance">
        <mat-option *ngFor="let item of timerInstanceEnum | keyvalue" [value]="item.value">
          {{ item.key }}
        </mat-option>
      </mat-select>
      <button
        matSuffix
        mat-icon-button
        clickStop
        (click)="removeTimerInstance()"
        [disabled]="formControls.timerInstance.disabled"
        matTooltip="Clear timer type"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <ng-container *ngIf="formControls.timerInstance.value">
      <!-- Show a reference dropdown if needed (Every timer instance except Custom) -->
      <mat-form-field
        *ngIf="selectedTimerReferenceInstance"
        class="sf-default-hint"
        appearance="fill"
      >
        <mat-label>Select {{ selectedTimerReferenceInstance }}</mat-label>
        <mat-select [formControl]="formControls.timerReferenceId">
          <mat-option
            *ngFor="let referenceOption of timerReferenceOptions | keyvalue"
            [value]="referenceOption.key"
          >
            {{ referenceOption.value | humanize }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- If timer instance is not a reference show field for Custom Instance -->
      <div class="sf-horizontal" *ngIf="!selectedTimerReferenceInstance">
        <div class="sf-horizontal timer-date">
          <mat-label>Start Date (mm/dd/yyyy)</mat-label>
          <datetime-picker
            [min]="minDate"
            [formControl]="formControls.timerCustomFromDate"
          ></datetime-picker>
        </div>
        <div class="sf-horizontal timer-date">
          <mat-label>End Date (mm/dd/yyyy)</mat-label>
          <datetime-picker
            [min]="minDate"
            [formControl]="formControls.timerCustomToDate"
          ></datetime-picker>
        </div>
      </div>

      <select-localized-string
        [service]="localizationSelectServiceContract"
        [formControl]="formControls.timerLocalizedStartTextOverride"
        label="Timer Start Text Override"
        hintMessage="Optional"
        formControlName="timerLocalizedStartTextOverride"
      ></select-localized-string>
      <select-localized-string
        [service]="localizationSelectServiceContract"
        [formControl]="formControls.timerLocalizedEndTextOverride"
        label="Timer End Text Override"
        hintMessage="Optional"
        formControlName="timerLocalizedEndTextOverride"
      ></select-localized-string>
      <mat-form-field class="sf-default-hint" appearance="fill">
        <mat-label>Timer Type</mat-label>
        <mat-select [formControl]="formControls.timerType">
          <mat-option *ngFor="let item of timerTypeEnum | keyvalue" [value]="item.value">
            {{ item.key }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>
  </div>
</form>
