@import '/src/styles/mixins';

mat-card {
  mat-card-content {
    padding: $gap-medium 0;
  }
}

mat-icon {
  position: relative;
  top: $gap-micro;
}

error-spinner {
  margin-left: $gap-small;
}

div.selected-filters {
  margin: $gap-small 0;
}

mat-chip > mat-icon,
button mat-icon {
  top: unset;
}

.player-selection-container {
  width: 20em;
}
