<mat-card>
  <mat-card-header>
    <mat-card-title> Player Details </mat-card-title>
    <mat-card-subtitle>
      <div>{{ service.gameTitle | humanize }}</div>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <ng-container *waitForMonitor="getMonitor">
      <table class="info-table">
        <tr>
          <th>First Login Date</th>
          <td>
            {{ playerGameDetails.firstLoginDateUtc | utcDate: 'short' }}
          </td>
        </tr>
        <tr>
          <th>Last Login Date</th>
          <td>{{ playerGameDetails.lastLoginDateUtc | utcDate: 'short' }}</td>
        </tr>
        <tr>
          <th>CMS Slot Version</th>
          <td>{{ playerGameDetails.cmsSlotVersion }}</td>
        </tr>
        <tr>
          <th>CMS Slot Id</th>
          <td>{{ playerGameDetails.cmsSlotIdOverride }}</td>
        </tr>
        <tr>
          <th>CMS Environment</th>
          <td>{{ playerGameDetails.cmsEnvironmentOverride }}</td>
        </tr>
        <tr>
          <th>CMS Snapshot Id</th>
          <td>{{ playerGameDetails.cmsSnapshotId }}</td>
        </tr>
        <tr>
          <th>License Plate</th>
          <td>{{ playerGameDetails.licensePlate }}</td>
        </tr>
      </table>
    </ng-container>
  </mat-card-content>
</mat-card>
