<div class="default-page-layout">
  <div class="default-page-layout-left">
    <div class="player-selection-div">
      <mat-card>
        <player-selection-single
          [allowSelection]="true"
          [rejectionFn]="identityRejectionFn"
          (found)="onPlayerIdentityChange($event)"
          (selected)="playerIdentitySelected($event)"
        ></player-selection-single>
      </mat-card>
    </div>

    <div class="reference-inventory" *ngIf="selectedPlayerIdentity">
      <mat-card>
        <gravity-player-inventory-profile-picker
          [identity]="selectedPlayerIdentity"
          [(profileId)]="selectedPlayerInventoryProfile"
        ></gravity-player-inventory-profile-picker>

        <div class="inventory-div">
          <gravity-player-inventory
            [identity]="selectedPlayerIdentity"
            [profileId]="selectedPlayerInventoryProfile"
            (inventoryFound)="onInventoryFound($event)"
          ></gravity-player-inventory>
        </div>
      </mat-card>
    </div>
  </div>

  <div class="default-page-layout-right">
    <!-- Page tool -->
    <gravity-gift-basket
      [referenceInventory]="selectedPlayerInventory"
      [playerIdentities]="selectedPlayerIdentities"
      [lspGroup]="undefined"
      [usingPlayerIdentities]="true"
    ></gravity-gift-basket>
  </div>
</div>
