@import '/src/styles/mixins';

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    display: block;
    margin: $gap-micro 0;
    padding: 0;
    line-height: 1.5em;
    height: 1.5em;
  }
}
