<div class="steward-layout-with-sidebar">
  <div class="steward-layout-sidebar-group">
    <div class="steward-layout-pane">
      <select-user-from-list
        [allowSelection]="getPermissionsActionMonitor.isDone"
        [verifyUserChange]="selectedUserHasPermChanges"
        (selectedUserChange)="newUserSelected($event)"
        (userAttributesChange)="clonePermissions($event)"
      ></select-user-from-list>
    </div>
  </div>

  <div class="steward-layout-pane steward-layout-fill reference-inventory">
    <mat-card class="steward-layout-sticky-scroll">
      <mat-card-header class="sf-header">
        <mat-card-title>Manage Permissions</mat-card-title>
        <mat-card-subtitle>{{ managePermissionCardSubtitle }}</mat-card-subtitle>
        <div class="sf-spacer"></div>
        <button
          mat-raised-button
          color="basic"
          [disabled]="!selectedUserHasPermChanges"
          (click)="undoChanges()"
        >
          Undo Changes
        </button>

        <button
          mat-raised-button
          color="primary"
          [disabled]="!selectedUserHasPermChanges"
          (click)="savePermissionChanges()"
        >
          Save Permissions
        </button>
      </mat-card-header>

      <mat-form-field *ngIf="!!selectedUser" appearance="fill" class="select-tree-view">
        <mat-label>Tree View</mat-label>
        <mat-select [(value)]="selectedTreeView" (selectionChange)="treeViewChange($event)">
          <mat-option *ngFor="let view of treeViews" [value]="view">
            {{ view | humanize }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <ng-container *waitForMonitor="getPermissionsActionMonitor">
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
          <mat-tree-node
            *matTreeNodeDef="let node"
            matTreeNodePadding
            [matTreeNodePaddingIndent]="20"
          >
            <button mat-icon-button disabled></button>
            <mat-checkbox
              class="checklist-leaf-node"
              [checked]="node.isChecked"
              (click)="leafItemSelectionToggle(node)"
              >{{ node.name | humanize }}</mat-checkbox
            >
          </mat-tree-node>
          <mat-tree-node
            *matTreeNodeDef="let node; when: hasChild"
            matTreeNodePadding
            [matTreeNodePaddingIndent]="20"
          >
            <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
              <mat-icon class="mat-icon-rtl-mirror">
                {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
              </mat-icon>
            </button>
            <mat-checkbox
              [checked]="node.isChecked"
              [indeterminate]="descendantsPartiallySelected(node)"
              (click)="itemSelectionToggle(node)"
              >{{ node.name | humanize }}</mat-checkbox
            >
          </mat-tree-node>
        </mat-tree>
      </ng-container>
    </mat-card>
  </div>
</div>
