<section>
  <h3 class="title-bar">
    <mat-checkbox
      clickStop
      [ngModel]="groupIsComplete"
      [indeterminate]="groupIsIndeterminate"
      (ngModelChange)="updateGroup($event)"
      >{{ group.title }}</mat-checkbox
    >
    <span class="spacer"></span>
  </h3>
  <mat-accordion multi displayMode="flat">
    <mat-expansion-panel
      *ngFor="let entry of group.entries"
      [class.no-expand]="!(entry.longText?.length ?? false)"
      [hideToggle]="!(entry.longText?.length ?? false)"
      [expanded]="entry.longText?.length ?? false"
      class="top-border header-two-rows"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <changelog-tag-details [entry]="entry"></changelog-tag-details>
          <mat-checkbox
            clickStop
            [ngModel]="isAcknowledgedEntry(entry)"
            (change)="updateEntry(entry, $event)"
          >
            <span></span>
            {{ entry.shortText }}
          </mat-checkbox>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p *ngFor="let paragraph of entry.longText">{{ paragraph }}</p>
    </mat-expansion-panel>
  </mat-accordion>
</section>
