@import '/src/styles/mixins';

:host ::ng-deep .no-expand {
  .mat-expansion-panel-content {
    display: none;
  }
}

.title-bar {
  margin-bottom: $gap-small;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  .spacer {
    flex-grow: 1;
  }
}

changelog-tag-details {
  margin-bottom: $gap-small;
}
