@import '/src/styles/mixins';

:host ::ng-deep .no-expand {
  .mat-expansion-panel-content {
    display: none;
  }

  .mat-expanded {
    height: 48px; // value is sourced from the default .mat-expanded height. normally this rule would override it with 96px, which we do not want here
  }

  mat-checkbox {
    .mat-checkbox-label {
      white-space: initial;
    }
  }
}

.title-bar {
  margin-bottom: $gap-small;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  .spacer {
    flex-grow: 1;
  }
}
