<mat-toolbar>
  <a
    *ngFor="let link of navbarRouterLinks"
    [routerLink]="link.route"
    mat-button
    routerLinkActive="mat-stroked-button"
    [disabled]="link.disabled"
    ><span [matTooltip]="link?.disabled ? disabledRouteTooltip : null">{{ link.name }}</span>
    <endpoint-selection
      *ngIf="!link?.disabled"
      [titleCodeName]="link.codename"
    ></endpoint-selection>
  </a>
  <span class="spacer"></span>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>
