@import '/src/styles/mixins';

:host,
:host ::ng-deep * {
  font-size: 16px !important;
  line-height: 36px !important;
}

mat-icon {
  line-height: 20px !important;
}

mat-button-toggle-group.mat-button-toggle-group-appearance-standard.mat-button-toggle-group-appearance-standard {
  border-color: app-color-darker-contrast($app-primary, 0.2);

  mat-button-toggle {
    background-color: app-color-default($app-primary);
    border-color: app-color-darker-contrast($app-primary, 0.2);
    color: app-color-default-contrast($app-primary, 0.7);
  }

  mat-button-toggle.mat-button-toggle-checked {
    background-color: app-color-darker-contrast($app-primary, 0.5);
    color: app-color-darker($app-primary);
  }
}