<section>
  <h2 mat-dialog-title>
    <span>Banner Details</span>
    <button mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
  </h2>

  <mat-dialog-content class="dialog-content">
    <div class="modal-wrapper">
      <div class="scroll-pane">
        <table class="info-table">
          <tr>
            <th>Title</th>
            <td>
              {{ data.title }}
            </td>
          </tr>
          <tr>
            <th>Description</th>
            <td>{{ data.description }}</td>
          </tr>
          <tr>
            <th>Start Time</th>
            <td>{{ data.startTime | utcDate: 'short' }}</td>
          </tr>
          <tr>
            <th>End Time</th>
            <td>{{ data.endTime | utcDate: 'short' }}</td>
          </tr>
          <tr>
            <th>Car Id</th>
            <td>{{ data.car.carId }}</td>
          </tr>
          <tr>
            <th>Car Name</th>
            <td>{{ data.car.modelShort }}</td>
          </tr>
          <tr>
            <th>Car Media Name</th>
            <td>{{ data.car.mediaName }}</td>
          </tr>
          <ng-container *waitForMonitor="getActionMonitor">
            <tr>
              <th>Initial Price</th>
              <td>{{ data.car.baseCost }}</td>
            </tr>
            <ng-container *ngIf="carSale.saleInformation.length === 0; else saleInformation">
              <tr>
                <th></th>
                <td>No Discounts</td>
              </tr>
            </ng-container>
            <ng-template #saleInformation>
              <tr>
                <th>Sale Price</th>
                <td>
                  {{ carSale.saleInformation[0].salePrice }} ({{
                    carSale.saleInformation[0].salePercentOff
                  }}%)
                </td>
              </tr>
              <tr>
                <th>VIP Sale Price</th>
                <td>
                  {{ carSale.saleInformation[0].vipSalePrice }} ({{
                    carSale.saleInformation[0].vipSalePercentOff
                  }}%)
                </td>
              </tr>
            </ng-template>
          </ng-container>
        </table>
      </div>
    </div>
  </mat-dialog-content>
</section>
