// makes the mat card actions buttons display more nicely
// when a scrollbar shows up
// group buttons by wrapping them in a div
@mixin tweak-mat-card-actions-scrollbar-alignment {
  mat-card-actions {
    margin-left: 0;
    margin-right: 0;
  }

  mat-card-actions > div {
    margin-left: 1em;
    margin-right: 1em;
  }
}
