verify-action-button {
  margin-top: 40px;
  display: block;
}

.bottom {
  flex-grow: 1;
  display: inline-block;
  margin-top: 20px;
}

@media screen and (max-width: 1000px) {
  .default-page-layout-left {
    max-width: unset;
  }
}
