<ng-container [formGroup]="formGroup" (ngSubmit)="submit()">
  <div class="left">
    <sunrise-player-selection
      #playerSelection
      [allowT10Id]="false"
      [allowGroup]="true"
      [formControl]="formControls.playerIdentities">
      <player-selection-chip
        *ngFor="let identity of playerSelection.playerIdentitiesFull"
        [playerSelection]="playerSelection"
        [identity]="identity">
        <ban-chip-icon
          [identity]="identity"
          [banSummary]="summaryLookup[identity.xuid]"
          [banQuery]="getBanHistoryComponentByXuid(identity.xuid)"></ban-chip-icon>
      </player-selection-chip>
    </sunrise-player-selection>
    <div class="bottom">
      <mat-card>
        <mat-card-content>
          <ng-container *ngFor="let identity of playerSelection.playerIdentitiesFull">
            <sunrise-ban-history [xuid]="identity.xuid"></sunrise-ban-history>
          </ng-container>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="action-container">
    <mat-card>
      <mat-card-content>
        <ban-options [formControl]="formControls.banOptions"></ban-options>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <verify-action-button
          #submitButton
          [alwaysShow]="true"
          [canSubmit]="formGroup.valid"
          [canSubmitDisabledReason]="'Form is invalid'"
          checkboxText="Check to verify ban"
        >
          Submit ban
        </verify-action-button>
      </mat-card-content>
    </mat-card>
  </div>
</ng-container>
