<div class="default-page-layout">
  <div class="default-page-layout-left">
    <mat-card>
      <player-selection-bulk
        [allowSelection]="true"
        [rejectionFn]="identityRejectionFn"
        (found)="onPlayerIdentitiesChange($event)"
        (selected)="playerIdentitySelected($event)"
      >
        <ng-template let-identity>
          <ban-chip-icon
            *ngIf="identity?.extra?.hasSunrise"
            [identity]="identity.sunrise"
            [banSummary]="summaryLookup[identity.sunrise.xuid]"
          ></ban-chip-icon>
        </ng-template>
      </player-selection-bulk>
      <div class="bottom">
        <ng-container *ngFor="let xuid of bannedXuids">
          <sunrise-ban-history
            [xuid]="xuid"
            [hidden]="xuid !== selectedPlayer?.xuid"
          ></sunrise-ban-history>
        </ng-container>
      </div>
    </mat-card>
  </div>

  <div class="default-page-layout-right">
    <mat-card>
      <mat-card-content>
        <ng-container *ngIf="!isLoading && !loadError; else failState">
          <ng-container *ngIf="!banResults; else banResultsState">
            <form [formGroup]="formGroup">
              <ban-options [formControl]="formControls.banOptions"></ban-options>
              <verify-action-button
                #submitButton
                [action]="submit"
                [alwaysShow]="true"
                [canSubmit]="canBan()"
                [canSubmitDisabledReason]="'Form is invalid'"
                checkboxText="Check to verify ban"
              >
                Submit ban
              </verify-action-button>
            </form>
          </ng-container>
        </ng-container>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<ng-template #failState>
  <mat-progress-spinner *ngIf="isLoading" mode="indeterminate"></mat-progress-spinner>
  <json-dump *ngIf="loadError" [input]="loadError">Failure occured.</json-dump>
  <button
    *ngIf="loadError"
    class="reset-state"
    mat-raised-button
    color="accent"
    matTooltip="Reset the failed tool."
    (click)="resetBanningToolUI()"
    clickStop
  >
    Reset Tool
  </button>
</ng-template>

<ng-template #banResultsState>
  <ban-results [banResults]="banResults"></ban-results>
  <button
    class="reset-state"
    mat-raised-button
    color="accent"
    matTooltip="Send another ban."
    (click)="resetBanningToolUI()"
    clickStop
  >
    Send another ban
  </button>
</ng-template>
