@import '/src/variables.scss';

mat-form-field {
  width: 100%;
}

// the chip is clickable
mat-chip {
  cursor: pointer;
}

.identity-valid {
  background-color: mat-color($app-primary, 'lighter');
}

.identity-invalid {
  background-color: mat-color($app-warn, 'lighter');
}

:host ::ng-deep .mat-chip-list-wrapper {
  flex-wrap: nowrap;
}