@import '/src/styles/mixins';

:host {
  display: flex;
  flex-grow: 1;
  flex-flow: column nowrap;
  height: 100%;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
}

.mat-stroked-button {
  border-color: app-color-default-contrast($app-background, 0.333);
}
