<page-auction-data *waitForMonitor="getMonitor" [auctionData]="auctionData" [title]="gameTitle">
  <help-popover-icon cardTitle="Auction State" confluenceName="Auction State Card">
    <h3>Action: Delete</h3>
    <ul>
      <li>The "delete" action removes an auction by flagging it for review.</li>
      <li>
        Once an auction is flagged for review, it must be removed by player interaction from the
        client.
      </li>
      <li>
        The credits and car should be returned to the player when they interact with the auction.
      </li>
    </ul>
  </help-popover-icon>
  <mat-card-actions align="end">
    <button
      mat-flat-button
      color="warn"
      clickStop
      stateManager
      [verifyWith]="verifyDelete"
      [monitor]="postCancelMonitor"
      monitorDisable
      (click)="onCancel()"
    >
      Delete
      <button-spinner [monitor]="postCancelMonitor" defaultIcon="delete"></button-spinner>
    </button>
    <mat-checkbox
      class="sf-verify-checkbox"
      #verifyDelete
      stateManager
      [permissionAttribute]="deletePermAttribute"
      [permissionTitle]="gameTitle"
      matTooltip="Verify Deletion"
      >Verify</mat-checkbox
    >
  </mat-card-actions>
</page-auction-data>
