@import '/src/styles/mixins';

$tile-size: 5px;
$tile-gap-size: 1px;

:host {
  display: flex;
}

.container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
  z-index: 0;
}

.label {
  margin-left: -.4em;
  color: app-color-default-contrast($app-primary, 0.3);
  z-index: -1;
}

.summary,
.inline-summary {
  &.summary {
    // setting this so the icon overlap looks better.
    background-color: app-color-default($app-primary);
  }

  .row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  &.inline-summary {
    display: inline-flex;
    align-items: center;
  }

  .entry {
    border: 1px solid transparent;
    margin: calc($tile-gap-size / 2);
    width: $tile-size;
    height: $tile-size;
    background-color: app-color-default-contrast($app-primary, 0.3);

    &.spacer {
      background-color: transparent;
    }

    &.active {
      background-color: app-color-default-contrast($app-primary);

      &.retail {
        background-color: app-color-passthru($app-success, 'A700');
      }

      &.flight {
        background-color: app-color-default($app-accent);
      }
    }
  }
}

:host ::ng-deep .mat-button-toggle-label-content {
  line-height: 24px ;
}

::ng-deep .mat-menu-topnav {
  border-top-left-radius: 0;
}

button.menu-opened {
  background-color: app-color($app-background, 'card');
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  z-index: 10000;

  .label {
    color: app-color-default-contrast($app-background, 0.3);
  }
  .summary {
    &.summary {
      background-color: app-color($app-background, 'card');
    }
  
    .row {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
    }
  
    &.inline-summary {
      display: inline-flex;
      align-items: center;
    }
  
    .entry {
      background-color: app-color-default-contrast($app-background, 0.1);
  
      &.spacer {
        background-color: transparent;
      }
  
      &.active {
        background-color: app-color-default($app-primary);
  
        &.retail {
          background-color: app-color-passthru($app-success, 'A700');
        }
  
        &.flight {
          background-color: app-color-default($app-accent);
        }
      }
    }
  }
}

mat-button-toggle {
  &:not(.active) {
    background-color: app-color-darker($app-background, 0.4);
    color: app-color-darker-contrast($app-background, 0.4);
  }

  &.spacer {
    background-color: transparent;
  }

  &.active.active {
    background-color: app-color-default($app-primary);
    color: app-color-default-contrast($app-primary);

    &.retail {
      background-color: app-color-passthru($app-success, 'A700', 0.7);
      color: app-color-default-contrast($app-background);
    }

    &.flight {
      background-color: app-color-default($app-accent, 0.3);
      color: app-color-default-contrast($app-accent);
    }
  }
}

.menu-header {
  display: flex;
  flex-flow: column wrap;
  padding: .5em;
  gap: .5em;

  > .menu-header-title {
    font-weight: bolder;
    font-size: 1.25em;
    padding-left: 1em;
  }

  .menu-header-column {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1em;
  }
  
  .menu-header-row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: .5em;
    gap: 1em;
  }

  .toggle-group {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: .5em;
    label {
      display: block;
    }
  }
}
