@import '/src/styles/mixins';

$tile-size: 5px;
$tile-gap-size: 1px;

:host {
  display: flex;
}

.container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
  z-index: 0;
}

.label {
  margin-left: -.4em;
  color: app-color-default-contrast($app-primary, 0.3);
  z-index: -1;
}

.summary,
.inline-summary {
  &.summary {
    // setting this so the icon overlap looks better.
    background-color: app-color-default($app-primary);
  }

  .row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  &.inline-summary {
    display: inline-flex;
    align-items: center;
  }

  .entry {
    border: 1px solid transparent;
    margin: calc($tile-gap-size / 2);
    width: $tile-size;
    height: $tile-size;
    background-color: app-color-default-contrast($app-primary, 0.3);

    &.spacer {
      background-color: transparent;
    }

    &.active {
      background-color: app-color-default-contrast($app-primary);

      &.retail {
        background-color: app-color-default($app-success);
      }

      &.flight {
        background-color: app-color-default($app-accent);
      }
    }
  }
}

:host ::ng-deep .mat-button-toggle-label-content {
  line-height: 24px ;
}

mat-button-toggle {

  &.spacer {
    background-color: transparent;
  }

  &.active.active {
    background-color: app-color-default-contrast($app-primary);
    color: app-color-default($app-primary);

    &.retail {
      background-color: app-color-default($app-success, 0.3);
      color: app-color-default-contrast($app-success);
    }

    &.flight {
      background-color: app-color-default($app-accent, 0.3);
      color: app-color-default-contrast($app-accent);
    }
  }
}

.menu-header {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: .5em;
  gap: .5em;

  > .menu-header-title {
    text-align: center;
    font-weight: bolder;
    font-size: 1.25em;
  }

  .mat-header-column {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  
  .mat-header-row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: .5em;
    gap: 1em;
  }

  .toggle-group {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: .5em;
    padding-top: 1.5em;
    label {
      display: block;
    }
  }
}
