<mat-card>
  <mat-card-header class="sf-header">
    <mat-card-title>Search Public UGC</mat-card-title>
    <mat-card-subtitle>{{ gameTitle | titlecase }}</mat-card-subtitle>
    <div class="sf-spacer"></div>
    <button
      class="filter-search"
      mat-raised-button
      color="primary"
      matTooltip="Search Public UGC"
      [disabled]="!formGroup.valid"
      (click)="searchUgc()"
      [monitor]="getMonitor"
      stateManager
      monitorDisable
      monitorWarnSnackbar
    >
      Search
      <button-spinner defaultIcon="search" [monitor]="getMonitor"></button-spinner>
    </button>
    <help-popover-icon cardTitle="Search Private UGC">
      <div>Private UGC can only be viewed per player in the player details tool.</div>
      <button
        mat-stroked-button
        color="primary"
        class="private-ugc-search-link"
        (click)="playerDetailsClick()"
      >
        <span>Player Details Tool</span>
        <div class="player-details-link-with-xuid" *ngIf="!!filterXuid">XUID: {{ filterXuid }}</div>
      </button>
    </help-popover-icon>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="formGroup">
      <ugc-search-filters
        [formControl]="formControls.ugcFilters"
        [serviceContract]="serviceContract"
      ></ugc-search-filters>
    </form>

    <steelhead-ugc-table [content]="ugcContent" [contentType]="ugcType"></steelhead-ugc-table>
  </mat-card-content>
</mat-card>
