@import '/src/styles/mixins';

.center-text {
  display: flex;
  justify-content: center;
}

div.calendar-control-panel {
  display: grid;
}

.calendar-view-switch {
  padding-bottom: 1em;
}

:host ::ng-deep {
  .cal-month-view,
  .cal-week-view,
  .cal-day-view {
    background-color: unset;
  }

  .cal-month-view .cal-cell-row:hover {
    background-color: app-color-default($app-background);
  }

  .cal-month-view .cal-cell-row .cal-cell:hover,
  .cal-month-view .cal-cell.cal-has-events.cal-open {
    background-color: app-color-darker($app-background);
  }

  .cal-month-view .cal-day-cell.cal-in-month.cal-has-events {
    cursor: auto;
  }

  .cal-month-view .cal-day-cell.cal-weekend .cal-day-number {
    color: unset;
  }

  .cal-month-view .cal-day-cell.cal-today {
    background-color: app-color-lighter($app-primary);
  }

  //Week and day view
  .cal-week-view .cal-hour-odd {
    background-color: unset;
  }

  .cal-week-view .cal-time-events .cal-day-columns:not(.cal-resize-active) .cal-hour-segment:hover {
    background-color: unset;
  }

  .cal-week-view .cal-day-headers .cal-header:hover,
  .cal-week-view .cal-day-headers .cal-drag-over {
    background-color: app-color-darker($app-background);
  }

  .cal-week-view .cal-header.cal-today {
    background-color: app-color-lighter($app-accent);
  }
}

.cell-totals {
  color: app-color-default($app-foreground);
  margin: 0.5em;
  text-align: center;
}

.cal-day-badge {
  background-color: app-color-default($app-accent);
}

.week-view-event {
  border: none;
}

.calendar-header {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
}

.shrink-wrap {
  text-align: left;
  display: inline-block;

  > * {
    padding-left: 0.5em;
    cursor: pointer;
  }
}

.day-view-event {
  background-color: transparent;
  border: none;
  color: unset;

  > * {
    padding-left: 0.5em;
    text-overflow: ellipsis;
  }
}

.week-view-event {
  border: none;
}
