@import '/src/styles/mixins';

mat-form-field {
  max-width: 95%; // TODO: This is a hack to avoid the negative margin hiding in here from generating horizontal scroll bars.
  &:not(.display-in-single-line) {
    display: block;
  }
}

.player-chip-list-constraint {
  max-height: 10em;
  overflow-x: hidden;
  overflow-y: auto;
}

.fill-button-toggle-group {
  width: 100%;
  margin-bottom: $gap-medium;

  > * {
    width: 100%;
  }
}

// the chip is clickable
mat-chip {
  cursor: pointer;
}

.identity-valid {
  background-color: app-color-lighter($app-primary);
}

.identity-invalid {
  background-color: app-color-lighter($app-warn);
}

:host ::ng-deep .display-in-single-line.has-result .mat-form-field-label-wrapper {
  display: none;
}

.lookup-value {
  white-space: nowrap;
}

:host ::ng-deep .mat-chip-selected error-spinner {
  &,
  * {
    color: app-color-default-contrast($app-warn);
  }
}

.cut-lookup-list-error {
  color: app-color-default($app-warn);
}

.clear-all {
  margin-top: $gap-small;
}
